{% extends 'PatCompteBundle::layout_admin.html.twig' %}
{% block content %}
  <div id="contenuCentrale1">
    <h1>{{ app.request.attributes.get('_route') == 'pat_admin_site_tiers_editer' ? 'Modifier' : 'Ajouter' }} un site tiers</h1>

    <div class="blocForm">
      <div class="content">
        {{ form_start(form) }}
        <div class="row-fluid">
          <div class="span4 right">
            {{ form_label(form.name) }}
          </div>
          <div class="span8">
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            {{ form_label(form.url) }}
          </div>
          <div class="span8">
            {{ form_errors(form.url) }}
            {{ form_widget(form.url) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            {{ form_label(form.description) }}
          </div>
          <div class="span8">
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
          </div>
          <div class="span8">
            {{ form_errors(form.autoPayment) }}
            {{ form_widget(form.autoPayment) }}
          </div>
        </div>

        <br/><br/>
        <div class="row-fluid">
          <div class="span6">
            <a class="btn btn-large" href="{{ path('pat_admin_site_tiers') }}">Revenir</a>
          </div>
          <div class="span6 right">
            <input class="btn btn-primary btn-large" type="submit" value="{{ 'Enregistrer' | trans }}"/>
          </div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>

  </div>
{% endblock content %}
