{% extends 'PatCompteBundle::layout_admin.html.twig' %}
{% block content %}
  <div>
    <h1>Liste des site tiers</h1>

    <div class="right" style="padding-bottom: 20px">
      <a class="btn btn-primary btn-large" href="{{ path('pat_admin_site_tiers_ajouter') }}">{{ "Ajouter un site tiers" | trans }}</a>
    </div>

    {% for flashMessage in app.session.flashbag.get('success') %}
      <br/><br/>
      <div class="alert alert-success">
        {{ flashMessage }}
      </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
      <br/><br/>
      <div class="alert alert-danger">
        {{ flashMessage }}
      </div>
    {% endfor %}

    <div class="left">
      <i class="far fa-credit-card"></i> = Paiement automatique
    </div>

    {{ knp_pagination_render(siteTiers) }}

    <div>
      {% for siteTier in siteTiers %}
        <div class="ListeAppart row-fluid">
          <div class="span5 ListeAppart1" data-toggle="popover" data-placement="top" data-html="true" data-content="Url : {{ siteTier.url }}">
            {{ siteTier.name }} {{ true == siteTier.autoPayment ? '<i class="far fa-credit-card"></i>' }}
          </div>
          <div class="span5 ListeAppart1 m-l-0" data-toggle="popover" data-placement="top" data-html="true" data-content="{{ siteTier.description }}">
            {{ siteTier.description[:30]|default('-') }}{{ siteTier.description|length > 30 ? '...' }}
          </div>
          <div class="span1 center">
            <a href="{{ path('pat_admin_site_tiers_editer', { id: siteTier.id }) }}"><i class="fas fa-pencil-alt fa-lg" style="line-height: 40px;"></i></a>
          </div>
          <div class="span1 center">
            <a href="{{ path('pat_admin_site_tiers_supprimer', { id: siteTier.id }) }}" onclick="return confirmAction()"><i class="far fa-trash-alt fa-lg text-danger" style="line-height: 40px;"></i></a>
          </div>
        </div>
      {% else %}
        <div class="alert alert-info">
          Il n'y a pas de site tiers.
        </div>
      {% endfor %}
    </div>
  </div>

<script type="text/javascript">
$(document).ready(function() {
  $('[data-toggle="popover"]').popover({
    trigger: 'hover'
  })
});
</script>
{% endblock content %}
