{% block content %}

  <div id="contenuCentrale1">
    <h1>Compte propriétaire <small>({{ proprietaire.prenom | capitalize }} {{ proprietaire.nom | upper }})</small></h1>

    <div class="clear"></div>

    <div class="etapesBien">
      <div class="linksEtapesBien">
        <ul>
          <li><a class="active" href="{{ path('pat_admin_proprietaire_afficher', { 'id_proprio': proprietaire.id }) }}">Profil</a></li>
          <li><a href="{{ path('pat_admin_proprietaire_appartement_index', { 'id_proprio': proprietaire.id }) }}">Biens</a></li>
          <li><a href="{{ path('pat_admin_proprietaire_reservation_index', { 'id_proprio': proprietaire.id }) }}">Réservations Propriétaire</a></li>
          <li><a href="{{ path('pat_admin_proprietaire_resas_loc', { 'id_proprio': proprietaire.id }) }}">Réservations Locataire</a></li>
          <li><a href="{{ path('pat_admin_list_payment_by_member', { 'member_id': proprietaire.id }) }}">Paiements</a></li>
          <li><a href="{{ path('documentsAdmin_list',{ 'user_id':proprietaire.id}) }}">Documents</a></li>
        </ul>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <a href="{{ path('pat_admin_send_infos_prop', { 'id_proprio': proprietaire.id }) }}" class="btn btn-secondary">Envoyer les informations</a>
      </div>
      <div class="span6 right">
        <div class="btn-group">
          <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
            Générer un e-mail de paiement
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('pat_admin_generate_payment', { 'member_id': proprietaire.id }) }}">Paiement simple</a></li>
              {% for resa in reservations %}
              <li><a href="{{ path('pat_admin_generate_payment_resa', { 'member_id': proprietaire.id, 'id_reservation': resa.id }) }}">Réservation {{ resa.reference }}</a></li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% if app.session.started %}
      {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
          {{ flashMessage }}
        </div>
      {% endfor %}

      {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
          {{ flashMessage }}
        </div>
      {% endfor %}
    {% endif %}

    <div class="blocForm">
      <div class="title">
        <div class="row-fluid">
          <div class="span6">
            {{ proprietaire.prenom | capitalize }} {{ proprietaire.nom | upper }}
          </div>
          <div class="span6 right">
            N° {{ proprietaire.username }}
          </div>
        </div>
      </div>

      <div class="content">
        <div class="row-fluid">
          <div class="span4 right">
            Civilité :
          </div>
          <div class="span8">
            {{ proprietaire.civilite }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Nom :
          </div>
          <div class="span8">
            {{ proprietaire.nom }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Prénom :
          </div>
          <div class="span8">
            {{ proprietaire.prenom }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Date de naissance :
          </div>
          <div class="span8">
            {% if proprietaire.dateNaissance %}
              {{ proprietaire.dateNaissance|date("d/m/Y") }}
            {% endif %}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Nationalité :
          </div>
          <div class="span8">
            {{ proprietaire.nationalite }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Langue préférée :
          </div>
          <div class="span8">
            {{ proprietaire.langueParle }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Adresse :
          </div>
          <div class="span8">
            {{ proprietaire.adresse }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Ville :
          </div>
          <div class="span8">
            {{ proprietaire.ville }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Pays :
          </div>
          <div class="span8">
            {{ proprietaire.pays }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Téléphone :
          </div>
          <div class="span8">
            {{ proprietaire.telephone }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Mobile Mr :
          </div>
          <div class="span8">
            {{ proprietaire.mobile }}
          </div>
        </div>

        {% if proprietaire.mobile2 %}
          <div class="row-fluid">
            <div class="span4 right">
              Mobile Mme :
            </div>
            <div class="span8">
              {{ proprietaire.mobile2 }}
            </div>
          </div>
        {% endif %}

        <div class="row-fluid">
          <div class="span4 right">
            Moyen de contact préféré :
          </div>
          <div class="span8">
            {{ proprietaire.moyenContact|trans }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Email :
          </div>
          <div class="span8">
            <a href="mailto:{{ proprietaire.email }}">{{ proprietaire.email }}</a>
          </div>
        </div>

        {#            <div class="row-fluid">
                        <div class="span4 right">
                            Email secondaires :
                        </div>
                        <div class="span8">
                            {{ proprietaire.mailsSecond }}
                        </div>
                    </div>
        #}
        <div class="row-fluid">
          <div class="span4 right">
            Email secondaire :
          </div>
          <div class="span8">
            {{ proprietaire.secondEmail }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Identifiant :
          </div>
          <div class="span8">
            {{ proprietaire.username }}
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        {% if proprietaire.enabled == "1" %}
          <a class="btn" href="{{ path('pat_admin_proprietaire_desactiver', { 'id_proprio': proprietaire.id }) }}" onclick="return confirmAction()">Désactiver</a>
        {% else %}
          <a class="btn" href="{{ path('pat_admin_proprietaire_activer', { 'id_proprio': proprietaire.id }) }}" onclick="return confirmAction()">Activer</a>
        {% endif %}
      </div>

      <div class="span4">
        <a href="{{ path('pat_admin_utilisateur_password', { 'id_user': proprietaire.id }) }}" class="btn btn-primary">Changer mot de passe</a>
      </div>

      <div class="span6 right">
        <a href="{{ path('pat_admin_proprietaire_editer', { 'id_proprio': proprietaire.id }) }}" class="btn btn-large btn-primary pull-right">Modifier</a>
      </div>
    </div>
  </div><!-- /contenuCentrale1 -->

{% endblock %}
