{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  {% autoescape false %}
    <p>Bonjour,
      {#{ utilisateur.prenom }} {{ utilisateur.nom }#}<br/><br/>
      Votre compte a bien été <strong>créé</strong> sur notre site class-appart.com.
    </p>
    <p>
      Cependant vous devez l'activer en vous rendant sur : <br/>
      <a href="{{url}}">{{url}}</a>
    </p>
    <p>
      <strong>Vous pouvez vous connecter dans la partie <a href="{{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }}">Mon compte</a> sur class-appart.com.</strong>
    </p>

    <h3>Vos informations</h3>
    <hr class="withoutMargin">
    <p>
      Effectuée le {{ 'now' | date('d/m/Y') }}<br/><br/>
      Identifiant : {{ utilisateur.username }}<br/>
      Mot de passe : {{ password }}<br/>
    </p>
    <hr>
    <p>
      ￼Si vous avez besoin d’aide supplémentaire, nous vous invitons à <a href="mailto:contact@class-appart.com">nous contacter</a>.
    </p>
    <p>
      À bientôt sur class-appart.com.
    </p>
    <hr>
    <p class="legend">
      Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
    </p>
  {% endautoescape %}
{% endblock %}
