Bonjour,

Votre compte a bien été créé/modifié sur notre site class-appart.com.

Cependant vous devez l'activer en vous rendant sur :

{{url}}

Vous pouvez vous connecter dans la partie Mon compte sur {{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }}


Vos informations
----------------------------------------------------------------------------------------------------

    Effectuée le {{ 'now' | date('d/m/Y') }}
    Identifiant : {{ utilisateur.username }}
    Mot de passe : {{ password }}

----------------------------------------------------------------------------------------------------

    Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter sur contact@class-appart.com

    À bientôt sur class-appart.com.

----------------------------------------------------------------------------------------------------

Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
