{{ 'Bonjour' | trans }},
Vous trouverez ci-dessous les informations liées à votre compte propriétaire sur class-appart.com.

----------------------------------------------------------------------------------------------------
Votre profil :

Identifiant : {{ utilisateur.username }}

Nom : {{ utilisateur.civilite }} {{ utilisateur.nom | upper }} {{ utilisateur.prenom | capitalize }}
Date de naissance : {{ utilisateur.dateNaissance | date("d/m/Y") }}
Nationalité : {{ utilisateur.nationalite }}

Adresse e-mail principale : {{ utilisateur.email }}
{#Adresses e-mail secondaires : {{ utilisateur.mailsSecond }}#}
Adresse e-mail secondaire : {{ utilisateur.secondEmail }}

Société : {{ utilisateur.societe }} {% if utilisateur.siret %}(SIRET : {{ utilisateur.siret }}){% endif %}
Fonction : {{ utilisateur.fonction }}
Langue préférée : {{ utilisateur.langueParle }}

Adresse :
{{ utilisateur.adresse }}
{% if utilisateur.adresse2 %}{{ utilisateur.adresse2 }}{% endif %}
{{ utilisateur.ville }}
{{ utilisateur.codePostal }}
{{ utilisateur.pays }}

Téléphone : {{ utilisateur.telephone }}
Mobile Mr : {{ utilisateur.mobile }}
Mobile Mme : {{ utilisateur.mobile2 }}

Moyen de contact préféré : {{ utilisateur.moyenContact }}

RIB :
{{ utilisateur.ribEtab }} {{ utilisateur.ribCode }} {{ utilisateur.ribCompte }} {{ utilisateur.ribRice }} {{ utilisateur.ribDomiciliation }}
IBAN : {{ utilisateur.ribIban }}
BIC : {{ utilisateur.ribBic }}



Vos biens :

{% for appartement in biens %}
Réf : {{ appartement.reference }}, {{ appartement.type | capitalize }} {% if appartement.nbPieces %}T{{ appartement.nbPieces }}{% endif %} - {{ appartement.surfaceSol }} m2 {{ 'situe a' | trans }} {{ appartement.ville }} - Consulter : {{ app.request.getSchemeAndHttpHost()~path('pat_front_appartement_detail', {'url_bien': appartement.urlFr }) }}
{% endfor %}

----------------------------------------------------------------------------------------------------
Vous pouvez vous connecter dans la partie Mon compte sur class-appart.com pour modifier vos informations.
Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.
À bientôt sur class-appart.com.

----------------------------------------------------------------------------------------------------
Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
