{% block content %}

  <div id="contenuCentrale1">
    <h1>Réservations <small>({{ proprietaire.prenom | capitalize }} {{ proprietaire.nom | upper }})</small></h1>

    <div class="clear"></div>

    <div class="etapesBien">
      <div class="linksEtapesBien">
        <ul>
          <li><a href="{{ path('pat_admin_proprietaire_afficher', { 'id_proprio': proprietaire.id }) }}">Profil</a></li>
          <li><a href="{{ path('pat_admin_proprietaire_appartement_index', { 'id_proprio': proprietaire.id }) }}">Biens</a></li>
          <li><a href="{{ path('pat_admin_proprietaire_reservation_index', { 'id_proprio': proprietaire.id }) }}">Réservations Propriétaire</a></li>
          <li><a class="active" href="{{ path('pat_admin_proprietaire_resas_loc', { 'id_proprio': proprietaire.id }) }}">Réservations Locataire</a></li>
          <li><a href="{{ path('pat_admin_list_payment_by_member', { 'member_id': proprietaire.id }) }}">Paiements</a></li>
          <li><a href="{{ path('documentsAdmin_list',{ 'user_id':proprietaire.id}) }}">Documents</a></li>
        </ul>
      </div>
    </div>

    {% if reservations %}
      {% for resa in reservations %}
        <div class="ListeAppart row-fluid">
          <div class="span5 ListeAppart1" style="min-height: 80px;">
            {{ resa.utilisateur.prenom | capitalize }} {{ resa.utilisateur.nom | upper }} ({{ resa.utilisateur.username }})<br/>
            {{ resa.appartement.type }}{% if resa.appartement.nbPieces %} T{{ resa.appartement.nbPieces }}{% endif %} (Réf : {{ resa.appartement.reference }})<br/>
            Réservation {{ resa.reference }}
          </div>

          <div class="span2 ListeAppart1" style="margin-left: 0; min-height: 80px;">
            Réservé le {{ resa.createdAt|date("d/m/Y") }}
          </div>

          <div class="span3 ListeAppart1 center" style="margin-left: 0; min-height: 80px;">
            Du {{ resa.dateDebut|date("d/m/Y") }}<br/>
            au {{ resa.dateFin|date("d/m/Y") }}
          </div>

          <div class="span2 ListeAppart2">
            {% if resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_WAIT') or resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_WAIT_VALIDATION') %}
              <span class="label label-info">En attente</span>
            {% elseif resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_DEPOSIT_PAYED') %}
              <span class="label label-info">Payé</span>
            {% elseif resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_PAYED') %}
              <span class="label label-success">Validé</span>
            {% elseif resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_CANCELED_BY_BANK') or resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_CANCELED_BY_CA') %}
              <span class="label label-important">Annulé</span>
            {% else %}
              <span class="label label-warning">En cours</span>
            {% endif %}

            <br/><br/>
            <a href="{{ path('pat_admin_reservation_show', { 'id_reservation': resa.id }) }}"><i class="icon-search"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="{{ path('pat_admin_reservation_modifier', { 'id_reservation': resa.id }) }}"><i class="icon-edit"></i></a>&nbsp;&nbsp;&nbsp;
              {#{% if resa.status != constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_CANCELED_BY_BANK') and resa.status != constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_CANCELED_BY_BANK') %}
                  <a href="{{ path('pat_admin_reservation_desactiver', { 'id_reservation': resa.id }) }}" onclick="return confirmAction()"><i class="icon-remove"></i></a>
              {% endif %}#}
          </div>
        </div>

      {% endfor %}

    {% else %}
      <br/><br/>
      <div class="alert">Il n'y a aucune réservation actuellement.</div>
    {% endif %}

  </div><!-- /contenuCentrale1 -->

{% endblock %}
