{% block content %}

  <div id="contenuCentrale1">
    <h1>Biens <small>({{ proprietaire.prenom | capitalize }} {{ proprietaire.nom | upper }})</small></h1>

    <div class="clear"></div>

    <div class="etapesBien">
      <div class="linksEtapesBien">
        <ul>
          <li><a href="{{ path('pat_admin_proprietaire_afficher', { 'id_proprio': proprietaire.id }) }}">Profil</a></li>
          <li><a class="active" href="{{ path('pat_admin_proprietaire_appartement_index', { 'id_proprio': proprietaire.id }) }}">Biens</a></li>
          <li><a href="{{ path('pat_admin_proprietaire_reservation_index', { 'id_proprio': proprietaire.id }) }}">Réservations Propriétaire</a></li>
          <li><a href="{{ path('pat_admin_proprietaire_resas_loc', { 'id_proprio': proprietaire.id }) }}">Réservations Locataire</a></li>
          <li><a href="{{ path('pat_admin_list_payment_by_member', { 'member_id': proprietaire.id }) }}">Paiements</a></li>
          <li><a href="{{ path('documentsAdmin_list',{ 'user_id':proprietaire.id}) }}">Documents</a></li>
        </ul>
      </div>
    </div>

    <div class="right">
      <a href="{{ path("pat_admin_appartement_ajouter", { 'id_proprio': proprietaire.id }) }}" class="btn btn-primary">Créer un bien pour ce propriétaire</a>
    </div>

    {% if message %}
      <div class="success">
        <p>{{ message }}</p>
      </div>
    {% endif %}

    {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
    {% if app.session.flashbag.peekAll|length > 0 %}
      <div class="row">
        <div class="span12">
          {{ session_flash() }}
        </div>
      </div>
    {% endif %}

    {% include "PatCompteBundle:AdminAppartement:listeAppart.html.twig" %}

  </div><!-- /contenuCentrale1 -->

{% endblock %}
