{% block content %}

  <div id="contenuCentrale1">
    <h1>Recherche propriétaires</h1>

    <div class="clear"></div>

    {% if message %}
      <div class="success">
        <p>{{ message }}</p>
      </div>
    {% endif %}

    {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
    {% if app.session.flashbag.peekAll|length > 0 %}
      <div class="row">
        <div class="span12">
          {{ session_flash() }}
        </div>
      </div>
    {% endif %}

    {% set i = '0' %}
    {% if proprietaire %}
      <table width="100%">
        <td class="navigation" width="50%">
          {{ knp_pagination_render(proprietaire) }}
        </td>

        <td class="sort" width="50%">
          Trier par : {{ knp_pagination_sortable(proprietaire, 'Nom', 'u.nom') }} | {{ knp_pagination_sortable(proprietaire, 'Numéro propriétaire', 'u.username') }}
        </td>
      </table>

      {% for proprio in proprietaire %}
        <div class="ListeAppart row-fluid blocItem">
          <div class="row ListeAppart1NoBorder">
            <div class="row-fluid">
              <div class="span10">
                <div class="reference">
                  {{ proprio.nom | upper }} | Réf : {{ proprio.USERNAME}}
                </div>
                <div class="titreAppart">
                  {{ proprio.civilite }} {{ proprio.nom }} {{ proprio.prenom }}</span> {% if proprio.ville %} de {{ proprio.ville }} {% endif %}
                </div>
                <div class="tarifAppart">
                  <a class="blocItemLink" style="padding-top:10px;" href="mailto:{{ proprio.email }}">{{ proprio.email }}</a>
                  {% if proprio.telephone %}<span> | {{ proprio.telephone }}</span>{% endif %}
                </div>
              </div>
              <div class="span2 itemLink">
                <a href="{{ path('pat_admin_proprietaire_afficher', { 'id_proprio': proprio.id }) }}" {% if proprio.enabled == "0"  %} class="btn btn-secondary" {% else %} class="btn btn-primary" {% endif %}>Consulter</a>
              </div>
            </div>
          </div>
        </div>
        {% set i = i + 1 %}
      {% endfor %}

      <table width="100%">
        <td class="navigation" width="50%">
          {{ knp_pagination_render(proprietaire) }}
        </td>

        <td class="sort" width="50%">
          Trier par : {{ knp_pagination_sortable(proprietaire, 'Nom', 'u.nom') }} | {{ knp_pagination_sortable(proprietaire, 'Numéro propriétaire', 'u.username') }}
        </td>
      </table>

    {% else %}

      Aucun propriétaire ne correspond à votre recherche.

    {% endif %}

  </div><!-- /contenuCentrale1 -->

{% endblock %}
