{% block content %}

  <div id="contenuCentrale1">
    <h1>Paiements <small>({{ proprietaire.prenom | capitalize }} {{ proprietaire.nom | upper }})</small></h1>

    <div class="clear"></div>

    <div class="etapesBien">
      <div class="linksEtapesBien">
        <ul>
          <li><a href="{{ path('pat_admin_proprietaire_afficher', { 'id_proprio': proprietaire.id }) }}">Profil</a></li>
          <li><a href="{{ path('pat_admin_proprietaire_appartement_index', { 'id_proprio': proprietaire.id }) }}">Biens</a></li>
          <li><a href="{{ path('pat_admin_proprietaire_reservation_index', { 'id_proprio': proprietaire.id }) }}">Réservations Propriétaire</a></li>
          <li><a href="{{ path('pat_admin_proprietaire_resas_loc', { 'id_proprio': proprietaire.id }) }}">Réservations Locataire</a></li>
          <li><a class="active" href="{{ path('pat_admin_list_payment_by_member', { 'member_id': proprietaire.id }) }}">Paiements</a></li>
          <li><a href="{{ path('documentsAdmin_list',{ 'user_id':proprietaire.id}) }}">Documents</a></li>
        </ul>
      </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('success') %}
      <div class="alert alert-success">
        {{ flashMessage }}
      </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
      <div class="alert alert-error">
        {{ flashMessage }}
      </div>
    {% endfor %}

    {{ knp_pagination_render(payments) }}

    {% for payment in payments %}
      <div class="ListeAppart row-fluid">
        <div class="span12">
          <div class="row" style="padding: 10px; border-bottom: 1px solid #C5C5C5;">
            <div class="span9">
              {{ payment.name }}
              {% if payment.reservation %}
                <br/><a href="{{ path('pat_admin_reservation_show', { 'id_reservation': payment.reservation.id }) }}"> (Réservation {{payment.reservation.Reference}})</a>
              {% endif %}
            </div>
            <div class="span3 right">
              {% if payment.modePaiement == "cheque" or payment.modePaiement == "virement" %}
                {% if payment.status == constant('\\Pat\\CompteBundle\\Tools\\PaymentTools::CONSTANT_STATUS_WAIT_RECEIPT') %}
                  <a href="{{ path('pat_admin_valider_payment', { 'payment_id': payment.id }) }}" class="btn">Valider</a>
                {% endif %}
              {% endif %}
              <a href="{{ path('pat_admin_edit_payment', { 'id_payment': payment.id }) }}"><i class="icon-edit"></i></a>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span9">
              <div class="row-fluid">
                <div class="span3 ListeAppart1">
                  Ref. {{ payment.id }}
                </div>
                <div class="span4 ListeAppart1" style="margin-left: 0;">
                  {{ payment.modePaiement | trans }}
                </div>

                <div class="span3 ListeAppart1 center" style="margin-left: 0;">
                  {{ payment.createdAt|date("d/m/Y") }}
                </div>

                <div class="span2 ListeAppart1 center" style="margin-left: 0;">
                  <strong>{{ payment.amount | price_format }}€</strong>
                </div>
              </div>
            </div>

            <div class="span3 ListeAppart2 center" style="margin-left: 0;">
              {% if payment.status == constant('\\Pat\\CompteBundle\\Tools\\PaymentTools::CONSTANT_STATUS_WAIT') %}
                <span class="label label-info">En attente</span>
              {% elseif payment.status == constant('\\Pat\\CompteBundle\\Tools\\PaymentTools::CONSTANT_STATUS_WAIT_RECEIPT') %}
                <span class="label label-warning">En attente de réception</span>
              {% elseif payment.status == constant('\\Pat\\CompteBundle\\Tools\\PaymentTools::CONSTANT_STATUS_PAYED') %}
                <span class="label label-success">Payé</span> le {{ payment.payedAt|date("d/m/Y") }}
              {% elseif payment.status == constant('\\Pat\\CompteBundle\\Tools\\PaymentTools::CONSTANT_STATUS_CANCELED') %}
                <span class="label label-important">Annulé</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <br/><br/>
      <div class="alert">Il n'y a aucun paiement actuellement.</div>
    {% endfor %}
  </div><!-- /contenuCentrale1 -->

{% endblock %}
