
<li><a href="{{ path('pat_appartement_index') }}">Mes biens</a></li>
<li><a href="{{ path('documents_list') }}">Mes documents</a></li>
<li class="emptyList">&nbsp;</li>
<li><a href="{{ path('pat_reservation_index') }}">Les réservations</a></li>
  {% if menu_style == 1 %}
  <li><a href="{{ path('pat_calendrier_index') }}">Les disponibilités</a></li>
  <li><a href="{{ path('pat_calendrier_ajouter') }}">Bloquer / Débloquer des dates</a></li>
  {% endif %}
<li class="emptyList">&nbsp;</li>
