<form action="{{ path('pat_admin_proprietaire_index') }}" method="post" {{ form_enctype(formRecherche) }}>
  {{ form_widget(formRecherche.nom, {'attr': {'placeholder': 'Nom'} }) }}
  {{ form_widget(formRecherche.prenom, {'attr': {'placeholder': 'Prénom'} }) }}
  {{ form_widget(formRecherche.num_compte, {'attr': {'placeholder': 'Numéro'} }) }}
  <div class="homeSearchCenter">
    <input type="submit" class="btn btn-primary btn-large" value="{{ 'Rechercher' | trans }}"/>
    {{ form_rest(formRecherche) }}
    <a href="{{ path('pat_admin_proprietaire_index') }}" class="btn btn-small colorBlack">Afficher tout</a>
  </div>
</form>
