{% if resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_WAIT') or resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_WAIT_VALIDATION') %}
  <span class="label label">En attente</span>
{% elseif resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_DEPOSIT_PAYED') and resa.validProp is null %}
  <span class="label label-warning">Attente validation<br/>propriétaire</span>
  {% elseif resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_DEPOSIT_PAYED') %}
  <span class="label label-info">Acompte versé</span>
{% elseif resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_TO_PAYED') %}
  <span class="label label-info">A solder</span>
{% elseif resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_PAYED') %}
  <span class="label label-success">Soldé</span>
{% elseif resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_EXCEEDING') %}
  <span class="label label-warning">Excédant</span>
  {% elseif resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_CANCELED_BY_BANK')
        or resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_CANCELED_BY_CA')
        or resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_CANCELED_BY_LOC')
        or resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_CANCELED_BY_PROP') %}
  <span class="label label-important">Annulé</span>
{% else %}
  <span class="label label-warning">En cours</span>
{% endif %}
