{% block content %}

  <div id="contenuCentrale1">
    <h1>Détail de la réservation</h1>

    <div class="clear"></div>

    {% if app.user == resa.appartement.utilisateur %}
      {% if resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_DEPOSIT_PAYED') and resa.validProp is null %}
        <br/>
        <div class="alert alert-warning center">
          Réservation en attente de validation
        </div>
        <div class="row-fluid">
          <div class="span6 center">
            <a class="btn btn-primary btn-large" href="{{ app.request.getSchemeAndHttpHost()~path('pat_reservation_valid_prop', {'ref': resa.reference, 'statut': "accept" }) }}">J'accepte</a>
          </div>
          <div class="span6 center">
            <a class="btn btn-secondary btn-large" href="{{ app.request.getSchemeAndHttpHost()~path('pat_reservation_valid_prop', {'ref': resa.reference, 'statut': "refuse" }) }}">Je refuse</a>
          </div>
        </div>
        <br/>
      {% endif %}
    {% endif %}

    <div class="blocForm">
      <div class="title">
        <div class="row-fluid">
          <div class="span6">
            Réf. {{ resa.reference }}
          </div>
          <div class="span6 right">
            {% include "PatCompteBundle:Reservation:_resa_status.html.twig" %}
          </div>
        </div>
      </div>

      <div class="content">
        <div class="row-fluid">
          {% if resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_CANCELED_BY_BANK') %}
            <div class="row-fluid">
              <div class="span4">
                <p class="text-error">Erreur de paiement :</p>
              </div>
              <div class="span8">
                <p class="text-error">{{ resa.paymentError }}</p>
              </div>
            </div>
          {% endif %}
          <div class="span4">
            Réservation faite le :
          </div>
          <div class="span8">
            {{ resa.createdAt|date("d/m/Y à H:i:s") }}
          </div>
        </div>

        {% if resa.parent is not null %}
          <div class="row-fluid">
            <strong>Extension de la réservation :</strong>
          </div>

          <div class="row-fluid">
            <div class="span4">
              Référence{{ resa.parent.reference }} :
            </div>
            <div class="span8">
              <a href="{{ path('pat_reservation_show', {id_reservation: resa.parent.id}) }}">{{ resa.parent.reference }}</a>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              Effectuée le  :
            </div>
            <div class="span8">
              {{ resa.parent.createdAt|date('d/m/Y à H\\hi') }}
            </div>
          </div>
        {% endif %}

        <br/>
        <div class="row-fluid">
          <div class="span4">
            Appartement Concerné :
          </div>
          <div class="span8">
            {{ resa.appartement.nomResidence }} | {{ resa.appartement.reference }} - {{ resa.appartement.type | trans | capitalize }} - {% if resa.appartement.nbPieces %}T{{ resa.appartement.nbPieces }}{% endif %} - {{ resa.appartement.surfaceSol }} m<sup>2</sup> à {{ resa.appartement.ville.nom }} {{ resa.appartement.ville.codePostal }} {{ resa.appartement.ville.pays }}
          </div>
        </div>

        {% if resa.appartement.utilisateur and app.user == resa.appartement.utilisateur %}

          <br/>
          <div class="row-fluid">
            <strong>Propriétaire</strong>
          </div>

          <div class="row-fluid">
            <div class="span4">
              Nom
            </div>
            <div class="span8">
              {{ resa.appartement.utilisateur.civilite }} {{ resa.appartement.utilisateur.Nom }} {{ resa.appartement.utilisateur.prenom  }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              Adresse :
            </div>
            <div class="span8">
              {{ resa.appartement.utilisateur.adresse }} {{ resa.appartement.utilisateur.adresse2 }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span8 offset4">
              {{ resa.appartement.utilisateur.codePostal }} {{ resa.appartement.utilisateur.ville }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              Téléphone :
            </div>
            <div class="span8">
              {{ resa.appartement.utilisateur.telephone }}
            </div>
          </div>
          {% if resa.appartement.utilisateur.mobile %}
            <div class="row-fluid">
              <div class="span4">
                Mobile Mr :
              </div>
              <div class="span8">
                {{ resa.appartement.utilisateur.mobile }}
              </div>
            </div>
          {% endif %}
          {% if resa.appartement.utilisateur.mobile2 %}
            <div class="row-fluid">
              <div class="span4">
                Mobile Mme :
              </div>
              <div class="span8">
                {{ resa.appartement.utilisateur.mobile2 }}
              </div>
            </div>
          {% endif %}
          <div class="row-fluid">
            <div class="span4">
              Email :
            </div>
            <div class="span8">
              {{ resa.appartement.utilisateur.email }}
            </div>
          </div>
        {% endif %}

        <br/>
        <div class="row-fluid">
          <strong>Séjour</strong>
        </div>

        <div class="row-fluid">
          <div class="span4">
            Date d'arrivée :
          </div>
          <div class="span8">
            {{ resa.dateDebut|date("d/m/Y") }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            Date de départ :
          </div>
          <div class="span8">
            {{ resa.dateFin|date("d/m/Y") }}
          </div>
        </div>
        {% set tarif = get_tarif(resa) %}
        {% if app.user == resa.appartement.utilisateur %}
          <div class="row-fluid">
            <div class="span4">
              Tarif net propriétaire :
            </div>
            <div class="span8">
              {{ resa.tarifNet|price_format }} €
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              Tarif EDF
            </div>
            <div class="span8">
              {% set tarif_edf = resa.calculValues['EDF'] * nb_nuits %}
              {{tarif_edf|price_format}} €
            </div>
          </div>
        {% else %}
          <div class="row-fluid">
            <div class="span4">
              Tarif séjour :
            </div>
            <div class="span8">
              {{ tarif|price_format }} €
            </div>
          </div>
        {% endif %}

        {# On affiche ces infos uniquement pour le locataire #}
        {% if app.user == resa.utilisateur %}
          <div class="row-fluid">
            <div class="span4">
              Dépôt de garantie :
            </div>
            <div class="span8">
              {{ resa.depot|price_format }} €
            </div>
          </div>
        {% endif %}

        {# On affiche ces infos uniquement pour le locataire #}
        {% if app.user == resa.utilisateur %}
          <div class="row-fluid">
            <div class="span4">
              Solde total :
            </div>
            <div class="span8">
              {{ tarif + resa.depot|price_format }} €
            </div>
          </div>
        {% endif %}

        <div class="row-fluid">
          <div class="span4">
            Acompte :
          </div>
          <div class="span8">
            {# On affiche le montant de l'acompte uniquement pour le locataire #}
            {% if app.user == resa.utilisateur %}
              {{ resa.arrhes|price_format }} € (
            {% endif %}

            {% if resa.status >= constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_DEPOSIT_PAYED') %}
              Versé
            {% else %}
              En attente
            {% endif %}

            {% if app.user == resa.utilisateur %}
              )
            {% endif %}
          </div>
        </div>

        {# On affiche ces infos uniquement pour le locataire #}
        {% if app.user == resa.utilisateur %}
          <div class="row-fluid">
            <div class="span4">
              Déjà payé :
            </div>
            <div class="span8">
              {% set payments = get_payments(resa) %}
              {{ payments|price_format }} €
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              Reste à payer :
            </div>
            <div class="span8">
              {{ (tarif + resa.depot - payments)|price_format }} €
            </div>
          </div>
        {% endif %}


        {#% if resa.optionRoses or resa.optionChampagne or resa.optionLitBebe or resa.optionMenageSupp or resa.optionTaxi or resa.optionFrigo %}
            <br/>

            <div class="row-fluid">
                <div class="span4">
                    Options :
                </div>
                <div class="span8">
                    {% if resa.optionRoses %}
                        {% set optRoses = resa.optionRoses %}
                        {% transchoice optRoses %}
                            {1} 1 bouquet de 25 roses rouges | ]1,Inf] %optRoses% bouquets de 25 roses rouges
                        {% endtranschoice %}
                        <br/>
                    {% endif %}
                    {% if resa.optionChampagne %}
                        {% set optChampagne = resa.optionChampagne %}
                        {% transchoice optChampagne %}
                            {1} 1 bouteille de champagne | ]1,Inf] %optChampagne% bouteilles de champagne
                        {% endtranschoice %}
                        <br/>
                    {% endif %}
                    {% if resa.optionMenageSupp %}
                        {% set optMenage = resa.optionMenageSupp %}
                        {% transchoice optMenage %}
                            {1} 1 ménage supplémentaire | ]1,Inf] %optMenage% ménages supplémentaire
                        {% endtranschoice %}
                        <br/>
                    {% endif %}
                    {% if resa.optionLitBebe %}
                        Location lit bébé
                        <br/>
                    {% endif %}
                    {% if resa.optionTaxi %}
                        Taxi à l'arrivée
                        <br/>
                    {% endif %}
                    {% if resa.optionFrigo %}
                        Remplissage du frigo
                        <br/>
                    {% endif %}
                </div>
            </div>
        {% endif %#}


        {% if app.user == resa.utilisateur %}
          <br/>
          <div class="row-fluid">
            <strong>Facturation</strong>
          </div>

          {% if resa.utilisateur.adresseFact or resa.utilisateur.codePostalFact or resa.utilisateur.villeFact %}
            <div class="row-fluid">
              <div class="span4">
                Adresse de Facturation :
              </div>
              <div class="span8">
                {{ resa.utilisateur.adresseFact }} {{ resa.utilisateur.adresse2Fact  }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span8 offset4">
                {{ resa.utilisateur.codePostalFact }} {{ resa.utilisateur.villeFact  }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span8 offset4">
                {{ resa.utilisateur.paysFact }}
              </div>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>

    {% if app.user == resa.utilisateur %}
      <div class="blocForm">
        <div class="title">
          <div class="row-fluid">
            <div class="span6">
              Options
            </div>
          </div>
        </div>

        <div class="content">
          {{ render(controller('PatCompteBundle:Option:index', { 'reservation_id': resa.id })) }}
        </div>
      </div>

      <div class="blocForm">
        <div class="title">
          <div class="row-fluid">
            <div class="span6">
              Paiements
            </div>
          </div>
        </div>

        <div class="content">
          {% set total = 0 %}
          {% for payment in resa.payments %}
            <div class="row-fluid">
              <div class="span7">
                {% if payment.status == constant('\\Pat\\CompteBundle\\Tools\\PaymentTools::CONSTANT_STATUS_WAIT') %}
                  <a href="{{ path('pat_payment', { 'token': payment.token }) }}" class="btn btn-primary btn-mini">Payer</a>
                {% endif %}

                {{ payment.name }} ({{ payment.modePaiement | trans }})
              </div>
              <div class="span2 right">
                {{ payment.amount|price_format }} €
              </div>
              <div class="span3 center">
                {% if payment.status == constant('\\Pat\\CompteBundle\\Tools\\PaymentTools::CONSTANT_STATUS_WAIT') %}
                  <span class="label label-info">En attente</span>
                {% elseif payment.status == constant('\\Pat\\CompteBundle\\Tools\\PaymentTools::CONSTANT_STATUS_WAIT_RECEIPT') %}
                  <span class="label label-warning">En attente de réception</span>
                {% elseif payment.status == constant('\\Pat\\CompteBundle\\Tools\\PaymentTools::CONSTANT_STATUS_PAYED') %}
                  <span class="label label-success">Payé</span> le {{ payment.payedAt|date("d/m/Y") }}
                  {% set total = total + payment.amount %}
                {% elseif payment.status == constant('\\Pat\\CompteBundle\\Tools\\PaymentTools::CONSTANT_STATUS_CANCELED') %}
                  <span class="label label-important">Annulé</span>
                {% endif %}
              </div>
            </div>
          {% endfor %}
          <hr>
          <div class="row-fluid">
            <div class="span7">
              <strong>Total payé</strong>
            </div>
            <div class="span2 right">
              <strong>{{ total|price_format }} €</strong>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div><!-- /contenuCentrale -->

{% endblock %}
