{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>Bonjour,</p>

  {% for reservation in reservations %}
    <p>La réservation n° {{ reservation.reference }} pour l'appartement : <a href="{{ "http://class-appart.com"~path('pat_front_appartement_detail', {'url_bien': reservation.appartement.urlFr }) }}">Réf : {{ reservation.appartement.reference }}, {{ reservation.appartement.type | capitalize }} {% if reservation.appartement.nbPieces %}T{{ reservation.appartement.nbPieces }}{% endif %} - {{ reservation.appartement.surfaceSol }} m<sup>2</sup> {{ 'situe a' | trans }} {{ reservation.appartement.ville }}</a>, a été annulé pour cause de non paiement de l'accompte.</p>
  {% endfor %}


  <p class="legend">Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.</p>

{% endblock %}


{% block footer %}
  <div class="footer">
    <a href="http://www.class-appart.com" target="_blank" style="border: none; text-decoration: none;">
      <img width="610" height="100" style="border: none;" src="http://www.class-appart.com/bundles/patfront/images/classappart_signature.jpg"/>
    </a>
  </div>
{% endblock %}
