{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  {#<a href="{{ path('pat_admin_locataire_afficher', { 'id_locataire': resa.utilisateur.id }) }}">{{ resa.utilisateur.civilite }} {{ resa.utilisateur.Nom }} {{ resa.utilisateur.prenom  }} ({{ resa.utilisateur.username  }})</a>#}
  <p>Bonjour,</p>

  {% for reservation in reservations %}
    <p>Nous vous rappelons que votre <strong>réservation</strong> {{ reservation.reference }} pour l'appartement : <a href="{{ "http://class-appart.com"~path('pat_front_appartement_detail', {'url_bien': reservation.appartement.urlFr }) }}">Réf : {{ reservation.appartement.reference }}, {{ reservation.appartement.type | capitalize }} {% if reservation.appartement.nbPieces %}T{{ reservation.appartement.nbPieces }}{% endif %} - {{ reservation.appartement.surfaceSol }} m<sup>2</sup> {{ 'situe a' | trans }} {{ reservation.appartement.ville }}</a>, a été relancé.</p>
  {% endfor %}

  {#<h3>Détail de la demande de réservation</h3>#}
  {#<hr>#}

  {#<h3>Réservation :</h3>#}
  {#<p>#}
  {#Référence : {{ reservation.reference }}<br/>#}
  {#Réservation faite le : {{ reservation.createdAt | date("d/m/Y à H\\hi") }}#}
  {#</p>#}

  {#<h3>Séjour :</h3>#}
  {#<p>#}
  {#Date d'arrivée : {{ reservation.dateDebut | date("d/m/Y") }}<br/>#}
  {#Date de départ : {{ reservation.dateFin | date("d/m/Y") }}<br/>#}
  {#Tarif net propriétaire : {{ reservation.tarifNet | price_format }} €<br/>#}
  {#Acompte : Versé#}
  {#</p>#}


  <p class="legend">Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.</p>

{% endblock %}


{% block footer %}
  <div class="footer">
    <a href="http://www.class-appart.com" target="_blank" style="border: none; text-decoration: none;">
      <img width="610" height="100" style="border: none;" src="http://www.class-appart.com/bundles/patfront/images/classappart_signature.jpg"/>
    </a>
  </div>
{% endblock %}
