Bonjour,

Nous vous informons que la demande d’annulation pour la réservation n° {{ reference }} a bien été prise en compte.


N'hésitez pas à nous contacter sur contact@class-appart.com pour toutes informations concernant l’annulation de cette réservation.

------------------------------------------------------------------------------------------------------------------------
Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter sur contact@class-appart.com.
À bientôt sur class-appart.com.

------------------------------------------------------------------------------------------------------------------------

Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
