Bonjour,

Nous vous informons qu’une demande de réservation pour votre appartement : Réf : {{ reservation.appartement.reference }}, {{ reservation.appartement.type | capitalize }} {% if reservation.appartement.nbPieces %}T{{ reservation.appartement.nbPieces }}{% endif %} - {{ reservation.appartement.surfaceSol }} m2 {{ 'situe a' | trans }} {{ reservation.appartement.ville }}, a été effectué sur le site class-appart.com.

Merci de nous confirmer votre accord pour cette demande :
J'accepte : {{ app.request.getSchemeAndHttpHost()~path('pat_reservation_valid_prop', {'ref': reservation.reference, 'statut': "accept" }) }}
Je refuse : {{ app.request.getSchemeAndHttpHost()~path('pat_reservation_valid_prop', {'ref': reservation.reference, 'statut': "refuse" }) }}

Nous vous rappelons qu’il est important d’être réactif.

En l’absence de réponse de votre part sous un délai de 48h, nos services considéreront que vous acceptez cette demande de réservation.


Détail de la demande de réservation
------------------------------------------------------------------------------------------------------------------------

Réservation :

Référence : {{ reservation.reference }}
Réservation faite le : {{ reservation.createdAt | date("d/m/Y à H\\hi") }}

{% set tarif_edf = reservation.calculValues['EDF'] * get_nb_nuits(reservation.dateDebut, reservation.dateFin) %}

Séjour :

Date d'arrivée : {{ reservation.dateDebut | date("d/m/Y") }}
Date de départ : {{ reservation.dateFin | date("d/m/Y") }}
Tarif net propriétaire : {{ reservation.tarifNet | price_format }} €
Forfait énergie : {{ tarif_edf|price_format }} €
Acompte : Versé

{% if reservation.parent is not null %}
Extension de la réservation :

Réference : {{ reservation.parent.reference }}
Réservation faite le : {{ reservation.parent.createdAt | date("d/m/Y à H\\hi") }}
Date d'arrivée : {{ reservation.parent.dateDebut | date("d/m/Y") }}
Date de départ : {{ reservation.parent.dateFin | date("d/m/Y") }}
{% endif %}

------------------------------------------------------------------------------------------------------------------------
Une fois la réservation validée par vos soins, celle-ci ne sera effective et donc confirmée que lorsque le délai d'annulation du site tiers terminé. voir conditions ci-après: \n
{% if  reservation.getSiteTiers() is not null %}
      {{tabOtherSite[ reservation.getSiteTiers().getId()]}}
{% endif %}

Vous pouvez vous connecter dans la partie Mon compte sur class-appart.com pour consulter le détail des réservations.

Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.
À bientôt sur class-appart.com.

------------------------------------------------------------------------------------------------------------------------

Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
