{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>Bonjour,</p>

  <p>Nous vous informons de l’annulation pour la réservation n° {{ reservation.reference }} pour cause de non paiement après un delais de 48h.</p>

  <p>N'hésitez pas à <a href="mailto:contact@class-appart.com">nous contacter</a> pour toutes informations concernant l’annulation de cette réservation.</p>

  <hr>

  <p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à <a href="mailto:contact@class-appart.com">nous contacter.</a></p>
  <p>À bientôt sur class-appart.com.</p>

  <hr>

  <p class="legend">Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.</p>

{% endblock %}

{% block footer %}
  <div class="footer">
    <a href="http://www.class-appart.com" target="_blank" style="border: none; text-decoration: none;">
      <img width="610" height="100" style="border: none;" src="http://www.class-appart.com/bundles/patfront/images/classappart_signature.jpg"/>
    </a>
  </div>
{% endblock %}
