{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>{{ 'Bonjour' | trans }},</p>
  <p>Nous vous informons que le solde de la réservation {{ reservation.reference }} pour votre appartement : Réf : {{ reservation.appartement.reference }}, {{ reservation.appartement.type | capitalize }} {% if reservation.appartement.nbPieces %}T{{ reservation.appartement.nbPieces }}{% endif %} - {{ reservation.appartement.surfaceSol }} m2 {{ 'situe a' | trans }} {{ reservation.appartement.ville }}, n'a pas encore été payé.</p>

  <p class="strongFont">Afin de valider votre réservation, <br>
    merci de nous faire parvenir la somme de <strong>{{solde}}</strong> correspondant au solde de votre séjour.</p>
 

  <p>Vous finaliserez ainsi votre réservation en choisissant votre mode de paiement (CB ou virement banquaire) sur le site de Class Appart.<br>
    Munissez vous de vos identifiants Class Appart pour vous connecter à votre espace locataire.
   
    {% for url in urls %}
    </br>
      ----------------------------------------------------------------------------------
      <p>{{ url[1].getMsgContent() }}</p>
      <h5><a href="{{ url[0] }}">Cliquez ici pour procéder au paiement d'un montant de {{ url[1].getAmount() }}€</a></h5>
    {% endfor %}
   

  <h3 class="titleResa">Votre réservation</h3>
  <hr>

  {% include "PatFrontBundle:Reservation:_mail_recapitulatif_reservation.html.twig" with {schemeAndHttpHost: 'http://class-appart.com'} %}

  <hr>

  <p>Vous pouvez vous connecter dans la partie <a href="{{ "http://class-appart.com"~path('fos_user_security_login') }}">Mon compte</a> sur class-appart.com pour consulter le détail de vos réservations.</p>
  <p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à <a href="{{ "http://class-appart.com"~path('pat_front_formulaire_contact') }}">nous contacter</a>.</p>
  <p>À bientôt sur class-appart.com.</p>

  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>

{% endblock %}

{% block footer %}
  <div class="footer">
    <a href="http://www.class-appart.com" target="_blank" style="border: none; text-decoration: none;">
      <img width="610" height="100" style="border: none;" src="http://www.class-appart.com/bundles/patfront/images/classappart_signature.jpg"/>
    </a>
  </div>
{% endblock %}
