Bonjour,

Nous vous informons que les réservations suivantes ont été annulés pour non paiment d'acompte après 48 heures


Liste des réservations :
------------------------------------------------------------------------------------------------------------------------

{% for reservation in reservations %}
Réservation :

Référence : {{ reservation.reference }}
Réservation faite le : {{ reservation.createdAt | date("d/m/Y à H\\hi") }}
Locataire : {{ reservation.utilisateur.civilite }} {{ reservation.utilisateur.Nom }} {{ reservation.utilisateur.prenom  }} ({{ reservation.utilisateur.username  }})

{% if reservation.parent is not null %}
Extension de la réservation :

Réference : {{ reservation.parent.reference }}
Réservation faite le : {{ reservation.parent.createdAt | date("d/m/Y à H\\hi") }}
Date d'arrivée : {{ reservation.parent.dateDebut | date("d/m/Y") }}
Date de départ : {{ reservation.parent.dateFin | date("d/m/Y") }}
{% endif %}

---------------------------------------------------------------
{% endfor %}


------------------------------------------------------------------------------------------------------------------------
Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
