Bonjour,

Nous vous informons que le solde de la réservation {{ reservation.reference }} pour votre appartement : Réf : {{ reservation.appartement.reference }}, {{ reservation.appartement.type | capitalize }} {% if reservation.appartement.nbPieces %}T{{ reservation.appartement.nbPieces }}{% endif %} - {{ reservation.appartement.surfaceSol }} m2 {{ 'situe a' | trans }} {{ reservation.appartement.ville }}, n'a pas encore été payé.

Afin de valider votre réservation, 
merci de nous faire parvenir la somme de {{solde}} euros correspondant au solde de votre séjour.
Détail de la réservation
------------------------------------------------------------------------------------------------------------------------

Réservation :

Référence : {{ reservation.reference }}
Réservation faite le : {{ reservation.createdAt | date("d/m/Y à H\\hi") }}

{% set tarif_edf = reservation.calculValues['EDF'] * get_nb_nuits(reservation.dateDebut, reservation.dateFin) %}

Séjour :

Date d'arrivée : {{ reservation.dateDebut | date("d/m/Y") }}
Date de départ : {{ reservation.dateFin | date("d/m/Y") }}
Tarif net propriétaire : {{ reservation.tarifNet | price_format }} €
Forfait énergie : {{ tarif_edf|price_format }} €
Acompte : Versé

{% if reservation.parent is not null %}
Extension de la réservation :

Réference : {{ reservation.parent.reference }}
Réservation faite le : {{ reservation.parent.createdAt | date("d/m/Y à H\\hi") }}
Date d'arrivée : {{ reservation.parent.dateDebut | date("d/m/Y") }}
Date de départ : {{ reservation.parent.dateFin | date("d/m/Y") }}
{% endif %}

------------------------------------------------------------------------------------------------------------------------

Vous pouvez vous connecter dans la partie Mon compte sur class-appart.com pour consulter le détail des réservations.

Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.
À bientôt sur class-appart.com.

------------------------------------------------------------------------------------------------------------------------

Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
