{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>Bonjour,</p>

  <p>Nous vous informons qu’une <strong>demande de réservation</strong> pour votre appartement : <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_front_appartement_detail', {'url_bien': reservation.appartement.urlFr }) }}">Réf : {{ reservation.appartement.reference }}, {{ reservation.appartement.type | capitalize }} {% if reservation.appartement.nbPieces %}T{{ reservation.appartement.nbPieces }}{% endif %} - {{ reservation.appartement.surfaceSol }} m<sup>2</sup> {{ 'situe a' | trans }} {{ reservation.appartement.ville }}</a>, a été effectuée sur le site class-appart.com.</p>

  <p>Merci de nous confirmer votre accord pour cette demande :
    <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_reservation_valid_prop', {'ref': reservation.reference, 'statut': "accept" }) }}">J'accepte</a> -
    <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_reservation_valid_prop', {'ref': reservation.reference, 'statut': "refuse" }) }}">Je refuse</a>
  </p>

  <p>Nous vous rappelons qu’il est important d’être réactif.</p>
  <p>En l’absence de réponse de votre part sous un délai de 48h, nos services considéreront que vous acceptez cette demande de réservation.</p>

  <h3>Détail de la demande de réservation</h3>
  <hr>

  <h3>Réservation :</h3>
  <p>
    Référence : {{ reservation.reference }}<br/>
    Réservation faite le : {{ reservation.createdAt | date("d/m/Y à H\\hi") }}
  </p>

  {% set tarif_edf = reservation.calculValues['EDF'] * get_nb_nuits(reservation.dateDebut, reservation.dateFin) %}

  <h3>Séjour :</h3>
  <p>
    Date d'arrivée : {{ reservation.dateDebut | date("d/m/Y") }}<br/>
    Date de départ : {{ reservation.dateFin | date("d/m/Y") }}<br/>
    Tarif net propriétaire : {{ reservation.tarifNet | price_format }} €<br/>
    Forfait énergie : {{ tarif_edf|price_format }} €<br/>
    Acompte : Versé
  </p>

  {% if reservation.parent is not null %}
    <h3>Extension de la réservation : </h3>
    <p>
      Référence : {{ reservation.parent.reference }}<br/>
      Réservation faite le : {{ reservation.parent.createdAt|date('d/m/Y à H\\hi') }}<br/>
      Date d'arrivée : {{ reservation.parent.dateDebut | date("d/m/Y") }}<br/>
      Date de départ : {{ reservation.parent.dateFin | date("d/m/Y") }}
    </p>
  {% endif %}
  <hr>

    <p>Une fois la réservation validée par vos soins, celle ci ne sera effective et donc confirmée que lorsque le délai d'annulation du site tiers terminé. voir conditions ci-aprés:<br/></p>
  {% if  reservation.getSiteTiers() is not null %}
    <p>
      {{tabOtherSite[ reservation.getSiteTiers().getId()]}}
    </p>
  {% endif %}
  <p>Vous pouvez vous connecter dans la partie <a href="{{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }}">Mon compte.</a> sur class-appart.com pour consulter le détail des réservations.</p>

  <p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à <a href="mailto:contact@class-appart.com">nous contacter.</a></p>
  <p>À bientôt sur class-appart.com.</p>

  <hr>

  <p class="legend">Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.</p>

{% endblock %}
