{% block content %}

  <div id="contenuCentrale1">
    <div id="titreAccueil">
      <h1>Réservations</h1>
    </div>
    <div class="clear"></div>

    {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
    {% if app.session.flashbag.peekAll|length > 0 %}
      <div class="row">
        <div class="span12">
          {{ session_flash() }}
        </div>
      </div>
    {% endif %}

    {% if reservation %}
      {{ knp_pagination_render(reservation) }}

      {% for resa in reservation %}
        <table class="ListeAppart" style="width: 100%;">
          <tr>
            <td class="ListeAppart1" style="width: 40%;">
              <div class="titreAppart">
                Réservation : {{ resa.reference }}
              </div>
              <div class="reference">Bien : Réf. {{ resa.appartement.reference }}</div>
            </td>
            <td class="ListeAppart1 center" style="width: 20%;">
              Réservé le {{ resa.createdAt|date("d/m/Y") }}
            </td>
            <td class="ListeAppart1 center" style="width: 20%;">
              Du {{ resa.dateDebut|date("d/m/Y") }}<br/>au {{ resa.dateFin|date("d/m/Y") }}
            </td>
            <td class="ListeAppart2" style="width: 20%;">
              {% include "PatCompteBundle:Reservation:_resa_status.html.twig" %}

              <br/><br/>
              <a href="{{ path('pat_reservation_show', { 'id_reservation': resa.id }) }}"><i class="icon-search"></i></a>&nbsp;&nbsp;&nbsp;
                {#{% if resa.status != constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_CANCELED_BY_BANK') and resa.status != constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_CANCELED_BY_BANK') %}
                    <a href="{{ path('pat_reservation_desactiver', { 'id_reservation': resa.id }) }}" onclick="return confirmAction()"><i class="icon-remove"></i></a>
                {% endif %}#}
            </td>
          </tr>
        </table>
      {% endfor %}

      <br/>
      {{ knp_pagination_render(reservation) }}

    {% else %}
      Il n'y a aucune réservation actuellement.
    {% endif %}
  </div><!-- /contenuCentrale1 -->

{% endblock %}
