{% block content %}

  <div id="contenuCentrale1">
    <h1>Détail de la réservation</h1>

    <div class="clear"></div>

    {% if reservation.validProp == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_VALID_RESA_PROP') %}
      <div class="alert alert-success">
        La réservation réf {{ reservation.reference }} a été validé.
      </div>
    {% elseif reservation.validProp == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_CANCEL_RESA_PROP') %}
      <div class="alert alert-success">
        La réservation réf {{ reservation.reference }} a été refusé.
      </div>
    {% elseif reservation.validProp == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_VALID_RESA_48') %}
      <div class="alert">
        La réservation réf {{ reservation.reference }} a été validé automatiquement après 48h.
      </div>
    {% else %}
      <div class="alert alert-error">
        Le statut est incorrect.
      </div>
    {% endif %}

    <div class="row-fluid right">
      <a href="{{ path('pat_reservation_index') }}" class="btn btn-primary">Retour aux réservations</a>
    </div>
  </div><!-- /contenuCentrale -->

{% endblock %}
