{% block content %}

  <div id="contenuCentrale1">
    <h1>{{ 'Réservation' | trans }}</h1>


    <table class="resa-steps-table" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="{{ asset('bundles/patfront/images/1.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/2.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/3.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/4a.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/5.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/6.jpg') }}" alt=""/></td>
      </tr>
      <tr>
        <td>Budget</td>
        <td>Options</td>
        <td>Infos client</td>
        <td class="active">Récapitulatif</td>
        <td>Paiement</td>
        <td>Confirmation</td>
      </tr>
    </table>

    <br/>
    {% if app.session.started %}
      {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
          {{ flashMessage }}
        </div>
      {% endfor %}
    {% endif %}


    <div class="blocResa">
      {% include "PatFrontBundle:Reservation:_recapitulatifAppart.html.twig" %}

      <div class="tarifs text-big">
        <div class="row-fluid">
          <div class="span5 right">
            {{ 'Prix du Séjour' | trans }} :
          </div>
          <div class="span7">
            <strong>{{ get_tarif(reservation) | price_format }} €</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span5 right">
            {{ 'Dépôt de garantie' | trans }} :
          </div>
          <div class="span7">
            <strong>{{ reservation.depot | price_format }} €</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span5 right">
            {{ 'Acompte' | trans }} :
          </div>
          <div class="span7">
            <strong>{{ reservation.arrhes | price_format }} €</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span5 right">
            {{ "Date d'arrivée" | trans }} :
          </div>
          <div class="span7">
            <strong>{{ reservation.dateDebut | date('d/m/Y') }}</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span5 right">
            {{ 'Date de départ' | trans }} :
          </div>
          <div class="span7">
            <strong>{{ reservation.dateFin | date('d/m/Y') }}</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span5 right">
            {{ 'Nombre de nuits' | trans }} :
          </div>
          <div class="span7">
            <strong>{{ nb_nuits }}</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span5 right">
            {{ 'Nombre de personnes' | trans }} :
          </div>
          <div class="span7">
            <strong>{{ reservation.nbPersonne }}</strong>
          </div>
        </div>
      </div>

      <div class="info" style="border-top: 1px solid #C5C5C5;">
        <div class="row-fluid">
          <div class="span12">
            <h4 style="margin-bottom: 0;">{{ reservation.utilisateur.civilite }} {{ reservation.utilisateur.nom }} {{ reservation.utilisateur.prenom }}</h4>
            <div class="row-fluid">
              <div class="span8 offset4">
                <a href="{{ path('fos_user_profile_edit') }}" style="font-size: 11px;">({{ 'consulter ou modifier mes coordonnées' | trans }})</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            {{ 'Identifiant locataire' | trans }} :
          </div>
          <div class="span8">
            <strong>{{ reservation.utilisateur.username }}</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 right">
            {{ 'Adresse de Facturation' | trans }} :
          </div>
          <div class="span8">
            <strong>{{ reservation.utilisateur.adresseFact }}</strong>
          </div>
        </div>
        {% if reservation.utilisateur.adresse2Fact %}
          <div class="row-fluid">
            <div class="span4 right">
              {{ 'Adresse (Suite)' | trans }} :
            </div>
            <div class="span8">
              <strong>{{ reservation.utilisateur.adresse2Fact }}</strong>
            </div>
          </div>
        {% endif %}
        <div class="row-fluid">
          <div class="span4 right">
            {{ 'Code Postal' | trans }} :
          </div>
          <div class="span8">
            <strong>{{ reservation.utilisateur.codePostalFact }}</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 right">
            {{ 'Ville' | trans }} :
          </div>
          <div class="span8">
            <strong>{{ reservation.utilisateur.villeFact }}</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 right">
            {{ 'Pays' | trans }} :
          </div>
          <div class="span8">
            <strong>{{ reservation.utilisateur.paysFact }}</strong>
          </div>
        </div>
      </div>

      <div class="boutons">
        <form action="#" method="post">
          <div class="row-fluid">
            <div class="span1 right">
              <input type="checkbox" name="cgv"/>
            </div>
            <div class="span11" style="padding-top: 4px;">
              {{ 'Je déclare avoir lu et accepté les' | trans }} <a target="_blank" href="{{ path('pat_front_contenu_page', { 'url_page': 'conditions-generales-de-location' }) }}">{{ 'Conditions Générales de Location' | trans }}</a>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span1 right">
              <input type="checkbox" name="documents"/>
            </div>
            <div class="span11" style="padding-top: 4px;">
              {{ "Je déclare sur l'honneur disposer de tous les documents nécessaires pour la signature du contrat" | trans }}
            </div>
          </div>
          <br/>
          <div class="row-fluid">
            <div class="span12 right">
              <input type="submit" value="{{ 'Valider ma réservation' | trans }}" name="Validation" class="btn btn-primary btn-large"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div><!-- /contenuCentrale1 -->

{% endblock %}
