{% extends '::base.html.twig' %}

{% block stylesheets %}

  {{ parent() }}

  <link href="{{ asset('bundles/patfront/css/front.css') }}" type="text/css" rel="stylesheet" media="all" />
  <link href="{{ asset('bundles/patcompte/css/slidingmenu.css') }}" type="text/css" rel="stylesheet" media="all" />
  <link href="{{ asset('bundles/patfront/royalslider/royalslider.css') }}" rel="stylesheet">
  <link href="{{ asset('bundles/patfront/royalslider/skins/default/rs-default.css') }}" rel="stylesheet">

{% endblock %}

{% block contentGauche %}
  {% render controller("PatFrontBundle:Appartement:rechercher", {'attributes': app.request.attributes}) %}
{% endblock %}

{% block contentDroit %}
  {% render controller("PatFrontBundle:Contenu:sousMenu", {'attributes': app.request.attributes}) %}

{% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
  {{ parent() }}

  <!-- Galery -->
<script type="text/javascript" src="{{ asset('bundles/patcompte/js/jquery.pikachoose.full.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/patfront/royalslider/jquery.royalslider.min.js') }}"></script>

<script language="javascript">
$(document).ready(function() {
  $("#pikame").PikaChoose();

  $("#slider").easySlider({
    auto: false,
  });
});
</script>
{% endblock %}
