{% extends '::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  <link href="{{ asset('bundles/patcompte/css/front.css') }}" type="text/css" rel="stylesheet" media="all" />
{% endblock %}


{% block body %}

  <div id="page">
    <div id="content">

    {% block content %}{% endblock %}

  </div><!-- /content -->
</div><!-- /page -->

{% endblock %}


{% block javascripts %}
  {{ parent() }}

<!-- Galery -->
<script type="text/javascript" src="{{ asset('bundles/patcompte/js/jquery.pikachoose.full.js') }}"></script>

<script language="javascript">
$(document).ready(function() {
  $("#pikame").PikaChoose();

  $("#slider").easySlider({
    auto: false,
  });
});
</script>
{% endblock %}
