<table id="planning">
  {% if date|date("m") == 01 %}
    {% set prev_date = "12-"~(date|date("Y")-1) %}
  {% else %}
    {% if (date|date("m")-1) < 10 %}
      {% set prev_date = "0"~(date|date("m")-1)~"-"~date|date("Y") %}
    {% else %}
      {% set prev_date = (date|date("m")-1)~"-"~date|date("Y") %}
    {% endif %}
  {% endif %}
  {% if date|date("m") == 12 %}
    {% set next_date = "01-"~(date|date("Y")+1) %}
  {% else %}
    {% if (date|date("m")+1) < 10 %}
      {% set next_date = "0"~(date|date("m")+1)~"-"~date|date("Y") %}
    {% else %}
      {% set next_date = (date|date("m")+1)~"-"~date|date("Y") %}
    {% endif %}
  {% endif %}

  <tr>
    <th></th>
    <td colspan="3" id="link-prev" date="{{ prev_date }}"><</td>
    <td colspan="{{ nb_jours-6 }}">{{ date | date("F") | trans }} {{ date | date("Y") }}</td>
    <td colspan="3" id="link-next" date="{{ next_date }}">></td>
  </tr>
  <tr>
    <th>Référence</th>
      {% for day in 1..nb_jours %}
      <td>{{ day }}</td>
    {% endfor %}
  </tr>
  {% for key, p in planning %}
    <tr>
      <th>{{ key }}</th>
        {% for j in p %}
        <td class="{{ j }}">
          {% if "planning-resa-debut" in j or "planning-resa-fin" in j or "planning-bloc-debut" in j or "planning-bloc-fin" in j %}
            <span>
              {% if "planning-bloc-menage" in j %}
                <img src="{{ asset('bundles/patcompte/images/losange_small.png') }}" alt="*"/>
              {% endif %}
              {% if "planning-resa-fin" in j %}
                <img src="{{ asset('bundles/patcompte/images/icon_end-resa.png') }}" alt="/"/>
              {% endif %}
            </span>
          {% elseif "planning-bloc-menage" in j %}<img src="{{ asset('bundles/patcompte/images/losange_small.png') }}" alt="*" style="margin: 0;"/>
          {% endif %}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

<script type="text/javascript">
$(document).ready(function() {
  $("#link-prev, #link-next").on('click', function() {
    var date = $(this).attr("date");

    var request = $.ajax({
      url: "{{ path('pat_admin_planning_ajax') }}",
      type: "POST",
      data: {date: date},
      dataType: "html"
    });
    request.done(function(html) {
      $("#planning-div").html(html);
    });
    request.fail(function(jqXHR, textStatus) {
      alert("Erreur : " + textStatus);
    });
  });
});
</script>