{% block content %}

  <div id="homeAdmin" class="row-fluid">

    <div class="span8">
      <div class="homeAdminCenter"><a class="btn btn-primary btn-very-large" href="{{ path('pat_admin_proprietaire_ajouter') }}">Créer propriétaire</a></div>

      <div class="homeAdminCenter"><a class="btn btn-primary btn-very-large" href="{{ path('pat_admin_locataire_ajouter') }}">Créer locataire</a></div>

      <div class="homeAdminCenter"><a class="btn btn-primary btn-very-large" href="{{ path('pat_admin_appartement_ajouter') }}">Créer bien</a></div>

      <div class="homeAdminCenter"><a class="btn btn-primary btn-very-large" href="{{ path('pat_admin_equipement_ajouter') }}">Créer équipement</a></div>

      <div class="homeAdminCenter"><a class="btn btn-primary btn-very-large" href="{{ path('pat_admin_site_tiers') }}">Modifier les sites tiers</a></div>

      <div class="homeAdminCenter"><a class="btn btn-primary btn-very-large" href="{{ path('pat_admin_ville_index') }}">Modifier villes/quartiers</a></div>

      <div class="homeAdminCenter"><a class="btn btn-primary btn-very-large" href="{{ path('pat_admin_taxes_editer') }}">Modifier taxes</a></div>

      <div class="homeAdminCenter"><a class="btn btn-primary btn-very-large" href="{{ path('pat_reservation_text_options') }}">Modifier le texte des options dans les réservations</a></div>

      <div class="homeAdminCenter"><a class="btn btn-primary btn-very-large" href="{{ path('pat_admin_reservation_select_info_recherche') }}">Faire une réservation</a></div>

      <div class="homeAdminCenter"><a class="btn btn-primary btn-very-large" href="{{ path('pat_admin_planning') }}">Planning général</a></div>

    </div>

    <div class="span4">
      <div class="statAdmin">
        <strong>Statistiques</strong><br/>
        Nombre de propriétaires : {{ nb_prop }} <br/>
        Nombre de biens : {{ nb_biens }} <br/>
        Nombre de réservations : {{ nb_resas }}<br/><br/>
      </div>
    </div>

  </div><!-- /contenuCentrale1 -->

{% endblock %}
