{% if menu %}
  <div class="posMenu">

    <ul class="nav ">
      {% for pitem in menu %}
        {% if pitem.sous_titre %}
          <li class="dropdown"{% if app.request.schemeAndHttpHost ==  path('fos_user_profile_show') %} class="active" {% endif %}>
            <a href="#"  class="dropdown-toggle" data-toggle="dropdown">{{ pitem.titre }}</a>
            <!-- Bloc sous menu -->

            <ul class="dropdown-menu">
              {% for sitem in pitem.sous_titre %}
                <li>
                  <a class="msubm" href="{{ path('pat_front_contenu_page', { 'url_page': sitem.url }) }}">{{ sitem.titre }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li><a href="{{ path('pat_front_contenu_page', { 'url_page': pitem.url }) }}">{{ pitem.titre }}</a>
          {% endif %}
        {% endfor %}
    </ul>

    <ul class="nav pull-right">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li class="dropdown" {% if app.request.schemeAndHttpHost ==  path('fos_user_profile_show') %} class="active" {% endif %}>
          <button href="{{ path('fos_user_security_logout') }}">Quitter</button>
        </li>
      {% endif %}
    </ul>

  </div><!-- /menu -->
{% endif %}