{% extends 'PatCompteBundle::layout_admin.html.twig' %}

{% block body %}
  <div id="content" class="row">
    <a id="logoHomeLink" href="{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}{{ path('pat_dispatch') }}{% else %}{{ path('PatFrontBundle_homepage', { 'lg': 'fr' }) }}{% endif %}">
      <div id="classappart" class="row">
        <img border="0" align="left" style="padding-right: 25px" src="{{ asset('bundles/patcompte/images/classappart.jpg') }}">
        <h1>class appart</h1>
        <h2>{{ 'location dappartement meubles' | trans }}</h2>
      </div>
    </a>
    <div id="contentBis" class="row">
      {% include "PatCompteBundle:Admin:planning_content.html.twig" %}
    </div><!-- /contentBis -->
  </div>
{% endblock %}