{% block content %}

  <h1>Planning général des réservations</h1>

  <div id="planning-div">
    {% include "PatCompteBundle:Admin:_planning_month.html.twig" %}
  </div>

  <div id="legend-planning">
    <strong>Légende :</strong><br/>
    <table>
      <tr>
        <td class="center" style="width: 20px; height: 20px;"><img src="{{ asset('bundles/patcompte/images/icon_end-resa.png') }}" alt="/" style="margin: 0;"/></td>
        <td>Fin de location</td>
      </tr>
      <tr>
        <td class="center" style="width: 20px; height: 20px;"><img src="{{ asset('bundles/patcompte/images/losange_small.png') }}" alt="*" style="margin: 0;"/></td>
        <td>Ménage programmé</td>
      </tr>
      <tr>
        <td class="planning-resa-wait" style="width: 20px; height: 20px;"></td>
        <td>Attente Acompte</td>
      </tr>
      <tr>
        <td class="planning-resa-wait-valid" style="width: 20px; height: 20px;"></td>
        <td>Attente validation locataire</td>
      </tr>
      <tr>
        <td class="planning-resa-deposit-payed-wait-prop" style="width: 20px; height: 20px;"></td>
        <td>Attente validation propriétaire</td>
      </tr>
      <tr>
        <td class="planning-resa-deposit-payed" style="width: 20px; height: 20px;"></td>
        <td>Acompte versé</td>
      </tr>
      <tr>
        <td class="planning-resa-to-payed" style="width: 20px; height: 20px;"></td>
        <td>A solder</td>
      </tr>
      <tr>
        <td class="planning-resa-payed" style="width: 20px; height: 20px;"></td>
        <td>Soldé</td>
      </tr>
      <tr>
        <td class="planning-resa-exceeding" style="width: 20px; height: 20px;"></td>
        <td>Excédant</td>
      </tr>
      <tr>
        <td class="planning-resa" style="width: 20px; height: 20px;"></td>
        <td>Bloqué par une réservation en ligne</td>
      </tr>
      <tr>
        <td class="planning-bloc-prop" style="width: 20px; height: 20px;"></td>
        <td>Bloqué par le propriétaire</td>
      </tr>
      <tr>
        <td class="planning-bloc-ca" style="width: 20px; height: 20px;"></td>
        <td>Bloqué par ClassAppart</td>
      </tr>
      <tr>
        <td class="planning-bloc-travaux" style="width: 20px; height: 20px;"></td>
        <td>Bloqué pour travaux</td>
      </tr>
    </table>

  </div>

{% endblock %}