{% block content %}

  <div id="contenuCentrale1">
    <h1>Pièces <small>(Réf : {{appartement.reference}})</small></h1>

    <div class="clear"></div>

    <div class="etapesBien">
      <div class="linksEtapesBien">
        <ul>
          <li><a href="{{ path('pat_admin_appartement_editer',{ 'id': appartement.id }) }}">Description</a></li>
          <li><a href="{{ path('pat_admin_appartement_modif_proprietaire',{ 'id': appartement.id }) }}">Propriétaire</a></li>
          <li><a href="{{ path('pat_admin_tarif_ajouter',{ 'id_bien': appartement.id }) }}">Loyers</a></li>
          <li><a href="{{ path('pat_admin_promotion_index',{ 'id': appartement.id }) }}">Promotion / Majoration</a></li>
          <li><a class="active" href="{{ path('pat_admin_piece_index',{ 'id': appartement.id }) }}">Pièces</a></li>
          <li><a href="{{ path('pat_admin_media_ajouter',{ 'id': appartement.id }) }}">Images</a></li>
          <li><a href="{{ path('pat_admin_calendrier_index',{ 'id': appartement.id }) }}">Disponibilités</a></li>
        </ul>
      </div>
    </div>

    {% if piece %}
      {% for pieces in piece %}
        <div class="ListeAppart row-fluid">
          <div class="span8 ListeAppart1">
            {{ pieces.typepiece.type }}
          </div>
          <div class="span4 ListeAppart2 center">
            <a href="{{ path('pat_admin_piece_editer', { 'id_piece': pieces.id, 'id': appartement.id  }) }}"><img src="{{ asset('bundles/patcompte/images/ico_edition.png') }}" alt="Modifier" style="margin-bottom: 0;"/></a>
            <a href="{{ path('pat_admin_piece_supprimer', { 'id_piece': pieces.id, 'id': appartement.id  }) }}" onclick="return confirmAction()"><img src="{{ asset('bundles/patcompte/images/ico_supprimer.png') }}" alt="Supprimer" style="margin-bottom: 0;"/></a>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <br/><br/>
      <div class="alert">
        Vous n'avez pas encore ajouté de pièce, pour procéder à l'ajout d'une nouvelle pièce, cliquez sur le bouton.
      </div>
    {% endif %}

    <a class="btn btn-primary" href="{{ path('pat_admin_piece_ajouter',{ 'id': appartement.id, 'categorie_id': '1' }) }}">{{ "Ajouter une pièce" | trans }}</a>

    <br/><br/><br/>
    <div class="row-fluid">
      <div class="span6">
        <a href="{{ path('pat_admin_tarif_ajouter',{ 'id_bien': appartement.id }) }}" class="btn btn-large">Revenir</a>
      </div>
      <div class="span6 right">
        <a href="{{ path('pat_admin_media_ajouter',{ 'id': appartement.id }) }}" class="btn btn-primary btn-large">Continuer</a>
      </div>
    </div>

  </div><!-- /contenuCentrale1 -->

{% endblock %}
