{% block content %}

  <div id="contenuCentrale1">
    <h1>Bloquer / Débloquer des dates <small>(Réf : {{appartement.reference}})</small></h1>

    <div class="clear"></div>

    <div class="etapesBien">
      <div class="linksEtapesBien">
        <ul>
          <li><a href="{{ path('pat_admin_appartement_editer',{ 'id': appartement.id }) }}">Description</a></li>
          <li><a href="{{ path('pat_admin_appartement_modif_proprietaire',{ 'id': appartement.id }) }}">Propriétaire</a></li>
          <li><a href="{{ path('pat_admin_tarif_ajouter',{ 'id_bien': appartement.id }) }}">Loyers</a></li>
          <li><a href="{{ path('pat_admin_promotion_index',{ 'id': appartement.id }) }}">Promotion / Majoration</a></li>s
          <li><a href="{{ path('pat_admin_piece_index',{ 'id': appartement.id }) }}">Pièces</a></li>
          <li><a href="{{ path('pat_admin_media_ajouter',{ 'id': appartement.id }) }}">Images</a></li>
          <li><a class="active" href="{{ path('pat_admin_calendrier_index',{ 'id': appartement.id }) }}">Disponibilités</a></li>
        </ul>
      </div>
    </div>


    {% if form %}
      <div class="blocForm">
        <div class="content">

          {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
              {{ flashMessage | trans }}
            </div>
          {% endfor %}

          <form id="form_recherche" action="" method="post">

            <div class="row-fluid">
              <div class="span4 right">
                {{ form_label(form.date_debut) }}
              </div>
              <div class="span8">
                <div>
                  {{ form_errors(form.date_debut) }}
                </div>
                {{ form_widget(form.date_debut, { 'attr': {'class': 'cal_date_in_admin'} }) }}
              </div>
            </div>

            <div class="row-fluid">
              <div class="span4 right">
                {{ form_label(form.heure_debut) }}
              </div>
              <div class="span8">
                {{ form_errors(form.heure_debut) }}
                {{ form_widget(form.heure_debut) }}
              </div>
            </div>

            <div class="row-fluid">
              <div class="span4 right">
                {{ form_label(form.date_fin) }}
              </div>
              <div class="span8">
                <div>
                  {{ form_errors(form.date_fin) }}
                </div>
                {{ form_widget(form.date_fin, { 'attr': {'class': 'cal_date_out_admin'} }) }}
              </div>
            </div>

            <div class="row-fluid">
              <div class="span4 right">
                {{ form_label(form.heure_fin) }}
              </div>
              <div class="span8">
                {{ form_errors(form.heure_fin) }}
                {{ form_widget(form.heure_fin) }}
              </div>
            </div>

            <div class="row-fluid">
              <div class="span4 right">
                {{ form_label(form.status) }}
              </div>
              <div class="span8">
                {{ form_errors(form.status) }}
                {{ form_widget(form.status) }}
              </div>
            </div>

            <div class="row-fluid" id="intitule">
              <div class="span4 right">
                {{ form_label(form.intitule) }}
              </div>
              <div class="span8">
                {{ form_errors(form.intitule) }}
                {{ form_widget(form.intitule) }}
              </div>
            </div>

            <br/><br/>

            <div class="row-fluid">
              <div class="span6">
                <a href="{{ path('pat_admin_calendrier_index', { 'id': appartement.id }) }}" class="btn btn-large">Revenir</a>
              </div>
              <div class="span6 right">
                <input class="btn btn-primary btn-large" type="submit" value="{{ 'Enregistrer' | trans }}"/>
              </div>
            </div>

            {{ form_rest(form) }}
          </form>
        </div>
      </div>

      <br/>

      {% if dates_bloquees %}
        {% for date_bloquee in dates_bloquees %}
          <div class="ListeAppart row-fluid">
            <div class="span4 ListeAppart1" style="min-height: 80px;">
              Période bloquée <br/>du <b>{{ date_bloquee.dateDebut|date("d/m/Y") }}{{ date_bloquee.heureDebut is not null ? ' ' ~ date_bloquee.heureDebut|date('H:i') }}</b> au <b>{{ date_bloquee.dateFin|date("d/m/Y") }}
                {{ date_bloquee.heureFin is not null ? date_bloquee.heureFin|date('H:i') }}</b>
            </div>

            <div class="span6 ListeAppart1" style="min-height: 80px; margin-left: 0;">
              {% if date_bloquee.intitule %}
                <b>{{ date_bloquee.intitule }}</b>
              {% endif %}
            </div>

            <div class="span2 ListeAppart2 center">
              <a href="{{ path('pat_admin_calendrier_modifier', { 'id': appartement.id, 'id_cal' : date_bloquee.id }) }}"><img src="{{ asset('bundles/patcompte/images/ico_edition.png') }}" alt="Modifier"/></a>
              <a href="{{ path('pat_admin_calendrier_supprimer', { 'id': appartement.id, 'id_cal' : date_bloquee.id }) }}" onclick="return confirmAction()"><img src="{{ asset('bundles/patcompte/images/ico_supprimer.png') }}" alt="Supprimer"/></a>
            </div>
          </div>
        {% endfor %}
      {% endif %}

    {% else %}
      <div class="alert alert-error">
        Vous devez avoir au moins un appartement pour pouvoir bloquer/débloquer des dates.
      </div>
    {% endif %}

  </div><!-- /contenuCentrale1 -->

<script type="text/javascript">
$(document).ready(function() {
  $("#calendrieradminajout_date_debut, #calendrieradminajout_date_fin").attr('readonly', "true");

  if ($("#calendrieradminajout_status").val() != {{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_STATUS_BLOQUE_ADMIN') }}) {
    $("#intitule").hide();
  }

  $("#calendrieradminajout_status").change(function() {
    if ($("#calendrieradminajout_status").val() == {{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_STATUS_BLOQUE_ADMIN') }}) {
      $("#calendrieradminajout_intitule").val("");
      $("#intitule").fadeIn();
    }
    else if ($("#calendrieradminajout_status").val() == {{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_STATUS_BLOQUE_ADMIN_MENAGE') }}) {
      $("#intitule").fadeOut(400, function(){
        $("#calendrieradminajout_intitule").val("Ménage");
      });
    }
    else if ($("#calendrieradminajout_status").val() == {{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_STATUS_BLOQUE_ADMIN_TRAVAUX') }}) {
      $("#intitule").fadeOut(400, function(){
        $("#calendrieradminajout_intitule").val("Travaux");
      });
    }
  });

{% if tableau %}
  document.getElementById("calendrieradminajout_date_debut").value = '{{ tableau['date_debut'] }}';
  document.getElementById("calendrieradminajout_date_fin").value = '{{ tableau['date_fin'] }}';
  document.getElementById("calendrieradminajout_intitule").value = '{{ tableau['intitule'] }}';
{% endif %}
});
</script>

{% endblock %}
