{% block content %}

  <div id="contenuCentrale1">
    <h1>Disponibilités <small>(Réf : {{appartement.reference}})</small></h1>

    <div class="clear"></div>

    <div class="etapesBien">
      <div class="linksEtapesBien">
        <ul>
          <li><a href="{{ path('pat_admin_appartement_editer',{ 'id': appartement.id }) }}">Description</a></li>
          <li><a href="{{ path('pat_admin_appartement_modif_proprietaire',{ 'id': appartement.id }) }}">Propriétaire</a></li>
          <li><a href="{{ path('pat_admin_tarif_ajouter',{ 'id_bien': appartement.id }) }}">Loyers</a></li>
          <li><a href="{{ path('pat_admin_promotion_index',{ 'id': appartement.id }) }}">Promotion / Majoration</a></li>
          <li><a href="{{ path('pat_admin_piece_index',{ 'id': appartement.id }) }}">Pièces</a></li>
          <li><a href="{{ path('pat_admin_media_ajouter',{ 'id': appartement.id }) }}">Images</a></li>
          <li><a class="active" href="{{ path('pat_admin_calendrier_index',{ 'id': appartement.id }) }}">Disponibilités</a></li>
        </ul>
      </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
      <div class="alert alert-success">
        {{ flashMessage | trans }}
      </div>
    {% endfor %}


    {% if form %}
      <div class="blocForm">
        <div class="content">
          <form id="form_recherche" action="{{ path('pat_admin_calendrier_index',{ 'id': appartement.id }) }}" method="post">
            <div class="row-fluid">
              <div class="span5 center">
                {{ form_widget(form.mois) }}
              </div>
              <div class="span5 center">
                {{ form_widget(form.annee) }}
              </div>
              <div class="span2 center">
                <input type="submit" value="Rechercher" class="btn"/>
              </div>
            </div>
            {{ form_rest(form) }}
          </form>
        </div>
      </div>
    {% else %}
      <br/><br/>
      <div class="alert">
        Vous devez avoir au moins un appartement pour pouvoir visualiser le calendrier.
      </div>
    {% endif %}


    {% if tabCal %}
      <br/>
      <div class="row-fluid">
        <div class="span4">
          <div style="width:20px; height:20px; background-color:{{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_COLOR_BLOQUE_RESERVATION') }}; display: inline-block;"></div> Bloqué par une réservation en ligne
        </div>
        <div class="span4">
          <div style="width:20px; height:20px; background-color:{{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_COLOR_BLOQUE_PROPRIETAIRE') }}; display: inline-block;"></div> Bloqué par le propriétaire
        </div>
        <div class="span4">
          <div style="width:20px; height:20px; background-color:{{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_COLOR_BLOQUE_ADMIN') }}; display: inline-block;"></div> Bloqué par Class Appart ®
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <div style="width:20px; height:20px; background-color:LightGray; display: inline-block;"></div> Attente Acompte
        </div>
        <div class="span4">
          <div style="width:20px; height:20px; background-color:DarkGray; display: inline-block;"></div> Attente validation locataire
        </div>
        <div class="span4">
          <div style="width:20px; height:20px; background-color:Gray; display: inline-block;"></div> Attente validation propriétaire
        </div>
      </div>
      <br/>
      <div class="row-fluid">
        <div class="span3">
          <div style="width:20px; height:20px; background-color:Yellow; display: inline-block;"></div> Acompte versé
        </div>
        <div class="span3">
          <div style="width:20px; height:20px; background-color:DarkOrange; display: inline-block;"></div> A solder
        </div>
        <div class="span3">
          <div style="width:20px; height:20px; background-color:Green; display: inline-block;"></div> Soldé
        </div>
        <div class="span3">
          <div style="width:20px; height:20px; background-color:Purple; display: inline-block;"></div> Excédant
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3">
          {#<div style="width:20px; height:20px; background-color:{{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_COLOR_BLOQUE_ADMIN_MENAGE') }}; display: inline-block;"></div> Bloqué pour ménage#}
          <div class="bloc-menage" style="width:20px; height:20px; display: inline-block;"></div> Ménage
        </div>
        <div class="span4">
          <div style="width:20px; height:20px; background-color:{{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_COLOR_BLOQUE_ADMIN_TRAVAUX') }}; display: inline-block;"></div> Bloqué pour travaux
        </div>
      </div>

      {% autoescape false %}
        {{ tabCal }}
      {% endautoescape %}
    {% endif %}

<script type="text/javascript">
$(document).ready(function() {
{% if tableauCalendrier %}
  $("#calendrierrecherche_mois option[value={{ tableauCalendrier['mois'] }}]").attr('selected', 'selected');
  $("#calendrierrecherche_annee option[value={{ tableauCalendrier['annee'] }}]").attr('selected', 'selected');
{% else %}
  var d = new Date();
  var mois = d.getMonth() + 1 + "";
  var annee = d.getFullYear() + "";
  if (mois.length == "1") {
    mois = "0" + mois;
  }
  $("#calendrierrecherche_mois option[value=" + mois + "]").attr('selected', 'selected');
  $("#calendrierrecherche_annee option[value=" + annee + "]").attr('selected', 'selected');
{% endif %}
});
</script>


    <br/><br/>
    <a href="{{ path('pat_admin_calendrier_ajouter',{ 'id': appartement.id }) }}" class="btn btn-primary">Bloquer / débloquer des dates</a>

    <br/><br/><br/>
    <div class="row-fluid">
      <div class="span6">
        <a href="{{ path('pat_admin_media_ajouter',{ 'id': appartement.id }) }}" class="btn btn-large">Revenir</a>
      </div>
      <div class="span6 right">
        <a href="{{ path("pat_admin_dashboard") }}" class="btn btn-primary btn-large">Terminer</a>
      </div>
    </div>
  </div><!-- /contenuCentrale1 -->

{% endblock %}
