{% block content %}
  <div id="contenuCentrale1">
    <h1>Gestion des taxes</h1>
    <div class="clear"></div>

    {% for flashMessage in app.session.flashbag.get('success') %}
      <div class="alert alert-success">
        {{ flashMessage }}
      </div>
    {% endfor %}


    <form action="{{ path('pat_admin_taxes_editer') }}" method="post" {{ form_enctype(form) }}>
      {% if form_errors(form) %}
        <div class="alert alert-error">
          {{ form_errors(form) }}
        </div>
      {% endif %}

      <div class="blocForm" style="margin-top: 20px;">
        <div class="title">
          Commission
        </div>


        <div class="content">
          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.commission.nuit) }}
            </div>
            <div class="span8 input-append">
              {{ form_widget(form.commission.nuit) }}<span class="add-on">%</span>
              {{ form_errors(form.commission.nuit) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.commission.semaine) }}
            </div>
            <div class="span8 input-append">
              {{ form_widget(form.commission.semaine) }}<span class="add-on">%</span>
              {{ form_errors(form.commission.semaine) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.commission.mois) }}
            </div>
            <div class="span8 input-append">
              {{ form_widget(form.commission.mois) }}<span class="add-on">%</span>
              {{ form_errors(form.commission.mois) }}
            </div>
          </div>
        </div>
      </div>

      <div class="blocForm" style="margin-top: 20px;">
        <div class="title">
          Ménage
        </div>

        <div class="content">
          <div class="row-fluid">
            <div class="span1">
              <strong>Studio</strong>
            </div>
            <div class="span1">
              <strong>2 p.</strong>
            </div>
            <div class="span2 right">
              < 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.studio.deuxpersonnes.inf15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.studio.deuxpersonnes.inf15j) }}
            </div>
            <div class="span2 right">
              > 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.studio.deuxpersonnes.sup15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.studio.deuxpersonnes.sup15j) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span1 offset1">
              <strong>4 p.</strong>
            </div>
            <div class="span2 right">
              < 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.studio.quatrepersonnes.inf15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.studio.quatrepersonnes.inf15j) }}
            </div>
            <div class="span2 right">
              > 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.studio.quatrepersonnes.sup15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.studio.quatrepersonnes.sup15j) }}
            </div>
          </div>
        </div>

        <div class="content">
          <div class="row-fluid">
            <div class="span1">
              <strong>T2</strong>
            </div>
            <div class="span1">
              <strong>2 p.</strong>
            </div>
            <div class="span2 right">
              < 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T2.deuxpersonnes.inf15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T2.deuxpersonnes.inf15j) }}
            </div>
            <div class="span2 right">
              > 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T2.deuxpersonnes.sup15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T2.deuxpersonnes.sup15j) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span1 offset1">
              <strong>4 p.</strong>
            </div>
            <div class="span2 right">
              < 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T2.quatrepersonnes.inf15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T2.quatrepersonnes.inf15j) }}
            </div>
            <div class="span2 right">
              > 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T2.quatrepersonnes.sup15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T2.quatrepersonnes.sup15j) }}
            </div>
          </div>
        </div>

        <div class="content">
          <div class="row-fluid">
            <div class="span1">
              <strong>T3</strong>
            </div>
            <div class="span1">
              <strong>4 p.</strong>
            </div>
            <div class="span2 right">
              < 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T3.quatrepersonnes.inf15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T3.quatrepersonnes.inf15j) }}
            </div>
            <div class="span2 right">
              > 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T3.quatrepersonnes.sup15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T3.quatrepersonnes.sup15j) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span1 offset1">
              <strong>6 p.</strong>
            </div>
            <div class="span2 right">
              < 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T3.sixpersonnes.inf15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T3.sixpersonnes.inf15j) }}
            </div>
            <div class="span2 right">
              > 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T3.sixpersonnes.sup15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T3.sixpersonnes.sup15j) }}
            </div>
          </div>
        </div>

        <div class="content">
          <div class="row-fluid">
            <div class="span1">
              <strong>T4</strong>
            </div>
            <div class="span1">
              <strong>6 p.</strong>
            </div>
            <div class="span2 right">
              < 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T4.sixpersonnes.inf15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T4.sixpersonnes.inf15j) }}
            </div>
            <div class="span2 right">
              > 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T4.sixpersonnes.sup15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T4.sixpersonnes.sup15j) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span1 offset1">
              <strong>8 p.</strong>
            </div>
            <div class="span2 right">
              < 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T4.huitpersonnes.inf15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T4.huitpersonnes.inf15j) }}
            </div>
            <div class="span2 right">
              > 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T4.huitpersonnes.sup15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T4.huitpersonnes.sup15j) }}
            </div>
          </div>
        </div>

        <div class="content">
          <div class="row-fluid">
            <div class="span1">
              <strong>T5</strong>
            </div>
            <div class="span1">
              <strong>8 p.</strong>
            </div>
            <div class="span2 right">
              < 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T5.huitpersonnes.inf15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T5.huitpersonnes.inf15j) }}
            </div>
            <div class="span2 right">
              > 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T5.huitpersonnes.sup15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T5.huitpersonnes.sup15j) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span1 offset1">
              <strong>10 p.</strong>
            </div>
            <div class="span2 right">
              < 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T5.dixpersonnes.inf15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T5.dixpersonnes.inf15j) }}
            </div>
            <div class="span2 right">
              > 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T5.dixpersonnes.sup15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T5.dixpersonnes.sup15j) }}
            </div>
          </div>
        </div>

        <div class="content">
          <div class="row-fluid">
            <div class="span1">
              <strong>T6</strong>
            </div>
            <div class="span1">
              <strong>10 p.</strong>
            </div>
            <div class="span2 right">
              < 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T6.dixpersonnes.inf15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T6.dixpersonnes.inf15j) }}
            </div>
            <div class="span2 right">
              > 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T6.dixpersonnes.sup15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T6.dixpersonnes.sup15j) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span1 offset1">
              <strong>12 p.</strong>
            </div>
            <div class="span2 right">
              < 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T6.douzepersonnes.inf15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T6.douzepersonnes.inf15j) }}
            </div>
            <div class="span2 right">
              > 15 jours
            </div>
            <div class="span3 input-append">
              {{ form_widget(form.menage.T6.douzepersonnes.sup15j) }}<span class="add-on">€</span>
              {{ form_errors(form.menage.T6.douzepersonnes.sup15j) }}
            </div>
          </div>
        </div>
      </div>

      <div class="blocForm" style="margin-top: 20px;">
        <div class="title">
          EDF
        </div>

        <div class="content">
          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.EDF.studio) }}
            </div>
            <div class="span8 input-append">
              {{ form_widget(form.EDF.studio) }}<span class="add-on">€/nuit</span>
              {{ form_errors(form.EDF.studio) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.EDF.T2) }}
            </div>
            <div class="span8 input-append">
              {{ form_widget(form.EDF.T2) }}<span class="add-on">€/nuit</span>
              {{ form_errors(form.EDF.T2) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.EDF.T3) }}
            </div>
            <div class="span8 input-append">
              {{ form_widget(form.EDF.T3) }}<span class="add-on">€/nuit</span>
              {{ form_errors(form.EDF.T3) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.EDF.T4) }}
            </div>
            <div class="span8 input-append">
              {{ form_widget(form.EDF.T4) }}<span class="add-on">€/nuit</span>
              {{ form_errors(form.EDF.T4) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.EDF.T5) }}
            </div>
            <div class="span8 input-append">
              {{ form_widget(form.EDF.T5) }}<span class="add-on">€/nuit</span>
              {{ form_errors(form.EDF.T5) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.EDF.T6) }}
            </div>
            <div class="span8 input-append">
              {{ form_widget(form.EDF.T6) }}<span class="add-on">€/nuit</span>
              {{ form_errors(form.EDF.T6) }}
            </div>
          </div>
        </div>
      </div>

      <div class="blocForm" style="margin-top: 20px;">
        <div class="title">
          Assurance
        </div>

        <div class="content">
          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.assurance) }}
            </div>
            <div class="span8 input-append">
              {{ form_widget(form.assurance) }}<span class="add-on">%</span>
              {{ form_errors(form.assurance) }}
            </div>
          </div>
        </div>
      </div>

      <div class="blocForm" style="margin-top: 20px;">
        <div class="title">
          TVA
        </div>

        <div class="content">
          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.tva) }}
            </div>
            <div class="span8 input-append">
              {{ form_widget(form.tva) }}<span class="add-on">%</span>
              {{ form_errors(form.tva) }}
            </div>
          </div>
        </div>
      </div>

      <div class="blocForm" style="margin-top: 20px;">
        <div class="title">
          Taxe de séjour
        </div>

        <div class="content">
          <div class="row-fluid">
            <div class="span4 right">
              Taxe de séjour
            </div>
            <div class="span8 input-append">
              {{ form_widget(form.sejour) }}<span class="add-on">€/nuit</span>
              {{ form_errors(form.sejour) }}
            </div>
          </div>
        </div>
      </div>
      <br/>

      <div class="row-fluid center">
        <input class="btn btn-primary" type="submit" value="{{ 'Enregistrer' | trans }}"/>
      </div>
      {{ form_rest(form) }}
    </form>


  </div><!-- /contenuCentrale -->

{% endblock %}
