{% block content %}

<div id="contenuCentrale1">
{% if utilisateur.type == 'Administrateur' %}
  <h1>Gestion des loyers <small>(Réf : {{appartement.reference}})</small></h1>
  <div class="clear"></div>
  <div class="etapesBien">
    <div class="linksEtapesBien">
      <ul>
        <li><a href="{{ path('pat_admin_appartement_editer',{ 'id': appartement.id }) }}">Description</a></li>
        <li><a href="{{ path('pat_admin_appartement_modif_proprietaire',{ 'id': appartement.id }) }}">Propriétaire</a></li>
        <li><a class="active" href="{{ path('pat_admin_tarif_ajouter',{ 'id_bien': appartement.id }) }}">Loyers</a></li>
        <li><a href="{{ path('pat_admin_promotion_index',{ 'id': appartement.id }) }}">Promotion / Majoration</a></li>
        <li><a href="{{ path('pat_admin_piece_index',{ 'id': appartement.id }) }}">Pièces</a></li>
        <li><a href="{{ path('pat_admin_media_ajouter',{ 'id': appartement.id }) }}">Images</a></li>
        <li><a href="{{ path('pat_admin_calendrier_index',{ 'id': appartement.id }) }}">Disponibilités</a></li>
      </ul>
    </div>
  </div>
{% else %}
  <h1>Modifier votre bien<small> (réf : {{appartement.reference}})</small></h1>

  <div class="etapesBien">
    <div class="linksEtapesBien">
      <ul>
        <li><a href="{{ path('pat_appartement_editer',{ 'id': appartement.id }) }}">Description</a></li>
        <li><a class="active" href="{{ path('pat_tarif_ajouter',{ 'id_bien': appartement.id }) }}">Loyers</a></li>
        <li><a href="{{ path('pat_piece_index',{ 'id': appartement.id }) }}">Pièces</a></li>
      </ul>
    </div>
  </div>
{% endif %}

  Créé le {{ tarif.createdAt|date("d/m/Y") }}<br/>
  modifié le {{ tarif.updatedAt|date("d/m/Y") }} à {{ tarif.updatedAt|date("H:i:s") }}

{% for flashMessage in app.session.flashbag.get('notice') %}
  <br/><br/>
  <div class="alert alert-error">
    {{ flashMessage }}
  </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
  <br/><br/>
  <div class="alert alert-success">
    {{ flashMessage }}
  </div>
{% endfor %}

{% if form is defined %}
  <form action="{{ path('pat_tarif_ajouter', { 'id_bien': appartement.id}) }}" method="post" {{ form_enctype(form) }}>
    <div class="error">
      {{ form_errors(form) }}
    </div>

  {% if utilisateur.type == 'Administrateur' %}
    <div class="blocForm" style="margin-top: 20px;">
      <div class="title">
        Acompte & dépôt de garantie
      </div>

      <div class="content">
        <div class="row-fluid">
          <div class="span4 right">
            {{ form_label(form.type_contrat) }}
          </div>
          <div class="span8">
            {{ form_widget(form.type_contrat) }}
            {{ form_errors(form.type_contrat) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 right">
            {{ form_label(form.acompte) }}
          </div>
          <div class="span8 input-append">
            {{ form_widget(form.acompte) }}<span class="add-on">%</span>
            {{ form_errors(form.acompte) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 right">
            {{ form_label(form.depot) }}
          </div>
          <div class="span8 input-append">
            {{ form_widget(form.depot) }}<span class="add-on">%</span>
            {{ form_errors(form.depot) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 right">
            {{ form_label(form.depot_min) }}
          </div>
          <div class="span8 input-append">
            {{ form_widget(form.depot_min) }}<span class="add-on">€</span>
            {{ form_errors(form.depot_min) }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endif %}

{% if tarif.loyerActif is constant('LOYER_LIBRE', tarif) or utilisateur.type == 'Administrateur' %}
  <div class="blocForm">
    <div class="title clearfix">
      <span class="inline">
      {% if form is defined %}
        {{ form_errors(form.loyer_actif) }}
        <label for="{{ form.loyer_actif.0.vars.id }}">
          <input id="{{ form.loyer_actif.0.vars.id }}" {{ true == form.loyer_actif.0.vars.checked ? 'checked="checked"' }} name="{{ form.loyer_actif.0.vars.full_name }}" type="radio" class="no-margin" value="{{ form.loyer_actif.0.vars.value }}">
          {{ form.loyer_actif.0.vars.label }}
        </label>
      {% else %}
        Loyer
      {% endif %}
      </span>

    {% if utilisateur.type == 'Administrateur' %}
      <button class="btn btn-small pull-right" type="button" data-toggle="modal" data-target="#historique-loyer-1">
        Historique
      </button>

      <!-- Modal -->
      <div class="modal fade modal-lg" style="display: none;" id="historique-loyer-1" tabindex="-1" role="dialog" aria-labelledby="historique-loyer-1-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="historique-loyer-1-label">Historique loyer</h4>
            </div>
            <div class="modal-body">
            {% if appartement.tarifHistoriques is not empty %}
              <table class="table table-responsive">
                <tr>
                  <th>Date</th>
                  <th>{{ form.loyer_nuit.vars.label }}</th>
                  <th>{{ form.loyer_semaine1.vars.label }}</th>
                  <th>{{ form.loyer_mois.vars.label }}</th>
                </tr>
                {% for tarifHistorique in appartement.tarifHistoriques %}
                  {% if tarifHistorique.loyerNuit is not null and
                      tarifHistorique.loyerSemaine1 is not null and
                      tarifHistorique.loyerMois is not null
                  %}
                <tr>
                  <td>{{ tarifHistorique.createdAt|date('d/m/Y H:i:s') }}</td>
                  <td>{{ tarifHistorique.loyerNuit }} €/nuitée</td>
                  <td>{{ tarifHistorique.loyerSemaine1 }} €/semaine</td>
                  <td>{{ tarifHistorique.loyerMois }} €/mois</td>
                </tr>
                  {% endif %}
                {% endfor %}
              </table>
            {% else %}
              <div class="alert alert-info" role="alert">
                Aucun historique
              </div>
            {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    </div>

    <div class="content">
      <div class="row-fluid">
        <div class="span4 right">
          {{ form is defined ? form_label(form.loyer_nuit) : "Nuit : " }}
        </div>
      {% if form is defined %}
        <div class="span8 input-prepend input-append">
          {{ form_errors(form.loyer_nuit) }}
          {{ form_widget(form.loyer_nuit) }}<span class="add-on">€/nuitée</span>
        </div>
      {% else %}
        <div class="span8">
          {{ tarif.loyerNuit|number_format }} €/nuitée
        </div>
      {% endif %}
      </div>

      <div class="row-fluid">
        <div class="span4 right">
          {{ form is defined ? form_label(form.loyer_semaine1) : 'Semaine (7 à 21 J) : ' }}
        </div>
      {% if form is defined %}
        <div class="span8 input-prepend input-append">
          {{ form_errors(form.loyer_semaine1) }}
          {{ form_widget(form.loyer_semaine1) }}<span class="add-on">€/semaine</span>
        </div>
      {% else %}
        <div class="span8">
          {{ tarif.loyerSemaine1|number_format }} €/semaine
        </div>
        {% endif %}
      </div>

      <div class="row-fluid">
        <div class="span4 right">
          {{ form is defined ? form_label(form.loyer_mois) : "Mois (> 21 J) : " }}
        </div>
      {% if form is defined %}
        <div class="span8 input-prepend input-append">
          {{ form_errors(form.loyer_mois) }}
          {{ form_widget(form.loyer_mois) }}<span class="add-on">€/mois</span>
        </div>
      {% else %}
        <div class="span8">
          {{ tarif.loyerMois|number_format }} €/mois
        </div>
      {% endif %}
      </div>
    </div>
  </div>
{% endif %}

{% if tarif.loyerActif is constant('LOYER_AUTO', tarif) or utilisateur.type == 'Administrateur' %}
  <div class="blocForm">
    <div class="title clearfix">
      <span class="inline">
      {% if form is defined %}
        {{ form_errors(form.loyer_actif) }}
        <label for="{{ form.loyer_actif.1.vars.id }}">
          <input id="{{ form.loyer_actif.1.vars.id }}" {{ true == form.loyer_actif.1.vars.checked ? 'checked="checked"' }} name="{{ form.loyer_actif.1.vars.full_name }}" type="radio" class="no-margin" value="{{ form.loyer_actif.1.vars.value }}">
          {{ form.loyer_actif.1.vars.label }}
        </label>
      {% else %}
        Loyer
      {% endif %}
      </span>

    {% if utilisateur.type == 'Administrateur' %}
      <button class="btn btn-small pull-right" type="button" data-toggle="modal" data-target="#historique-loyer-2">
        Historique
      </button>

      <!-- Modal -->
      <div class="modal fade modal-lg" style="display: none;" id="historique-loyer-2" tabindex="-1" role="dialog" aria-labelledby="historique-loyer-2-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="historique-loyer-2-label">Historique loyer</h4>
            </div>
            <div class="modal-body">
            {% if appartement.tarifHistoriques is not empty %}
              <table class="table table-responsive">
                <tr>
                  <th>Date</th>
                  <th>{{ form.loyer_nuit.vars.label }}</th>
                  <th>{{ form.loyer_semaine1_2.vars.label }}</th>
                  <th>{{ form.loyer_mois_2.vars.label }}</th>
                </tr>
              {% for tarifHistorique in appartement.tarifHistoriques %}
                {% if tarifHistorique.loyerNuit2 is not null and
                  tarifHistorique.loyerSemaine12 is not null and
                  tarifHistorique.loyerMois2 is not null
                %}
                <tr>
                  <td>{{ tarifHistorique.createdAt|date('d/m/Y H:i:s') }}</td>
                  <td>{{ tarifHistorique.loyerNuit2 }} €/nuitée</td>
                  <td>{{ tarifHistorique.loyerSemaine12 }} €/semaine</td>
                  <td>{{ tarifHistorique.loyerMois2 }} €/mois</td>
                </tr>
                {% endif %}
              {% endfor %}
              </table>
            {% else %}
              <div class="alert alert-info" role="alert">
                Aucun historique
              </div>
            {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    </div>

    <div class="content">
      <div class="row-fluid">
        <div class="span4 right">
          {{ form is defined ? form_label(form.loyer_nuit_2) : "Nuit : " }}
        </div>
        {% if form is defined %}
          <div class="span8 input-prepend input-append">
            {{ form_errors(form.loyer_nuit_2) }}
            {{ form_widget(form.loyer_nuit_2) }}<span class="add-on">€/nuitée</span>
          </div>
        {% else %}
          <div class="span8">
            {{ tarif.loyerNuit2|number_format }} €/nuitée
          </div>
        {% endif %}
      </div>

      <div class="row-fluid">
        <div class="span4 right">
          {{ form is defined ? form_label(form.loyer_semaine1_2) : "Semaine (7 à 21 J) : " }}
        </div>
        {% if form is defined %}
          <div class="span8 input-prepend input-append">
            {{ form_errors(form.loyer_semaine1_2) }}
            {{ form_widget(form.loyer_semaine1_2) }}<span class="add-on">€/semaine</span>
          </div>
        {% else %}
          <div class="span8">
            {{ tarif.loyerSemaine12|number_format }} €/semaine
          </div>
        {% endif %}
      </div>

      <div class="row-fluid">
        <div class="span4 right">
          {{ form is defined ? form_label(form.loyer_mois_2) : "Mois (> 21 J) : " }}
        </div>
        {% if form is defined %}
          <div class="span8 input-prepend input-append">
            {{ form_errors(form.loyer_mois_2) }}
            {{ form_widget(form.loyer_mois_2) }}<span class="add-on">€/mois</span>
          </div>
        {% else %}
          <div class="span8">
            {{ tarif.loyerMois2|number_format }} €/mois
          </div>
        {% endif %}
      </div>

      {% if form is defined %}
        {% do form.loyer_actif.setRendered %}
        {{ form_rest(form) }}
      {% endif %}
    </div>
  </div>
{% endif %}
  <br/>

  {% if form is defined %}
    <div class="row-fluid center">
      <input class="btn btn-primary" type="submit" value="{{ 'Enregistrer' | trans }}"/>
    </div>
  </form>
  {% endif %}

  <br/><br/>

  <div class="row-fluid">
  {% if utilisateur.type == 'Administrateur' %}
    <div class="span6">
      <a href="{{ path('pat_admin_appartement_modif_proprietaire',{ 'id': appartement.id }) }}" class="btn btn-large">Revenir</a>
    </div>
    <div class="span6 right">
      {% if tarif.loyerNuit %}
        <a href="{{ path('pat_admin_promotion_index',{ 'id': appartement.id }) }}" class="btn btn-primary btn-large">Continuer</a>
      {% endif %}
    </div>
  {% else %}
    <div class="span6">
      <a href="{{ path('pat_appartement_editer',{ 'id': appartement.id }) }}" class="btn btn-large">Revenir</a>
    </div>
    <div class="span6 right">
      {% if tarif.loyerNuit %}
        <a href="{{ path('pat_piece_index',{ 'id': appartement.id }) }}" class="btn btn-primary btn-large">Continuer</a>
      {% endif %}
    </div>
  {% endif %}
  </div>
</div><!-- /contenuCentrale -->

<div id="contenuDroite">
  {% if utilisateur.type != 'Administrateur' %}
    <div id="blocAide"><div class="blocAideTitre">Aide</div>
      <br/>
      Vous devez saisir tous loyers, sans ces loyers, le bien ne pourra pas être réservé.
    </div><!-- /blocAide -->
  {% endif %}
</div><!-- /contentDroit -->

<script type="text/javascript">
$(document).ready(function() {
  $("#TarifAdmin_type_contrat").change(function() {
    if ($(this).val() == "STANDARD")
      $("#TarifAdmin_acompte").val("8")
    else
      $("#TarifAdmin_acompte").val("50")
  });

  // Calcul du loyer auto
  $('.js-loyer-semaine-auto').on('input', function(event) {
    var $loyerNuitInput = $('.js-loyer-nuit-auto');
    var $loyerSemaineInput = $('.js-loyer-semaine-auto');
    var $loyerMoisInput = $('.js-loyer-mois-auto');

    var loyerSemaine = parseFloat($loyerSemaineInput.val().replace(',', '.')).toFixed(2);

    if (loyerSemaine != parseFloat($loyerSemaineInput.val().replace(',', '.'))) {
      $loyerSemaineInput.val(loyerSemaine);
    }

    // Calcul loyer nuit
    var loyerNuit = (loyerSemaine / 6).toFixed(2);
    $loyerNuitInput.val(loyerNuit);

    // Calcul loyer mois
    var loyerMois = loyerSemaine * 3;
    $loyerMoisInput.val(loyerMois.toFixed(2));

    if ('NaN' == loyerSemaine || 'NaN' == loyerNuit.isNaN || 'NaN' == loyerMois.isNaN) {
      $loyerNuitInput.val(0);
      $loyerSemaineInput.val(0);
      $loyerMoisInput.val(0);
    }
  });
});
</script>

{% endblock %}
