img{
	border:0;
}

#content a{
/*	font-size:12px;
	color: #39acec;	*/
}

/* bouton compte */
#ulCompteAdmin{ float:left;padding-top:5px;width:100px;}
#ulCompteAdmin1{ float:left;padding-top:5px;width:115px;}

#divCompteAdmin{ float:left;width:85px;  padding-top:14px;}
#divCompteAdmin a{ color:#FFFFFF; font-size:10px; }

/* bouton compte admin */
#boutonRetourSite a{
	display:block;background:url('../images/bt_noir.png') top right; width:112px; height:26px;float:left;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	font-size:13px;
	padding-top:6px;
	font-family: 'Oswald', Arial;
	font-weight:100;
	text-transform: uppercase;
}

#boutonRetourSite a:hover {background-position:bottom right;}


/* DEBUT Menu */

#menu, #menuAdmin{
	height:44px;
	float:left;
	width:490px;
	/*margin-left:50px;*/
	overflow:hidden;
}

/* contentGauche */

#contentGauche a{
	/*color:#FFFFFF;*/
	font-size:14px;
}

/* recherche */


/*#recherche{
	background-image:url(../images/titre_fond_bleu.jpg);
	background-repeat:no-repeat;
	width:240px;
	float:left;
}*/


.Etapes{
	border-bottom:solid 3px #FFFFFF;
	padding: 10px 0 15px 10px;
	margin: 0 0 10px 0;
}

.checkboxPlus{
	color: #ffffff;
	font-size:12px;
	text-align:left;
}




.champ-recherche {color:#8b8b8b; border:solid 1px #C5C5C5; padding:5px; width:200px;}
.rayon {color:#8b8b8b; border:solid 1px #C5C5C5; padding:5px; width:115px; float:left;}

.champ-date {color:#8b8b8b; border:solid 1px #C5C5C5; padding:5px; width:140px; float:left;position:relative;left:15px;z-index:0;}
.ui-datepicker-trigger{position:relative;/*z-index:10*/;right:12px;}
.champ-type {color:#8b8b8b; border:solid 1px #C5C5C5; padding:5px; width:200px; float:right;}

.champ-budgetMini {color:#8b8b8b; border:solid 1px #C5C5C5; padding:5px; width:140px; /*float:right;*/}
.champ-budgetMaxi {color:#8b8b8b; border:solid 1px #C5C5C5; padding:5px; width:140px; /*float:right;*/}


#btLancerRecherche a{display:block;background:url('../images/bt_lancer-recherche.png') top right; width:213px; height:49px; margin:0px 0px 0px 12px;position:relative;}
#btLancerRecherche a:hover {background-position:bottom right;}


/* contenuCentrale */


#contenuCentrale{
	background-color:#ffffff;
	width:485px;
	float:left;
	margin-left:20px;
	margin-right:20px;
	min-height:900px;
	text-align:left;

}

#contenuCentrale1{
	background-color:#ffffff;
	width:660px;
	float:left;
	margin-left:20px;
	margin-right:20px;
	min-height:900px;

}

/* texte Content Gauche */

h1 span.spanH1 small{
	font-size:17px;
}

/* début Silderbar Actu */

#ActualiteTitre{
	font-family: 'Francois One', Arial, sans-serif;
	text-transform: uppercase;
	font-weight:normal;
	font-size:24px;
	color: #555555;
	text-align: left;
	margin-top:20px;

}

.Actualites{
 	font-family:Arial;
	font-size:11px;
	color: #555555;
	text-align: left;
	margin-top:10px;
}


/* début Silderbar Ajouts */

.selectionPtBiens{
	width:155px;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:dotted 2px #c1c1c1;
	float:left;
}

.selectionContenuPt{
	float:left;
	width:100px;
	padding-left:8px;
}

.VillePt{
	font-family:Arial;
	color:#757776;
 	font-size:10px;
 	text-align:left;
}


.TypeBienPt{
	color:#000000;
	font-family:Arial;
	font-weight:bold;
 	font-size:10px;
 	text-align:left;
}

/* Bloc Reservation */

#BlockResaDescriptionAppart
{
    width:450px;
    height:120px;
}

#BlockResaDescriptionAppartTitre
{
    width:300px;
    float:left;
    font-size: 16px;
    margin-left:10px;
}

#BlockResaDescriptionAppartTexte
{
    width:300px;
    height:100px;
    float:left;
    font-size: 12px;
    margin-left:10px;
}

#BlockResatexte{
    width:450px;
    text-align: center;
}

#BlockResatexteInfoResa{
    width:450px;
    height:120px;
}

#BlockResatexteInfoLoc{
    width:450px;
    height:220px;
}

#BlockResatexteInfoValidation{
    width:450px;
    height:100px;
}

#BlockResatexteInfoCGV{
    width:450px;
}

#BlockResatexteInfoLien{
    width:450px;
    height:50px;

}

#BlockResaTexteColG
{
    text-align:right;
    width:220px;
    padding-right:5px;
    float:left;
}

#BlockResaTexteColD
{
    text-align:left;
    padding-left:5px;
    float:left;
}



.ResaTitre{
    font-size:14px;
    font-weight:bold;

}

.LienAjaxVille a{
    width:180px;
    height:auto;
    color:black;
    font-size:11px;
    float:left;
    padding:0 5px 0 5px;
    margin-left:0px;
    text-decoration:none;
    background-color:white;
}


/* FIN Bloc Reservation */

/* onglet */

#ongletHaut{
	background-image:url(../images/onglet_haut.png);
	background-repeat:no-repeat;
	width:485px;
	height:43px;
}

#ongletImage{
	background-image:url(../images/onglet_image.png);
	background-repeat:no-repeat;
	width:485px;
	height:200px;
}

#ongletPixel{
	background-image:url(../images/onglet_pixel.png);
	width:485px;
}

#ongletTexte{
	font-family:Arial;
 	color:#000000;
  	font-size:18px;
  	text-align:left;
  	padding-left:35px;
 	padding-top:10px;
}

#ongletHautLocataire,
#ongletHautProprietaire{
	float:left;
	display:block;
	width:238px;
	height:25px;
	font-size: 20px;
	font-family: 'Francois OneFrancois One', Arial, sans-serif;
	text-align:center;
	font-weight:normal;
	text-decoration:none;
	padding-top:8px;
}


#ongletHautLocataire{
	color:#ffffff;
}

#ongletHautProprietaire{
	color:#868686;
}

/* Contenu */


#ZoneContenu{
	width:485px;
	float:left;
	margin-bottom: 20px;
}

#ZoneContenuPixel1, .ZoneContenuPixel1{
	padding: 0 15px 0 15px;
}



/* Contenu Recherche */





.TitreBien{
	font-family: 'Francois One', Arial, sans-serif;
	text-transform: uppercase;
	font-weight:normal;
	font-size:18px;
	color: #3c3c3c;
	text-align: left;
	padding-bottom:10px;
	width:440px;
	float:left;
}







.DescriptionBiens{
	width:500px;
	padding-left:10px;
	float:left;
}



.bienPhoto{
	width:120px;
	height:120px;
	float:left;
	border:solid 2px #e7e6e2;
}


.bienContenu{
	float:left;
	width:100px;
	padding-left:8px;
}

.VilleBien{
	font-family:Arial;
	color:#757776;
 	font-size:10px;
 	text-align:left;
}

.Savoir a{display:block;background:url('../images/bt-savoir.png') top right; width:157px; height:41px; float:right;}
.Savoir a:hover {background-position:bottom right;}


.Ajouter a{display:block;background:url('../images/bt-ajouter.png') top right; width:157px; height:41px; float:right;}
.Ajouter a:hover {background-position:bottom right;}


/* Recherche Description Bien */






.Galerie{
	width:455px;
	border-bottom:dotted 2px #c1c1c1;
	padding-bottom:15px;
}


.VisuelBien{
	width:451px;
	height:285px;
	border:solid 2px #8b8b8b;
}


.LoyerBienDes{
	font-family:Arial;
 	font-size:12px;
 	text-align:right;
 	float:right;
 	color:#3c3c3c;
}


.LoyerBienDes1{
	color:#3c3c3c;
	font-family: 'Francois One', Arial, sans-serif;
	text-transform: uppercase;
 	font-size:22px;
 	text-align:right;
}


.HeaderLoyer{
	width:455px;
	height:30px;
	border-bottom:dotted 2px #c1c1c1;
	margin-bottom:10px;
}


.DescriptionBien{
	width:455px;
	padding: 0 0px 10px 0px;
	color:#3c3c3c;
	font-family:Arial;
 	font-size:12px;
 	text-align:left;
	border-bottom:dotted 2px #c1c1c1;
}



/* footeur */

#footeur{
	width:720px;
	float:right;
	background-color:#FFFFFF;
	padding-top:10px;
	margin-top:30px;
}

/*********************************************************/
/* Back office */
/*********************************************************/



#blocAide{
	width:140px;
 	font-family:Arial;
	font-size:12px;
	color: #ffffff;
	text-align: left;
	background-color:#555555;
	padding:10px 10px 10px 25px;
	margin-top:40px;
}


.blocAideTitre{
	background-repeat:no-repeat;
	font-family: 'Francois One', Arial, sans-serif;
	text-transform: uppercase;
	font-weight:normal;
	font-size:18px;
	color: #ffffff;
	text-align: left;
}



#MenuBack{
	width:240px;
	float:left;
}



.Rubriques{
	background-image:url(../images/titre_fond_bleu.jpg);
	background-repeat:no-repeat;
	width:240px;
	height:33px;
	float:left;
	padding-top:6px;
	padding-left:15px;
	font-size: 16px;
	font-family:arial;
	color: #FFFFFF;
	text-align:left;
	margin-top:25px;
}



.menuTexte{
	width:240px;
}




td a{
	color: #000000;
	font-size:14px;
	font-weight: normal;
	text-align:left;
	padding-left:15px;
	text-decoration:none;
	line-height: 2.0;
}


.nombre{
	color: #ffffff;
	font-size:14px;
	text-align:right;
	padding-right:20px;
	line-height: 2.0;
}


td a:hover{
	text-decoration:underline;
}


#AjouterBien a{display:block;background:url('../images/ajouter.png'); width:25px; height:24px; float:right; margin: 0 18px 0 0; bottom:23px;position:relative;}
#AjouterBien a:hover {background-position:bottom right;}





/* Formulaire création compte proprietaire */

#formRegistrationProprio{
	width:100%;
	text-align:left;
	padding-top:5px;
}

#formRegistrationProprio table{
	text-align:right;
}

#formRegistrationProprio input{
	border:solid 1px #999999;
	padding:3px 5px 3px 5px;
	font-size:13px;
	/*width:170px;*/
}

#formCreateAppart input[type="radio"]{
	border:none;
	background-color:#FFFFFF;
	padding:0;
	font-size:13px;
	width:30px;
}

/*#formRegistrationProprio input[type="submit"],
#formCreateAppart input[type="submit"]{
	background:transparent;
	border:0;
	background-image:url(../images/bt_vide.png);
	background-repeat:no-repeat;
	background-position: top left;
	width:106px;
	height:27px;

	cursor:pointer;
	font-size: 13px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
}*/



#formCreateAppart #Equipement_intitule{ width:200px;}


#formRegistrationProprio input[type="submit"]:hover,
#formCreateAppart input[type="submit"]:hover{
/*	background-image:url(../images/bt_vide.png);
	background-repeat:no-repeat;
	background-position: bottom left;
	width:106px;
	height:27px;*/
}


#formRegistrationProprio input[type="submit"].btInputJ3,
#formCreateAppart input[type="submit"].btInputJ3{
	background:transparent;
	border:0;
	background-image:url(../images/bt_vide3.png);
	background-repeat:no-repeat;
	background-position: top left;
	width:260px;
	height:27px;
	cursor:pointer;
	font-size: 13px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
}

#formRegistrationProprio input[type="submit"].btInputJ3:hover,
#formCreateAppart input[type="submit"].btInputJ3:hover{
	background-image:url(../images/bt_vide3.png);
	background-repeat:no-repeat;
	background-position: bottom left;
	text-decoration:none;
}


.success{
	text-align:left;
	color:#CD3214;
	font-size:14px;
	margin-bottom:20px;
}

.error{
	text-align:left;
	color:#CD3214;
	font-size:14px;
	margin-bottom:10px;
}

.info {
    color: blue;
}

.error ul,
.error ul li{
	padding:0;
	margin:0;
	list-style:none;
}

#formRegistrationProprio table ul,
#formRegistrationProprio table ul li{
	padding:0;
	margin:0;
	list-style:none;
	text-align:right;
	color:#CD3214;
	font-size:12px;
}

.fos_user_registration_register .row-fluid .span4{
    padding:5px 0 0 0;
    width: 200px;
}
.fos_user_registration_register .row-fluid .span8{
    width: 250px;
}

.fos_user_registration_register .span12 .checkbox{
    display: inline;
}

.spanRequired{
    font-size: 11px;
    font-style: italic;
    color: #bbb;
    display: block;
    text-align: right;
    float: none;
    line-height: 10px;
padding-right: 5px;}

/* Consultation du profil */

.fos_user_user_show p{
	margin-bottom:5px;
}

#content a.boutonJ{
	background-image:url(../images/bt_vide.png);
	background-repeat:no-repeat;
	background-position: top left;
	width:106px;
	height:22px;
	cursor:pointer;
	font-size: 13px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
	display:block;
	text-decoration:none;
	padding-top:5px;
}



#content a.boutonJ3{
	background-image:url(../images/bt_vide3.png);
	background-repeat:no-repeat;
	background-position: top left;
	width:260px;
	height:22px;
	cursor:pointer;
	font-size: 13px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
	display:block;
	text-decoration:none;
	padding:5px 0 0 0;
	margin:0;
        line-height: normal;
}

#content a.boutonJ3:hover{
	background-image:url(../images/bt_vide3.png);
	background-repeat:no-repeat;
	background-position: bottom left;
	text-decoration:none;
}

.tdRight{ text-align:right; }
.tdLeft{ text-align:left; }
.tdLeftGras{ text-align:left; font-weight:bold;}

#content .tdLeft a {
    padding: 0;
    font-size: 16px;
}



/* Creation appart*/
#menuCreateAppart{
	width:485px;
	height:50px;
	margin-bottom:30px;
}

#menuCreateAppart ul{
	margin:0;
	padding:0;
	list-style:none;
}

#menuCreateAppart li{
	margin:0;
	padding:0;
	list-style:none;
	width:120px;
	height:50px;
	float:left;
}

#menuCreateAppart a{
	display:block;
	width:115px;
	height:40px;
	float:left;
	background-color:#CFCFCF;
	color:#878787;
	text-decoration:none;
	text-align:center;
	font-size:20px;
	padding-top:10px;
	font-family: 'Oswald', Arial;
	font-weight:100;
        margin-right:5px;
        border-radius: 10px;
}


#menuCreateAppart a:hover,
#menuCreateAppart a.active{
	display:block;
	width:115px;
	height:40px;
	float:left;
	background-color:#39acec;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	font-size:20px;
	padding-top:10px;
	font-family: 'Oswald', Arial;
	font-weight:100;
        margin-right:5px;
        border-radius: 10px;
}

#menuCreateAppart li.first{
	/*border-right:solid 1px #000000;*/

}

#menuCreateAppart li.last{
	/*border-left:solid 1px #000000;*/
}

/*#formCreateAppart input{
	border:solid 1px #999999;
	background-color:#FFFFFF;
	padding:3px 5px 3px 5px;
	font-size:13px;
	width:170px;
}*/

#formCreateAppart input[type="checkbox"]{
	background:transparent;
	border:0;
	text-align:left;
	font-weight:normal;
	width:30px;
}

#formCreateAppart input[type="file"]{
	background:transparent;
	border:0;
}

#formCreateAppart textarea{
	border:solid 1px #999999;
	background-color:#FFFFFF;
	padding:3px 5px 3px 5px;
	font-size:13px;
	width:450px;
}

#formCreateAppart .tdRight label{
    display:inline;
}

#formCreateAppart .tdLeft input{
    margin-bottom: 0px !important;
}

.blocForm label{
    /*display:inline;*/
}

.counter{
	float:right;
	color:#000000;
	margin-right:30px;
}

.counter_exceeded{
	color:red;
}

.titreFormAppart{
	font-family: 'Oswald', Arial;
	font-weight:100;
	font-size:18px;
	color:#000000;
	margin-top:20px;
	margin-bottom:10px;
}

#formCreateAppart input#prix_mois{
	border:solid 1px #999999;
	background-color:#cccccc;
	padding:3px 5px 3px 5px;
	font-size:13px;
	width:70px;
}

#formCreateAppart input#prix_nuit{
	border:solid 1px #999999;
	background-color:#cccccc;
	padding:3px 5px 3px 5px;
	font-size:13px;
	width:50px;
}

table.formulaire ul,
table.formulaire ul li{
	width:180px;
	color:#CD3214;
}

table#tableDiagnostic a#linkFormulaire{
	color: #39acec;
	text-decoration:none;
}

table#tableDiagnostic a#linkFormulaire:hover{
	text-decoration:underline;
}


#liste_equipement label{
	float:left;
	width:160px;
	height:25px;
}

#liste_equipement input{
	float:left;
	position:relative;
	bottom:2px;
	margin-left:20px;
}

input#appartement_consommation_chiffre{ width:40px;}
input#appartement_gaz_serre_chiffre{width:40px;}
textarea#appartement_visite_description{ width:280px; height:100px;}
/*textarea#appartement_commentaire{width:380px; height:100px;}
textarea#appartement_confidentiel{width:380px; height:80px;}*/
input#appartement_depot{ width:80px;}
input#appartement_provision_sur_charge{ width:80px;}
input#appartement_charges_forfaitaires{ width:80px;}
input#appartement_surface_sol{width:80px;}
input#appartement_surface_terrain{width:80px;}
input#appartement_surface_carrez{width:80px;}
input#appartement_code_postal{width:80px;}
input#appartement_adresse{width:280px;}
input#appartement_adresse2{width:280px;}
input#appartement_distance_aeroport{width:50px;}
input#appartement_acces_gare{width:50px;}
input#appartement_distance_autoroute{width:50px;}
input#appartement_acces_metro{width:50px;}
input#appartement_acces_bus{width:50px;}
input#appartement_acces_tram{width:50px;}
input#appartement_distance_voie_rapide{width:50px;}
input#appartement_acces_marche{width:50px;}
input#appartement_distance_commerce{width:50px;}
input#appartement_heure_depart{width:50px;}
input#appartement_heure_arrivee{width:50px;}
/*textarea#appartement_description_fr{width:460px;height:200px;}
textarea#appartement_description_courte_fr{width:460px;height:80px;}*/
input#appartement_date_diagnostic{ width:80px; }
input#fos_user_registration_form_cgu{width:30px;}
/*input#appartementrecherche_rue{width:100px;}
input#appartementrecherche_ville{width:100px;}
input#appartementrecherche_reference{width:100px;}
input#appartementrecherche_code_postal{width:100px;}
select#appartementrecherche_statut{width:100px;}*/
/*select#appartementrecherche_type{width:100px;}*/

/*input#appartementrechercheavancee_ville{width:170px;}
input#appartementrechercheavancee_code_postal{width:70px;}
input#appartementrechercheavancee_reference{width:70px;}*/

/*input#ReservationRecherche_reference{width:110px;}
input#ReservationRecherche_reference_appart{width:110px;}
input#ReservationRecherche_date_debut{width:110px;}
input#ReservationRecherche_date_fin{width:110px;}
select#ReservationRecherche_statut{width:110px;}*/

/*input#ReservationRechercheAvancee_reference_resa{width:80px;}
input#ReservationRechercheAvancee_reference_appart{width:80px;}
input#ReservationRechercheAvancee_reference_locataire{width:80px;}
input#ReservationRechercheAvancee_nom_locataire{width:120px;}
input#ReservationRechercheAvancee_prenom_locataire{width:120px;}
input#ReservationRechercheAvancee_date_debut{width:110px;}
input#ReservationRechercheAvancee_date_fin{width:110px;}
select#ReservationRechercheAvancee_statut{width:110px;}*/

/*input#Contenu_titre{width:470px;}*/
/*input#Contenu_url{width:420px;}
input#Contenu_meta_titre{width:420px;}
textarea#Contenu_meta_description{width:420px;height:100px;}*/


#tableDiagnostic{display:none;}
/* ********* */



ul {
	padding:0px;
	margin: 0px;
}
#response {
	padding:10px;
	background-color:#9F9;
	border:2px solid #396;
	margin-bottom:20px;
}

#list{width:700px;}

#list li {
	margin: 0 0 3px;
	padding:5px;
	background-color:#ffffff;
	color:#fff;
	list-style: none;
	float:left;
	width:135px;
	height:145px;
	margin-right:5px;
	text-align:right;
	cursor:pointer;
}

#list li a{
	text-decoration:none;
	font-size:14px;
	color:#000;
}



/* ****** Liste de appartements **** */
.blocAppartListe{
	display:block;
	width:681px;
	/*height:112px;
	background-image:url(../images/bloc_appart_liste1.png);
	background-repeat:no-repeat;*/
	margin-top:15px;

        border-style: solid;
        border-color: #D7D7D7;
        border-width: 1px;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        background: white; /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

.blocRechAppartListe{
	display:block;
	width:661px;
	/*height:56px;*/
        margin-left:7px;
        padding-bottom: 10px;
	/*background-image:url(../images/bloc-degrader.png);
	background-repeat:no-repeat;*/

        border-style: solid;
        border-color: #D7D7D7;
        border-width: 1px;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        background: white; /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

}

.blocAppartListe .titreAppart,
.blocAppartListe .villeAppart{
	font-family: 'Oswald', Arial;
	font-weight:100;
	font-size:16px;
	margin-top:8px;
}

.blocAppartListe .textAppart{
	font-size:12px;
	margin-top:4px;
}

.blocAppartListe .iconeAppart{
	width:100%;
	text-align:right;
}

.blocAppartListe .iconeAppart a{
	width:30px;
	height:30px;
	display:block;
	float:right;
	padding:0;
	margin:0 0 0 5px;
}

.blocAppartListe .publieAppart{ float:left; margin-top:7px; width:180px;font-size:9px;text-align:right;}
.blocAppartListe .iconeAppart{ float:left; }
.blocAppartListe .imgAppart{margin:6px 0px 0px 10px;}


#content .blocAppartListe table .textAppart a.boutonJ3{
	height:25px;
	padding:2px 0 0 0;
}



/* ****** Liste des promotions/majorations **** */
.blocPromoListe{
	display:block;
	width:679px;
	/*height:54px;
	background-image:url(../images/bloc_promotion_liste.jpg);
	background-repeat:no-repeat;*/
	margin-top:15px;

        border-style: solid;
        border-color: #D7D7D7;
        border-width: 1px;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        background: white; /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

.titrePromotion{
	font-family: 'Oswald', Arial;
	font-weight:100;
	font-size:16px;
}

.intitulePromotion{
	font-family: 'Oswald', Arial;
	font-weight:100;
	font-size:13px;
}

.refAppartPromotion{
	font-family: 'Oswald', Arial;
	font-weight:100;
	font-size:13px;
}

#tableListePromotion{
	/*padding-top:4px;*/
}

#tableListePromotion td a{
	color: #ffffff;
	font-size:14px;
	text-align:left;
	padding-left:0px;
	text-decoration:none;
	line-height: 2.0;
}


#content .btPublier a{
	font-family: 'Francois One', Arial, sans-serif;
	color: #ffffff;
	font-size:13px;
	text-transform:uppercase;
	display:block;
	width:65px;
	height:29px;
	text-decoration:none;
	padding-top:4px;
	text-align:center;
	background:url('../images/bt_publie.png') top left;
	float:left;
	margin-left:2px;
}
#content .btPublier a:hover {background-position:bottom left;}

#content .btDePublier a{
	font-family: 'Francois One', Arial, sans-serif;
	color: #ffffff;
	font-size:13px;
	text-transform:uppercase;
	display:block;
	width:65px;
	height:29px;
	text-decoration:none;
	padding-top:4px;
	text-align:center;
	background:url('../images/bt_depublie.png') top left;
	float:left;
	margin-left:2px;
}
#content .btDePublier a:hover {background-position:bottom left;}


#content .btDetail a{
	font-family: 'Francois One', Arial, sans-serif;
	color: #424242;
	font-size:13px;
	text-transform:uppercase;
	display:block;
	width:65px;
	height:29px;
	text-decoration:none;
	padding-top:4px;
	text-align:center;
	background:url('../images/bt_detail.png') top left;
	float:left;
	margin-left:2px;
}
#content .btDetail a:hover {background-position:bottom left;}

#content .btSupprimer a{
	font-family: 'Francois One', Arial, sans-serif;
	color: #424242;
	font-size:13px;
	text-transform:uppercase;
	display:block;
	width:75px;
	height:29px;
	text-decoration:none;
	padding-top:4px;
	text-align:center;
	background:url('../images/bt_supprimer.png') top left;
	float:left;
	margin-left:2px;
}
#content .btSupprimer a:hover {background-position:bottom left;}

.ui-datepicker-trigger{position:relative;/*z-index:10*/;top:6px;right:30px;cursor:pointer}

.contenuMenuAdmin .ui-datepicker-trigger {
    top: 0px;
    right: 0px;
    padding: 0;
}

.contenuMenuAdmin #ReservationRecherche_date_debut, .contenuMenuAdmin #ReservationRecherche_date_fin {
    width: 135px;
}

select#Promotion_type{width:170px;}
input#Promotion_intitule{ width:200px; }
input#Promotion_date_debut,
input#Promotion_date_fin{ width:110px;color:#000000; }
input#Promotion_montant{ width:25px; text-align:center;}



/* ****** Calendrier **** */

input#calendrierrecherche_intitule{width:200px;}
input#calendrierrecherche_date_debut,
input#calendrierrecherche_date_fin{ width:110px;color:#000000; }

.blocBloqueListe, .BlocContenuPixel {
	display:block;
	width:100%;
	/*height:54px;
	background-image:url(../images/bloc_promotion_liste.jpg);
	background-repeat:no-repeat;*/
	margin-top:15px;

        border-style: solid;
        border-color: #D7D7D7;
        border-width: 1px;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        background: white; /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}



/* ****** Liste des réservations **** */
.blocReservationListe{
	display:block;
	width:679px;
	height:54px;
	background-image:url(../images/bloc_reservation_liste.jpg);
	background-repeat:no-repeat;
	margin-top:15px;
}

#content .annulerReservation{
	font-family: 'Francois One', Arial, sans-serif;
	color: #424242;
	font-size:13px;
	text-transform:uppercase;
	display:block;
	width:75px;
	height:29px;
	text-decoration:none;
	padding-top:4px;
	text-align:center;
	float:left;
	margin-left:5px;
}


#Tarif_type label
{
    margin-right:160px;
}

input#Tarif_loyer
{
    width:50px;
}






/*
******************************************************************************
******************************************************************************
******************************************************************************
************************************ BACK OFFICE PAT *************************
******************************************************************************
******************************************************************************
******************************************************************************

*/



#menu-principal-admin{
	height:44px;
	margin:0;
	padding:0;
	list-style:none;

}



#menu-principal-admin li{
	height:44px;
	float:left;
	padding-top:10px;
	font-size:14px;
	color:#FFFFFF;
}




#titreAccueilAdmin, #titreAccueilAdmin2{
	margin:0px 0px 20px 0px;
	border-bottom:1px solid #999999;
	width:100%;
	float:left;
}

#titreAccueilAdmin h1, #titreAccueilAdmin2 h1{
	padding:15px 0 0 0;
	margin:0;
	float:left;
}

#titreAccueilAdmin img, #titreAccueilAdmin2 img { float:right; position:relative; z-index:1;}

h2.titreAccueilAdmin, h2.titreAccueilAdmin2{
	margin:20px 0px 10px 0px;
	border-bottom:1px solid #999999;
	width:100%;
	font-family: 'Francois One', Arial, sans-serif;
	font-weight:normal;
	text-align:left;
	text-transform:uppercase;
	color:#58585a;
	font-size:15px;
}


.RubriquesPat a{
	background-image:url(../images/titre_fond_bleu.jpg);
	background-repeat:no-repeat;
	width:100%;
	height:27px;
	float:left;
	padding-top:6px;
	padding-left:15px;
	font-size: 16px;
	font-family:arial;
	color: #FFFFFF;
	text-align:left;
	text-decoration:none;
}



#blocBackOffice{
	width:100%;
	height:53px;
	background-color:#000000;
	font-family: 'Francois One', Arial, sans-serif;
	font-weight:normal;
}

#blocBackOfficeLeft{
	float:left;
	width:330px;
	height:48px;
	color:#FFFFFF;
	font-size:30px;
	text-transform:uppercase;
	padding-top:5px;
	padding-left:30px;
}

#blocBackOfficeRight{
	float:right;
	margin:10px 25px 0 0;
}

#blocBackOfficeRight a{
	float:left;
	width:205px;
	height:19px;
	background-image:url(../images/bt-noir-CompteUtilisateur.png);
	background-repeat:no-repeat;
	display:block;
	text-align:center;
	text-transform:uppercase;
	color:#FFFFFF;
	text-decoration:none;
	padding-top:2px;

}
#blocBackOfficeRight a:hover {background-position:bottom right; }



/* Formulaire recherche */

.formRechercheAdmin{
	padding:10px;
        margin-bottom: 20px;

        border: 2px solid #E8E8E8;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;

        background-color: #F7F7F7;
}

.formRechercheAdmin table input{
	border:solid 1px #999999;
	background-color:#FFFFFF;
	padding:3px 5px 3px 5px;
	font-size:13px;
}

.formRechercheAdmin table input[type="submit"]{
	background:transparent;
	border:0;
	background-image:url(../images/bt_vide.png);
	background-repeat:no-repeat;
	background-position: top left;
	width:106px;
	height:27px;
	cursor:pointer;
	font-size: 13px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
}

.formRechercheAdmin table input[type="submit"]:hover{
	background-image:url(../images/bt_vide.png);
	background-repeat:no-repeat;
	background-position: bottom left;
	width:106px;
	height:27px;
}



/* ****** Page d'accueil admin PAT ****** */

#content .btAccueilAdmin{
	margin: 0 auto;
	display:block;
	width:363px;
	height:65px;
	margin-bottom:20px;
}

#content .btAccueilAdmin a{
	display:block;
	padding-top:22px;
	width:363px;
	height:44px;
	background-image:url(../images/bt-jaune-gd.png);
	background-repeat:no-repeat;
	font-family: 'Francois One', Arial, sans-serif;
	font-weight:normal;
	text-align:center;
	text-transform:uppercase;
	color:#58585a;
	text-decoration:none;
	font-size:18px;
}

#content .btAccueilAdmin a:hover{
	background-position:bottom right;
}


/* ****** Menu PAT ****** */

#titreMenuBack{
	font-family: 'Francois One', Arial, sans-serif;
	font-weight:normal;
	font-size:24px;
	margin-left:15px;
	color:#93DBFE;
	text-transform:uppercase;
	margin-bottom:10px;
}







/* ****** Menu PAT ****** */
#menuPat{
	width:100%;
	height:75px;
}

#navCreer,
#navResa,
#navContenuWeb{
	width:240px;
	height:35px;
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	font-family: 'Francois One', Arial, sans-serif;
	font-weight:normal;
}


#navCreer li,
#navResa li,
#navContenuWeb li{
	height:35px;
	float:left;
}


#navCreer li a,
#navResa li a,
#navContenuWeb li a{
	font-size:18px;
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	width:240px;
	height:30px;
	display:block;
	padding-top:5px;
	background-image:url(../images/menu_e1.png);
	background-repeat:no-repeat;
	float:left;
}


#navCreer li a:hover,
#navCreer li.active a,
#navCreer li a:active,
#navResa li a:hover,
#navResa li.active a,
#navResa li a:active,
#navContenuWeb li a:hover,
#navContenuWeb li.active a,
#navContenuWeb li a:active{
	color:#000000;
	float:left;
	text-decoration:none;
	background-image:url(../images/menu_e2.png);
	background-repeat:no-repeat;
}


/* ****** Menu PAT CREER ****** */

#navCreer ul{
	width:240px;
	height:auto;
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}

#navCreer ul li{
	height:auto;
	float:left;
}

#navCreer ul li a{
	font-size:12px;
	text-decoration:none;
	text-align:center;
	height:auto;
	display:block;
	padding:6px 0px 6px 6px;
	margin:0px 1px 0px 1px;
}

#navCreer ul li a.liProprio{
	width:85px;
}

#navCreer ul li a.liLoca{
	width:65px;
}

#navCreer ul li a.liBien{
	width:50px;
}

#navCreer ul li a.niveau_1_:hover,
#navCreer ul li a.niveau_1_:active{

}


/* ****** Menu PAT CONTENU WEB ****** */

#navContenuWeb ul{
	width:240px;
	height:auto;
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	left:-9999px;
	position: absolute;
	margin-top:34px;
	margin-left:1px;
	z-index:10;
}

#navContenuWeb ul li{
	height:auto;
	float:left;
}

#navContenuWeb li a.niveau_1_{
	font-size:12px;
	text-decoration:none;
	text-align:left;
	width:230px;
	height:auto;
	display:block;
	background-image:url(../images/menu_e1.png);
	background-repeat:no-repeat;
	padding:6px 0px 6px 6px;
}

#navContenuWeb li a.niveau_1_:hover,
#navContenuWeb li a.niveau_1_:active{
	font-size:12px;
	text-decoration:none;
	text-align:left;
	width:230px;
	height:auto;
	display:block;
	background-image:url(../images/menu_e2.png);
	background-repeat:no-repeat;
	padding:6px 0px 6px 6px;
}

#navContenuWeb li:hover ul, #navContenuWeb li li:hover ul, #navContenuWeb li li li:hover ul, #navContenuWeb li.sfhover ul, #navContenuWeb li li.sfhover ul, #navContenuWeb li li li.sfhover ul {
	left: auto;
}




/* login */

#btCreateCompteProprio a{
	display:block;
	background:url('../images/bt_compte_crea_proprio.png') top right;
	width:192px;
	height:57px;
	padding-top:7px;
	margin:0 auto;
	float:left;
	margin:25px 0px 0px 150px;
	color:#FFFFFF;
	font-size:17px;
	text-decoration:none;
	font-family: 'Francois One', Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
}


#btCreateCompteProprio a:hover {background-position:bottom right;}



/* Formulaire de recherche colonne de gauche dans l'admin */
table.formulaireSearch ul,
table.formulaireSearch ul li{
	width:180px;
	color:#CD3214;
}

table.formulaireSearch input{
	border:solid 1px #999999;
	background-color:#FFFFFF;
	padding:3px 5px 3px 0px;
	font-size:13px;
	width:170px;
}

table.formulaireSearch input[type="checkbox"]{
    width: 15px;
}

.blocUtilisateurtListeAdmin .clearLink{
    color: inherit !important;
    display: inherit;
    float: none;
    height: auto;
    margin: 0;
    width: auto;
    line-height: 16px;
    padding: 10px 0;
}

.blocUtilisateurtListeAdmin .clearLink:hover{
    text-decoration: none;
}

table.formulaireSearch input[type="submit"]{
	background:transparent;
	border:0;
	background-image:url(../images/bt_vide.png);
	background-repeat:no-repeat;
	background-position: top left;
	width:106px;
	height:27px;
	cursor:pointer;
	font-size: 13px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
}

table.formulaireSearch input[type="submit"]:hover{
	background-image:url(../images/bt_vide.png);
	background-repeat:no-repeat;
	background-position: bottom left;
	width:106px;
	height:27px;
}

/*#appartementrecherche_ville
{
    width:102px;
}*/



/* Contenu web */

.blocContenuListe{
	display:block;
	width:680px;
	height:59px;
	background-image:url(../images/bloc-degrader.png);
	background-repeat:no-repeat;
	margin-top:5px;
}

.blocContenuSousListe{
	display:block;
	width:680px;
	height:59px;
	background-image:url(../images/bloc-degrader1.png);
	background-repeat:no-repeat;
	margin-top:5px;
}

#tableListeContenu td a{
	color: #ffffff;
	font-size:14px;
	text-align:left;
	padding-left:0px;
	text-decoration:none;
	line-height: 2.0;
}

#tableListeContenu td{
	font-size:16px;
	text-align:left;
}

#tableListeContenu img{ position:relative;top:4px; }
.sepVerticalContenu{ height:55px; width:1px; background:#cccccc; }

#blocReferencement{ background:#f1f1f1;border:solid 1px #CCCCCC; padding:10px;}
#blocReferencementTitre{
	font-size:18px;
	font-family: 'Francois One', Arial, sans-serif;
	text-transform: uppercase;
	font-weight:normal;
}

.boutonAddContenu{ float:right; margin-top:15px; }

#tableListeContenu input.inputTri{
	text-align:center;
	border:solid 1px #999999;
	background-color:#FFFFFF;
	padding:3px 0px 3px 0px;
	font-size:13px;
	width:25px;
}


/* Creation appart*/
#menuCreateAdminAppart{
	width:680px;
	height:40px;
	margin-bottom:30px;
}

#menuCreateAdminAppart ul{
	margin:0;
	padding:0;
	list-style:none;
}

#menuCreateAdminAppart li{
	margin:0;
	padding:0;
	list-style:none;
	width:95px;
	height:40px;
	float:left;
}

#menuCreateAdminAppart a{
	display:block;
	width:90px;
	height:30px;
	float:left;
	background-color:#CFCFCF;
	color:#878787;
	text-decoration:none;
	text-align:center;
	font-size:15px;
	padding-top:10px;
	font-family: 'Oswald', Arial;
	font-weight:100;
        margin-right:5px;
        border-radius: 10px;
}


#menuCreateAdminAppart a:hover,
#menuCreateAdminAppart a.active{
	background-color:#39acec;
	color:#ffffff;
	text-decoration:none;
}

#menuCreateAdminAppart li.first{
	border-right:solid 1px #000000;

}

#menuCreateAdminAppart li.last{
	border-left:solid 1px #000000;
}


#appartInfo{ font-size:15px; 	font-family: 'Oswald', Arial; font-weight:100; margin-bottom:10px}


/* liste des appartements */

.blocAppartListeAdmin{
	display:block;
	width:680px;
	/*height:59px;
	background-image:url(../images/bloc-degrader.png);
	background-repeat:no-repeat;*/
	margin-top:15px;

        border-style: solid;
        border-color: #D7D7D7;
        border-width: 1px;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        background: white; /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

.blocAppartListeAdmin table{
	padding-top:1px;
}



.blocAppartListeAdmin .titreAppart,
.blocAppartListeAdmin .villeAppart{
	font-family: 'Oswald', Arial;
	font-weight:100;
	font-size:16px;
	margin-top:2px;
}

.blocAppartListeAdmin .textAppart,
.blocAppartListeAdmin .commAppart,
.blocAppartListeAdmin .confAppart{
	font-size:12px;
	margin-top:4px;
        margin-bottom: 2px;
}

.blocAppartListeAdmin .iconeAppart{
	width:100%;
	text-align:left;
	margin-top:8px;
}

.blocAppartListeAdmin .iconeAppart a{
	width:30px;
	height:30px;
	display:block;
	float:left;
	padding:0;
	margin:0;
}

.blocAppartListeAdmin .villeAppart{ float:left; width:130px; }
.blocAppartListeAdmin .publieAppart{ float:left; margin-top:7px; width:90px;font-size:9px;text-align:center;}
.blocAppartListeAdmin .iconeAppart{ float:left; }
.blocAppartListeAdmin .imgAppart{margin:6px 0px 0px 10px;}




/* Propriétaire et locataire */

/*input#proprietairerecherche_nom,
input#proprietairerecherche_prenom,
input#proprietairerecherche_num_compte,
input#locatairerecherche_nom,
input#locatairerecherche_prenom,
input#locatairerecherche_num_compte{ width:120px; }*/

.titreProprio{
	font-family: 'Oswald', Arial;
	font-weight:100;
	font-size:16px;
	margin-top:0px;
}

.titreProprio span{
	font-size:18px;
}

.numCompteProprio{
	font-family: 'Oswald', Arial;
	font-weight:100;
	/*color:#843B86;*/
	color:#39ACEC;
	font-size:15px;
	margin-top:8px;
}




.blocUtilisateurtListeAdmin{
	display:block;
	width:680px;
	/*height:59px;
	background-image:url(../images/bloc-degrader.png);
	background-repeat:no-repeat;*/
	margin-top:10px;


        border-style: solid;
        border-color: #D7D7D7;
        border-width: 1px;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        background: white; /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

.blocUtilisateurtListeAdmin table{ /*padding-top:8px;*/ }

.sepVerticalProprio{ height:55px; width:1px; background:#cccccc;position:relative;bottom:8px; }

.texteBarreProprio{ text-decoration:line-through; color:#AE1F1F;}

.blocUtilisateurtListeAdmin a{
	width:30px;
	height:30px;
	display:block;
	float:right;
	padding:0;
	margin:0 0 0 5px;
}

#blocAfficherProprioEntete{
	background:#f9f8f8;
	border-top:1px solid #C5C5C5;
	border-left:1px solid #C5C5C5;
	border-right:1px solid #C5C5C5;
	border-bottom:1px dotted #C5C5C5;
	padding:2px 15px 2px 15px;
	width:630px;
}

#blocAfficherProprio{
	background:#f9f8f8;
	border-left:1px solid #C5C5C5;
	border-right:1px solid #C5C5C5;
	border-bottom:1px solid #C5C5C5;
	padding:15px;
	width:630px;
	margin-bottom: 20px;
}

#blocAfficherProprio table{
	font-size:16px;
}

#blocAfficherProprio table .tdRight{ color:#bdbdbd; }

.afficherTitreProprio{
	font-family: 'Oswald', Arial;
	font-weight:100;
	font-size:18px;
}

.afficherNumCompteProprio{
	font-family: 'Oswald', Arial;
	font-weight:100;
	color:#39ACEC;
	font-size:15px;
}


.divAfficherProprioActiver{ float:left;margin:20px 0 0 100px;width:100px;}
.divAfficherProprioModifier{ float:left;margin:24px 0 0 0;width:150px;}
.divAfficherProprioPassword{ float:left;margin:24px 0 0 0;width:200px;}

#content  .btModifier a{
	font-family: 'Francois One', Arial, sans-serif;
	color: #424242;
	font-size:13px;
	text-transform:uppercase;
	display:block;
	width:75px;
	height:25px;
	text-decoration:none;
	padding-top:8px;
	text-align:center;
	background:url('../images/bt_supprimer.png') top left;
}
#content .btModifier a:hover {background-position:bottom left;}



/* Réservation détail */
table#formDetailResa{ font-size:15px; }

/* Equipements */
table.tableEquipement{ float:left; width:200px; margin-right:20px; background-color:#666666;margin-bottom:10px;}
table.tableEquipement td img{ float:left; margin:0; padding:0;}
table.tableEquipement td a{ float:left; margin:0; padding:0;}

/* Compte utilisateur */
table#tableAjoutUser td a.boutonJ2{
	font-size:13px;
	text-align:center;
	padding:2px 0 0 0;
	height:25px;
}

#content  .btModifierUser a{
	font-family: 'Francois One', Arial, sans-serif;
	color: #424242;
	font-size:13px;
	text-transform:uppercase;
	display:block;
	width:75px;
	height:28px;
	text-decoration:none;
	padding-top:5px;
	text-align:center;
	background:url('../images/bt_supprimer.png') top left;
}
#content .btModifierUser a:hover {background-position:bottom left;}


/* Medias */
#messageRetourTri{ font-size:15px; color:red; }

/*
input[type="submit"]{
	background-image:url(../images/bt_vide.png);
	background-repeat:no-repeat;
	background-position: top left;
        border:none;
	width:106px;
	height:25px;
	cursor:pointer;
	font-size: 13px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
	display:block;
	text-decoration:none;
	padding-top:1px;
}

input[type="submit"]:hover{
	background-image:url(../images/bt_vide.png);
	background-repeat:no-repeat;
	background-position: bottom left;
	text-decoration:none;
}*/

/*#formRegistrationProprio input[type="checkbox"]
{
    margin-left:-50px;
    margin-right:-50px;
}*/

.appart_list_link {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}

.appart_list_link:hover {
    text-decoration: none;
}

.appart_list_link .titreAppart {
    font-family: 'Oswald',Arial;
    font-size: 16px;
    font-weight: 100;
    margin-top: 2px;
    color: #58585A;
}

.appart_list_link .textAppart, .appart_list_link .commAppart, .appart_list_link .confAppart {
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 4px;
    color: #58585A;
    font-family: "Arial";
    line-height: normal;
}

#contentGauche .search_all_link {
    margin-top: 10px;
    text-align: center;
}

#contentGauche .search_all_link a {
    color: #000000;
}

.navigation a {
    padding: 0;
}

.sort {
    text-align: right;
}

.sort a {
    padding: 0;
}


#resultats_recherche_villes_admin {
    position: absolute;
    z-index: 999;
}

#resultats_recherche_villes_admin1 {
    position: absolute;
    z-index: 999;
    display: block;
}

#resultats_recherche_villes_admin1 a {
    color: #000;
}

html, body {
	padding-top: 0px;
	background-color: #f5f3ee;
}

img { margin-bottom: 20px }

.row { margin-left: 0;}

.container { background-color: #ffffff; width: 1005px;  }
.content { padding: 80px 20px 20px ; width: 100%; }

/*.navbar ul.nav a{
	font-family: Raleway-Thin;
	color: #fff;
}


.navbar ul.nav li.active a{
	background-color: #3ae0cc;
	color: #ffffff;
	border-bottom: 3px solid #3ae0cc;
	margin-bottom: -1px;
}*/

/*.msubm { color: #333; }*/

/*.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
text-decoration: none;
color: #fff;
background-color: #3ae0cc;
}*/

.navbar-inner div{
	position: relative;
	margin: 0 auto;
	width: 960px;
}
#brand{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-family: Raleway-Medium;
    height: 55px;
    left: 599px;
    margin: 0;
    position: absolute;
    top: 31px;
    width: 383px;
}

#brand p{
    color: #FFFFFF;
    font-size: 18px;
    height: 55px;
    line-height: 65px;
    text-align: center;
}

#classappart { margin-bottom: 0px;}
#classappart h1 {
	font-family: Raleway-Thin;
	font-size: 49px; color: #333;
	text-transform: uppercase;
	font-weight: lighter;
	padding-top: 10px;
	line-height: 32px;
	letter-spacing: -2px;
}
#classappart h2 { font-family: Raleway-Regular; color: #86d1cd; font-weight: normal; font-size: 17px; padding:0; margin:0; line-height: 25px; }

.class { font-family: Raleway-Regular; font-size: 26px; font-weight: bold; color: #a42242;}
p { font-family: Raleway-Medium; color: #000; font-size: 14px; line-height: 18px; }
a { font-family: Raleway-Medium; color: #60b7b0; font-size: 14px; line-height: 18px; font-weight: bold; text-decoration: underline; }

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.navbar-inner {
    background-color: #FAFAFA;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 32px;

}

/*.btn-primary {
  background-color: #006dcc;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #3ae0cc, #1d7c71);
  background-image: -ms-linear-gradient(top, #3ae0cc, #1d7c71);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3ae0cc), to(#1d7c71));
  background-image: -webkit-linear-gradient(top, #3ae0cc, #1d7c71);
  background-image: -o-linear-gradient(top, #3ae0cc, #1d7c71);
  background-image: linear-gradient(top, #3ae0cc, #1d7c71);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'3ae0cc, endColorstr='#'1d7c71, GradientType=0);
  border: none;
  background-color: #3ae0cc;
}*/

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #1d7c71;
}
a.btn{
	text-decoration: none;
	font-family: Raleway-Medium;
	font-weight: normal;
}

.btn-classappart {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #00cccc;
    background-image: linear-gradient(to bottom, #00cccc, #22958c);
    background-image: -webkit-linear-gradient(top, #00cccc, #22958c);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #22958c;
    border-image: none;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.2) inset, 0 4px 5px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    padding: 4px 24px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.btn-classappart:hover, .btn-classappart:focus, .btn-classappart:active, .btn-classappart.active, .btn-classappart.disabled, .btn-classappart[disabled] {
color:  #ffffff;
background-color: #006666;
}

/*#brand:hover { cursor: pointer;}*/

footer {
	background: #fff url(/img/bas.png) no-repeat 0 0px;
	padding-top: 148px;
	width: 965px;
 }

#footer {
	padding-top: 148px;
	/*width: 965px;*/
	background-color: #000;
	padding: 20px 20px 0;
	min-height: 200px;
	margin-left: 0px;
}
#footer h1 { font-family: Raleway-Thin; font-size: 64px; color: #fff; text-transform: uppercase; font-weight: lighter; padding-top: 10px; line-height: 32px; padding-bottom: 20px}
#footer h2 { font-family: Raleway-Regular; color: #60b7b0; font-weight: normal; font-size: 16px; padding:0; margin:0; line-height: 21px; }
#footer .legend { font-family: Verdana; font-size: 11px; color: #999; padding-top: 40px}
#footer select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, input[type="mail"] {
    background-color: #ffffff;
    /*border-color: #3d3d3d;*/
    /*color: #fff;*/
    /*margin: 0;*/
}
.footer-right { text-align: right; line-height: 22px }
.footer-right a { text-decoration: none; font-family: Raleway-Thin; font-size: 18px; color: #666; line-height: 22px }
.footer-right a:hover { color: #ffffff; text-decoration: none; }

/*STYLE CHARTE*/
body{
	font-family: Raleway-medium;
	font-size: 14px;
}
h1{
	font-family: Raleway-Regular;
	font-size: 32px;
	color: rgba(164, 34, 66, 1);
	font-weight: normal;
}
h2{
	font-size: 24px;
}
h3{
	font-size: 21px;
}
h2, h3, h4{
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: .5em;
}
h3{color: #666;}
.block{
	padding: 10px;
	border-radius: 0;
	background: #f3f3f3;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, .2);
	font-size: 21px;
	line-height: 28px;
	color: #666;
	margin-bottom: 30px;
}
.products{
	background: #f0f0f0;
	padding: 1px 20px 20px 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.products h3{margin: 0;}
.sidebar{margin-top: 60px;}
.footer button{
	margin-top: 5px;
	display: block;
}
#send{
	position: relative;
	top: 5px;
	left: 145px;
}
.alert span{font-size:18px;}
.contact form{
	border-radius: 5px;
	background: #333;
	padding: 20px;
}
.contact form h3{
	margin-top: 0;
	color: #fff;
}
.contact form select{
	border-color: #3d3d3d;
	color: #A3A3a3;
}
.contact form button{margin: 5px 0 0;}

.etapesRecherche{
    background-color: rgb(238,238,238);
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    font-family: Raleway-Thin;
}

#frontappartementrecherche_type{
    font-family: Raleway-Thin;
    padding-left: 5px;
}

.headerRecherche{
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    height: 40px;
    background-color: rgb(164,34,66);
}

.etapesRecherche input[type="text"]{
    border-radius: inherit;
    -moz-border-radius: inherit;
    -o-border-radius: inherit;
    -ms-border-radius: inherit;
    -webkit-border-radius: inherit;
    color: inherit;
}

.etapesRecherche .etapesTitre{
    font-size: inherit;
    font-weight: normal;
    height: 24px;
    font-family: Raleway-Medium;
}

.Etapes.dates input{
    width: 140px;
}

.Etapes.city input{
    width:  180px;
}
.Etapes.city select{
    width:  100px;
    float: right;
}

.Etapes.budget input{
    width:  100px;
}

.Etapes.ref{
    width: 180px;
}

.Etapes.Type{
    margin: 0px;
}

.Etapes.budget .etapesTitre{
    padding-top: 15px;
}

.Etapes.recherche{
    padding: 0 20px 20px 30px;
}

#btLancerRecherche{
    width: 160px;
}

#frontappartementrecherche_reference{
    width: 180px;
}

.Etapes.nbPiece table{
    margin: 0 auto;

}

.Etapes.nbPiece label{
    float: left;
    width: 20px;
}

#recherche{
    font-family: Raleway-Thin;
    color: black;
    margin-top: 40px;
}

.etapesRecherche img{
    padding-left: 15px;
    padding-top: 2px;
    margin-bottom: 0px;
}

.champ-type {
    color: #000;
    margin: 0 auto;
    padding: 5px;
    width: 120px;
}

#frontappartementrecherche_budgetmaxi {
    margin-left: 10px;
    width: 75px;
}

#frontappartementrecherche_budgetmini {
    width: 75px;
}

.headerRecherche span{
    color: white;
    display: block;
    font-family: raleway-Medium;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.etapesRecherche input, .etapesRecherche select{
    border: 1px solid #AAAAAA;
}

#contentGauche{
    margin-left:0px;
}

#recherche .span3{
    margin-left: 0px;
}

.imgHeader{
    margin-bottom: 0px;
}

.homeBox div{
    float: right;
    width: 498px;
    padding: 15px;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

.homeBox a{
    margin: 0 auto 15px 55px;
    padding: 8px;
    width: 350px;
}

.homeBox .first{
    margin-bottom: 14px;
}
.homeBox .second{
    margin-bottom: 0px;
}

.homeBox img{
    border-bottom: 1px solid #aaa;
}

#question p{
    font-family: Raleway-Medium;
    font-size: 18px;
    color: rgb(164, 34, 66);
    margin-bottom: 20px;
}

#question{
    text-align: center;
}

#block_selection{
    float: left;
}

.ListeAppart1{
    margin: 10px 0;
}

.blocItem{
    margin: 10px 0;
}

.ListeAppart1{
    margin:0;
    padding: 10px;
}

.ListeAppart,
.ListeAppart .reference,
.ListeAppart .titreAppart,
.ListeAppart .tarifAppart{
    font-family: Raleway-Medium;
}

.ListeAppart .reference,
.ListeAppart .tarifAppart{
    font-weight: normal;
}

.ListeAppart img {
    margin-bottom: 0;
}

#homeAdmin .homeAdminCenter a{
    margin: 0 auto;
    font-size: inherit;
    color: #fff;
    width: 160px;
}

#homeAdmin .homeAdminCenter{
    margin-bottom: 10px;
    text-align: center;
}

.menuCompte{
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    font-family: Raleway-Thin;
    border: 1px solid rgb(238,238,238);
    padding: 15px;
}

.menuCompte ul li.emptyList{
    line-height: 20px;
}

.menuCompte a{
    font-weight: normal;
    text-decoration: none;
}

.menuCompte ul{
    list-style: none;
}

.menuCompte ul li{
    line-height: 24px;
    font-size: 12px;
}


.etapesRecherche{
    background-color: rgb(238,238,238);
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    font-family: Raleway-Thin;
}

#frontappartementrecherche_type{
    font-family: Raleway-Thin;
    padding-left: 5px;
}

.headerRecherche{
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    height: 40px;
    background-color: rgb(164,34,66);
}

.etapesRecherche input[type="text"]{
    border-radius: inherit;
    -moz-border-radius: inherit;
    -o-border-radius: inherit;
    -ms-border-radius: inherit;
    -webkit-border-radius: inherit;
    color: inherit;
}

.etapesRecherche .etapesTitre{
    font-size: inherit;
    font-weight: normal;
    height: 24px;
    font-family: Raleway-Medium;
}

.adminSearchType2,
.adminSearchType1,
.adminSearchType4,
.adminSearchType5{
    display:none;
}

.adminTopSearch{
    padding: 15px;
}

.adminRecherche input[type="text"]{
    width: 175px;
}

.adminRecherche select{
    width: 100%;
}

.adminRecherche input[type="submit"],
.adminRecherche a{
    text-align: center;
    margin: 10px auto 5px auto;
}

.contenuMenuAdmin .homeSearchCenter{
    padding-left: 5px;
    text-align: center;
}
.contenuMenuAdmin a{
    width: 150px;
}

.contenuMenuAdmin input[type="submit"]{
    width: 170px;
}

.contenuMenuAdmin .checkbox{
    text-align: left;
}

.adminRecherche{
    padding-bottom: 10px;
}

.adminArea{
    background-image: url(../images/espace_admin.png);
}

.ownerArea{
    background-image: url(../images/espace_proprio.png);
}
.etapesBien {
    background-color: #D2ECEB;
    border: 1px solid #C5C5C5;
    margin-bottom: 20px;
}

.linksEtapesBien {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

    border: 2px solid #EAEBEB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    margin: 20px 45px;
    padding: 5px;
    text-align: center;
}

.linksEtapesBien a {
    color: black !important;
    text-decoration: none;
    font-size: 14px !important;
    font-weight: normal;
}

.linksEtapesBien a.active {
    color: #3FBEB5 !important;
    font-weight: bold;
}

.linksEtapesBien ul li {
    display: inline;
}

.linksEtapesBien ul li:before {
    content: '>';
    font-size: 11px;
    color: grey;
    margin: 0 5px;
}

.linksEtapesBien ul li:first-child:before {
    content: none;
}

.formBienAdministration {
    font-family: 'Lucida Grande', Arial;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
}

.formBienAdministration h3 {
    font-weight: bold;
    font-size: 18px;
}

.formBien {
    margin-top: 30px;
}

input:required, textarea:required  { background-color: #fff0f0; border: 1px solid #ffc6c6; }

#adminreservationrechercheappartement_nb_pieces label,
#adminreservationrechercheappartement_type label,
#Contenu_affiche_menu label,
#Contenu_on_sidebar label,
#Contenu_statut label,
#formRechercheOption label{
    margin-right: 10px;
    float: left;
}

.statAdmin{
    font-size: 15px;
    margin: 0 auto;
    width: 250px;
}

img.contentDeleteList{
    top:6px !important;
}

#homeAdmin{
    padding-top: 85px;
}

#Taxes_menage_studio_deuxpersonnes_inf15j,
#Taxes_menage_studio_deuxpersonnes_sup15j,
#Taxes_menage_studio_quatrepersonnes_inf15j,
#Taxes_menage_studio_quatrepersonnes_sup15j,
#Taxes_menage_T2_deuxpersonnes_inf15j,
#Taxes_menage_T2_deuxpersonnes_sup15j,
#Taxes_menage_T2_quatrepersonnes_inf15j,
#Taxes_menage_T2_quatrepersonnes_sup15j,
#Taxes_menage_T3_quatrepersonnes_inf15j,
#Taxes_menage_T3_quatrepersonnes_sup15j,
#Taxes_menage_T3_sixpersonnes_inf15j,
#Taxes_menage_T3_sixpersonnes_sup15j,
#Taxes_menage_T4_sixpersonnes_inf15j,
#Taxes_menage_T4_sixpersonnes_sup15j,
#Taxes_menage_T4_huitpersonnes_inf15j,
#Taxes_menage_T4_huitpersonnes_sup15j,
#Taxes_menage_T5_huitpersonnes_inf15j,
#Taxes_menage_T5_huitpersonnes_sup15j,
#Taxes_menage_T5_dixpersonnes_inf15j,
#Taxes_menage_T5_dixpersonnes_sup15j,
#Taxes_menage_T6_dixpersonnes_inf15j,
#Taxes_menage_T6_dixpersonnes_sup15j,
#Taxes_menage_T6_douzepersonnes_inf15j,
#Taxes_menage_T6_douzepersonnes_sup15j
{
    width: 100px;
}

table#planning {
    margin: 30px 0 0;
}

table#planning th {
    border: 1px solid gray;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
    padding: 2px 10px;
}

table#planning td {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    vertical-align: middle;
    text-align: center;
}

#planning .planning-resa, #legend-planning .planning-resa {
    background-color: YellowGreen;
}

#planning .planning-resa-wait-valid, #legend-planning .planning-resa-wait-valid {
    background-color: DarkGray;
}

#planning .planning-resa-wait, #legend-planning .planning-resa-wait {
    background-color: LightGray;
}

#planning .planning-resa-deposit-payed-wait-prop, #legend-planning .planning-resa-deposit-payed-wait-prop {
    background-color: Gray;
}

#planning .planning-resa-deposit-payed, #legend-planning .planning-resa-deposit-payed {
    background-color: Yellow;
}

#planning .planning-resa-to-payed, #legend-planning .planning-resa-to-payed {
    background-color: DarkOrange;
}

#planning .planning-resa-payed, #legend-planning .planning-resa-payed {
    background-color: Green;
}

#planning .planning-resa-exceeding, #legend-planning .planning-resa-exceeding {
    background-color: Purple;
}

/*#planning .planning-resa-fin, #legend-planning .planning-resa-fin {
    border-right: 3px solid black;
}*/

#planning .planning-bloc-prop, #legend-planning .planning-bloc-prop {
    background-color: SteelBlue;
}

#planning .planning-bloc-ca, #legend-planning .planning-bloc-ca {
    background-color: LightSeaGreen;
}

#planning .planning-bloc-travaux, #legend-planning .planning-bloc-travaux {
    background-color: FireBrick;
}

#planning #link-prev:hover, #planning #link-next:hover {
    cursor:pointer;
}

#legend-planning {
    margin: 30px 30px 0;
}

#legend-planning table {
    border-collapse: separate;
    border-spacing: 5px;
}

.bloc-menage {
    border: 3px solid black;
}

#planning td span {
    display: block;
    border-left: 24px solid;
    border-bottom: 24px solid;
    border-color: white;
}

.planning-resa-debut, .planning-resa-fin, .planning-bloc-debut, .planning-bloc-fin {
    background-color: white!important;
    padding: 0;
}

.planning-resa-fin span{border-left-color:yellowgreen!important;}
.planning-resa-fin-wait span{border-left-color:lightgray!important;}
.planning-resa-fin-wait-valid span{border-left-color:darkgray!important;}
.planning-resa-fin-deposit-payed-wait-prop span{border-left-color:gray!important;}
.planning-resa-fin-deposit-payed span{border-left-color:yellow!important;}
.planning-resa-fin-to-payed span{border-left-color:darkorange!important;}
.planning-resa-fin-payed span{border-left-color:green!important;}
.planning-resa-fin-exceeding span{border-left-color:purple!important;}
.planning-bloc-fin-prop span{border-left-color:steelblue!important;}
.planning-bloc-fin-ca span{border-left-color:lightseagreen!important;}
.planning-bloc-fin-travaux span{border-left-color:firebrick!important;}

.planning-resa-debut span{border-bottom-color:yellowgreen!important;}
.planning-resa-debut-wait span{border-bottom-color:lightgray!important;}
.planning-resa-debut-wait-valid span{border-bottom-color:darkgray!important;}
.planning-resa-debut-deposit-payed-wait-prop span{border-bottom-color:gray!important;}
.planning-resa-debut-deposit-payed span{border-bottom-color:yellow!important;}
.planning-resa-debut-to-payed span{border-bottom-color:darkorange!important;}
.planning-resa-debut-payed span{border-bottom-color:green!important;}
.planning-resa-debut-exceeding span{border-bottom-color:purple!important;}
.planning-bloc-debut-prop span{border-bottom-color:steelblue!important;}
.planning-bloc-debut-ca span{border-bottom-color:lightseagreen!important;}
.planning-bloc-debut-travaux span{border-bottom-color:firebrick!important;}

#planning td span img {
    position: absolute;
    z-index: 1000;
    margin-top: 6px;
    margin-left: -18px;
}

.document-table.table.table-bordered td {
    text-align: center;
    padding:4px;
}
.document-table.table.table-bordered td a {
    color: #60b7b0;
}

.tableau-facture > th {
    text-align:center;
    font-weight:800;
    background-color:#F4F4F4;
}

.totalTtc {
    text-align:right;
    font-weight:800;
}

.dontTva {
    text-align:right;
    font-size:12px;
}

.dontTvaContent {
    font-size:12px;
}
