
@font-face {
  font-family: "Raleway-Thin";
  src: url("/fonts/Raleway-Thin.ttf");
  src: local("☺"),
    url("/fonts/Raleway-Thin.ttf") format("truetype")
  }

@font-face {
  font-family: "Raleway-Regular";
  src: url("/fonts/Raleway-Regular.ttf");
  src: local("☺"),
    url("/fonts/Raleway-Regular.ttf") format("truetype")
  }

@font-face {
  font-family: "Raleway-Medium";
  src: url("/fonts/Raleway-Medium.ttf");
  src: local("☺"),
    url("/fonts/Raleway-Medium.ttf") format("truetype")
  }

.modal-lg {
	width: 70% !important;
	left: 30% !important;
}

.m-t-sm {
	margin-top: 20px;
}
.m-l-sm {
	margin-left: 20px;
}

.no-margin {
	margin: 0 !important;
}

.m-l-0 {
	margin-left: 0 !important;
}

.m-r-0 {
	margin-right: 0 !important;
}

.m-t-0 {
	margin-top: 0 !important;
}

.m-b-0 {
	margin-bottom: 0 !important;
}

.text-danger {
	color: #d9534f !important;
}

.inline {
	display: inline-block;
}

input:read-only {
	background-color: #ececec !important;
	border: 1px solid #b8b8b8 !important;
;
}

body {
    margin: 0; /* pour éviter les marges */
    text-align: left; /* pour corriger le bug de centrage IE */
    font-family: Raleway-medium;
    font-size: 14px;
    color:#58585a;
    background-color:#c5c5c5;
}

#page{
	width:100%;
	float:left;
}

.padding{
    padding: 10px;
}

.blockLabel label{
    display: block !important;
}

.blocForm.speciForm .row-fluid > div {
    margin: 5px 0;
}

table{
   font-family:Arial;
   color:#58585a;
}

p{
   margin:0;
   padding:0;
   font-family: Raleway-Thin;
}

a{
	font-size:12px;
	color: #39acec;
        font-family: Raleway-Thin;
}

sup{
	vertical-align: super;
	font-size: smaller;
	line-height: .5em
}

.clear{ clear:both; }

.rechercheAvancee a{
	color: #ffffff;
	font-size:12px;
	text-align:right;
	paddin : 0 0 0 0;
}

a:hover{
	text-decoration:underline;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

#headermenu{
	float:left;
	width:100%;
	height:54px;
	background-repeat :repeat-x;
	z-index: 1000;
	position: relative;
	background-image:url(../images/bd_menu.png);
}

#header{
	margin-top:0px;
	padding-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
	margin-left: auto;
	margin-right: auto;
	width:960px;
	text-align: center; /* on rétablit l'alignement normal du texte */
}

#content{
    padding: 20px;
    width: 100%;

}

#contentBis{
}

/* logo */

#logo{
	float:left;
	width:35px;
	height:44px;
	background-image:url(../images/logo.png);
        background-repeat: no-repeat;
        background-position: center;
	display:block;
        margin-right: 15px;
}

#logo a{
	display:block;
	width:30px;
	height:30px;
}


/* bouton compte */
#boutoncompte a{display:block;background:url('../images/bt_compte.png') top right; width:112px; height:34px;float:left;}
#boutoncompte a:hover {background-position:bottom right;}

/* bouton compte admin */
#boutonDeco a{
	display:block;background:url('../images/bt_noir.png') top right; width:112px; height:26px;float:left;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	font-size:13px;
	padding-top:6px;
	font-family: 'Oswald', Arial;
	font-weight:100;
	text-transform: uppercase;
}
#boutonDeco a:hover {background-position:bottom right;}

#divCompte{ float:left;width:105px;  padding-top:8px;}
#divCompte a{ color:#FFFFFF; font-size:10px; }

/* DEBUT Menu */

#menu-principal{
	height:44px;
	margin:0;
	padding:0;
	list-style:none;

}

#menu-principal li{
	height:44px;
	float:left;
}


#menu-principal li a{
	font-size:14px;
	color:#FFFFFF;
	text-decoration:none;
	text-align:center;
	padding-top:13px;
	height:31px;
	padding-left:8px;
	padding-right:8px;
	display:block;
	float:left;
	border-right:solid 1px #8b8b8b;
}



#menu-principal li a:hover,
#menu-principal li.active a,
#menu-principal li a:active{
	text-decoration:none;
	display:block;
	background-image:url(../images/menu_e2.jpg);
	background-repeat:repeat-x;
	float:left;
}


#menu-principal ul.sous-menu{
	width:150px;
	height:auto;
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	left:-9999px;
	position: absolute;
	margin-top:45px;
}


#menu-principal ul.sous-menu li{
	height:auto;
	float:left;

}


#menu-principal ul.sous-menu li a{
	font-size:12px;
	text-decoration:none;
	text-align:left;
	width:150px;
	height:15px;
	display:block;
	background-image:url(../images/bd_menu.png);
	border-bottom:solid 1px #cccccc;
	border-left:solid 1px #cccccc;
	border-right:solid 1px #cccccc;
	border-top:none;
	padding:6px 0 6px 6px;

}


#menu-principal ul.sous-menu li a:hover{
	text-decoration:none;
	background-image:url(../images/menu_e2.jpg);
}


#menu-principal li:hover ul, #nav li li:hover ul, #nav li li li:hover ul{
	left: auto;
}



/* FIN Menu*/


/* contentGauche */

#contentGauche{
/*	width:240px;
	float:left;
	padding-top:170px;*/
}

/* recherche */
.Etapes2{
	padding: 10px 0 15px 10px;
	margin: 0 0 15px 0;
}


.icoEtapes{
	background-image:url(../images/etape.png);
	background-repeat:no-repeat;
	color: #ffffff;
	width:20px;
	height:17px;
	float:left;
	padding-top:3.3px;
        padding-left:0.3px;
	text-align:center;
}


.etapesTitre{
	color: #000000;
/*	font-size:16px;*/
        font-size:15px;
	font-weight:bold;
	height:24px;
	float:left;
	padding-top:2px;
	/*padding-left:10px;*/
	padding-left:5px;
}

.etapesTexte{
	color: #ffffff;
	font-size:12px;
	text-align:right;
}


.rechercheAvancee{
	color: #ffffff;
	font-size:12px;
	text-align:right;
	padding : 0 20px 0 0;
}

/* contenuCentrale */
#titreAccueil{
	margin:10px 0px;
}

#contentDroit{
	/*width:720px;*/
/*	width:680px;
	float:left;
	background-color:#FFFFFF;*/
}

#contenuDroite{
	width:175px;
	float:left;
	background-color:#FFFFFF;

}


#ZoneOnglet{
	/*width:485px;*/
	float:left;
}

/* texte Content Gauche */

.titrecontentGauche {
	padding-top:6px;
	padding-left:15px;
	font-size: 15px;
	font-family:arial;
	color: #FFFFFF;
	text-align: left;
	margin-bottom:25px;

}


h1 {
	font-size: 30px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #39acec;
	text-align: left;
	text-transform: none;
	font-weight:normal;
	margin:0;
	padding:0;
}


h1 span.spanH1 {

}

/* début Silderbar Actu */

#imagActu{
	background-image:url(../images/img_actu.jpg);
	background-repeat:no-repeat;
	height:324px;
	width:175px;
	margin-top:30px;
}


#imagActuTexte{
	height:110px;
	width:155px;
 	font-family:Arial;
	font-size:12px;
	color: #ffffff;
	text-align: left;
	background-color:#555555;
	padding:20px 10px 0 10px;

}

/* début Silderbar Ajouts */


#blocAjouts{
	width:175px;
	margin-top:20px;
}

#blocAjoutsHaut{
	background-image:url(../images/bloc_ajouts_haut.png);
	background-repeat:no-repeat;
	width:175px;
	height:40px;
	float:left;
	display:block;
}


#blocAjoutsPixel{
	background-image:url(../images/bloc_ajouts_pixel.png);
	background-repeat:y;
	width:175px;
	float:left;
	display:block;
}

#blocAjoutsPixel1{
	padding: 10px  0px  10px  10px;
}


#blocAjoutsBas{
	background-image:url(../images/bloc_ajouts_bas.png);
	background-repeat:no-repeat;
	width:175px;
	height:10px;
	float:left;
	display:block;
}

.AjoutsTitre{
	font-family: 'Francois One', Arial, sans-serif;
	text-transform: uppercase;
	font-weight:normal;
	font-size:18px;
	color: #000000;
	text-align: center;
	padding-top:8px;
}

.selectionPtPhoto{
	width:42px;
	height:42px;
	float:left;
}

.selectionContenuPt a{
	font-size:10px;
	color: #39acec;
	float:right;
}

/* Contact*/

#blocContact{
	margin-top:15px;
}


#blocContacthaut{
	background-image:url(../images/contact_haut.png);
	background-repeat:no-repeat;
	height:15px;
	width:175px;
}

#blocContactpixel{
	background-image:url(../images/contact_pixel.png);
	background-repeat:y;
	width:175px;
}

#blocContactbas{
	background-image:url(../images/contact_bas.png);
	background-repeat:no-repeat;
	height:15px;
	width:175px;
}

#blocContactTexte{
	width:155px;
	font-family:Arial;
	font-size:11px;
	color: #ffffff;
	text-align:left;
	padding: 0 10px 0 10px;
}


.blocContactTitre{
	background-repeat:no-repeat;
	font-family: 'Francois One', Arial, sans-serif;
	text-transform: uppercase;
	font-weight:normal;
	font-size:18px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 10px;
}

#boutoncontact a{
	display:block;
	background:url('../images/bt_contact.png') top right;
	width:130px;
	height:32px;
	margin:0 auto;
	bottom:6px;
	position:relative;
}
#boutoncontact a:hover {background-position:bottom right;}

/* Bloc Reservation */

/*#blocReservation{
	margin-top:15px;
}


#blocReservationHaut{
	background-image:url(../images/bloc_reservation_haut.png);
	background-repeat:no-repeat;
	height:10px;
	width:175px;
}

#blocReservationPixel{
	background-image:url(../images/bloc_reservation_pixel.png);
	background-repeat:y;
	width:175px;
}

#blocReservationBas{
	background-image:url(../images/bloc_reservation_bas.png);
	background-repeat:no-repeat;
	height:10px;
	width:175px;
}


#boutonReservation a{
	display:block;
	background:url('../images/bt-reservez.png') top right;
	width:96px;
	height:36px;
	margin:0 auto;
	bottom:6px;
	position:relative;
}


#boutonReservation a:hover {background-position:bottom right;}



.blocReservationTitre{
	background-repeat:no-repeat;
	font-family: 'Francois One', Arial, sans-serif;
	text-transform: uppercase;
	font-weight:normal;
	font-size:18px;
	color: #3b3b3b;
	text-align: left;
	padding: 0 10px 0 20px;
}

#BlockResaTexteIntitule
{
    text-align:center;
    font-size:14px;
    font-weight:bold;
    width:450px;
    float:left;
}

.BlockResaMessageErreur
{
    font-size:14px;
    font-weight:bold;
    color:#D52121;
    margin-bottom:10px;
}*/

#blocReservation{
    padding: 0px 5px 10px 5px;
    background-color: rgba(50,244,220, 0.04);
    border: 4px solid rgba(21,173,161, 0.4);
    border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
}

#blocReservation .ui-datepicker-trigger{
    padding-left: 5px;
    padding-top: 5px;
}

#blocReservation img{
    margin-bottom: 0;
}

.blocReservationTitre{
    font-family: Raleway-Thin;
    font-size: 29px;
    line-height: 29px;
    text-align: center;
    margin:0 0 15px;
    color: rgb(24,163,155);
}

.blocReservationTitre span{
    font-size: 20px;
}

#blocReservation .contentDateResa{
    padding-bottom: 20px;
}

/* FIN Bloc Reservation */

#boutonSelection a{
	display:block;
	background:url('../images/bt_ajouter_selection.png') top right;
	width:175px;
	height:38px;
	margin:10px 0 15px 0;
}


input#frontintroreservation_datedebut,
input#frontintroreservation_datefin{ width: 132px;float:left; }

#boutonSelection a:hover {background-position:bottom right;}

/* fin Silderbar Actu */

/* onglet */

#ongletBas{
	background-image:url(../images/onglet_bas.png);
	background-repeat:no-repeat;
	width:485px;
	height:43px;
	padding-top:15px;
}

#Savoir a{display:block;background:url('../images/bt_cliquez-la.png') top right; width:122px; height:35px; margin:0px 0px 0px 320px; bottom:32px;position:relative;}
#Savoir a:hover {background-position:bottom right;}



/* question FAQ */

#question{
/*	width:475px;
	height:45px;
	background-color:#f5bf30;
	font-family: 'Francois One', Arial, sans-serif;
	font-weight:normal;
	text-align:left;
	font-size:20px;
	color:#000000;
	padding: 10px 0 0 10px;*/
	float:left;
}


#icoQuestion{
	background:url('../images/ico_question.png');
	background-repeat:no-repeat;
	width:31px;
	height:36px;
	float:left;
	padding: 0 5px 0 0px;
}


#CliquezLa a{display:block;background:url('../images/bt_cliquez-la.png') top right; width:122px; height:35px; margin:0px 0px 0px 340px; bottom:32px;position:relative;}
#CliquezLa a:hover {background-position:bottom right;}




/* Selection */


#selection{
	width:455px;
	height:34px;
	background:url('../images/fond_selection.png');
	background-repeat:no-repeat;
	font-family: 'Francois One', Arial, sans-serif;
	text-transform: uppercase;
	font-weight:normal;
	text-align:left;
	font-size:20px;
	color:#ffffff;
	margin-top:20px;
	margin-bottom:20px;
	padding: 3px 0 0 20px;
	float:left;
}

/* Selection biens */


.selectionBiens{
	width:485px;
	float:left;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:solid 2px #000000;
}


.selectionPhoto{
	float:left;
	width:135px;
	height:135px;
}


.selectionContenu{
	float:left;
	width:335px;
	margin: 0 0 0 15px;
}



.VilleLoyer{
	font-family:Arial;
	color:#757776;
 	font-size:14px;
 	text-align:left;
}


.TypeBien{
	color:#000000;
	font-family:Arial;
	font-weight:bold;
 	font-size:18px;
 	text-align:left;
}


.TexteSelection{
	color:#000000;
	font-family:Arial;
 	font-size:12px;
 	text-align:left;
}

/* Contenu */

#ZoneContenuHaut{
	background-image:url(../images/bloc-contenu-haut.png);
	background-repeat:no-repeat;
	height:20px;
}

#ZoneContenuPixel{
	background-image:url(../images/bloc-contenu-pixel.png);
}

#ZoneContenuBas{
	background-image:url(../images/bloc-contenu-bas.png);
	background-repeat:no-repeat;
	height:18px;
}

/* Contenu Recherche */

#ZoneRecherche{
	width:680px;
	float:left;
}

#RechercheHaut{
	background-image:url(../images/bloc_recherche_haut.png);
	background-repeat:no-repeat;
	width:680px;
	height:15px;
	float:left;
}

#RecherchePixel{
	background-image:url(../images/bloc_recherche_pixel.png);
	width:680px;
	float:left;
}

#RechercheBas{
	background-image:url(../images/bloc_recherche_bas.png);
	background-repeat:no-repeat;
	width:680px;
	height:15px;
	float:left;
}

#RecherchePixel1{
	padding: 0 15px 0 15px;
	}


.HeaderBien{
	width:650px;
	height:40px;
}

.LoyerBien{
	font-family:Arial;
 	font-size:12px;
 	text-align:right;
 	color:#3c3c3c;
 	width:210px;
 	float:left;
}

.LoyerBien1{
	color:#3c3c3c;
	font-family: 'Francois One', Arial, sans-serif;
	text-transform: uppercase;
 	font-size:22px;
 	text-align:right;
}


.bouton{
	width:157px;
	float:right;
}

/* Recherche Description Bien */

.TitreBien2{
	font-family: 'Francois One', Arial, sans-serif;
	text-transform: uppercase;
	font-weight:normal;
	font-size:18px;
	color: #3c3c3c;
	text-align: left;
	width:455px;
	padding-bottom:10px;
}

/* footeur */

#footeurGris{
	width:720px;
	height : 15px;
	background-color:#d0d0d0;
}

#menuFooteur{
	color:#3c3c3c;
	font-size: 11px;
	text-align:right;
	width:690px;
	text-decoration:none;
	padding: 10px 20px 10px 0px;
}


#menuFooteur a{
	color:#3c3c3c;
	text-decoration:none;
}




#content a.boutonJ:hover{
	background-image:url(../images/bt_vide.png);
	background-repeat:no-repeat;
	background-position: bottom left;
	text-decoration:none;
}

#content a.boutonJ2{
	background-image:url(../images/bt_vide2.png);
	background-repeat:no-repeat;
	background-position: top left;
	width:140px;
	height:22px;
	cursor:pointer;
	font-size: 13px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
	display:block;
	text-decoration:none;
	padding-top:5px;
}

#content a.boutonJ2:hover{
	background-image:url(../images/bt_vide2.png);
	background-repeat:no-repeat;
	background-position: bottom left;
	text-decoration:none;
}

/* ca */

#brand {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-family: Raleway-Medium;
    left: 750px;
    margin: 0;
    position: relative;
}

#classappart{
    /*padding-bottom: 15px;*/
}



#footer h1 {
    color: #FFFFFF;
    font-family: Raleway-Thin;
    font-size: 64px;
    font-weight: lighter;
    line-height: 32px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-transform: uppercase;
}

#footer h2 {
    color: #60B7B0;
    font-family: Raleway-Regular;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

#footer .legend {
    color: #999999;
    font-family: Verdana;
    font-size: 11px;
    padding-top: 40px;
}


/* liste des appartements */

.blocAppartListeAdmin{
	display:block;
	width:680px;
	/*height:59px;
	background-image:url(../images/bloc-degrader.png);
	background-repeat:no-repeat;*/
	margin-top:15px;

        border-style: solid;
        border-color: #D7D7D7;
        border-width: 1px;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        background: white; /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

.ListeAppart {
    border-style: solid;
    border-color: #C5C5C5;
    border-width: 1px;

    margin: 10px 0;
}

.ListeAppart a {
    text-decoration: none;
}

.ListeAppart1 {
    background-color: #F7F7F7;
    padding: 5px;
    border-right: 1px solid #C5C5C5;
}

.ListeAppart1NoBorder {
    background-color: #F7F7F7;
    padding: 5px;
}

.ListeAppart2 {
    background-color: #FFFFFF;
    text-align: center;
    padding: 5px;
    margin-left: 0px;
}

.ListeAppart .reference {
    font-family: 'Lucida Grande', Arial;
    font-size: 14px;
    color: #000000;
    padding: 2px;
}

.ListeAppart .titreAppart {
    font-family: 'Lucida Grande', Arial;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    padding: 2px;
}

.ListeAppart .tarifAppart {
    font-family: 'Lucida Grande', Arial;
    font-size: 18px;
    color: #000000;
    padding: 2px;
}

.blocItem{
    margin: 10px 0;
}

.itemLink{
    position:relative;
    height: 70px;
}

.blocItemLink{
    color: #000;
    font-weight: normal;
}

.itemLink a {
    position: absolute;
    top: 60%;
}

.navbar ul.nav li{
    font-family: 'Raleway-Thin';
    /*color: #000;*/
    text-decoration: none;
}

.navbar ul.nav a{
    text-decoration: none;
}

.navbar ul.nav li.active a{
	background-color: #3AE0CC;
	color: #ffffff;
	border-bottom: 3px solid #3AE0CC;
	margin-bottom: -1px;
}

.posMenu{
    padding: 3px 0;
}

.placeholder { color: #aaa; }

.calendrierDispo table {
    background-color: #E1E0E0;
    border-collapse: separate;
    border-spacing: 2px;
}

.calendrierDispo th {
    padding: 6px;
    margin: 2px;
    background-color: #FFFFFF;
}

.blocRight{
    display:block;
    float:right;
}

.pagination a{
    font-size: 12px;
    font-weight: normal;
}

.defaultSkin .mceStatusbar{
    height: 30px !important;
}

.noPadding{
    padding: 0;
}

#logoHomeLink{
    text-decoration:none;
}

#logoHomeLink:hover{
    text-decoration:none;
}

.prixAppart{
    font-size: 24px;
    font-weight: 500;
}

.navbar ul.nav .msubm{
    font-family: 'Raleway-Medium';
    text-decoration: none;
}

.forgotPass{
    color: #000000;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    margin: 10px auto 0;
    width: 200px;
}

.forgotPass:hover{
    text-decoration: underline;
}

.tarifAppart .justTarif{
    font-family: Lucida Grande;
    font-size: 24px;
    font-weight: bold;
}

.hidden{
    display:none;
}

.blocResa {
    margin: 20px 0;
    border: 1px solid #C5C5C5;
}

.blocResa h4 {
    margin: 0 0 15px;

    font-family: 'Lucida Grande', Arial;
    color: #1A1A1A;
    font-weight: bold;
    font-size: 18px;
}

.blocResa .RecapAppart {
    padding: 20px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #C5C5C5;

    font-family: 'Lucida Grande', Arial;
    color: #000000;
    font-weight: normal;
}

.blocResa .RecapAppart p {
    font-family: 'Lucida Grande', Arial;
    color: #000000;
    font-weight: normal;
    font-size: 14px;
}

.blocResa .RecapAppart img {
    margin: 5px;
}

.blocResa .RecapAppart .reference {
    font-size: 14px;
    margin: 5px 0;
}

.blocResa .RecapAppart .titreAppart {
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0;
}

.blocResa .RecapAppart .tarifAppart {
    font-size: 18px;
    margin: 5px 0;
}

.blocResa .info {
    padding: 20px;
    background-color: #FFFFFF;

    font-family: 'Lucida Grande', Arial;
    color: #000000;
    font-weight: normal;
    font-size: 14px;
}

.blocResa .info .text-big, .blocResa .info .text-big p {
    font-family: 'Lucida Grande', Arial;
    color: #000000;
    font-weight: normal;
    font-size: 18px;
}

#selectnbpersonne,
#selectnbadulte,
#selectnbenfant,
#selectnb_lit_simple,
#selectnb_lit_double,
#selectnb_canape_convertible,
#frontoptionsreservation_option_roses,
#frontoptionsreservation_option_champagne,
#frontoptionsreservation_option_menage_supp {
    width: auto;
}

.blocResa .tarifs {
    padding: 20px;
    background-color: #D2ECEB;

    font-family: 'Lucida Grande', Arial;
    color: #A42242;
    font-weight: normal;
    font-size: 18px;
}

.blocResa .tarifs .row-fluid {
    margin-bottom: 10px;
}

.blocResa .tarifs .row-fluid [class*="span"] {
    min-height: 0;
}

.blocResa .boutons {
    padding: 10px;
    background-color: #FFFFFF;
    border-top: 1px solid #C5C5C5;
}

.blocResa .info .blocForm label {
    margin-top: 8px;
}

.blocResa .info .checkbox input[type="checkbox"] {
    float: none;
}

.blocResa .info li {
    line-height: 30px;
}

.resa-steps-table td {
    text-align: center;
}

.resa-steps-table td img {
    margin-bottom: 5px;
}

.resa-steps-table td.active {
    color: #A42242;
    font-weight: bold;
}
