/* CSS Print */
body{ font-family:Helvetica, Arial, sans-serif!important; font-size:14px!important;}
.navbar-inner,
footer,
#contentGauche,
#contentDroit h1,
#blocReservation,
.pika-thumbs,
#slider,
#prevBtn,
#nextBtn,
#legendCalendrier, 
.blocDispo,
.pagination, .formRechercheAdmin
{ display:none!important;}
#contenuCentrale{ width:960px!important; margin-right:30px!important; float:left!important;}
#contentGauche{width: auto!important;
margin: 0!important;
padding: 0!important;
}
#map_canvas{ margin-top:0!important;}
.ficheProduit{ border:none!important; width:960px!important;}
.ficheContent{ width:450px; margin-left:30px!important; padding:15px 0 15px 0!important; float:left!important;}
.noMargin{ margin:0!important;}
ul.noMargin{ margin:0!important; padding:0!important;}
ul.noStyle.margin0 li span.blocRight{ float: none!important; display: inline!important; padding: 0!important; margin: 0!important;}
ul.noStyle.margin0, ul.noStyle.span3{ padding: 0!important; margin: 0!important;}
#classappart{ display: block!important; width: 100%!important; height:104px!important;}
#classappart h1{ padding-top:32px!important;}
#contenuDroite{display:none;}
.galerie{ padding:15px 0!important;}
.ListeAppart{page-break-inside: avoid!important;}