
#formCreateAppart  ul, 
#formCreateAppart  li {
	margin:0; 
	padding:0; 
	list-style:none;
}

#formCreateAppart #menu_class0,
#formCreateAppart #menu_class1,
#formCreateAppart #menu_class2,
#formCreateAppart #menu_class3,
#formCreateAppart #menu_class4,
#formCreateAppart #menu_class5,
#formCreateAppart #menu_class6,
#formCreateAppart #menu_class7,
#formCreateAppart #menu_class8,
#formCreateAppart #menu_class9,
#formCreateAppart #menu_class10{
	display:block;
	width:481px;
	height:36px;
	background-image:url(../images/bt_appart_fermer.jpg);
	cursor:pointer;	
	margin-top:30px;
}


#formCreateAppart .the_menu0,
#formCreateAppart .the_menu1,
#formCreateAppart .the_menu2,
#formCreateAppart .the_menu3,
#formCreateAppart .the_menu4,
#formCreateAppart .the_menu5,
#formCreateAppart .the_menu6,
#formCreateAppart .the_menu7,
#formCreateAppart .the_menu8,
#formCreateAppart .the_menu9,
#formCreateAppart .the_menu10{
	display:none;
	width:481px;
	position:relative;
	bottom:5px;
		
}

.the_menuBas{
	position:relative;
	bottom:5px;
}

#formCreateAppart .the_menu0 li ,
#formCreateAppart .the_menu1 li,
#formCreateAppart .the_menu2 li,
#formCreateAppart .the_menu3 li,
#formCreateAppart .the_menu4 li,
#formCreateAppart .the_menu5 li,
#formCreateAppart .the_menu6 li,
#formCreateAppart .the_menu7 li,
#formCreateAppart .the_menu8 li,
#formCreateAppart .the_menu9 li,
#formCreateAppart .the_menu10 li{
	width:461px;
	background-image:url(../images/bt_appart_ouvert_pixel.jpg);
	background-repeat:repeat-y;
	padding:10px;
	
}

#formCreateAppart .the_menu0 li li ,
#formCreateAppart .the_menu1 li li,
#formCreateAppart .the_menu2 li li,
#formCreateAppart .the_menu3 li li,
#formCreateAppart .the_menu4 li li,
#formCreateAppart .the_menu5 li li,
#formCreateAppart .the_menu6 li li,
#formCreateAppart .the_menu7 li li,
#formCreateAppart .the_menu8 li li,
#formCreateAppart .the_menu9 li li,
#formCreateAppart .the_menu10 li li{
	width:180px;
	background-image:none;
	padding:0px;
	color:#CD3214;
	
}



#formCreateAppart .the_menu0 li a ,
#formCreateAppart .the_menu1 li a ,
#formCreateAppart .the_menu2 li a ,
#formCreateAppart .the_menu3 li a ,
#formCreateAppart .the_menu4 li a ,
#formCreateAppart .the_menu5 li a ,
#formCreateAppart .the_menu6 li a ,
#formCreateAppart .the_menu7 li a ,
#formCreateAppart .the_menu8 li a ,
#formCreateAppart .the_menu9 li a ,
#formCreateAppart .the_menu10 li a {
	color:#000000; 
	text-decoration:none; 
	display:block;
}

.titreSlide{
	font-family: 'Oswald', Arial;
	font-weight:100;
	font-size:18px;
	color:#000000;
	width:471px;
	float:left;
	padding-left:10px;
	padding-top:3px;
}


#titreSlide0,
#titreSlide1,
#titreSlide2,
#titreSlide3,
#titreSlide4,
#titreSlide5,
#titreSlide6,
#titreSlide7,
#titreSlide8,
#titreSlide9,
#titreSlide10{
	width:430px;
	height:23px;
	float:left;
}

#btSlide0,
#btSlide1,
#btSlide2,
#btSlide3,
#btSlide4,
#btSlide5,
#btSlide6,
#btSlide7,
#btSlide8,
#btSlide9,
#btSlide10{
	width:23px;
	height:23px;
	float:left;
	margin-top:3px;
	background-image:url(../images/bt_slide_fermer.jpg);
}













/******** Slide recherche compte Pat *******/

#MenuBack .the_menu_admin0,
#MenuBack .the_menu_admin1,
#MenuBack .the_menu_admin2,
#MenuBack .the_menu_admin3,
#MenuBack .the_menu_admin4,
#MenuBack .the_menu_admin5,
#MenuBack .the_menu_admin6,
#MenuBack .the_menu_admin7,
#MenuBack .the_menu_admin8,
#MenuBack .the_menu_admin9,
#MenuBack .the_menu_admin10{
	display:none;
	width:100%;
	margin:0; 
	padding:0; 
	list-style:none;	
}



#MenuBack .the_menu_admin0 li ,
#MenuBack .the_menu_admin1 li,
#MenuBack .the_menu_admin2 li,
#MenuBack .the_menu_admin3 li,
#MenuBack .the_menu_admin4 li,
#MenuBack .the_menu_admin5 li,
#MenuBack .the_menu_admin6 li,
#MenuBack .the_menu_admin7 li,
#MenuBack .the_menu_admin8 li,
#MenuBack .the_menu_admin9 li,
#MenuBack .the_menu_admin10 li{
	width:100%;
	display:block;
	background:#f2f1f2;
	margin:0; 
	padding:0; 
	list-style:none;	
}

div.contenuMenuAdmin{
	padding:0px 15px 0px 15px
}

img.flecheMenuAdmin{
	position:relative;
	bottom:3px;
}


.blocForm {
    margin-top: 10px;
    margin-bottom: 10px;
    
    border: 2px solid #E8E8E8;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    
    background-color: white;
}

.blocForm .title {
    padding: 10px;
    font-family: 'Lucida Grande', Arial;
    font-weight: normal;
    font-size: 16px;
    color: #3FBEB5;
    background-color: #F4F4F4;
}

.blocForm .content {
    border-top: 2px solid #E8E8E8;
    padding: 10px;
    width: auto;
}

.blocForm label {
    font-weight: normal;
}

.checkbox_block label {
    display: inline;
    padding-left: 4px;
}

.blocForm input[type="checkbox"] {
    margin: 0;
}

.blocForm.active .title {
    background-repeat: no-repeat;
    background-position: 98% 50%;
    
    padding-right: 20px;
}

.blocForm.active .title.bloc-closed {
    background-image: url('/img/chevron-bas.png');
}

.blocForm.active .title.bloc-opened {
    background-image: url('/img/chevron-haut.png');
}

.blocForm.active .title:hover {
    cursor: pointer;
}

.blocForm .checkbox {
    padding-left: 0px;
}

.blocForm .checkbox input[type="checkbox"] {
    margin-right: 20px;
    margin-top: 3px;
}