{% block subject %}
Création de votre compte propriétaire
{% autoescape false %}
{{ 'resetting.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}
{% block body_html %}
{% autoescape false %}
{% include 'PatUtilisateurBundle:Registration:email.html.twig' %}
{% endautoescape %}
{% endblock %}
