{% block content %}

  <div id="contenuCentrale1">
    <h1>Ajouter une catégorie d'équipement</h1>

    <div class="clear"></div>

    {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
    {% if app.session.flashbag.peekAll|length > 0 %}
      <div class="row">
        <div class="span12">
          {{ session_flash() }}
        </div>
      </div>
    {% endif %}

    {% if message %}
      <div class="success">
        <p>{{ message }}</p>
      </div>
    {% endif %}


    <div class="blocForm">
      <form action="" method="post" {{ form_enctype(form) }}>

        <div class="content">
          <div class="error">
            {{ form_errors(form) }}
          </div>
          <div class="row-fluid">
            <div class="span2">
              <strong>{{ form_label(form.intitule_categorie) }}</strong>
            </div>
            <div class="span6">
              {{ form_errors(form.intitule_categorie) }}
              {{ form_widget(form.intitule_categorie) }}
            </div>
            <div class="span2">
              <input class="btn btn-primary" type="submit" value="{{ 'Enregistrer' | trans }}"/>
            </div>
            <div class="span2">
              <a class="btn"  href="{{ path('pat_admin_equipement_ajouter') }}">Retour</a>
            </div>
          </div>
        </div>

        {{ form_rest(form) }}
      </form>
    </div>
    <br/><br/>

    <h1>Liste des catégories d'équipement</h1>

    <table border="0" cellpadding="2" cellspacing="1" class="tableEquipement">
      {% set i = '0' %}
      {% for categorie in categories %}
        {% if i == "10" %}
        </table>
        <table border="0" cellpadding="2" cellspacing="1" class="tableEquipement">
          {% set i = '0' %}
        {% endif %}

        <tr bgcolor="#FFFFFF">
          <td width="130">&nbsp;{{ categorie.intituleCategorie }}</td>
          <td width="70">
            <a href="{{ path('pat_admin_equipement_categorie_editer', { 'id': categorie.id }) }}"><img src="{{ asset('bundles/patcompte/images/ico_edition.png') }}" alt="Modifier"/></a>
            <a href="{{ path('pat_admin_equipement_categorie_supprimer', { 'id': categorie.id }) }}" onclick="return confirmAction()"><img src="{{ asset('bundles/patcompte/images/ico_supprimer.png') }}" alt="Supprimer"/></a>
          </td>
        </tr>
        {% set i = i + 1 %}
      {% else %}
        <h3>Aucun équipement n'a été trouvé.</h3>
      {% endfor %}
    </table>
  </div><!-- /contenuCentrale1 -->

{% endblock %}
