{% block content %}

  <div id="contenuCentrale">
    <h1>Bloquer / Débloquer des dates</h1>
    {% if form %}
      <form id="form_recherche" action="" method="post">
        <div class="blocForm">
          {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert-success">
              {{ flashMessage }}
            </div>
          {% endfor %}

          <div class="content">
            <div class="row-fluid">
              <div class="span3">
                {{ form_label(form.date_debut) }}
              </div>
              <div class="span9">
                {{ form_errors(form.date_debut) }}
                {{ form_widget(form.date_debut, { 'attr': {'class': 'cal_date_in', 'min_days': 1} }) }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span3">
                {{ form_label(form.heure_debut) }}
              </div>
              <div class="span9">
                {{ form_errors(form.heure_debut) }}
                {{ form_widget(form.heure_debut) }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span3">
                {{ form_label(form.date_fin) }}
              </div>
              <div class="span9">
                {{ form_errors(form.date_fin) }}
                {{ form_widget(form.date_fin, { 'attr': {'class': 'cal_date_out'} }) }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span3">
                {{ form_label(form.heure_fin) }}
              </div>
              <div class="span9">
                {{ form_errors(form.heure_fin) }}
                {{ form_widget(form.heure_fin) }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span3">
                {{ form_label(form.intitule) }}
              </div>
              <div class="span9">
                {{ form_errors(form.intitule) }}
                {{ form_widget(form.intitule) }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span3">
                {{ form_label(form.Appartement) }}
              </div>
              <div class="span9">
                {{ form_errors(form.Appartement) }}
                {{ form_widget(form.Appartement) }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span3">
              </div>
              <div class="span9">
                {{ form_errors(form.recontacter) }}
                {{ form_widget(form.recontacter) }}
              </div>
            </div>

            <div class="row-fluid hide js-commentaire-input">
              <div class="span3">
                {{ form_label(form.commentaire) }}
              </div>
              <div class="span9">
                {{ form_errors(form.commentaire) }}
                {{ form_widget(form.commentaire) }}
              </div>
            </div>

            <div class="alert alert-info">
              <i class="fas fa-info-circle"></i> Un ménage vous sera facturé
            </div>
            <div class="text-center">
              <input type="submit" value="Enregistrer" class="btn btn-primary"/>
            </div>

            {{ form_rest(form) }}

          </div>
        </div>
      </form>

      {% if dates_bloquees %}
        {% for date_bloquee in dates_bloquees %}
          <div class="ListeAppart row-fluid">
            <div class="row-fluid">
              <div class="span12 ListeAppart1" style="border-right: none; border-bottom: 1px solid #C5C5C5;">
                {{ date_bloquee.appartement|raw }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4 ListeAppart1">
                Période bloquée <br/>du <b>{{ date_bloquee.dateDebut|date("d/m/Y") }}{{ date_bloquee.heureDebut is not null ? ' ' ~ date_bloquee.heureDebut|date('H:i') }}</b> au <b>{{ date_bloquee.dateFin|date("d/m/Y") }}
                  {{ date_bloquee.heureFin is not null ? date_bloquee.heureFin|date('H:i') }}</b>
              </div>
              <div class="span5 ListeAppart1 center" style="margin-left: 0; min-height: 80px;">
                {% if date_bloquee.intitule %}
                  <b>{{ date_bloquee.intitule }}</b>
                {% endif %}
              </div>
              <div class="span3 ListeAppart2 center">
                <a href="{{ path('pat_calendrier_modifier', { 'id_cal' : date_bloquee.id }) }}"><img src="{{ asset('bundles/patcompte/images/ico_edition.png') }}" alt="Modifier"/></a>
                <a href="{{ path('pat_calendrier_supprimer', { 'id_cal' : date_bloquee.id }) }}" onclick="return confirmAction()"><img src="{{ asset('bundles/patcompte/images/ico_supprimer.png') }}" alt="Supprimer"/></a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}

    {% else %}
      <div class="alert alert-error">
        Vous devez avoir au moins un appartement pour pouvoir bloquer/débloquer des dates.
      </div>
    {% endif %}

  </div><!-- /contenuCentrale -->

  <div id="contenuDroite">
    <div id="blocAide">
      <div class="blocAideTitre">Aide</div>
      <br/>
      Bloquer des dates signifie que le bien en question ne sera pas disponible à la réservation pour les visiteurs du site durant la période choisie. Rendez-vous dans "les disponibilités" via le menu pour accéder aux disponibilités de vos biens.
    </div><!-- /blocAide -->

  </div><!-- /contentDroit -->


<script type="text/javascript">
$(document).ready(function() {
  $("#calendrierajouter_date_debut, #calendrierajouter_date_fin").attr('readonly', "true");

  $('.js-recontacter-input').change(function() {
    if ($(this).is(':checked')) {
      $('.js-commentaire-input').removeClass('hide');
    } else {
      $('.js-commentaire-input').addClass('hide');
      $('.js-commentaire-input').find('textarea').val('');
    }
  });

{% if tableau %}
  $("#calendrierajouter_Appartement option[value={{ tableau['Appartement'] }}]").attr('selected', 'selected');
  document.getElementById("calendrierajouter_date_debut").value = '{{ tableau['date_debut'] }}';
  document.getElementById("calendrierajouter_date_fin").value = '{{ tableau['date_fin'] }}';
  document.getElementById("calendrierajouter_intitule").value = '{{ tableau['intitule'] }}';
{% endif %}
});
</script>

{% endblock %}
