{% block content %}

  <div id="contenuCentrale1">
    <h1>Bloquer / Débloquer des dates <small>(Réf : {{ appartement.reference }})</small></h1>

    {% for flashMessage in app.session.flashbag.get('notice') %}
      <div class="alert alert-success">
        {{ flashMessage | trans }}
      </div>
    {% endfor %}


    <div class="blocForm">
      <div class="content">
        <form id="form_recherche" action="" method="post">
          {{ form_errors(form) }}

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.date_debut) }}
            </div>
            <div class="span8">
              <div>
                {{ form_errors(form.date_debut) }}
              </div>
              {{ form_widget(form.date_debut, { 'attr': {'class': 'cal_date_in', 'min_days': 1} }) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.heure_debut) }}
            </div>
            <div class="span8">
              <div>
                {{ form_errors(form.heure_debut) }}
              </div>
              {{ form_widget(form.heure_debut) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.date_fin) }}
            </div>
            <div class="span8">
              <div>
                {{ form_errors(form.date_fin) }}
              </div>
              {{ form_widget(form.date_fin, { 'attr': {'class': 'cal_date_out'} }) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.heure_fin) }}
            </div>
            <div class="span8">
              <div>
                {{ form_errors(form.heure_fin) }}
              </div>
              {{ form_widget(form.heure_fin) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.intitule) }}
            </div>
            <div class="span8">
              {{ form_errors(form.intitule) }}
              {{ form_widget(form.intitule) }}
              <br/><i>ex: travaux, mise en vente, personnel, nouveau contrat, etc</i>
            </div>
          </div>

          <div class="row-fluid m-t-sm">
            <div class="span4 right">
            </div>
            <div class="span8">
              {{ form_errors(form.recontacter) }}
              {{ form_widget(form.recontacter) }}
            </div>
          </div>

          <div class="row-fluid hide js-commentaire-input">
            <div class="span4 right">
              {{ form_label(form.commentaire) }}
            </div>
            <div class="span8">
              {{ form_errors(form.commentaire) }}
              {{ form_widget(form.commentaire) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span2">

            </div>
            <div class="span8">
              <div class="alert alert-info">
                <i class="fas fa-info-circle"></i> Un ménage vous sera facturé
              </div>
            </div>
          </div>


          <br/><br/>
          <div class="row-fluid">
            <div class="span6">
              <a class="btn btn-large" href="{{ path('pat_calendrier_affiche', { 'id_bien': appartement.id, 'annee': "now"|date("Y") }) }}">Retour</a>
            </div>
            <div class="span6 right">
              <input type="submit" value="Enregistrer" class="btn btn-primary btn-large"/>
            </div>
          </div>

          {{ form_rest(form) }}
        </form>
      </div>
    </div>


    {% if dates_bloquees %}
      <br/><br/>
      {% for date_bloquee in dates_bloquees %}
        <div class="ListeAppart row-fluid">
          <div class="span4 ListeAppart1">
            Période bloquée <br/>du <b>{{ date_bloquee.dateDebut|date("d/m/Y") }}{{ date_bloquee.heureDebut is not null ? ' ' ~ date_bloquee.heureDebut|date('H:i') }}</b> au <b>{{ date_bloquee.dateFin|date("d/m/Y") }}
              {{ date_bloquee.heureFin is not null ? date_bloquee.heureFin|date('H:i') }}</b>
          </div>
          <div class="span6 ListeAppart1 center" style="margin-left: 0; min-height: 80px;">
            {% if date_bloquee.intitule %}
              <b>{{ date_bloquee.intitule }}</b>
            {% endif %}
          </div>
          <div class="span2 ListeAppart2 center">
            <a href="{{ path('pat_calendrier_modifier_by_app', { 'id_bien': appartement.id, 'id_cal' : date_bloquee.id }) }}"><img src="{{ asset('bundles/patcompte/images/ico_edition.png') }}" alt="Modifier"/></a>
            <a href="{{ path('pat_calendrier_supprimer_by_app', { 'id_bien': appartement.id, 'id_cal' : date_bloquee.id }) }}" onclick="return confirmAction()"><img src="{{ asset('bundles/patcompte/images/ico_supprimer.png') }}" alt="Supprimer"/></a>
          </div>
        </div>
      {% endfor %}
    {% endif %}

  </div><!-- /contenuCentrale1 -->


<script type="text/javascript">
$(document).ready(function() {
  $("#calendrier_date_debut, #calendrier_date_fin").attr('readonly', "true");

  $('.js-recontacter-input').change(function() {
    if ($(this).is(':checked')) {
      $('.js-commentaire-input').removeClass('hide');
    } else {
      $('.js-commentaire-input').addClass('hide');
      $('.js-commentaire-input').find('textarea').val('');
    }
  });
});
</script>

{% endblock %}
