{% block content %}

  <div id="contenuCentrale1">
    <h1>Calendrier des disponibilités {{ annee }}<small> (Réf : {{ appartement.reference }})</small></h1>

    {% if message %}
      <div class="alert alert-success">
        {% autoescape false %}
          {{ message }}
        {% endautoescape %}
      </div>
    {% endif %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
      <div class="alert alert-success">
        {{ flashMessage }}
      </div>
    {% endfor %}

    <div class="row-fluid right"><a href="{{ path('pat_calendrier_ajout_by_app',{ 'id_bien': appartement.id }) }}" class="btn btn-primary">Bloquer / débloquer des dates</a></div>

    <br/><br/>
    <div class="row-fluid">
      <div class="span4">
        <a href="{{ path('pat_calendrier_affiche', { 'id_bien': appartement.id, 'annee': annee-1 }) }}" class="btn">{{ annee-1 }}</a>
      </div>
      <div class="span4 center">
        <a href="{{ path('pat_calendrier_affiche', { 'id_bien': appartement.id, 'annee': "now"|date("Y") }) }}" class="btn">Aujourd'hui</a>
      </div>
      <div class="span4 right">
        <a href="{{ path('pat_calendrier_affiche', { 'id_bien': appartement.id, 'annee': annee+1 }) }}" class="btn">{{ annee+1 }}</a>
      </div>
    </div>




    {% if tabCal %}
      <br/>
      <div class="row-fluid">
        <div class="span4">
          <div style="width:20px; height:20px; background-color:{{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_COLOR_BLOQUE_RESERVATION') }}; display: inline-block;"></div> Bloqué par une réservation en ligne
        </div>
        <div class="span4">
          <div style="width:20px; height:20px; background-color:{{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_COLOR_BLOQUE_PROPRIETAIRE') }}; display: inline-block;"></div> Bloqué par le propriétaire
        </div>
        <div class="span4">
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <div style="width:20px; height:20px; background-color:{{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_COLOR_BLOQUE_ADMIN') }}; display: inline-block;"></div> Bloqué par Class Appart ®
        </div>
        <div class="span4">
          {#<div style="width:20px; height:20px; background-color:{{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_COLOR_BLOQUE_ADMIN_MENAGE') }}; display: inline-block;"></div> Bloqué pour ménage#}
          <div class="bloc-menage" style="width:20px; height:20px; display: inline-block;"></div> Bloqué pour ménage
        </div>
        <div class="span4">
          <div style="width:20px; height:20px; background-color:{{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_COLOR_BLOQUE_ADMIN_TRAVAUX') }}; display: inline-block;"></div> Bloqué pour travaux
        </div>
      </div>

      {% autoescape false %}
        {{ tabCal }}
      {% endautoescape %}
    {% endif %}

  </div><!-- /contenuCentrale1 -->

{% endblock %}