{% block content %}

  <div id="contenuCentrale1">
    <h1>Disponibilités</h1>

    {% if form %}
      <div id="formCreateAppart">
        <form id="form_recherche" action="{{ path('pat_calendrier_index') }}" method="post">
          <div class="blocForm">
            <div class="content">
              <div class="row-fluid">
                <div class="span3">
                  {{ form_label(form.mois) }}
                </div>
                <div class="span9">
                  {{ form_widget(form.mois) }}
                </div>
              </div>
              <div class="row-fluid">
                <div class="span3">
                  {{ form_label(form.annee) }}
                </div>
                <div class="span9">
                  {{ form_widget(form.annee) }}
                </div>
              </div>
              <div class="row-fluid">
                <div class="span3">
                  {{ form_label(form.Appartement) }}
                </div>
                <div class="span9">
                  <div class="span8">
                    {{ form_widget(form.Appartement) }}
                  </div>
                  <div class="span4">
                    <input class="btn btn-primary" type="submit" value="Rechercher"/>
                  </div>
                </div>
              </div>

            </div>
          </div>
          {{ form_rest(form) }}
        </form>
      </div>
    {% else %}
      <p>Vous devez avoir au moins un appartement pour pouvoir visualiser le calendrier.</p>
    {% endif %}


    {% if tabCal %}
      <br/>
      <div class="row-fluid">
        <div class="span4">
          <div style="width:20px; height:20px; background-color:{{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_COLOR_BLOQUE_RESERVATION') }}; display: inline-block;"></div> Bloqué par une réservation en ligne
        </div>
        <div class="span4">
          <div style="width:20px; height:20px; background-color:{{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_COLOR_BLOQUE_PROPRIETAIRE') }}; display: inline-block;"></div> Bloqué par le propriétaire
        </div>
        <div class="span4">
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <div style="width:20px; height:20px; background-color:{{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_COLOR_BLOQUE_ADMIN') }}; display: inline-block;"></div> Bloqué par Class Appart ®
        </div>
        <div class="span4">
          {#<div style="width:20px; height:20px; background-color:{{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_COLOR_BLOQUE_ADMIN_MENAGE') }}; display: inline-block;"></div> Bloqué pour ménage#}
          <div class="bloc-menage" style="width:20px; height:20px; display: inline-block;"></div> Bloqué pour ménage
        </div>
        <div class="span4">
          <div style="width:20px; height:20px; background-color:{{ constant('\\Pat\\CompteBundle\\Tools\\CalendrierTools::CONSTANT_COLOR_BLOQUE_ADMIN_TRAVAUX') }}; display: inline-block;"></div> Bloqué pour travaux
        </div>
      </div>

      {% autoescape false %}
        {{ tabCal }}
      {% endautoescape %}
    {% endif %}

  </div><!-- /contenuCentrale1 -->


<script type="text/javascript">
$(document).ready(function() {
{% if tableauCalendrier %}
  $("#calendrierrecherche_mois option[value={{ tableauCalendrier['mois'] }}]").attr('selected', 'selected');
  $("#calendrierrecherche_annee option[value={{ tableauCalendrier['annee'] }}]").attr('selected', 'selected');
  $("#calendrierrecherche_Appartement option[value='{{ tableauCalendrier['Appartement'] }}']").attr('selected', 'selected');
{% else %}
  var d = new Date();
  var mois = d.getMonth() + 1 + "";
  var annee = d.getFullYear() + "";
  if (mois.length == "1") {
    mois = "0" + mois;
  }
  $("#calendrierrecherche_mois option[value=" + mois + "]").attr('selected', 'selected');
  $("#calendrierrecherche_annee option[value=" + annee + "]").attr('selected', 'selected');
{% endif %}
});
</script>

{% endblock %}
