{% set recontacter = recontacter is defined ? recontacter : false %}
{{ 'Bonjour' | trans }},
Le {{ user.type }} <strong>{{ user.civilite }} {{ user.nom | upper }} {{ user.prenom | capitalize }} | Réf : {{ user.username }}</strong>{% if true == recontacter %}
a demandé à être recontacté{{user.civilite == 'M.' ? '' : 'e'}} pour un blocage de dates.
{% else %}
a effectué un blocage de dates.
{% endif %}

Bien : {{ calendrier.appartement.type | trans }} {% if calendrier.appartement.nbPieces %}T{{ calendrier.appartement.nbPieces }}{% endif %} - {{ calendrier.appartement.surfaceSol }} m2 situé à {{ calendrier.appartement.ville.nom }} {{ calendrier.appartement.ville.codePostal }} | Réf : {{ calendrier.appartement.reference }}

Du : {{ calendrier.dateDebut|date('d/m/Y') }} {{ calendrier.heureDebut is not null ? calendrier.heureDebut|date('H:i') }}
Au : {{ calendrier.dateFin|date('d/m/Y') }} {{ calendrier.heureFin is not null ? calendrier.heureFin|date('H:i') }}
Intitulé : {{ calendrier.intitule|default('-') }}
Commentaire : {{ commentaire|default('-') }}
----------------------------------------------------------------------------------------


Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
