{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  {% set recontacter = recontacter is defined ? recontacter : false %}

  <p>{{ 'Bonjour' | trans }},</p>

  <p>Le {{ user.type }} <a href="{% if user.type == "Propriétaire" %}{{ app.request.getSchemeAndHttpHost()~path('pat_admin_proprietaire_afficher', { 'id_proprio': user.id }) }}{% else %}{{ app.request.getSchemeAndHttpHost()~path('pat_admin_locataire_afficher', { 'id_locataire': user.id }) }}{% endif %}"><strong>{{ user.civilite }} {{ user.nom | upper }} {{ user.prenom | capitalize }} | Réf : {{ user.username }}</strong></a>
  {% if true == recontacter %}
    a demandé à être recontacté{{user.civilite == 'M.' ? '' : 'e'}} pour un blocage de dates.
  {% else %}
    a effectué un blocage de dates.
  {% endif %}
  </p>

  <p>Bien : {{ calendrier.appartement.type | trans }} {% if calendrier.appartement.nbPieces %}T{{ calendrier.appartement.nbPieces }}{% endif %} - {{ calendrier.appartement.surfaceSol }} m2 situé à {{ calendrier.appartement.ville.nom }} {{ calendrier.appartement.ville.codePostal }} | Réf : {{ calendrier.appartement.reference }}</p>

  <p>Du : {{ calendrier.dateDebut|date('d/m/Y') }} {{ calendrier.heureDebut is not null ? calendrier.heureDebut|date('H:i') }}</p>
  <p>Au : {{ calendrier.dateFin|date('d/m/Y') }} {{ calendrier.heureFin is not null ? calendrier.heureFin|date('H:i') }}</p>
  <p>Intitulé : {{ calendrier.intitule|default('-') }}</p>
  <p>Commentaire : {{ commentaire|default('-') }}</p>

  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>

{% endblock %}
