{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}

  <p>{{ 'Bonjour' | trans }} {{ user.civilite }} {{ user.nom | upper }},</p>

  <p>Voici le rappel du déblocage de dates que vous avez effectué.</p>

  <p>Bien : {{ calendrier.appartement.type | trans }} {% if calendrier.appartement.nbPieces %}T{{ calendrier.appartement.nbPieces }}{% endif %} - {{ calendrier.appartement.surfaceSol }} m2 situé à {{ calendrier.appartement.ville.nom }} {{ calendrier.appartement.ville.codePostal }} | Réf : {{ calendrier.appartement.reference }}</p>

  <p>Du : {{ calendrier.dateDebut|date('d/m/Y') }} {{ calendrier.heureDebut is not null ? calendrier.heureDebut|date('H:i') }}</p>
  <p>Au : {{ calendrier.dateFin|date('d/m/Y') }} {{ calendrier.heureFin is not null ? calendrier.heureFin|date('H:i') }}</p>
  <p>Intitulé : {{ calendrier.intitule|default('-') }}</p>
  <p>Commentaire : {{ commentaire|default('-') }}</p>

  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>

{% endblock %}
