{% block content %}

  <div id="contenuCentrale1">
    <div id="titreAccueilAdmin">
      <h1><span class="spanH1">Compte utilisateur</span></h1>
      <img src="{{ asset('bundles/patcompte/images/ico-GestionCompteUtilisateur.png') }}" alt="" title=""/>
    </div>
    <div class="clear"></div>


    {% if message %}
      <div class="success">
        <p>{{ message }}</p>
      </div>
    {% endif %}


    {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
    {% if app.session.flashbag.peekAll|length > 0 %}
      <div class="row">
        <div class="span12">
          <div class="alert alert-info">
          {{ session_flash() }}
          </div>
        </div>
      </div>
    {% endif %}

    <div id="ZoneContenu">
      <div id="ZoneContenuHaut"></div><!-- /ZoneContenuHaut -->
      <div id="ZoneContenuPixel">
        <div id="ZoneContenuPixel1">
          <div id="formRegistrationProprio">

            {% if id_user > 0 %}
              <form action="{{ path('pat_admin_utilisateur_editer',{ 'id_user': id_user }) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
              {% else %}
                <form action="{{ path('pat_admin_utilisateur_ajouter') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                {% endif %}
                <div class="error">
                  {{ form_errors(form) }}
                </div>
                <table border="0" cellpadding="2" cellspacing="0" class="formulaire" id="tableAjoutUser">

                  {% if id_user > 0 %}
                    <tr>
                      <td width="210">Identifiant</td>
                      <td width="100" align="left">
                        <b>{{ utilisateur.username }}</b>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                    </tr>
                  {% endif %}

                  <tr>
                    <td width="210">{{ form_label(form.civilite) }}</td>
                    <td width="100" align="left">
                      {{ form_errors(form.civilite) }}
                      {{ form_widget(form.civilite) }}
                    </td>
                  </tr>
                  <tr>
                    <td>{{ form_label(form.nom) }}</td>
                    <td>
                      {{ form_errors(form.nom) }}
                      {{ form_widget(form.nom) }}
                    </td>
                  </tr>
                  <tr>
                    <td>{{ form_label(form.prenom) }}</td>
                    <td>
                      {{ form_errors(form.prenom) }}
                      {{ form_widget(form.prenom) }}
                    </td>
                  </tr>
                  <tr>
                    <td>{{ form_label(form.fonction) }}</td>
                    <td>
                      {{ form_errors(form.fonction) }}
                      {{ form_widget(form.fonction) }}
                    </td>
                  </tr>
                  <tr>
                    <td>{{ form_label(form.telephone) }}</td>
                    <td>
                      {{ form_errors(form.telephone) }}
                      {{ form_widget(form.telephone) }}
                    </td>
                  </tr>
{#                  <tr>
                    <td>{{ form_label(form.date_naissance) }}* : </td>
                    <td>
                      {{ form_errors(form.date_naissance) }}
                      {{ form_widget(form.date_naissance) }}
                    </td>
                  </tr>#}
                  <tr>
                    <td>{{ form_label(form.email) }}</td>
                    <td>
                      {{ form_errors(form.email) }}
                      {{ form_widget(form.email) }}
                    </td>
                  </tr>

                  <tr><td colspan="2"><hr/></td></tr>

                  <tr>
                    <td>{{ form_label(form.role) }}</td>
                    <td>
                      {{ form_errors(form.role) }}
                      {{ form_widget(form.role) }}
                    </td>
                  </tr>

                  {% if id_user <= 0 %}
                    <tr>
                      <td>{{ form_label(form.username) }}</td>
                      <td>
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username) }}
                      </td>
                    </tr>
                    <tr>
                      <td>{{ form_label(form.password) }}</td>
                      <td>
                        {{ form_errors(form.password) }}
                        {{ form_widget(form.password) }}
                      </td>
                    </tr>
                  {% endif %}


                  <tr>
                    <td colspan="2"><br/></td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
                      {{ form_rest(form) }}

                      {% if id_user %}
                        <br/><br/><p align="right"><a href="{{ path('pat_admin_utilisateur_password', { 'id_user': utilisateur.id }) }}" class="boutonJ2">Changer mot de passe</a></p>
                      {% endif %}
                    </td>
                  </tr>
                </table>
                {{ form_rest(form) }}

              </form>


          </div>
        </div><!-- /ZoneContenuPixel1 -->
      </div><!-- /ZoneContenuPixel -->
      <div id="ZoneContenuBas"></div><!-- /ZoneContenuBas -->
    </div><!-- /ZoneContenu -->

  </div><!-- /contenuCentrale1 -->

{% endblock %}
