
{% extends '::email_layout.html.twig' %}
{% block title %}
{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}
  <p>Bonjour,</p>

  <p>Votre mot de passe a été changé par un administrateur.</p>

  <p>Votre nouveau mot de passe est : <strong>{{ password }}</strong></p>

  <p>Pour vous connecter avec votre nouveau mot de passe rendez-vous dans la partie <a href="{{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }}">Mon compte.</a></p>

  <hr>
  <p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.</p>
  <p>À bientôt sur class-appart.com.</p>
  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>
{% endblock %}
