{% block content %}

  <div id="contenuCentrale1">
    <div id="titreAccueilAdmin">
      <h1><span class="spanH1">Liste des comptes utilisateurs</span></h1>
      <img src="{{ asset('bundles/patcompte/images/ico-GestionCompteUtilisateur.png') }}" alt="" title=""/>
    </div>

    <div class="clear"></div>

    {% if message %}
      <div class="alert alert-success">
        <p>{{ message }}</p>
      </div>
    {% endif %}

    {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
    {% if app.session.flashbag.peekAll|length > 0 %}
      <div class="alert alert-info">
        {{ session_flash() }}
      </div>
    {% endif %}

    {% set i = '0' %}
    {% if utilisateur %}

      {% for utilis in utilisateur %}
        <div class="blocUtilisateurtListeAdmin">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr valign="top">
              <td width="10"></td>
              <td width="40"><img src="{{ asset('bundles/patcompte/images/ico-pt-locataire.png') }}" alt=""/></td>
              <td width="420">

                <div class="titreProprio"><span {% if utilis.enabled == "0"  %} class="texteBarreProprio" {% endif %}>{{ utilis.prenom }} {{ utilis.nom }}</span></div>

              </td>

              <!-- on peut accèder au option si on est l'utilisateur ou bien si on est super admin -->
              {% if role == "ROLE_SUPER_ADMIN" or user.id == utilis.id %}
                <td width="10"><div class="sepVerticalProprio"></div></td>
                <td width="85">
                  <div class="btDetail">
                    <a href="{{ path('pat_admin_utilisateur_editer', { 'id_user': utilis.id }) }}">modifier</a>
                  </div>
                  <div class="btDetail">
                    <a href="{{ path('pat_admin_utilisateur_supprimer', { 'userId': utilis.id }) }}" onclick="return confirm('Supprimer ce compte ?');">supprimer</a>
                  </div>
                </td>
                <td width="80">
                  {% if utilis.enabled == "1" %}
                    <div class="btModifierUser"><a href="{{ path('pat_admin_utilisateur_desactiver', { 'id_user': utilis.id }) }}" onclick="return confirmAction()">Désactiver</a></div>
                  {% else %}
                    <div class="btModifierUser"><a href="{{ path('pat_admin_utilisateur_activer', { 'id_user': utilis.id }) }}" onclick="return confirmAction()">Activer</a></div>
                  {% endif %}
                </td>
              {% endif %}
            </tr>
          </table>
        </div>
        {% set i = i + 1 %}
      {% endfor %}

    {% else %}

      Aucun utilisateur trouvé.

    {% endif %}

    <br/><br/>
    <p align="right">
      <a href="{{ path('pat_admin_utilisateur_ajouter')}}" class="boutonJ3">Ajouter un utilisateur</a>
    </p>

  </div><!-- /contenuCentrale1 -->

{% endblock %}
