{% block content %}

  <div id="contenuCentrale1">
    <h1>Modification du mot de passe</h1>

    <div class="clear"></div>

    {% if message %}
      <div class="alert alert-danger">
        {{ message }}
      </div>
    {% endif %}

    <div class="blocForm">
      <div class="content">
        <form action="{{ path('pat_admin_utilisateur_password',{ 'id_user': utilisateur.id }) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

          <div class="error">
            {{ form_errors(form) }}
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              Identifiant :
            </div>
            <div class="span8">
              <b>{{ utilisateur.username }}</b>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.password_new) }}
            </div>
            <div class="span8">
              {{ form_errors(form.password_new) }}
              {{ form_widget(form.password_new) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.password_new_again) }}
            </div>
            <div class="span8">
              {{ form_errors(form.password_new_again) }}
              {{ form_widget(form.password_new_again) }}
            </div>
          </div>

          <br/><br/>
          <div class="row-fluid center">
            <input class="btn btn-primary btn-large" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
          </div>

          {{ form_rest(form) }}
        </form>
      </div>
    </div>
  </div><!-- /contenuCentrale1 -->

{% endblock %}
