<div id="contenuCentrale">


  <h1>Demander un devis</h1>

  <form action="{{ path('pat_front_formulaire_demande_devis') }}" method="post" {{ form_enctype(formDemande) }}>
    <div class="blocForm">
      {{ form_errors(formDemande) }}
      <div class="content demandeDevisForm">
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formDemande.nom) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.nom) }}
            {{ form_widget(formDemande.nom) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formDemande.prenom) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.prenom) }}
            {{ form_widget(formDemande.prenom) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formDemande.email) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.email) }}
            {{ form_widget(formDemande.email) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formDemande.telephone) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.telephone) }}
            {{ form_widget(formDemande.telephone) }}
          </div>
        </div>
        <div class="row-fluid typeEntity">
          <div class="span4">
            {{ form_label(formDemande.typeEntity) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.typeEntity) }}
            {{ form_widget(formDemande.typeEntity) }}
          </div>
        </div>

        <div class="row-fluid societe" id="societe">
          <div class="span4">
            {{ form_label(formDemande.societe) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.societe) }}
            {{ form_widget(formDemande.societe) }}
          </div>
        </div>
        <div class="row-fluid fonction" id="fonction">
          <div class="span4">
            {{ form_label(formDemande.fonction) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.fonction) }}
            {{ form_widget(formDemande.fonction) }}
          </div>
        </div>
        <div class="row-fluid nbAppartements" id="nbAppartements">
          <div class="span4">
            {{ form_label(formDemande.nbAppartements) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.nbAppartements) }}
            {{ form_widget(formDemande.nbAppartements) }}
          </div>
        </div>





        <div class="row-fluid typeAppartement">
          <div class="span4">
            {{ form_label(formDemande.typeAppartement) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.typeAppartement) }}
            {{ form_widget(formDemande.typeAppartement) }}
          </div>
        </div>
        <div class="row-fluid nbPieces">
          <div class="span4">
            {{ form_label(formDemande.nbPieces) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.nbPieces) }}
            {{ form_widget(formDemande.nbPieces) }}
          </div>
        </div>
        <div class="row-fluid quartier">
          <div class="span4">
            {{ form_label(formDemande.quartier) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.quartier) }}
            {{ form_widget(formDemande.quartier) }}
          </div>
        </div>
        <div class="row-fluid arrivee">
          <div class="span4">
            {{ form_label(formDemande.arrivee) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.arrivee) }}
            {{ form_widget(formDemande.arrivee, {'attr' : {'class':'cal_date_in'}}) }}
          </div>
        </div>
        <div class="row-fluid depart">
          <div class="span4">
            {{ form_label(formDemande.depart) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.depart) }}
            {{ form_widget(formDemande.depart, {'attr' : {'class':'cal_date_out'}}) }}
          </div>
        </div>

        <div class="row-fluid nbPersonnes" id="nbPersonnes">
          <div class="span4">
            {{ form_label(formDemande.nbPersonnes) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.nbPersonnes) }}
            {{ form_widget(formDemande.nbPersonnes) }}
          </div>
        </div>

        <div class="row-fluid" id="nbPersonnesTitle">
          <div class="span12">Nombre de personnes :</div>
        </div>
        <div class="row-fluid nbAdultes" id="nbAdultes">
          <div class="span4">
            {{ form_label(formDemande.nbAdultes) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.nbAdultes) }}
            {{ form_widget(formDemande.nbAdultes) }}
          </div>
        </div>
        <div class="row-fluid nbEnfants" id="nbEnfants">
          <div class="span4">
            {{ form_label(formDemande.nbEnfants) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.nbEnfants) }}
            {{ form_widget(formDemande.nbEnfants) }}
          </div>
        </div>
        <div class="row-fluid" id="nbLitTitle">
          <div class="span12">Nombre de lits à préparer :</div>
        </div>
        <div class="row-fluid nbLitSimple" id="nbLitSimple">
          <div class="span4">
            {{ form_label(formDemande.nbLitSimple) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.nbLitSimple) }}
            {{ form_widget(formDemande.nbLitSimple) }}
          </div>
        </div>
        <div class="row-fluid nbLitDouble" id="nbLitDouble">
          <div class="span4">
            {{ form_label(formDemande.nbLitDouble) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.nbLitDouble) }}
            {{ form_widget(formDemande.nbLitDouble) }}
          </div>
        </div>
        <div class="row-fluid nbCanapeConvertible" id="nbCanapeConvertible">
          <div class="span4">
            {{ form_label(formDemande.nbCanapeConvertible) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.nbCanapeConvertible) }}
            {{ form_widget(formDemande.nbCanapeConvertible) }}
          </div>
        </div>
        <div class="row-fluid message">
          <div class="span4">
            {{ form_label(formDemande.message) }}
          </div>
          <div class="span8">
            {{ form_errors(formDemande.message) }}
            {{ form_widget(formDemande.message) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formDemande.human) }}
          </div>
          <div class="span8">
            <div>{{ question }}</div>
            <div>{{ form_errors(formDemande.human) }}</div>
            {{ form_widget(formDemande.human) }}
          </div>
        </div>

        <span class="spanRequired">{{ 'champs obligatoires' | trans }}</span>
      </div>
    </div>
    <div class="center padding">
      <input type="submit" class="btn btn-primary btn-large" value="{{ 'Envoyer' | trans }}" name="SendContact" />
    </div>
    {{ form_rest(formDemande) }}
  </form>

</div><!-- /contenuCentrale -->


<script type="text/javascript">
function controleEntity() {
  if ($("#frontformulairedemandedevis_typeEntity_0").attr("checked")) {
    $('#societe, #fonction, #nbAppartements, #nbPersonnes').hide();
    $('#nbAdultes, #nbEnfants, #nbPersonnesTitle').show();
  }

  if ($("#frontformulairedemandedevis_typeEntity_1").attr("checked")) {
    $('#nbAdultes, #nbEnfants, #nbPersonnesTitle').hide();
    $('#societe, #fonction, #nbAppartements, #nbPersonnes').show();
  }
}

$(document).ready(function() {

  controleEntity();

  // Go particulier
  $("#frontformulairedemandedevis_typeEntity_0").change(function () {
    controleEntity();
  });

  // Go entreprise
  $("#frontformulairedemandedevis_typeEntity_1").change(function () {
    controleEntity();
  });
});
</script>
