{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>Bonjour,</p>
  <p>Nous vous informons que votre propositions de bien a bien été prise en compte.</p>

  <p>Nous mettons tout en oeuvre pour répondre à votre demande dans les plus bref délais.</p>

  <h3>Votre proposition de bien</h3>
  <hr>
  Envoyé le {{ 'now' | date('d/m/Y') }}</p>

<p>{{ 'Nom' | trans }} : {{form.nom}}<br/>
  {{ 'Prénom' | trans }} : {{form.prenom}}<br/>
  {{ 'Email' | trans }} : {{form.email}}<br/>
  {{ 'Tél' | trans }} : {{form.telephone}}</p>

<p>{{ 'Je suis' | trans }} : {{form.typeEntity}}</p>


{# cas du particulier #}
{% if form.typeEntity == 'Un particulier' %}

  <p>{{ 'Type d’appartement recherché' | trans }} : {% for type in form.typeAppartement %}{{type}}{% if not loop.last %}/{% endif %} {% endfor %}<br/>
    {{ 'Nombre de pièces' | trans }} : {% for piece in form.nbPieces %}T{{piece}}{% if not loop.last %}/{% endif %} {% endfor %}<br/>
    {{ 'Quartier' | trans }} : {% if form.quartier %}{{form.quartier.nom}}{% else %}Tous les quartiers{% endif %}</p>

  <p>{{ 'Date d’arrivée' | trans }} : {{form.arrivee}}<br/>
    {{ 'Date de départ' | trans }} : {{form.depart}}</p>

  <p>{{ 'Nombre de personnes' | trans }} :
  <ul>
    <li>{{ 'Dont adultes' | trans }} : {{form.nbAdultes}} </li>
    <li>{{ 'Dont enfants (-18 ans)' | trans }} : {{form.nbEnfants}} </li>
  </ul>
</p>

<p>{{ 'Nombre de lits à préparer' | trans }} :
<ul>
  <li>{{ 'Dont lits simples' | trans }} : {{form.nbLitSimple}} </li>
  <li>{{ 'Dont lits doubles' | trans }} : {{form.nbLitDouble}} </li>
  <li>{{ 'Dont canapés convertibles' | trans }} : {{form.nbCanapeConvertible}} </li>
</ul>
</p>

{% else %}

  {# Cas de l'entreprise #}
  <p>{{ 'Société' | trans }} : {{form.societe}}<br/>
    {{ 'Fonction' | trans }} : {{form.fonction}}</p>

  <p>{{ 'Nombre d’appartement(s) recherché(s) ' | trans }} : {{form.nbAppartements}}</p>

  <p>{{ 'Type d’appartement recherché' | trans }} : {% for type in form.typeAppartement %}{{type}}{% if not loop.last %}/{% endif %} {% endfor %}<br/>
    {{ 'Nombre de pièces' | trans }} : {% for piece in form.nbPieces %}T{{piece}}{% if not loop.last %}/{% endif %} {% endfor %}<br/>
    {{ 'Quartier' | trans }} : {{form.quartier}}</p>

  <p>{{ 'Date d’arrivée' | trans }} : {{form.arrivee}}<br/>
    {{ 'Date de départ' | trans }} : {{form.depart}}</p>

  <p>{{ 'Nombre de personnes' | trans }} : {{form.nbPersonnes}}
  </p>

{% endif %}




<p>{{ 'Message' | trans }} :  {{form.message|nl2br}}



</p>

<hr>
<p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.</p>
<p>À bientôt sur class-appart.com.</p>
<hr>

<p class="legend">
  Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
</p>
{% endblock %}
