<div id="contentDroit">
  <div id="contenuCentrale" class="center">
    <h1>{{ "Contact" |  trans }}</h1>

    <h3>{{ "Une erreur est survenu durant l'envoi du mail" |  trans }}<br/>{{ "Votre message n'a pas été envoyé !" |  trans }}</h3>

    <div class="padding">
      <a class="btn btn-primary btn-large" href="{{ path('pat_front_formulaire_contact') }}">{{ "Revenir au formulaire" |  trans }}</a>
    </div>

  </div><!-- /contenuCentrale -->

</div><!-- /contentDroit -->
