{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>Bonjour,</p>
  <p>Nous vous informons que votre propositions de bien a bien été prise en compte.</p>

  <p>Nous mettons tout en oeuvre pour répondre à votre demande dans les plus bref délais.</p>

  <h3>Votre proposition de bien</h3>
  <hr>
  Envoyé le {{ 'now' | date('d/m/Y') }}</p>

<p>{{ 'Nom' | trans }} : {{form.nom}}<br/>
  {{ 'Prénom' | trans }} : {{form.prenom}}<br/>
  {{ 'Email' | trans }} : {{form.email}}<br/>
  {{ 'Tél' | trans }} : {{form.telephone}}</p>

<p>{{ 'Nombre d’appartement(s) à louer' | trans }} : {{form.nbAppartements}}</p>

<p>{{ 'Surface moyenne (par appartement)' | trans }} : {% if form.surface is not empty %}{{form.surface}} m<sup>2</sup>{% endif %}<br/>
  {{ 'Meublé' | trans }} : {{form.isMeuble}} {{form.nbMeuble}}<br/>
  {{ 'Déjà en location' | trans }} : {{form.isLoue}} {{form.nbLoue}}<br/>
  {{ 'Quartier' | trans }} : {% if form.quartier is not empty %} {{form.quartier.nom}} {% endif %}</p>

<p>{{ 'Disponibilité à la location' | trans }} : {{form.disponibilite}}</p>

<p>{{ 'Formule choisie' | trans }} : {{form.formule}} </p>

<p>{{ 'Comment avez-vous connu Class Appart' | trans }} :  {% for connaissance in form.connaissance %}{{connaissance}}{% if not loop.last %}/{% endif %} {% endfor %}</p>

<hr>
<p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.</p>
<p>À bientôt sur class-appart.com.</p>
<hr>

<p class="legend">
  Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
</p>
{% endblock %}
