{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>Bonjour,</p>
  <p>Votre demande de contact class-appart.com a bien été prise en compte.</p>

  <p>Nous mettons tout en oeuvre pour répondre à votre demande dans les plus bref délais.</p>

  <h3>Votre message</h3>
  <hr>
  Envoyé le {{ 'now' | date('d/M/Y') }}

  {{ 'Nom' | trans }} : {{contact.nom}}<br/>
  {{ 'Prenom' | trans }} : {{contact.prenom}}<br/>
  {{ 'Société' | trans }} : {{contact.societe}}<br/>
  {{ 'Fonction' | trans }} : {{contact.fonction}}<br/>
  {{ 'Mail' | trans }} : {{contact.email}}<br/>
  {{ 'Tel' | trans }} : {{contact.tel}}<br/><br/>
  {{ 'Objet' | trans }} : {{contact.objet}} <br/>
  {{ 'Message' | trans }} : <br/><br/>
  {{contact.message|nl2br}}
  <hr>
  <p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.</p>
  <p>À bientôt sur class-appart.com.</p>
  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>
{% endblock %}
