Bonjour,
Votre demande de contact class-appart.com a bien été prise en compte.

Nous mettons tout en oeuvre pour répondre à votre demande dans les plus bref délais.

Votre message
----------------------------------------------------------------------------------------------------
Envoyé le {{ 'now' | date('d/M/Y') }}

{{ 'Nom' | trans }} : {{contact.nom}}
{{ 'Prenom' | trans }} : {{contact.prenom}}<
{{ 'Société' | trans }} : {{contact.societe}}
{{ 'Fonction' | trans }} : {{contact.fonction}}
{{ 'Mail' | trans }} : {{contact.email}}
{{ 'Tel' | trans }} : {{contact.tel}}
{{ 'Objet' | trans }} : {{contact.objet}} 
{{ 'Message' | trans }} : 
{{contact.message}}
----------------------------------------------------------------------------------------------------
Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.
À bientôt sur class-appart.com.
----------------------------------------------------------------------------------------------------


    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
