<div id="contentDroit">
  <div id="contenuCentrale" class="center">
    <h1>{{ "Demande de devis" |  trans }}</h1>

    <h3>{{ "Votre message a bien été envoyé !" |  trans }}<br/>{{ "Nous allons traiter votre demande dans les brefs délais" |  trans }}</h3>

    <div class="padding">
      <a class="btn btn-primary btn-large" href="{{ path('pat_front_formulaire_demande_devis') }}">{{ "Revenir au formulaire" |  trans }}</a>
    </div>

  </div><!-- /contenuCentrale -->

</div><!-- /contentDroit -->
