<div id="contenuCentrale">


  <h1>{{ 'Contact' | trans }}</h1>

  <form action="{{ path('pat_front_formulaire_contact') }}" method="post" {{ form_enctype(formContact) }}>
    <div class="blocForm">
      {{ form_errors(formContact) }}
      <div class="content">
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formContact.nom) }}
          </div>
          <div class="span8">
            {{ form_errors(formContact.nom) }}
            {{ form_widget(formContact.nom) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formContact.prenom) }}
          </div>
          <div class="span8">
            {{ form_errors(formContact.prenom) }}
            {{ form_widget(formContact.prenom) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formContact.societe) }}
          </div>
          <div class="span8">
            {{ form_errors(formContact.societe) }}
            {{ form_widget(formContact.societe) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formContact.fonction) }}
          </div>
          <div class="span8">
            {{ form_errors(formContact.fonction) }}
            {{ form_widget(formContact.fonction) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formContact.email) }}
          </div>
          <div class="span8">
            {{ form_errors(formContact.email) }}
            {{ form_widget(formContact.email) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formContact.tel) }}
          </div>
          <div class="span8">
            {{ form_errors(formContact.tel) }}
            {{ form_widget(formContact.tel) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formContact.objet) }}
          </div>
          <div class="span8">
            {{ form_errors(formContact.objet) }}
            {{ form_widget(formContact.objet, { 'attr': {'class': 'span12'} }) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formContact.message) }}
          </div>
          <div class="span8">
            {{ form_errors(formContact.message) }}
            {{ form_widget(formContact.message, { 'attr': {'class': 'span12', 'rows': '5'} }) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formContact.human) }}
          </div>
          <div class="span8">
            {{ question }}
            {{ form_errors(formContact.human) }}
            {{ form_widget(formContact.human, { 'attr': {'class': 'span12'} }) }}
          </div>
        </div>
        <span class="spanRequired">{{ 'champs obligatoires' | trans }}</span>
      </div>
    </div>
    <div class="center padding">
      <input type="submit" class="btn btn-primary btn-large" value="{{ 'Envoyer' | trans }}" name="SendContact" />
    </div>
    {{ form_rest(formContact) }}
  </form>

  <div class="row-fluid"><br/>
    <p>
      <strong>{{ 'Service de reservation' | trans }}</strong><br/>
      <a href="mailto:info@class-appart.com">info@class-appart.com</a>
    </p>

    <p>
      <strong>{{ 'Service propriétaire' | trans }}</strong><br/>
      <a href="mailto:proprietaire@class-appart.com">proprietaire@class-appart.com</a>
    </p>

    <p>
      <strong>{{ 'Service concergerie' | trans }}</strong><br/>
      <a href="mailto:conciergerie@class-appart.com">conciergerie@class-appart.com</a>
    </p>

    <p>
      <strong>{{ "Numéro d'urgence" | trans }}</strong><br/>
      06.10.64.33.08
    </p>

  </div>
</div><!-- /contenuCentrale -->
