<div id="contenuCentrale">


  <h1>Proposer un bien</h1>

  <form action="{{ path('pat_front_formulaire_proposer_bien') }}" method="post" {{ form_enctype(formProposer) }}>
    <div class="blocForm">
      {{ form_errors(formProposer) }}
      <div class="content proposerBienForm">
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formProposer.nom) }}
          </div>
          <div class="span8">
            {{ form_errors(formProposer.nom) }}
            {{ form_widget(formProposer.nom) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formProposer.prenom) }}
          </div>
          <div class="span8">
            {{ form_errors(formProposer.prenom) }}
            {{ form_widget(formProposer.prenom) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formProposer.email) }}
          </div>
          <div class="span8">
            {{ form_errors(formProposer.email) }}
            {{ form_widget(formProposer.email) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formProposer.telephone) }}
          </div>
          <div class="span8">
            {{ form_errors(formProposer.telephone) }}
            {{ form_widget(formProposer.telephone) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formProposer.nbAppartements) }}
          </div>
          <div class="span8">
            {{ form_errors(formProposer.nbAppartements) }}
            {{ form_widget(formProposer.nbAppartements) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formProposer.surface) }}
          </div>
          <div class="span8">
            {{ form_errors(formProposer.surface) }}
            {{ form_widget(formProposer.surface) }} m<sup>2</sup>
          </div>
        </div>


        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formProposer.isMeuble) }}
          </div>
          <div class="span8">
            {{ form_errors(formProposer.isMeuble) }}
            {{ form_widget(formProposer.isMeuble) }}
            <div class="span8 nbMeuble">
              {{ form_label(formProposer.nbMeuble) }}
              {{ form_widget(formProposer.nbMeuble) }}
            </div>
          </div>
        </div>


        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formProposer.isLoue) }}
          </div>
          <div class="span8">
            {{ form_errors(formProposer.isLoue) }}
            {{ form_widget(formProposer.isLoue) }}
            <div class="span8 nbLoue">
              {{ form_label(formProposer.nbLoue) }}
              {{ form_widget(formProposer.nbLoue) }}
            </div>
          </div>
        </div>


        <div class="row-fluid quartier">
          <div class="span4">
            {{ form_label(formProposer.quartier) }}
          </div>
          <div class="span8">
            {{ form_errors(formProposer.quartier) }}
            {{ form_widget(formProposer.quartier) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formProposer.disponibilite) }}
          </div>
          <div class="span8">
            {{ form_errors(formProposer.disponibilite) }}
            {{ form_widget(formProposer.disponibilite) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formProposer.formule) }}
          </div>
          <div class="span8">
            {{ form_errors(formProposer.formule) }}
            {{ form_widget(formProposer.formule) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4">
            {{ form_label(formProposer.connaissance) }}
          </div>
          <div class="span6">
            {{ form_errors(formProposer.connaissance) }}
            {{ form_widget(formProposer.connaissance) }}
            <div style="clear:left;"></div>
          </div>
        </div>
        <div class="row-fluid" style="margin: 1rem 0;">
          <div class="span4">
            {{ form_label(formProposer.human) }}
          </div>
          <div class="span6">
            {{ question }}<br>
            {{ form_errors(formProposer.human) }}
            {{ form_widget(formProposer.human, { 'attr': {'class': 'span12'} }) }}
          </div>
        </div>
        <span class="spanRequired" style=" line-height: 14px;">
          {{ 'champs obligatoires' | trans }}<br/>
          (1) Je dépose uniquement mon annonce sur le site class-appart.com<br/>
          (2) Class Appart s’occupe de tout
        </span>
      </div>
    </div>
    <div class="center padding">
      <input type="submit" class="btn btn-primary btn-large" value="{{ 'Envoyer' | trans }}" name="SendContact" />
    </div>
    {{ form_rest(formProposer) }}
  </form>

</div><!-- /contenuCentrale -->


<script type="text/javascript">
function controleNbMeuble() {
  if ($("#frontformulaireproposerbien_isMeuble_1").attr("checked")) {
    $('#frontformulaireproposerbien_nbMeuble').removeAttr('disabled');
  }

  if ($("#frontformulaireproposerbien_isMeuble_0").attr("checked")) {
    $('#frontformulaireproposerbien_nbMeuble').val('').attr('disabled', true);
  }
}

function controleNbLoue() {
  if ($("#frontformulaireproposerbien_isLoue_1").attr("checked")) {
    $('#frontformulaireproposerbien_nbLoue').removeAttr('disabled');
  }

  if ($("#frontformulaireproposerbien_isLoue_0").attr("checked")) {
    $('#frontformulaireproposerbien_nbLoue').val('').attr('disabled', true);
  }
}

$(document).ready(function() {
  controleNbMeuble();
  controleNbLoue();

  $("#frontformulaireproposerbien_isMeuble_1, #frontformulaireproposerbien_isMeuble_0").change(function () {
    controleNbMeuble();
  });

  $("#frontformulaireproposerbien_isLoue_1, #frontformulaireproposerbien_isLoue_0").change(function () {
    controleNbLoue();
  });
});
</script>
