{% extends "FOSUserBundle::layout.html.twig" %}

{% block titre %}Modifier mon profil{% endblock %}

{% block fos_user_content %}
  {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
