<div id="contenuCentrale">
  <h1>Modifier mon profil</h1>


  <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">

    <div class="blocForm">
      {% if app.user.typeUtilisateur != "1" %}
        <div class="title">
          Informations Personnelles
        </div>
      {% endif %}
      <div class="error">
        {{ form_errors(form) }}
      </div>

      <div class="content">
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.civilite) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.civilite) }}
            {{ form_widget(form.civilite) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.nom) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.nom) }}
            {{ form_widget(form.nom) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.prenom) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.prenom) }}
            {{ form_widget(form.prenom) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.siret) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.siret) }}
            {{ form_widget(form.siret) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.fonction) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.fonction) }}
            {{ form_widget(form.fonction) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.date_naissance) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.date_naissance) }}
            {{ form_widget(form.date_naissance) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.nationalite) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.nationalite) }}
            {{ form_widget(form.nationalite) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.langue_parle) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.langue_parle) }}
            {{ form_widget(form.langue_parle) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.adresse) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.adresse) }}
            {{ form_widget(form.adresse) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.adresse2) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.adresse2) }}
            {{ form_widget(form.adresse2) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.code_postal) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.code_postal) }}
            {{ form_widget(form.code_postal) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.ville) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.ville) }}
            {{ form_widget(form.ville) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.pays) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.pays) }}
            {{ form_widget(form.pays) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.telephone) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.telephone) }}
            {{ form_widget(form.telephone) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.mobile) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.mobile) }}
            {{ form_widget(form.mobile) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.mobile2) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.mobile2) }}
            {{ form_widget(form.mobile2) }}
          </div>
        </div>
        {#                <div class="row-fluid">
                            <div class="span4">
                                <strong>{{ form_label(form.mails_second) }}</strong>
                                <small class="text-info">Séparées par une virgule<br/>(mail1@exemple.fr, mail2@exemple.fr, ...)</small>
                            </div>
                            <div class="span8">
                                {{ form_errors(form.mails_second) }}
                                {{ form_widget(form.mails_second) }}
                            </div>
                        </div>
        #}                <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.second_email) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.second_email) }}
            {{ form_widget(form.second_email) }}
          </div>
        </div>
        <br/>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.moyen_contact) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.moyen_contact) }}
            {{ form_widget(form.moyen_contact) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.pays) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.pays) }}
            {{ form_widget(form.pays) }}
          </div>
        </div>
      </div>
    </div>


    <div class="blocForm">
      <div class="title">
        Informations bancaire
      </div>
      <div class="content">
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.rib_etab) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.rib_etab) }}
            {{ form_widget(form.rib_etab) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.rib_code) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.rib_code) }}
            {{ form_widget(form.rib_code) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.rib_compte) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.rib_compte) }}
            {{ form_widget(form.rib_compte) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.rib_rice) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.rib_rice) }}
            {{ form_widget(form.rib_rice) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.rib_domiciliation) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.rib_domiciliation) }}
            {{ form_widget(form.rib_domiciliation) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.rib_iban) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.rib_iban) }}
            {{ form_widget(form.rib_iban) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.rib_bic) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.rib_bic) }}
            {{ form_widget(form.rib_bic) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.rib_agence_resp) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.rib_agence_resp) }}
            {{ form_widget(form.rib_agence_resp) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.rib_pays) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.rib_pays) }}
            {{ form_widget(form.rib_pays) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.rib_titulaire) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.rib_titulaire) }}
            {{ form_widget(form.rib_titulaire) }}
          </div>
        </div>
      </div>
    </div>


    <div class="blocForm" {% if app.user.typeUtilisateur != "1" %} style="display:none"{% endif %}>
      <div class="title">
        Adresse de Facturation
      </div>
      <div class="content">
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.societe) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.societe) }}
            {{ form_widget(form.societe) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.adresse_fact) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.adresse_fact) }}
            {{ form_widget(form.adresse_fact) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.adresse2_fact) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.adresse2_fact) }}
            {{ form_widget(form.adresse2_fact) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.code_postal_fact) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.code_postal_fact) }}
            {{ form_widget(form.code_postal_fact) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.ville_fact) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.ville_fact) }}
            {{ form_widget(form.ville_fact) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.pays_fact) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.pays_fact) }}
            {{ form_widget(form.pays_fact) }}
          </div>
        </div>
      </div>
    </div>

    <div class="blocForm">
      <div class="title">
        Informations de connexion
      </div>
      <div class="content">
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.email) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
          </div>
          <div class="span8">
            {{ form_rest(form) }}
          </div>
        </div>
      </div>
    </div>

    <div class="center padding">
      <input class="btn btn-primary btn-large" type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
  </form>
</div><!-- /contenuCentrale -->

<div id="contenuDroite">
  <div id="blocAide">
    <div class="blocAideTitre">Aide</div><br/>
    Après avoir renseigné vos informations, veuillez confirmer votre mot de passe en bas de page.<br/>
    Si vous étiez en cours de réservation, vous pourrez y retourner après avoir validé ce formulaire.
  </div><!-- /blocAide -->
</div><!-- /contentDroit -->
