{{ 'Bonjour' | trans }},
Le {{ user.type }} {{ user.civilite }} {{ user.nom | upper }} {{ user.prenom | capitalize }} | Réf : {{ user.username }} a modifié son profil.
----------------------------------------------------------------------------------------


Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.