<div id="contenuCentrale">
  <h1>Mon profil</h1>

  {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
      {{ flashMessage }}
    </div>
  {% endfor %}

  <div class="blocForm">
    <div class="content">
      {% if user.typeUtilisateur == "2" %}
        <div class="row-fluid">
          <div class="span4">
            {{ 'profile.show.last_update'|trans({}, 'FOSUserBundle') }}
          </div>
          <div class="span8">
            {{ user.updatedAt|date("d/m/Y")}}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4">
            {{ 'profile.show.next_update'|trans({}, 'FOSUserBundle') }}
          </div>
          <div class="span8">
            {{ nextUpdate}}
          </div>
        </div>
      {% endif %}




      <div class="row-fluid">
        <div class="span4">
          {{ 'profile.show.civilite'|trans({}, 'FOSUserBundle') }}
        </div>
        <div class="span8">
          {{ user.civilite }}
        </div>
      </div>



      <div class="row-fluid">
        <div class="span4">
          {{ 'profile.show.nom'|trans({}, 'FOSUserBundle') }}
        </div>
        <div class="span8">
          {{ user.nom }}
        </div>
      </div>



      <div class="row-fluid">
        <div class="span4">
          {{ 'profile.show.prenom'|trans({}, 'FOSUserBundle') }}
        </div>
        <div class="span8">
          {{ user.prenom }}
        </div>
      </div>



      <div class="row-fluid">
        <div class="span4">
          {{ 'profile.show.date_naissance'|trans({}, 'FOSUserBundle') }}
        </div>
        <div class="span8">
          {% if user.dateNaissance %}
            {{ user.dateNaissance|date("d/m/Y") }}
          {% endif %}
        </div>
      </div>



      <div class="row-fluid">
        <div class="span4">
          {{ 'profile.show.langue_parlee'|trans({}, 'FOSUserBundle') }}
        </div>
        <div class="span8">
          {{ user.langueParle }}
        </div>
      </div>



      <div class="row-fluid">
        <div class="span4">
          {{ 'profile.show.adresse'|trans({}, 'FOSUserBundle') }}
        </div>
        <div class="span8">
          {{ user.adresse }}
        </div>
      </div>


      <div class="row-fluid">
        <div class="span4">
          {{ 'profile.show.code_postal'|trans({}, 'FOSUserBundle') }}
        </div>
        <div class="span8">
          {{ user.codePostal }}
        </div>
      </div>


      <div class="row-fluid">
        <div class="span4">
          {{ 'profile.show.ville'|trans({}, 'FOSUserBundle') }}
        </div>
        <div class="span8">
          {{ user.ville }}
        </div>
      </div>


      <div class="row-fluid">
        <div class="span4">
          {{ 'profile.show.pays'|trans({}, 'FOSUserBundle') }}
        </div>
        <div class="span8">
          {{ user.pays }}
        </div>
      </div>


      <div class="row-fluid">
        <div class="span4">
          {{ 'profile.show.telephone'|trans({}, 'FOSUserBundle') }}
        </div>
        <div class="span8">
          {{ user.telephone }}
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          {{ 'profile.show.mobile'|trans({}, 'FOSUserBundle') }}
        </div>
        <div class="span8">
          {{ user.mobile }}
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          {{ 'profile.show.mobile2'|trans({}, 'FOSUserBundle') }}
        </div>
        <div class="span8">
          {{ user.mobile2 }}
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          {{ 'profile.show.moyen_contact'|trans({}, 'FOSUserBundle') }}
        </div>
        <div class="span8">
          {{ user.moyenContact|trans }}
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          {{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}
        </div>
        <div class="span8">
          {{ user.username }}
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          {{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}
        </div>
        <div class="span8">
          {{ user.email }}
        </div>
      </div>

      {#                <div class="row-fluid">
                          <div class="span4">
                              {{ 'profile.show.mails_second'|trans({}, 'FOSUserBundle') }}
                          </div>
                          <div class="span8">
                              {{ user.mailsSecond }}
                          </div>
                      </div>
      #}                <div class="row-fluid">
        <div class="span4">
          {{ 'profile.show.second_email'|trans({}, 'FOSUserBundle') }}
        </div>
        <div class="span8">
          {{ user.secondEmail }}
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    {% if current_resa %}
      <div class="span6 padding">
        <a class="btn btn-secondary btn-large" href="{{ path('pat_front_reservation_recapitulatif') }}" class="boutonJ2">Retour Réservation</a>
      </div>
    {% endif %}
    <div class="{% if current_resa %}span6 right {% else %}span12 center {% endif %}padding">
      <a class="btn btn-primary btn-large" href="{{ path('fos_user_profile_edit') }}" class="boutonJ">{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</a>
    </div>
  </div>
</div><!-- /contenuCentrale -->

<div id="contenuDroite">

  <div id="blocAide"><div class="blocAideTitre">Aide</div><br/>Vous pouvez modifier vos coordonnées en utilisant le bouton "Mettre à jour" situé en bas de page.</div><!-- /blocAide -->
    {% if current_resa %}
    <div id="blocAide"><div class="blocAideTitre">Aide</div><br/>Sur cette page vous avez la possibilité de modifier vos informations utilisateur ou de retrouner à votre réservation.</div><!-- /blocAide -->
    {% endif %}

</div><!-- /contentDroit -->
