{% block content %}

  <div id="contenuCentrale">
    {% if validation %}
      {% autoescape false %}
        <h1>Demande de Validation</h1>
        <p style="font-size:14px;">{{ validation }}</p>
      {% endautoescape %}
      <br/><br/>
      <a href="{{ path('pat_appartement_index') }}" class="btn btn-primary">{{ 'Revenir à la liste des biens' | trans }}</a>
    {% else %}

      <h1>{% if id %}Modifier votre bien <small>(Réf : {{appartement.reference}})</small>{% else %}Ajouter un bien{% endif %}</h1>

      <div class="etapesBien">
        <div class="linksEtapesBien">
          {% if id %}
            <ul>
              <li><a class="active" href="#">Description</a></li>
              <li><a href="{{ path('pat_tarif_ajouter',{ 'id_bien': appartement.id }) }}">Loyers</a></li>
              <li><a href="{{ path('pat_piece_index',{ 'id': id }) }}">Pièces</a></li>
            </ul>
          {% else %}
            <ul>
              <li><a class="active" href="#">Description</a></li>
              <li><a href="#">Tarifs</a></li>
              <li><a href="#">Pièces</a></li>
              <li><a href="#">Images</a></li>
            </ul>
          {% endif %}
        </div>
      </div>


      {% if message %}
        <div class="alert alert-success">
          {{ message|nl2br }}
        </div>
      {% endif %}

      {% if erreur == 1 %}
        <div class="alert alert-danger">
          Vous devez accepter les conditions du mandat de commercialisation de Class Appart
        </div>
      {% endif %}


      <div class="formBienAdministration">
        <h3>Administration :</h3>
        {% if appartement.createdBy %}
          Création :
          {% if appartement.createdBy.typeUtilisateur == 9 %}
            Administrateur
          {% elseif appartement.createdBy.typeUtilisateur == 2 %}
            Propriétaire
          {% endif%}
          {{ appartement.createdBy.prenom | capitalize }} {{ appartement.createdBy.Nom | capitalize }} le {{ appartement.createdAt | date("d/m/Y H:i:s") }}
          <br/>
        {% endif %}

        {% if appartement.updatedBy %}
          Dernière modification :
          {% if appartement.updatedBy.typeUtilisateur == 9 %}
            Administrateur
          {% elseif appartement.updatedBy.typeUtilisateur == 2 %}
            Propriétaire
          {% endif%}
          {{ appartement.updatedBy.prenom | capitalize }} {{ appartement.updatedBy.Nom | capitalize }} le {{ appartement.updatedAt | date("d/m/Y H:i:s") }}
          <br/>
        {% endif %}
      </div>

      <div class="formBien">
        <form action="" method="post" {{ form_enctype(form) }}>

          <div class="error">
            {{ form_errors(form) }}
          </div>

          <div class="blocForm active">
            <div class="title">Type de bien</div>

            <div class="content">
              <div class="row-fluid">
                <div class="span4">
                  <strong>Changer le type du Bien* : </strong>
                </div>
                <div class="span8">
                  {{ form_errors(form.type) }}
                  {{ form_widget(form.type) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  <strong>Nombre de pièces du Bien* : </strong>
                </div>
                <div class="span8">
                  {{ form_errors(form.nb_pieces) }}
                  {{ form_widget(form.nb_pieces) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  <strong>{{ form_label(form.is_meuble) }}</strong>
                </div>
                <div class="span8">
                  {{ form_errors(form.is_meuble) }}
                  {{ form_widget(form.is_meuble) }}
                </div>
              </div>
            </div>
          </div>

          <div class="blocForm active">
            <div class="title">Description du bien</div>

            <div class="content">
              <div class="row-fluid">
                {{ form_label(form.description_fr) }}<br/>
                {{ form_errors(form.description_fr) }}
                {{ form_widget(form.description_fr, { 'attr': {'class': 'span12', 'rows': '5'} }) }}
              </div>
              <div class="row-fluid">
                {{ form_label(form.description_courte_fr) }}<br/>
                {{ form_errors(form.description_courte_fr) }}
                {{ form_widget(form.description_courte_fr, { 'attr': {'class': 'span12'} }) }}
              </div>
            </div>
          </div>

          <div class="blocForm">
            <div class="title">Localisation*</div>

            <div class="content">
              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.nom_residence) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.nom_residence) }}
                  {{ form_widget(form.nom_residence) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.adresse) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.adresse) }}
                  {{ form_widget(form.adresse) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.adresse2) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.adresse2) }}
                  {{ form_widget(form.adresse2) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.ville) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.ville) }}
                  {{ form_widget(form.ville) }}
                  <input type="hidden" id="url_ville_search" value="{{ path('pat_front_contenu_all_ville') }}">
                  <!-- affichage des résultas des villes ajax -->
                  <div id="resultats_recherche_villes_ajax">
                    <div id="resultats_recherche_villes"></div>
                  </div>
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.distance_aeroport) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.distance_aeroport) }}
                  {{ form_widget(form.distance_aeroport) }} km
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.distance_autoroute) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.distance_autoroute) }}
                  {{ form_widget(form.distance_autoroute) }} km
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.distance_voie_rapide) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.distance_voie_rapide) }}
                  {{ form_widget(form.distance_voie_rapide) }} km
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.distance_commerce) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.distance_commerce) }}
                  {{ form_widget(form.distance_commerce) }} km
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.acces_gare) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.acces_gare) }}
                  {{ form_widget(form.acces_gare) }} min
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.acces_marche) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.acces_marche) }}
                  {{ form_widget(form.acces_marche) }} min
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.acces_bus) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.acces_bus) }}
                  {{ form_widget(form.acces_bus) }} min
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.acces_tram) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.acces_tram) }}
                  {{ form_widget(form.acces_tram) }} min
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.arret_tram) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.arret_tram) }}
                  {{ form_widget(form.arret_tram) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.arret_tram2) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.arret_tram2) }}
                  {{ form_widget(form.arret_tram2) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.arret_tram3) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.arret_tram3) }}
                  {{ form_widget(form.arret_tram3) }}
                </div>
              </div>
            </div>
          </div>

          <div class="blocForm">
            <div class="title">Surface*</div>

            <div class="content">
              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.surface_sol) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.surface_sol) }}
                  {{ form_widget(form.surface_sol) }} m<sup>2</sup>
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.surface_carrez) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.surface_carrez) }}
                  {{ form_widget(form.surface_carrez) }} m<sup>2</sup> <i>(mesurage loi Carrez-DPE)</i>
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.surface_terrain) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.surface_terrain) }}
                  {{ form_widget(form.surface_terrain) }} m<sup>2</sup> environ
                </div>
              </div>
            </div>
          </div>

          <div class="blocForm">
            <div class="title">Prestations*</div>

            <div class="content">
              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.entree_immeuble) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.entree_immeuble) }}
                  {{ form_widget(form.entree_immeuble) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.serrure) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.serrure) }}
                  {{ form_widget(form.serrure) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.nb_personne) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.nb_personne) }}
                  {{ form_widget(form.nb_personne) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.nb_lit_simple) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.nb_lit_simple) }}
                  {{ form_widget(form.nb_lit_simple) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.nb_lit_double) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.nb_lit_double) }}
                  {{ form_widget(form.nb_lit_double) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.nb_lit_simple_double) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.nb_lit_simple_double) }}
                  {{ form_widget(form.nb_lit_simple_double) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.nb_canape_convertible) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.nb_canape_convertible) }}
                  {{ form_widget(form.nb_canape_convertible) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.etage) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.etage) }}
                  {{ form_errors(form.nb_etage) }}
                  {{ form_widget(form.etage) }}<br/>sur {{ form_widget(form.nb_etage) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.cave) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.cave) }}
                  {{ form_widget(form.cave) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.parking) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.parking) }}
                  {{ form_widget(form.parking) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.stationnement) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.stationnement) }}
                  {{ form_widget(form.stationnement) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.terrasse) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.terrasse) }}
                  {{ form_widget(form.terrasse) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.balcon) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.balcon) }}
                  {{ form_widget(form.balcon) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.garage) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.garage) }}
                  {{ form_widget(form.garage) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.escalier) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.escalier) }}
                  {{ form_widget(form.escalier) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.ascenseur) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.ascenseur) }}
                  {{ form_widget(form.ascenseur) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.grenier) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.grenier) }}
                  {{ form_widget(form.grenier) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.jardin) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.jardin) }}
                  {{ form_widget(form.jardin) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.vide_ordure) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.vide_ordure) }}
                  {{ form_widget(form.vide_ordure) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.interphone) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.interphone) }}
                  {{ form_widget(form.interphone) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.has_digicode) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.has_digicode) }}
                  {{ form_widget(form.has_digicode) }}
                </div>
              </div>

              <div class="row-fluid has_digicod">
                <div class="span4">
                </div>
                <div class="span8">
                  {% if has_digicode == true %}
                    <div class="info">Pour modifier votre digicode, saisissez le nouveau dans les champs ci-dessous</div>
                  {% endif %}
                  <small>Ces informations ne seront visibles que par nos services et ne seront pas diffusées sur internet</small>
                </div>
              </div>

              <div class="row-fluid has_digicod">
                <div class="span4">
                  {{ form_label(form.digicode.first) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.digicode.first) }}
                  {{ form_widget(form.digicode.first) }}
                </div>
              </div>

              <div class="row-fluid has_digicod">
                <div class="span4">
                  {{ form_label(form.digicode.second) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.digicode.second) }}
                  {{ form_widget(form.digicode.second) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.acces_handicapes) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.acces_handicapes) }}
                  {{ form_widget(form.acces_handicapes) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.climatisation) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.climatisation) }}
                  {{ form_widget(form.climatisation) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.gardien) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.gardien) }}
                  {{ form_widget(form.gardien) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.animal) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.animal) }}
                  {{ form_widget(form.animal) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.fumeur) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.fumeur) }}
                  {{ form_widget(form.fumeur) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.internet) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.internet) }}
                  {{ form_widget(form.internet) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.type_chauffage) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.type_chauffage) }}
                  {{ form_widget(form.type_chauffage) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.mode_chauffage) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.mode_chauffage) }}
                  {{ form_widget(form.mode_chauffage) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.compteur_edf) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.compteur_edf) }}
                  {{ form_widget(form.compteur_edf) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.compteur_gdf) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.compteur_gdf) }}
                  {{ form_widget(form.compteur_gdf) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.emplacement_compteurs) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.emplacement_compteurs) }}
                  {{ form_widget(form.emplacement_compteurs) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.emplacement_compteur_eau) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.emplacement_compteur_eau) }}
                  {{ form_widget(form.emplacement_compteur_eau) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.emplacement_boite_lettres) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.emplacement_boite_lettres) }}
                  {{ form_widget(form.emplacement_boite_lettres) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.nom_boite_lettres) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.nom_boite_lettres) }}
                  {{ form_widget(form.nom_boite_lettres) }}
                </div>
              </div>
            </div>
          </div>

          <div class="blocForm">
            <div class="title">Diagnostic Performance Energétique*</div>

            <div class="content">
              <div class="row-fluid">
                <div class="span12">
                  {{ form_errors(form.statut_diagnostic) }}
                  {{ form_widget(form.statut_diagnostic) }}
                </div>
              </div>

              <div id="tableDiagnostic">
                <div class="row-fluid">
                  <div class="span4">
                    {{ form_label(form.date_diagnostic) }}
                  </div>
                  <div class="span8">
                    {{ form_errors(form.date_diagnostic) }}
                    {{ form_widget(form.date_diagnostic) }} <i><small>(jj/mm/yyyy)</small></i>
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span4">
                    {{ form_label(form.fichier_diagnostic) }}
                  </div>
                  <div class="span8">
                    {{ form_errors(form.fichier_diagnostic) }}
                    {{ form_widget(form.fichier_diagnostic) }}
                    {% if appartement.fichierDiagnostic %}
                      <br/><a id="linkFormulaire" href="{{ asset('images/photos/biens/') }}/{{ appartement.reference }}/diagnostic/{{ appartement.fichierDiagnostic }}" target="_blank">Télécharger votre DPE</a>
                    {% endif %}
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span4">
                    {{ form_label(form.consommation_lettre) }}
                  </div>
                  <div class="span8">
                    {{ form_errors(form.consommation_lettre) }}
                    {{ form_widget(form.consommation_lettre) }}
                    {{ form_errors(form.consommation_chiffre) }}
                    {{ form_widget(form.consommation_chiffre) }} kWh/m2/an
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span4">
                    {{ form_label(form.gaz_serre_lettre) }}
                  </div>
                  <div class="span8">
                    {{ form_errors(form.gaz_serre_lettre) }}
                    {{ form_widget(form.gaz_serre_lettre) }}
                    {{ form_errors(form.gaz_serre_chiffre) }}
                    {{ form_widget(form.gaz_serre_chiffre) }} kg/m2/an
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="blocForm">
            <div class="title">Visites</div>

            <div class="content">
              <small>Ces informations ne seront visibles que par nos services et ne seront pas diffusées sur internet</small>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.visite_porte) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.visite_porte) }}
                  {{ form_widget(form.visite_porte) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.visite_description) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.visite_description) }}
                  {{ form_widget(form.visite_description) }}
                  <br/><i><small>Indiquez ici comment accéder à l’appartement ou la maison (position sur le palier, dans le lotissement) Vous pouvez également ajouter les informations utiles comme le téléphone du concierge ou celui du syndic.</small></i>
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.visite_cle) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.visite_cle) }}
                  {{ form_widget(form.visite_cle) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.visite_cave) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.visite_cave) }}
                  {{ form_widget(form.visite_cave) }}
                </div>
              </div>

              <div class="row-fluid">
                <div class="span4">
                  {{ form_label(form.visite_parking) }}
                </div>
                <div class="span8">
                  {{ form_errors(form.visite_parking) }}
                  {{ form_widget(form.visite_parking) }}
                </div>
              </div>
            </div>
          </div>

          {#<div class="blocForm">
              <div class="title">Horaires</div>

              <div class="content">
                  <p class="text-info">
                      <small>
                          - pour une arrivée un lundi, mardi, mercredi, jeudi, vendredi ou samedi – hors jours fériés - le Locataire pourra entrer dans les lieux entre 16 heures et 18 heures 30 ;<br/>
                          - pour une arrivée un dimanche ou un jour férié, le Locataire pourra entrer dans les lieux entre 18 heures et 19 heures 30.<br/>
                          Toute arrivée tardive - en dehors de ces horaires - entraînera la facturation par le Bailleur d’un honoraire de 50€ TTC payable sur place par le Locataire, correspondant aux frais découlant d’une telle arrivée tardive.<br/>
                          En tout état de cause et pour respecter la tranquillité du voisinage, aucune arrivée ne pourra être effectuée après 23 heures. Le cas échéant, l’arrivée sera reportée au lendemain, le Locataire restant redevable du loyer afférent à la première nuit.<br/>
                          Les départs devront être effectués le dernier jour de la location, avant 11 heures.
                      </small>
                  </p>

                  <div class="row-fluid">
                      <div class="span4">
                          {{ form_label(form.heure_arrivee) }}
                      </div>
                      <div class="span8">
                          {{ form_errors(form.heure_arrivee) }}
                          {{ form_widget(form.heure_arrivee) }}
                      </div>
                  </div>

                  <div class="row-fluid">
                      <div class="span4">
                          {{ form_label(form.heure_depart) }}
                      </div>
                      <div class="span8">
                          {{ form_errors(form.heure_depart) }}
                          {{ form_widget(form.heure_depart) }}
                      </div>
                  </div>
              </div>
          </div>#}

          <div class="blocForm">
            <div class="title">Observations</div>

            <div class="content">
              <div class="row-fluid">
                {{ form_label(form.commentaire) }}
                {{ form_errors(form.commentaire) }}
                {{ form_widget(form.commentaire, { 'attr': {'class': 'span12', 'rows': '5'} }) }}
              </div>

              <div class="row-fluid">
                {{ form_label(form.confidentiel) }}
                {{ form_errors(form.confidentiel) }}
                {{ form_widget(form.confidentiel, { 'attr': {'class': 'span12', 'rows': '5'} }) }}
              </div>

              <div class="row-fluid">
                {{ form_label(form.coordonnees_syndic) }}
                {{ form_errors(form.coordonnees_syndic) }}
                {{ form_widget(form.coordonnees_syndic, { 'attr': {'class': 'span12', 'rows': '5'} }) }}
              </div>
            </div>
          </div>

          {{ form_rest(form) }}

          <br/><br/>

          <div class="row-fluid">
            <div class="span6">
              <a href="{{ path("pat_appartement_index") }}" class="btn btn-large">Revenir</a>
            </div>
            <div class="span6 right">
              <input class="btn btn-primary btn-large" type="submit" value="{{ 'Continuer' | trans }}"/>
            </div>
          </div>

        </form>

        {% if id and appartement.statut == 0 %}
          <hr/><br/>
          <form action="{{ path('pat_appartement_validation',{ 'id': id }) }}" method="post" {{ form_enctype(formValid) }}>

            <div class="row-fluid">
              <div class="span1 right">
                {{ form_widget(formValid.choice1) }}
              </div>
              <div class="span11">
                J’ai lu et j’accepte les conditions du mandat de commercialisation de Class Appart
              </div>
            </div>

            <div class="row-fluid">
              <div class="span1 right">
                {{ form_widget(formValid.choice2) }}
              </div>
              <div class="span11">
                Je souhaite simplement faire apparaître mon bien sur le site www.class-appart.com mais je ne souhaite pas faire certifier mon bien. Par conséquent, la présence du bien sur le site ne sera pas optimisée et la réservation ne sera pas possible via le site internet.
              </div>
            </div>

            {{ form_rest(formValid) }}

            <br/><br/>
            <div class="row-fluid center">
              <input type="submit" value="{{ 'Soumettre votre bien pour validation' | trans }}" class="btn btn-primary"/>
            </div>
          </form>
        {% endif %}
      </div>

      <!-- compte le nombre de caractères dans la version courte de la description-->
<script type="text/javascript" src="{{ asset('bundles/patcompte/js/charCount.js') }}"></script>
<script type="text/javascript">
/* Calcul du prix indicatif du séjour */
function calculPrixSejourAppart(prix) {
  caracteresValides = "0,123456789.";
  for (i = 0; i < prix.length; i++) {
    if (caracteresValides.indexOf(prix.charAt(i)) == -1) {
      return false;
    }
  }

  prix = prix.replace(",", ".");
  document.getElementById("prix_mois").value = (prix * 1.18).toFixed(2).replace(".", ",");
}

/* Calcul du prix indicatif du séjour */
function displayDiagnostic(valeur) {
  if (valeur == 1) {
    document.getElementById("tableDiagnostic").style.display = "block";
  } else {
    document.getElementById("tableDiagnostic").style.display = "none";
    document.getElementById("appartement_consommation_chiffre").value = "";
    document.getElementById("appartement_gaz_serre_chiffre").value = "";
    document.getElementById("appartement_date_diagnostic").value = "";
  }
}

function scrollBas() {
  var chaine = document.location + "";
  var longueur = chaine.length - 10;

  if (chaine.substr(longueur, 10) == "validation") {
    $("html,body").animate({scrollTop: $('body').css('height')}, 0);
  }
}

$(document).ready(function() {
  $("#appartement_description_courte_fr").charCount({
    allowed: 200,
    exceeded: 0,
    counterText: 'Caractères restants : '
  });

  $(".has_digicod").hide();
  if ($("#appartement_has_digicode").is(':checked')) {
    $(".has_digicod").show();
  }

  $("#appartement_has_digicode").change(function() {
    if ($("#appartement_has_digicode").is(':checked')) {
      $(".has_digicod").show(500);
    } else {
      $(".has_digicod").hide(500);
    }
  });

  $('#appartement_loyer').change(function() {
    calculPrixSejourAppart(document.getElementById("appartement_loyer").value);
  });

  $('#appartement_loyer').keyup(function() {
    calculPrixSejourAppart(document.getElementById("appartement_loyer").value);
  });

  if (document.getElementById("appartement_loyer") != null) {
    calculPrixSejourAppart(document.getElementById("appartement_loyer").value);
  }

  $('#appartement_statut_diagnostic').change(function() {
    displayDiagnostic(document.getElementById("appartement_statut_diagnostic").value);
  });

  displayDiagnostic(document.getElementById("appartement_statut_diagnostic").value)

  setTimeout("scrollBas()", 300);
});

</script>


    {% endif %}<!-- end if validation -->

  </div><!-- /contenuCentrale -->

  <div id="contenuDroite">
    <div id="blocAide"><div class="blocAideTitre">Aide</div>
      Pour toute question concernant la procédure d'ajout d'un bien, merci de nous contacter via le formulaire de contact.<br/>
      Consultez les <a href="{{ path('pat_front_contenu_page', { 'lg': 'fr', 'url_page': 'faq' }) }}">FAQ</a> et les Guides.
    </div><!-- /blocAide -->

  </div><!-- /contentDroit -->

{% endblock %}
