Bonjour,

Votre demande d’ajout de bien sur le site class-appart.com a bien été prise en compte.

Nous mettons tout en oeuvre pour répondre à votre demande dans les plus bref délais.

Vous pouvez consulter le détail de vos biens en vous connectant dans la partie Mon compte sur {{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }}.
En attente de validation

--------------------------------------------------------------------------------------------------------------------------------
Envoyé le {{ 'now' | date('d/M/Y') }}

Appartement
Référence : {{appartement.reference}}
Adresse : {{appartement.adresse}}
Ville : {{appartement.ville}}
Surface : {{appartement.surfaceSol}}

Propriétaire
Propriétaire : {{ utilisateur.prenom }} {{ utilisateur.nom }}
Identifiant : {{ utilisateur.username }}
Téléphone : {{ utilisateur.telephone }}
Email : {{ utilisateur.email }}
Adresse : {{ utilisateur.adresse }}
Code postal : {{ utilisateur.codePostal }}
Ville : {{ utilisateur.ville }}
Pays : {{ utilisateur.pays }}


--------------------------------------------------------------------------------------------------------------------------------
￼Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.
À bientôt sur class-appart.com.


--------------------------------------------------------------------------------------------------------------------------------
Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.



Cordialement,
L'équipe classAppart ®
contact@class-appart.com