{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>Bonjour,</p>

  <p>Votre demande d’ajout de bien sur le site class-appart.com a bien été prise en compte.</p>

  <p>Nous mettons tout en oeuvre pour répondre à votre demande dans les plus bref délais.</p>

  <p class="legend">Vous pouvez consulter le détail de vos biens en vous connectant dans la partie <a href="{{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }}">Mon compte.</a></p>
  <h3>En attente de validation</h3>
  <hr>

  <p>Envoyé le {{ 'now' | date('d m Y') }}</p>

  <h3 class="withoutMargin">Appartement</h3>
  Référence : {{appartement.reference}}<br/>
  Adresse : {{appartement.adresse}}<br/>
  Ville : {{appartement.ville}}<br/>
  Surface : {{appartement.surfaceSol}}</p>

<h3 class="withoutMargin">Propriétaire</h3>
<p>Propriétaire : {{ utilisateur.prenom }} {{ utilisateur.nom }}<br/>
  Identifiant : {{ utilisateur.username }}<br/>
  Téléphone : {{ utilisateur.telephone }}<br/>
  Email : {{ utilisateur.email }}<br/>
  Adresse : {{ utilisateur.adresse }}<br/>
  Code postal : {{ utilisateur.codePostal }}<br/>
  Ville : {{ utilisateur.ville }}<br/>
  Pays : {{ utilisateur.pays }}</p>

<hr>

<p>￼Si vous avez besoin d’aide supplémentaire, nous vous invitons à <a href="mailto:contact@class-appart.com">nous contacter.</a></p>
<p>À bientôt sur class-appart.com.</p>

<hr>

<p class="legend">Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.</p>

{% endblock %}