{% block content %}

  <div id="contenuCentrale1">
    <h1>Biens en location</h1>


    {% if message %}
      <div class="success">
        <p>{{ message }}</p>
      </div>
    {% endif %}

    {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
    {% if app.session.flashbag.peekAll|length > 0 %}
      <div class="row">
        <div class="span12">
          {{ session_flash() }}
        </div>
      </div>
    {% endif %}

    {#{% include "PatCompteBundle:Appartement:searchForm.html.twig" %}#}

    {% set i = '0' %}
    {% if appartement %}
      {% for appart in appartement %}
        <div class="ListeAppart row-fluid">
          <div class="span8 ListeAppart1" style="min-height: 125px;">
            <div class="row-fluid">
              <div class="span2">
                {% set appartement_img = get_img(appart.id) %}
                {% set myimg = '/images/photos/biens/'~appart.reference~'/'~appartement_img %}
                {% if appartement_img %}
                  <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}"><img src="{{ myimg | imagine_filter('appartement_mini') }}" border="0" /></a>
                  {% endif %}
              </div>
              <div class="span10">
                {% if appart.statut == 4 %}
                  <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}" target="_blank">
                  {% endif %}
                  <div class="reference"> | Réf : {{ appart.reference }}</div>
                  <div class="titreAppart">
                    {{ appart.type }} {% if appart.nbPieces %}T{{ appart.nbPieces }}{% endif %} - {{ appart.surfaceSol }} m<sup>2</sup>
                    <br/>
                    situé à {{ appart.ville }}
                  </div>
                  {% if appart.statut == 4 %}
                  </a>
                {% endif %}

                {% if appart.tarif is not null %}
                  <div class="tarifAppart">
                    A partir de {#{ get_lower_loyer(appart.tarif)|number_format }#}{{ get_from_tarif(appart) | number_format }} €/nuit
                  </div>
                {% endif %}

                {% if appart.statut == 0 %}
                  {% if appart.tarif is null %}
                    <a href="{{ path('pat_tarif_ajouter', { 'id_bien': appart.id }) }}">{{ 'Saisir un loyer' | trans }}</a>
                  {% else %}
                    <a href="{{ path('pat_appartement_editer', { 'id': appart.id }) }}#validation">{{ 'Demander la validation du bien' | trans }}</a>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="span4 ListeAppart2">
            <div class="publieAppart">
              {% if appart.statut == 0 %}
                <img src="{{ asset('bundles/patcompte/images/1-Annonce-Redaction.png') }}" alt=""/>
              {% elseif appart.statut == 1 %}
                <img src="{{ asset('bundles/patcompte/images/2-Annonce-ValidationInitiale.png') }}" alt=""/>
              {% elseif appart.statut == 2 %}
                <img src="{{ asset('bundles/patcompte/images/3-Annonce-Regisseur.png') }}" alt=""/>
              {% elseif appart.statut == 3 %}
                <img src="{{ asset('bundles/patcompte/images/4-Annonce-ValidationFinale.png') }}" alt=""/>
              {% elseif appart.statut == 4 %}
                <img src="{{ asset('bundles/patcompte/images/5-Annonce-Valide.png') }}" alt=""/>
              {% elseif appart.statut == 8 %}
                <img src="{{ asset('bundles/patcompte/images/7-Annonce-Suspendu.png') }}" alt=""/>
              {% elseif appart.statut == 9 %}
                <img src="{{ asset('bundles/patcompte/images/6-Annonce-Supprime.png') }}" alt=""/>
              {% endif %}
            </div>
            <div class="row-fluid">
              <div class="span12">
                <div class="iconeAppart">
                  {% if appart.statut != 9 %}
                    <a href="{{ path('pat_calendrier_affiche', { 'id_bien': appart.id, 'annee': "now" | date("Y")  }) }}"><img src="{{ asset('bundles/patcompte/images/ico_disponibilite.png') }}" alt="Disponibilités" title="Disponibilités"/></a>
                    <a href="{{ path('pat_appartement_editer', { 'id': appart.id }) }}"><img src="{{ asset('bundles/patcompte/images/ico_edition.png') }}" alt="Modifier" title="Modifier"/></a>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

        {% set i = i + 1 %}
      {% endfor %}

    {% else %}
      <div class="alert">Aucun bien a été trouvé</div>
    {% endif %}
  </div><!-- /contenuCentrale1 -->


{% endblock %}
