{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>{{ 'Bonjour' | trans }},</p>

  <p>Le {{ user.type }} <a href="{% if user.type == "Propriétaire" %}{{ app.request.getSchemeAndHttpHost()~path('pat_admin_proprietaire_afficher', { 'id_proprio': user.id }) }}{% else %}{{ app.request.getSchemeAndHttpHost()~path('pat_admin_locataire_afficher', { 'id_locataire': user.id }) }}{% endif %}"><strong>{{ user.civilite }} {{ user.nom | upper }} {{ user.prenom | capitalize }} | Réf : {{ user.username }}</strong></a> a modifié {{ etape }} de <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_admin_appartement_detail', { 'id': bien.id }) }}">{{ bien.type | trans }} {% if bien.nbPieces %}T{{ bien.nbPieces }}{% endif %} - {{ bien.surfaceSol }} m2 situé à {{ bien.ville.nom }} {{ bien.ville.codePostal }} | Réf : {{ bien.reference }}</a>.</p>

  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>

{% endblock %}