{{ 'Bonjour' | trans }},
Le {{ user.type }} <strong>{{ user.civilite }} {{ user.nom | upper }} {{ user.prenom | capitalize }} | Réf : {{ user.username }}</strong> a modifié {{ etape }} de {{ bien.type | trans }} {% if bien.nbPieces %}T{{ bien.nbPieces }}{% endif %} - {{ bien.surfaceSol }} m2 situé à {{ bien.ville.nom }} {{ bien.ville.codePostal }} | Réf : {{ bien.reference }}.
----------------------------------------------------------------------------------------


Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.