<div class="blocRechAppartListe">
  <div style="margin-left:10px; padding-top:4px;padding-bottom:5px; font-size:16px; font-weight:bold">Rechercher dans la liste : </div>
  <form action="" method="post" style="display:inline; margin-left:10px;">

    <strong>Type : </strong><select name="type" size="1" style="display:inline">
      {% set option = 'Tous'%}
      <option value="{{ option }}" {% if option == type %} selected="selected" {% endif %}>Tous
        {% set option = 'Studio'%}
      <option value="{{ option }}" {% if option == type %} selected="selected" {% endif %}>Studio
        {% set option = 'Appartement'%}
      <option value="{{ option }}" {% if option == type %} selected="selected" {% endif %}>Appartement
        {% set option = 'Maison'%}
      <option value="{{ option }}" {% if option == type %} selected="selected" {% endif %}>Maison
    </select>&nbsp;&nbsp;

    <strong>Nombre de pièces : </strong><select name="nb_pieces" size="1" style="display:inline">
      {% set option = 'Tous'%}
      <option value="{{ option }}" {% if option == nb_pieces %} selected="selected" {% endif %}>Tous
        {% set option = '1'%}
      <option value="{{ option }}" {% if option == nb_pieces %} selected="selected" {% endif %}>T1
        {% set option = '2'%}
      <option value="{{ option }}" {% if option == nb_pieces %} selected="selected" {% endif %}>T2
        {% set option = '3'%}
      <option value="{{ option }}" {% if option == nb_pieces %} selected="selected" {% endif %}>T3
        {% set option = '4'%}
      <option value="{{ option }}" {% if option == nb_pieces %} selected="selected" {% endif %}>T4
        {% set option = '5'%}
      <option value="{{ option }}" {% if option == nb_pieces %} selected="selected" {% endif %}>T5
        {% set option = '6'%}
      <option value="{{ option }}" {% if option == nb_pieces %} selected="selected" {% endif %}>T6
    </select><br/><br/>&nbsp;&nbsp;

    <strong>Surface : </strong><select name="surface_type" size="1" style="display:inline">
      {% set option = '='%}
      <option value="{{ option }}" {% if option == surface_type %} selected="selected" {% endif %}>{{ option }}
        {% set option = '>'%}
      <option value="{{ option }}" {% if option == surface_type %} selected="selected" {% endif %}>{{ option }}
        {% set option = '<'%}
      <option value="{{ option }}" {% if option == surface_type %} selected="selected" {% endif %}>{{ option }}
    </select>

    <input type="text" value="{{ surface }} " name="surface" style="width:40px; display:inline; text-align:left"> m2&nbsp;&nbsp;

    <strong>Loyer : </strong><select name="loyer_type" size="1" style="display:inline">
      {% set option = '='%}
      <option value="{{ option }}" {% if option == loyer_type %} selected="selected" {% endif %}>{{ option }}
        {% set option = '>'%}
      <option value="{{ option }}" {% if option == loyer_type %} selected="selected" {% endif %}>{{ option }}
        {% set option = '<'%}
      <option value="{{ option }}" {% if option == loyer_type %} selected="selected" {% endif %}>{{ option }}
    </select>

    <input type="text" value="{{ loyer }}" name="loyer" style="width:40px; display:inline; text-align:left"> €&nbsp;&nbsp;

    <strong>Ville: </strong><input type="text" value="{{ ville }}" name="ville" style="width:60px; display:inline; text-align:left">

    {% if pagination != 0 %}
      <select name="page" size="1" style="display:inline">
        {% for i in 1..pagination %}
          <option value="{{ i }}" {% if i == page %} selected="selected" {% endif %}>Page {{ i }}
          {% endfor %}
      </select>
    {% endif %}

    <input type="submit" value="Go" style="display:inline" />

  </form>

</div>
