{% block content %}

  <div id="contenuCentrale1">

    <div id="titreAccueilAdmin">
      <h1><span class="spanH1">Soumettre une ville</span></h1>
    </div>
    <div class="clear"></div>

    <div id="ZoneContenu">
      <div id="ZoneContenuHaut"></div><!-- /ZoneContenuHaut -->
      <div id="ZoneContenuPixel">
        <div id="ZoneContenuPixel1">
          <div id="formRegistrationProprio">

            {% if action == '0' or action == '1' %}

              {% if action == '1' %}
                </br>
                <div style="color:red;font-size:14px;">
                  Veuillez entrer une ville !
                </div>
              {% endif %}


              <form action="" method="post">

                <table border="0" cellpadding="5" cellspacing="0" class="formulaire">
                  <tr>
                    <td>Ville* : </td>
                    <td>
                      <input type="text" name="ville"/>
                    </td>
                  </tr>
                </table>


                <br/><input type="submit" value="{{ 'Envoyer' | trans }}"/>
              </form>

            {% endif %}

            {% if action == '2' %}
              </br>
              <div style="color:red;font-size:14px;">
                <p>Votre demande d'ouverture de la ville : {{message}} a bien été enregistrée</p>
              </div>
            {% endif %}

          </div>
          <br/>
          <p> Note : Vous ne pouvez soumettre qu'une demande à la fois. </p>
        </div><!-- /ZoneContenuPixel1 -->
      </div><!-- /ZoneContenuPixel -->
      <div id="ZoneContenuBas"></div><!-- /ZoneContenuBas -->
    </div><!-- /ZoneContenu -->

  </div><!-- /contenuCentrale1 -->

{% endblock %}
