{% block content %}

  <div id="contenuCentrale1">
    <div id="titreAccueilAdmin">
      <h1><span class="spanH1">Les villes disponibles</span></h1>
    </div>
    <div class="clear"></div>


    <a class="boutonJ2" href="{{ path('pat_appartement_soumettre_ville') }}">{{ "Proposer une ville" | trans }}</a><br/>
    <br/>

    <div style="width:456px; height:466px;float:left;">
      <img class="zedx_map" src="{{ asset('bundles/patcompte/images/france.png') }}" usemap="#imagemap" border="0" />
      <map name="imagemap">

        <area shape="poly" title="Bretagne" alt="Bretagne" coords="52,111, 53,112, 54,112, 55,111, 56,111, 56,112, 57,113, 58,114, 59,115, 60,115, 60,116, 61,117, 62,118, 63,119, 64,120, 64,121, 64,122, 65,123, 66,124, 67,124, 67,125, 68,126, 68,127, 69,128, 70,128, 71,127, 71,126, 72,126, 73,125, 74,124, 74,123, 75,123, 76,122,
              77,121, 78,121, 79,121,
              80,120, 80,121, 81,122, 82,122, 83,122, 83,123, 83,124, 84,125, 85,124, 86,124, 87,123, 88,122, 89,122, 89,123, 90,124, 90,125, 91,126, 91,127, 92,128, 93,127, 93,126, 93,125, 93,124, 93,123, 93,122, 92,121, 92,120, 92,119, 93,119, 94,119, 94,120, 95,121, 96,122, 97,123, 98,123, 99,123, 100,122, 101,122, 102,122, 103,122,
              104,122, 104,123, 105,124, 105,125, 105,126, 106,127, 107,128, 108,129, 109,129, 110,129, 111,129, 112,129, 113,128, 114,127, 115,126, 116,126, 117,126, 118,127, 119,127, 119,128, 119,129, 119,130, 119,131, 119,132, 119,133, 119,134, 119,135, 119,136, 118,137, 118,138, 118,139, 119,140, 119,141, 119,142, 119,143, 119,144,
              119,145, 120,146, 120,147, 120,148, 120,149, 119,149, 118,149, 117,150, 117,151, 116,152, 116,153, 116,154, 115,155, 115,156, 114,157, 114,158, 114,159, 113,159, 112,158, 111,157, 110,157, 109,157, 108,157, 107,157, 106,158, 105,159, 104,159, 103,160, 102,161, 101,162, 100,162, 99,163, 98,163, 97,162, 96,162, 95,162, 94,163,
              93,164, 92,163, 91,163, 90,164, 89,165, 88,166, 87,167, 87,168, 87,169, 87,170, 87,171, 86,171, 85,172, 84,172, 83,171, 82,171, 81,172, 80,173, 80,174, 79,174, 78,174, 78,173, 77,172, 76,172, 75,171, 74,171, 73,172, 72,171, 71,171, 70,172, 69,172, 68,172, 67,172, 66,173, 65,172, 64,171, 63,170, 62,170, 61,169, 60,168, 59,168,
              58,168, 57,169, 56,169, 55,168, 54,167, 53,166, 52,165, 51,164, 50,163, 49,163, 48,163, 47,163, 46,163, 45,162, 45,161, 44,160, 43,160, 42,160, 41,160, 40,159, 39,159, 38,159, 37,158, 36,158, 35,159, 34,158, 33,158, 33,157, 32,156, 31,155, 30,154, 29,154, 28,155, 28,156, 27,156, 26,155, 25,155, 24,156, 23,157, 22,158, 21,159,
              20,159, 19,158, 18,157, 18,156, 18,155, 18,154, 17,153, 17,152, 16,151, 15,150, 14,150, 13,149, 12,149, 11,149, 10,149, 9,148, 10,148, 11,147, 12,147, 13,147, 14,147, 15,147, 16,146, 17,146, 18,147, 19,147, 20,146, 21,145, 21,144, 21,143, 21,142, 20,141, 19,140, 18,140, 17,139, 16,139, 16,138, 17,138, 18,138, 19,137, 20,138,
              21,138, 22,137, 22,136, 21,135, 20,134, 19,133, 18,132, 17,133, 16,133, 17,132, 16,131, 15,131, 14,131, 13,131, 12,132, 11,132, 10,133, 9,133, 8,133, 7,133, 6,133, 6,132, 5,131, 5,130, 5,129, 6,128, 5,127, 6,126, 6,125, 7,125, 8,124, 9,124, 10,124, 11,123, 12,122, 13,122, 14,122, 15,121, 16,121, 17,120, 18,120, 19,121,
              20,121,
              21,120, 22,120, 23,119, 24,119, 25,118, 26,119, 27,119, 28,118, 29,119, 30,120, 31,120, 32,120, 33,120, 34,119, 34,118, 35,118, 36,118, 37,118, 38,119, 39,119, 40,120, 41,119, 42,119, 43,118, 43,117, 43,116, 43,115, 43,114, 44,113, 44,112, 45,112, 46,113, 47,113, 48,113, 49,112, 50,112, 51,112" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Bretagne', 'liste_dep': '22-29-35-56' }) }}" id="fr_4">
        <area shape="poly" title="Basse Normandie" alt="Basse Normandie" coords="95,70, 96,71, 97,71, 98,71, 99,71, 100,72, 101,72, 102,73, 103,73, 104,73, 105,73, 106,72, 107,72, 108,71, 109,71, 110,70, 111,70, 112,71, 113,71, 113,72, 114,73, 113,74, 112,75, 112,76, 112,77, 112,78, 113,79, 113,80, 114,81, 115,82, 116,83, 116,84, 116,85, 115,86,
              115,87, 116,88, 117,87,
              118,87, 119,87, 120,86, 121,85, 122,85, 123,85, 124,85, 125,86, 126,87, 127,87, 128,87, 129,87, 130,87, 131,87, 132,87, 133,87, 134,88, 135,88, 136,87, 137,87, 138,88, 139,88, 140,88, 141,88, 142,88, 143,89, 144,90, 145,90, 146,90, 147,90, 148,90, 149,90, 150,90, 151,90, 152,89, 153,89, 154,88, 155,88, 156,87, 157,86, 157,85,
              158,85, 159,84, 160,84, 161,84, 162,84, 162,85, 162,86, 162,87, 162,88, 163,89, 163,90, 163,91, 163,92, 164,93, 164,94, 164,95, 164,96, 165,97, 165,98, 164,99, 164,100, 164,101, 165,102, 166,103, 166,104, 165,105, 165,106, 164,107, 165,108, 166,109, 167,110, 168,110, 169,110, 170,110, 171,110, 171,111, 172,112, 173,113,
              174,113, 175,114, 176,115, 175,116, 175,117, 176,118, 176,119, 177,120, 178,120, 178,121, 178,122, 179,123, 180,124, 181,125, 182,126, 182,127, 182,128, 182,129, 182,130, 182,131, 181,132, 180,132, 179,133, 178,133, 177,134, 176,135, 176,136, 177,137, 177,138, 177,139, 178,140, 177,140, 177,139, 176,138, 175,137, 174,137,
              173,137, 172,137, 171,137, 170,136, 170,135, 169,134, 168,134, 167,134, 167,133, 167,132, 167,131, 167,130, 166,129, 166,128, 165,127, 164,126, 163,126, 162,126, 161,126, 160,127, 159,127, 158,127, 157,128, 156,129, 156,130, 155,131, 154,130, 153,130, 153,129, 152,128, 151,127, 150,128, 150,127, 150,126, 150,125, 149,124,
              148,123, 147,122, 146,122, 145,123, 144,124, 144,125, 143,124, 142,125, 141,125, 140,125, 139,125, 138,125, 137,125, 136,126, 135,127, 134,128, 133,127, 132,126, 131,127, 130,128, 129,127, 128,126, 127,126, 126,126, 125,125, 124,125, 123,125, 122,126, 121,125, 120,125, 119,125, 118,124, 117,124, 116,124, 115,124, 114,124,
              113,125, 112,126, 111,126, 110,127, 109,127, 108,126, 108,125, 107,124, 107,123, 106,122, 107,122, 108,122, 109,121, 110,121, 111,121, 112,120, 112,119, 111,118, 110,117, 109,118, 108,118, 107,117, 107,116, 106,115, 105,114, 105,113, 105,112, 105,111, 105,110, 105,109, 106,108, 106,107, 106,106, 106,105, 106,104, 106,103,
              107,102, 106,101, 105,100, 105,99, 104,98, 105,97, 105,96, 104,95, 104,94, 105,93, 105,92, 104,91, 103,91, 103,90, 102,89, 101,88, 101,87, 100,86, 99,86, 99,85, 98,84, 97,83, 97,82, 97,81, 97,80, 97,79, 96,78, 96,77, 97,76, 97,75, 97,74, 97,73, 96,72, 95,71" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Basse Normandie','liste_dep': '14-50-61' }) }}" id="fr_24">
        <area shape="poly" title="Haute Normandie" alt="Haute Normandie" coords="196,53, 197,53, 198,53, 199,54, 200,55, 201,56, 202,57, 203,58, 204,59, 205,60, 206,61, 206,62, 206,63, 207,64, 207,65, 207,66, 207,67, 206,68, 206,69, 205,70, 206,71, 206,72, 205,73, 206,74, 206,75, 205,76, 206,77, 207,78, 206,79, 207,80, 207,81, 206,82, 206,83,
              206,84, 207,85, 207,86,
              208,87, 208,88, 208,89, 207,89, 206,90, 206,91, 205,92, 205,93, 205,94, 204,95, 204,96, 204,97, 203,98, 202,98, 201,98, 200,99, 199,99, 198,100, 197,101, 198,102, 198,103, 198,104, 198,105, 198,106, 198,107, 198,108, 197,109, 196,110, 195,111, 195,112, 195,113, 194,113, 193,113, 192,113, 191,113, 190,112, 189,112, 188,112,
              187,113, 186,113, 185,114, 185,115, 184,115, 183,115, 182,115, 181,115, 180,116, 179,117, 178,117, 179,116, 179,115, 178,114, 178,113, 177,112, 176,112, 175,111, 175,110, 174,109, 173,108, 172,107, 171,107, 170,108, 169,107, 168,107, 168,106, 168,105, 168,104, 169,103, 169,102, 168,101, 168,100, 168,99, 168,98, 168,97,
              168,96,
              167,95, 167,94, 167,93, 166,92, 167,91, 167,90, 166,89, 165,88, 165,87, 164,86, 164,85, 164,84, 164,83, 164,82, 163,81, 162,81, 161,81, 160,81, 159,80, 158,80, 157,79, 157,78, 157,77, 158,76, 158,75, 159,74, 159,73, 159,72, 160,71, 160,70, 161,70, 162,69, 163,69, 164,68, 165,68, 166,67, 167,66, 168,66, 169,65, 170,64, 171,64,
              172,63, 173,63, 174,62, 175,62, 176,62, 177,62, 178,62, 179,62, 180,61, 181,61, 182,60, 183,60, 184,60, 185,60, 186,60, 187,60, 188,60, 189,59, 189,58, 190,58, 191,57, 192,57, 193,56, 194,55, 195,54" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Haute Normandie','liste_dep': '27-76' }) }}" id="fr_17">
        <area shape="poly" title="Ile de France" alt="Ile de France" coords="207,94, 207,95, 208,96, 209,96, 210,96, 211,96, 212,96, 213,96, 214,96, 215,96, 216,96, 217,95, 218,95, 219,95, 220,96, 221,96, 222,96, 223,97, 224,97, 225,97, 226,96, 227,97, 228,97, 229,97, 230,98, 231,99, 232,99, 233,99, 234,100, 235,100, 236,100, 237,100, 238,101,
              239,101, 240,101,
              241,101, 242,100, 243,101, 244,101, 245,100, 246,100, 247,101, 248,100, 249,100, 250,99, 251,99, 252,100, 252,101, 251,102, 252,103, 253,104, 254,105, 254,106, 255,107, 256,107, 257,108, 258,108, 258,109, 259,110, 260,111, 259,112, 259,113, 259,114, 259,115, 260,116, 261,117, 260,118, 260,119, 260,120, 261,121, 262,121,
              261,122, 260,123, 261,124, 260,124, 259,125, 259,126, 258,127, 258,128, 259,129, 259,130, 258,131, 257,131, 256,131, 255,131, 254,132, 253,131, 252,131, 251,132, 250,132, 249,132, 248,133, 247,134, 247,135, 247,136, 247,137, 247,138, 247,139, 246,140, 245,140, 244,141, 244,142, 243,142, 242,141, 241,141, 240,141, 239,141,
              238,141, 237,142, 236,142, 235,143, 234,142, 234,141, 234,140, 233,139, 232,138, 231,137, 230,137, 230,136, 230,135, 229,134, 228,134, 227,134, 226,133, 225,134, 224,133, 223,133, 222,133, 221,134, 220,135, 219,135, 218,135, 217,135, 216,134, 217,133, 217,132, 216,131, 215,130, 215,129, 214,128, 213,128, 212,128, 211,127,
              211,126, 210,125, 211,124, 210,123, 209,122, 208,122, 208,121, 207,120, 206,119, 205,118, 205,117, 205,116, 205,115, 205,114, 204,113, 204,112, 205,111, 204,110, 204,109, 204,108, 203,107, 202,106, 202,105, 202,104, 201,103, 201,102, 201,101, 202,101, 203,101, 204,100, 205,99, 206,98, 206,97, 207,96, 207,95" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Ile de France','liste_dep': '75-91-92-93-77-94-95-78' }) }}" id="fr_10">
        <area shape="poly" title="Pays de la Loire" alt="Pays de la Loire" coords="147,125, 147,126, 147,127, 147,128, 148,129, 149,130, 150,130, 150,131, 150,132, 151,133, 152,134, 153,133, 154,134, 155,134, 156,133, 157,132, 158,131, 159,130, 160,129, 161,129, 162,129, 163,130, 164,130, 164,131, 164,132, 164,133, 164,134, 164,135, 165,136,
              166,136, 167,137, 168,137,
              168,138, 169,139, 170,140, 171,140, 172,140, 173,140, 174,140, 175,141, 176,142, 177,143, 178,143, 179,143, 179,144, 178,145, 178,146, 177,147, 177,148, 178,149, 178,150, 178,151, 178,152, 178,153, 177,153, 176,154, 176,155, 176,156, 176,157, 175,158, 175,159, 174,160, 173,161, 172,162, 171,162, 170,163, 171,164, 170,165,
              169,165, 168,165, 167,166, 166,166, 165,166, 164,167, 164,168, 163,167, 162,167, 161,167, 160,167, 159,168, 159,169, 159,170, 158,171, 158,172, 159,173, 158,174, 158,175, 158,176, 158,177, 157,178, 157,179, 157,180, 156,181, 155,182, 155,183, 155,184, 155,185, 155,186, 154,187, 153,188, 152,189, 152,190, 151,191, 150,191,
              149,191, 148,190, 147,190, 146,190, 145,190, 144,190, 143,191, 142,191, 141,191, 140,191, 139,191, 138,191, 137,192, 136,192, 135,193, 135,194, 134,195, 133,195, 132,195, 131,195, 130,195, 129,195, 128,195, 127,196, 126,196, 125,196, 124,197, 124,198, 125,199, 125,200, 126,201, 127,202, 127,203, 128,204, 129,205, 130,205,
              130,206, 129,207, 130,208, 131,209, 131,210, 132,211, 132,212, 132,213, 133,214, 133,215, 133,216, 133,217, 132,218, 132,219, 133,220, 133,221, 132,222, 132,223, 132,224, 133,225, 134,225, 133,225, 132,226, 131,226, 130,226, 129,226, 128,225, 127,226, 126,226, 125,226, 125,225, 124,224, 123,224, 122,225, 121,225, 120,225,
              119,226, 118,226, 117,226, 116,226, 115,227, 115,228, 114,227, 113,226, 112,225, 111,225, 110,225, 109,225, 108,225, 108,224, 107,223, 106,222, 105,222, 104,222, 103,222, 102,221, 101,221, 100,220, 99,219, 98,218, 97,217, 97,216, 97,215, 96,214, 96,213, 95,212, 94,211, 94,210, 93,209, 92,208, 91,207, 90,206, 89,205, 88,205,
              87,204, 87,203, 87,202, 88,201, 89,200, 90,199, 91,198, 91,197, 91,196, 92,196, 93,195, 92,194, 91,193, 91,192, 90,191, 89,191, 88,190, 87,190, 86,190, 86,189, 87,188, 87,187, 87,186, 87,185, 87,184, 86,183, 85,183, 84,183, 83,184, 82,184, 81,184, 80,183, 79,183, 78,183, 77,183, 76,183, 76,182, 76,181, 76,180, 75,179, 76,178,
              77,178, 78,177, 78,176, 79,176, 80,176, 81,176, 82,175, 83,175, 84,174, 85,175, 86,175, 87,174, 87,173, 88,173, 89,172, 89,171, 89,170, 89,169, 90,168, 90,167, 91,167, 92,166, 93,166, 94,166, 95,165, 96,165, 97,165, 98,165, 99,165, 100,165, 101,165, 102,165, 103,164, 103,163, 104,162, 105,161, 106,161, 107,161, 108,160,
              109,159, 110,160, 111,161, 112,161, 113,161, 114,162, 115,162, 116,161, 116,160, 117,159, 117,158, 117,157, 118,156, 118,155, 118,154, 118,153, 119,152, 120,152, 121,152, 122,151, 123,150, 123,149, 123,148, 123,147, 122,146, 122,145, 122,144, 122,143, 121,142, 121,141, 121,140, 121,139, 121,138, 121,137, 122,136, 122,135,
              122,134, 122,133, 122,132, 121,131, 121,130, 121,129, 121,128, 122,128, 123,128, 124,127, 125,128, 126,128, 127,128, 127,129, 128,130, 129,130, 130,130, 131,130, 132,129, 133,130, 134,130, 135,129, 136,129, 137,128, 138,128, 139,128, 140,127, 141,128, 142,129, 143,129, 144,128, 144,127, 145,128, 146,127, 147,126" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Pays de la Loire','liste_dep': '44-49-53-72-85' }) }}" id="fr_18">
        <area shape="poly" title="Centre" alt="Centre" coords="201,108, 201,109, 201,110, 202,111, 202,112, 202,113, 201,114, 202,115, 202,116, 202,117, 202,118, 203,119, 203,120, 204,121, 205,122, 206,122, 206,123, 207,124, 208,125, 208,126, 208,127, 208,128, 209,129, 210,129, 211,130, 212,131, 213,131, 214,132, 214,133,
              214,134, 214,135, 214,136,
              214,137, 215,138, 216,138, 217,138, 218,138, 219,137, 220,137, 221,137, 222,137, 223,136, 224,137, 225,137, 226,136, 227,137, 228,137, 228,138, 229,139, 230,139, 231,140, 231,141, 230,142, 229,143, 229,144, 229,145, 230,146, 231,145, 232,145, 233,145, 234,145, 235,145, 236,145, 237,146, 238,145, 239,145, 240,144, 241,145,
              242,145, 243,145, 244,144, 245,144, 246,144, 247,145, 248,146, 248,147, 249,148, 249,149, 250,150, 250,151, 249,152, 248,153, 247,154, 247,155, 246,156, 246,157, 247,158, 247,159, 246,159, 245,160, 244,160, 243,160, 242,161, 241,162, 241,163, 242,164, 243,165, 244,165, 244,166, 244,167, 244,168, 244,169, 243,170, 242,170,
              241,171, 242,172, 243,173, 244,172, 244,173, 244,174, 244,175, 244,176, 244,177, 243,178, 243,179, 242,180, 242,181, 243,182, 244,183, 245,184, 245,185, 246,186, 246,187, 246,188, 247,189, 247,190, 247,191, 247,192, 247,193, 247,194, 248,195, 248,196, 248,197, 248,198, 248,199, 248,200, 248,201, 248,202, 248,203, 248,204,
              247,204, 246,204, 245,204, 244,205, 243,206, 242,207, 241,207, 240,207, 239,206, 238,207, 237,208, 236,209, 235,209, 234,210, 233,211, 233,212, 233,213, 232,214, 233,215, 234,216, 233,216, 232,216, 231,216, 230,216, 229,217, 228,217, 227,217, 226,218, 225,219, 225,220, 224,221, 223,221, 222,221, 221,221, 220,221, 219,221,
              218,221, 217,221, 216,220, 215,220, 214,220, 213,220, 212,220, 211,221, 210,220, 209,220, 208,220, 207,221, 207,222, 206,222, 205,222, 204,221, 203,221, 202,221, 201,221, 200,221, 199,222, 199,223, 198,224, 197,223, 196,222, 195,222, 194,223, 193,223, 192,223, 193,222, 192,221, 191,220, 191,219, 190,218, 189,217, 188,216,
              187,216, 186,215, 185,215, 184,214, 183,213, 183,212, 183,211, 184,210, 183,209, 183,208, 182,207, 181,206, 180,205, 180,204, 180,203, 179,202, 178,201, 177,201, 177,200, 177,199, 177,198, 177,197, 176,196, 175,196, 174,196, 173,195, 172,195, 171,195, 170,196, 170,197, 169,197, 168,197, 167,198, 166,198, 165,198, 164,198,
              165,197, 164,196, 164,195, 164,194, 163,193, 162,192, 161,192, 160,191, 159,190, 158,189, 157,189, 157,188, 157,187, 157,186, 157,185, 157,184, 158,183, 158,182, 159,181, 159,180, 160,179, 160,178, 160,177, 161,176, 161,175, 161,174, 162,173, 162,172, 161,171, 162,170, 163,170, 164,171, 165,171, 166,171, 167,170, 167,169,
              168,169, 169,168, 170,168, 171,167, 172,167, 173,166, 174,165, 174,164, 174,163, 175,162, 176,162, 177,161, 177,160, 178,159, 179,158, 179,157, 179,156, 180,155, 180,154, 181,153, 181,152, 181,151, 181,150, 181,149, 181,148, 181,147, 181,146, 181,145, 182,145, 183,144, 183,143, 182,142, 181,141, 181,140, 180,139, 180,138,
              180,137, 180,136, 179,135, 180,135, 181,135, 182,135, 183,134, 183,133, 184,132, 185,131, 185,130, 185,129, 185,128, 185,127, 185,126, 185,125, 184,124, 183,123, 182,122, 181,122, 181,121, 181,120, 181,119, 182,118, 183,118, 184,118, 185,117, 186,117, 187,117, 188,116, 189,116, 190,115, 191,115, 192,116, 193,116, 194,116,
              195,116, 196,115, 197,114, 198,113, 197,112, 198,111, 199,111, 200,110, 201,109" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Centre','liste_dep': '18-28-36-37-41-45' }) }}" id="fr_5">
        <area shape="poly" title="Bourgogne" alt="Bourgogne"  coords="264,133, 263,134, 263,135, 264,136, 264,137, 265,138, 265,139, 265,140, 264,141, 265,142, 266,143, 267,143, 267,144, 268,145, 269,145, 270,145, 271,146, 272,147, 271,148, 272,149, 272,150, 273,151, 273,152, 274,153, 274,154, 275,155, 276,155, 277,155, 278,155,
              279,155, 280,155, 281,155,
              282,155, 283,154, 284,154, 285,154, 286,154, 287,155, 288,155, 289,154, 289,153, 290,153, 291,154, 292,153, 293,153, 294,153, 295,153, 296,153, 297,152, 297,151, 297,150, 298,150, 299,151, 300,150, 301,151, 302,151, 302,152, 303,153, 304,153, 303,154, 304,155, 305,156, 306,156, 307,157, 308,158, 308,159, 307,159, 306,160,
              306,161, 306,162, 307,163, 307,164, 308,165, 309,166, 310,166, 311,167, 312,167, 313,168, 314,168, 315,168, 316,168, 316,169, 316,170, 317,171, 318,171, 319,171, 320,170, 321,171, 322,170, 323,170, 324,169, 324,170, 324,171, 324,172, 323,172, 322,172, 321,173, 320,174, 320,175, 320,176, 320,177, 321,178, 322,177, 322,178,
              323,179, 324,180, 323,181, 323,182, 324,183, 324,184, 323,185, 323,186, 322,187, 323,188, 323,189, 322,189, 321,190, 321,191, 320,191, 319,192, 318,193, 318,194, 317,195, 317,196, 316,197, 317,198, 317,199, 317,200, 318,201, 319,201, 319,202, 320,203, 321,203, 322,203, 321,203, 320,203, 319,204, 319,205, 319,206, 320,207,
              320,208, 320,209, 321,210, 321,211, 322,212, 322,213, 321,214, 320,215, 320,216, 320,217, 320,218, 321,219, 320,219, 319,220, 318,219, 317,218, 316,217, 315,217, 314,217, 313,218, 312,218, 311,218, 310,217, 309,217, 308,217, 307,218, 306,219, 306,220, 306,221, 305,222, 305,223, 305,224, 304,225, 304,226, 304,227, 303,228,
              303,229, 303,230, 303,231, 302,230, 302,229, 302,228, 301,227, 300,227, 299,227, 298,227, 297,227, 296,227, 295,228, 294,227, 293,227, 292,227, 291,227, 290,228, 290,229, 290,230, 289,231, 289,232, 288,232, 287,232, 286,232, 285,231, 284,232, 283,232, 282,231, 281,232, 280,232, 279,232, 278,231, 277,231, 277,230, 277,229,
              278,228, 279,228, 280,227, 280,226, 280,225, 279,224, 280,223, 280,222, 280,221, 279,220, 278,219, 277,218, 276,218, 275,218, 274,217, 273,217, 272,216, 272,215, 272,214, 271,213, 271,212, 270,211, 269,210, 269,209, 268,208, 268,207, 267,206, 266,206, 265,206, 264,207, 264,208, 263,209, 262,209, 261,208, 260,208, 259,208,
              258,209, 257,208, 256,208, 255,208, 254,209, 253,209, 253,208, 252,207, 251,207, 250,207, 250,206, 250,205, 251,204, 251,203, 251,202, 250,201, 250,200, 251,199, 251,198, 251,197, 251,196, 251,195, 251,194, 250,193, 250,192, 250,191, 249,190, 249,189, 249,188, 249,187, 248,186, 248,185, 248,184, 247,183, 246,182, 245,181,
              245,180, 245,179, 246,178, 246,177, 246,176, 246,175, 245,174, 244,175, 244,174, 244,173, 244,172, 245,172, 246,172, 247,171, 248,170, 247,169, 247,168, 247,167, 247,166, 246,165, 246,164, 245,163, 244,162, 245,162, 246,162, 247,161, 248,161, 249,160, 249,159, 249,158, 250,157, 249,156, 249,155, 250,154, 251,154, 252,153,
              252,152, 252,151, 252,150, 252,149, 252,148, 251,147, 250,146, 250,145, 250,144, 249,143, 248,142, 247,142, 248,141, 249,140, 249,139, 250,138, 250,137, 249,136, 250,136, 251,135, 252,134, 253,134, 254,134, 255,134, 256,134, 257,134, 258,134, 259,134, 260,134, 261,134, 262,134, 263,134" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Centre','liste_dep': '21-58-71-89' }) }}" id="fr_3">
        <area shape="poly" title="Poitou Charentes" alt="Poitou Charentes" coords="154,190, 155,190, 155,191, 156,192, 157,192, 158,192, 158,193, 159,194, 160,195, 161,195, 162,195, 162,196, 162,197, 162,198, 162,199, 163,200, 164,200, 165,200, 166,200, 167,201, 168,200, 169,199, 170,199, 171,199, 172,199, 173,198, 174,198, 174,199, 174,200,
              174,201, 175,202, 176,203,
              177,204, 178,205, 178,206, 178,207, 179,208, 180,208, 181,209, 181,210, 181,211, 181,212, 180,213, 180,214, 181,215, 182,216, 183,217, 184,217, 185,218, 186,219, 187,219, 188,219, 188,220, 188,221, 189,222, 189,223, 188,224, 187,224, 186,224, 185,225, 185,226, 184,227, 183,227, 182,227, 181,228, 180,229, 179,230, 178,229,
              177,230, 177,231, 177,232, 177,233, 178,234, 178,235, 177,236, 178,237, 178,238, 178,239, 178,240, 179,241, 180,242, 181,242, 181,243, 180,244, 179,243, 178,244, 178,245, 178,246, 178,247, 178,248, 177,249, 176,249, 175,250, 174,251, 173,252, 173,253, 172,254, 171,255, 171,256, 170,256, 169,257, 168,258, 168,259, 168,260,
              168,261, 167,262, 166,263, 165,264, 164,264, 163,264, 162,265, 162,266, 161,267, 160,268, 160,269, 160,270, 160,271, 161,272, 160,272, 159,273, 158,274, 158,275, 157,275, 156,275, 155,275, 154,276, 153,276, 152,277, 152,278, 152,279, 151,280, 150,279, 149,280, 148,280, 147,280, 146,279, 145,279, 144,278, 143,278, 142,277,
              142,276, 142,275, 141,274, 141,273, 140,272, 139,272, 138,272, 137,272, 136,271, 136,270, 135,269, 134,270, 134,271, 133,271, 132,271, 132,270, 131,269, 132,268, 131,267, 130,266, 130,265, 129,264, 128,263, 127,262, 126,262, 125,261, 124,260, 123,259, 122,258, 121,257, 120,257, 119,256, 118,256, 117,255, 116,254, 116,253,
              116,252, 117,252, 118,251, 119,250, 119,249, 120,248, 120,247, 121,246, 121,245, 121,244, 121,243, 121,242, 122,241, 121,240, 121,239, 120,238, 120,237, 119,236, 118,235, 117,234, 117,233, 117,232, 118,231, 119,231, 120,230, 120,229, 120,228, 121,227, 122,227, 123,227, 124,228, 125,228, 126,228, 127,228, 128,228, 129,228,
              130,229, 131,229, 132,229, 133,228, 134,228, 135,227, 136,227, 137,226, 138,225, 138,224, 137,223, 136,223, 136,222, 136,221, 136,220, 135,219, 136,218, 136,217, 136,216, 136,215, 136,214, 135,213, 135,212, 134,211, 134,210, 134,209, 133,208, 133,207, 132,206, 133,205, 133,204, 132,203, 131,203, 130,202, 129,201, 129,200,
              129,199, 128,198, 129,198, 130,198, 131,198, 132,198, 133,198, 134,198, 135,198, 136,197, 137,196, 138,195, 139,195, 140,194, 141,194, 142,193, 143,193, 144,193, 145,193, 146,193, 147,193, 148,194, 149,194, 150,195, 151,194, 151,193, 152,193, 153,193, 154,192, 154,191" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Poitou Charentes','liste_dep': '16-17-79-86' }) }}" id="fr_20">
        <area shape="poly" title="Limousin" alt="Limousin" coords="210,223, 211,224, 212,223, 213,223, 214,223, 215,223, 216,223, 217,224, 218,224, 219,224, 220,224, 221,224, 222,224, 223,224, 224,224, 224,225, 224,226, 225,227, 226,228, 227,229, 228,228, 228,229, 229,230, 230,230, 231,231, 231,232, 231,233, 232,234, 232,235,
              232,236, 232,237, 232,238,
              232,239, 233,240, 234,241, 233,242, 233,243, 232,244, 232,245, 231,246, 230,246, 229,247, 228,248, 227,249, 227,250, 228,251, 229,252, 229,253, 230,254, 231,254, 231,255, 231,256, 230,257, 230,258, 229,259, 229,260, 230,261, 230,262, 231,263, 231,264, 231,265, 230,266, 230,267, 229,267, 228,266, 227,266, 226,267, 226,268,
              226,269, 226,270, 225,271, 224,272, 223,273, 223,274, 222,275, 221,276, 221,277, 221,278, 221,279, 220,280, 220,281, 219,282, 218,283, 218,284, 218,285, 219,286, 218,286, 217,285, 216,286, 215,286, 214,286, 213,286, 212,286, 211,287, 210,287, 209,287, 208,286, 207,285, 206,284, 205,283, 204,283, 203,283, 202,283, 201,283,
              200,283, 199,284, 199,283, 199,282, 199,281, 198,280, 197,279, 196,279, 195,278, 195,277, 195,276, 195,275, 195,274, 194,273, 194,272, 195,271, 196,270, 196,269, 196,268, 195,267, 195,266, 194,265, 193,265, 192,264, 191,264, 191,263, 191,262, 190,261, 189,260, 188,261, 187,260, 187,259, 186,258, 185,258, 184,257, 183,258,
              182,258, 181,257, 180,258, 179,258, 179,257, 179,256, 178,255, 177,254, 176,254, 175,254, 176,254, 177,253, 177,252, 178,252, 179,251, 179,250, 180,249, 180,248, 181,247, 182,246, 183,245, 184,244, 184,243, 184,242, 184,241, 183,240, 182,239, 181,239, 181,238, 181,237, 181,236, 181,235, 181,234, 181,233, 180,232, 181,232,
              182,231, 182,230, 183,230, 184,230, 185,230, 186,229, 187,228, 187,227, 188,227, 189,227, 190,226, 191,226, 192,226, 193,226, 194,226, 195,226, 196,225, 196,226, 197,227, 198,227, 199,226, 200,226, 201,225, 202,225, 203,224, 204,225, 205,225, 206,225, 207,225, 208,225, 209,224" href="{{ path('pat_appartement_ville_disponible_region', {'region' : 'Limousin', 'liste_dep': '19-23-87' }) }}" id="fr_12">
        <area shape="poly" title="Auvergne" alt="Auvergne" coords="245,207, 246,207, 247,207, 248,208, 249,209, 250,210, 251,210, 252,211, 253,212, 254,212, 255,211, 256,211, 257,212, 258,212, 259,211, 260,211, 260,212, 261,213, 262,213, 263,213, 264,212, 265,212, 266,211, 267,211, 268,212, 268,213, 269,214, 269,215, 269,216,
              269,217, 270,218, 271,219,
              272,219, 273,219, 274,220, 275,221, 276,221, 277,221, 277,222, 277,223, 277,224, 277,225, 277,226, 276,227, 275,227, 274,228, 273,228, 272,229, 271,230, 270,231, 271,232, 271,233, 271,234, 271,235, 271,236, 271,237, 271,238, 271,239, 272,240, 272,241, 271,241, 270,241, 269,241, 268,242, 268,243, 268,244, 268,245, 269,246,
              269,247, 269,248, 268,249, 268,250, 268,251, 269,252, 269,253, 270,254, 270,255, 271,256, 271,257, 272,258, 273,259, 274,260, 275,261, 276,261, 276,262, 276,263, 276,264, 276,265, 276,266, 275,267, 274,268, 274,269, 274,270, 274,271, 275,272, 276,272, 277,271, 278,271, 278,272, 279,273, 280,273, 281,272, 282,271, 283,271,
              284,271, 285,270, 286,271, 287,271, 288,272, 288,273, 288,274, 289,275, 290,276, 291,276, 292,276, 292,277, 292,278, 291,278, 290,278, 289,279, 289,280, 288,281, 288,282, 288,283, 287,284, 287,285, 286,286, 285,287, 284,288, 284,289, 283,290, 282,290, 281,290, 280,290, 279,291, 278,292, 277,292, 276,293, 276,294, 275,295,
              274,295, 273,295, 273,294, 272,293, 271,292, 270,292, 269,291, 268,290, 267,290, 266,290, 265,291, 265,292, 264,293, 263,293, 262,292, 262,291, 262,290, 262,289, 261,288, 260,287, 259,286, 258,287, 257,287, 256,287, 255,287, 254,288, 254,289, 253,290, 252,289, 251,289, 250,290, 249,291, 249,292, 249,293, 248,294, 248,295,
              247,296, 247,297, 247,298, 246,298, 247,297, 247,296, 247,295, 246,294, 245,294, 244,293, 244,292, 244,291, 243,290, 242,290, 241,289, 240,288, 239,287, 238,288, 237,289, 236,290, 235,291, 234,292, 234,293, 233,294, 233,295, 232,296, 232,297, 232,298, 231,299, 230,300, 229,300, 228,300, 227,299, 226,299, 225,299, 224,300,
              223,300, 222,299, 222,298, 222,297, 223,296, 223,295, 223,294, 222,293, 221,293, 221,292, 220,291, 221,290, 222,289, 221,288, 220,288, 221,287, 222,286, 222,285, 221,284, 222,283, 223,282, 223,281, 224,280, 224,279, 225,278, 224,277, 224,276, 225,275, 226,274, 227,273, 228,272, 229,271, 229,270, 230,270, 231,271, 232,271,
              233,270, 234,269, 234,268, 233,267, 233,266, 233,265, 233,264, 234,263, 233,262, 234,261, 233,260, 232,260, 232,259, 233,259, 234,258, 234,257, 234,256, 234,255, 234,254, 233,253, 232,252, 231,251, 231,250, 231,249, 232,249, 233,248, 233,247, 234,246, 235,245, 235,244, 236,244, 237,243, 236,242, 236,241, 236,240, 236,239,
              235,238, 235,237, 235,236, 235,235, 235,234, 235,233, 234,232, 234,231, 233,230, 233,229, 232,228, 231,227, 230,227, 229,226, 228,225, 228,224, 227,223, 226,223, 226,222, 227,221, 228,220, 228,219, 229,219, 230,219, 231,219, 232,219, 233,219, 234,219, 235,218, 236,217, 237,216, 236,215, 236,214, 236,213, 237,212, 237,211,
              238,210, 239,210, 240,210, 241,210, 242,210, 243,210, 244,209, 244,208" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Auvergne','liste_dep': '03-15-43-63' }) }}" id="fr_2">
        <area shape="poly" title="Aquitaine" alt="Aquitaine" coords="173,257, 174,257, 175,257, 176,257, 176,258, 176,259, 176,260, 177,261, 178,261, 179,262, 180,261, 181,260, 182,261, 183,260, 184,260, 185,261, 186,262, 187,263, 187,264, 187,265, 188,266, 189,266, 190,267, 191,267, 191,268, 192,269, 193,270, 192,270, 191,271,
              191,272, 191,273, 191,274,
              191,275, 191,276, 191,277, 191,278, 192,279, 192,280, 193,281, 194,281, 195,281, 196,282, 196,283, 196,284, 197,285, 196,286, 197,287, 197,288, 197,289, 197,290, 197,291, 196,292, 195,293, 194,294, 193,295, 193,296, 193,297, 192,298, 191,299, 190,299, 189,299, 188,300, 188,301, 188,302, 187,303, 186,304, 185,304, 184,305,
              183,306, 184,307, 184,308, 184,309, 184,310, 184,311, 185,312, 184,313, 183,312, 182,312, 181,313, 180,314, 179,315, 180,316, 180,317, 181,318, 181,319, 181,320, 180,321, 179,322, 178,322, 177,323, 176,324, 176,325, 175,326, 174,326, 173,325, 172,325, 171,325, 170,326, 169,326, 168,326, 167,327, 166,327, 165,328, 164,328,
              163,328, 162,328, 161,328, 160,327, 159,328, 158,328, 157,328, 156,329, 155,330, 154,330, 153,330, 152,329, 151,330, 150,330, 149,331, 148,331, 147,332, 146,332, 145,333, 145,334, 145,335, 146,336, 146,337, 145,338, 145,339, 145,340, 145,341, 145,342, 144,343, 144,344, 143,345, 144,346, 144,347, 145,348, 146,349, 147,349,
              148,349, 149,349, 150,350, 151,351, 151,352, 150,353, 150,354, 150,355, 151,356, 150,355, 149,356, 149,357, 149,358, 149,359, 148,360, 148,361, 148,362, 149,363, 150,364, 149,364, 148,365, 148,366, 147,367, 146,368, 146,369, 146,370, 145,370, 144,371, 143,372, 143,373, 143,374, 143,375, 142,376, 143,377, 143,378, 142,379,
              141,380, 140,380, 139,380, 138,379, 137,379, 136,380, 135,379, 134,378, 133,377, 132,377, 132,376, 132,375, 131,374, 130,373, 129,373, 128,374, 127,374, 126,374, 125,373, 124,374, 123,373, 122,372, 121,372, 120,371, 119,370, 118,370, 117,370, 116,369, 115,369, 114,370, 114,369, 115,368, 114,367, 113,367, 112,367, 111,368,
              110,368, 110,367, 111,366, 111,365, 111,364, 111,363, 111,362, 111,361, 110,360, 109,360, 108,360, 107,359, 106,359, 105,359, 104,360, 103,359, 102,358, 101,358, 100,359, 100,358, 99,357, 100,357, 101,357, 102,357, 103,356, 104,355, 104,354, 105,353, 106,352, 107,351, 107,350, 108,349, 108,348, 109,347, 109,346, 109,345,
              109,344, 109,343, 110,342, 110,341, 110,340, 110,339, 111,338, 111,337, 111,336, 111,335, 111,334, 112,333, 112,332, 112,331, 112,330, 112,329, 113,328, 113,327, 113,326, 113,325, 113,324, 113,323, 114,322, 114,321, 114,320, 114,319, 114,318, 114,317, 115,316, 115,315, 115,314, 115,313, 115,312, 115,311, 115,310, 115,309,
              115,308, 115,307, 115,306, 116,305, 116,304, 117,303, 117,302, 118,303, 119,303, 120,303, 121,303, 122,303, 123,302, 123,301, 123,300, 122,299, 121,298, 120,297, 119,296, 118,296, 117,295, 116,296, 116,295, 116,294, 116,293, 116,292, 116,291, 116,290, 117,289, 117,288, 117,287, 117,286, 117,285, 117,284, 117,283, 117,282,
              117,281, 117,280, 117,279, 117,278, 118,277, 118,276, 118,275, 118,274, 118,273, 118,272, 118,271, 118,270, 118,269, 118,268, 118,267, 118,266, 118,265, 119,264, 120,264, 121,265, 122,266, 123,267, 124,267, 125,268, 126,269, 127,270, 127,271, 128,272, 128,273, 129,274, 129,275, 129,276, 129,277, 130,278, 130,279, 130,280,
              131,281, 131,282, 132,283, 132,284, 133,285, 134,286, 135,286, 136,285, 136,284, 135,283, 134,282, 134,281, 134,280, 134,279, 134,278, 133,277, 133,276, 133,275, 133,274, 132,273, 133,273, 134,273, 135,273, 136,274, 137,274, 138,274, 139,274, 139,275, 140,276, 140,277, 140,278, 140,279, 141,280, 142,280, 143,280, 144,281,
              145,282, 146,282, 147,283, 148,283, 149,283, 150,283, 151,283, 152,283, 153,282, 154,281, 155,280, 155,279, 155,278, 156,278, 157,278, 158,278, 159,277, 160,276, 161,275, 162,274, 163,273, 163,272, 163,271, 163,270, 163,269, 163,268, 164,268, 165,267, 166,266, 167,266, 168,265, 168,264, 169,263, 170,262, 171,261, 171,260,
              171,259, 172,258" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Aquitaine','liste_dep': '24-33-40-47-64' }) }}" id="fr_1">
        <area shape="poly" title="Midi Pyr&eacute;n&eacute;es" alt="Midi Pyr&eacute;n&eacute;es" coords="200,286, 201,286, 202,286, 203,286, 204,286, 205,287, 206,287, 206,288, 207,289, 208,290, 209,291, 210,291, 211,290, 212,290, 213,289, 214,289, 215,289, 216,289, 217,288, 217,289, 218,290, 218,291, 218,292, 219,293, 219,294, 220,295, 219,296, 219,297, 219,298,
              219,299, 219,300, 220,301,
              220,302, 221,303, 222,304, 223,304, 224,303, 225,302, 226,303, 227,303, 228,303, 229,303, 230,303, 231,303, 232,302, 233,301, 234,300, 234,299, 235,298, 235,297, 235,296, 236,295, 236,294, 237,293, 238,292, 239,291, 239,292, 240,293, 241,293, 242,293, 242,294, 242,295, 243,296, 244,297, 244,298, 244,299, 244,300, 245,301,
              246,302, 247,303, 248,304, 248,305, 249,306, 249,307, 248,308, 249,309, 250,310, 250,311, 250,312, 250,313, 250,314, 250,315, 251,316, 250,317, 250,318, 251,319, 252,320, 253,320, 253,321, 253,322, 254,323, 255,322, 256,322, 257,322, 257,323, 256,324, 255,324, 254,325, 255,326, 255,327, 256,328, 257,328, 258,329, 259,329,
              260,329, 259,330, 258,331, 257,332, 257,333, 256,333, 255,334, 254,335, 254,336, 253,337, 252,336, 251,336, 250,336, 249,336, 248,337, 248,338, 248,339, 248,340, 248,341, 247,341, 246,341, 245,342, 244,343, 243,344, 242,344, 241,344, 240,345, 239,344, 238,343, 237,343, 236,343, 235,344, 235,345, 235,346, 234,347, 234,348,
              235,349, 235,350, 235,351, 235,352, 235,353, 234,353, 233,353, 232,353, 231,353, 230,353, 229,353, 228,353, 227,353, 226,352, 225,352, 224,352, 223,353, 222,354, 221,354, 220,354, 219,354, 218,353, 217,353, 216,353, 215,353, 214,353, 213,354, 212,353, 211,352, 210,353, 210,354, 209,355, 209,356, 209,357, 208,356, 207,357,
              206,358, 206,359, 206,360, 205,361, 205,362, 206,363, 206,364, 206,365, 207,366, 208,366, 209,367, 210,367, 211,368, 212,369, 213,369, 213,370, 213,371, 214,372, 214,373, 213,374, 213,375, 214,376, 214,377, 214,378, 213,378, 212,378, 211,379, 211,380, 211,381, 212,382, 212,383, 213,384, 214,385, 215,385, 216,385, 217,385,
              218,385, 219,385, 219,386, 218,386, 217,386, 216,386, 215,387, 214,388, 213,388, 212,389, 211,389, 210,389, 209,389, 208,388, 207,388, 206,388, 205,388, 204,387, 203,387, 202,386, 201,386, 200,386, 199,387, 198,386, 197,385, 197,384, 196,383, 195,383, 194,384, 193,384, 192,383, 191,384, 190,384, 190,383, 189,382, 188,381,
              187,381, 186,381, 185,381, 184,380, 183,380, 182,380, 181,380, 180,379, 179,379, 178,379, 177,378, 176,378, 175,378, 174,379, 173,380, 173,381, 173,382, 173,383, 173,384, 173,385, 172,384, 171,384, 170,384, 169,384, 168,384, 167,385, 166,384, 165,384, 164,384, 163,385, 162,384, 161,384, 160,383, 159,383, 158,383, 157,384,
              156,384, 155,384, 154,384, 153,385, 152,384, 151,383, 150,382, 150,381, 149,380, 148,381, 147,380, 146,379, 145,379, 145,378, 145,377, 146,376, 146,375, 146,374, 146,373, 147,372, 148,372, 149,371, 149,370, 149,369, 150,368, 150,367, 151,367, 152,366, 153,365, 153,364, 153,363, 154,362, 154,361, 154,360, 155,359, 156,358,
              155,357, 155,356, 155,355, 155,354, 155,353, 154,352, 153,351, 154,350, 153,349, 152,348, 151,347, 150,346, 149,346, 148,346, 147,346, 147,345, 147,344, 147,343, 148,342, 149,341, 148,340, 148,339, 149,338, 149,337, 149,336, 149,335, 148,334, 149,334, 150,334, 151,334, 152,333, 153,334, 154,335, 155,335, 156,335, 157,334,
              157,333, 157,332, 157,331, 158,332, 159,332, 160,331, 161,331, 162,331, 163,331, 164,331, 165,331, 166,330, 167,330, 168,329, 169,329, 170,328, 171,329, 172,328, 173,328, 173,329, 174,330, 175,330, 176,329, 177,328, 178,327, 178,326, 179,326, 180,325, 181,325, 182,325, 183,324, 183,323, 183,322, 183,321, 184,320, 184,319,
              185,318, 184,317, 183,316, 184,315, 185,315, 186,315, 187,315, 188,314, 188,313, 188,312, 188,311, 187,310, 187,309, 187,308, 187,307, 187,306, 188,306, 189,305, 189,304, 190,303, 191,302, 191,301, 192,301, 193,301, 194,300, 195,299, 196,298, 196,297, 196,296, 197,295, 198,294, 199,293, 200,292, 200,291, 200,290, 200,289,
              200,288, 199,287" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Midi Pyrénés','liste_dep': '09-12-31-32-46-65-81-82' }) }}" id="fr_14">
        <area shape="poly" title="Languedoc Roussillon" alt="Languedoc Roussillon" coords="259,289, 259,290, 259,291, 260,292, 260,293, 261,294, 262,295, 263,296, 264,295, 265,295, 266,295, 267,294, 267,293, 267,294, 268,295, 269,295, 270,295, 271,296, 272,297, 273,298, 273,299, 273,300, 274,301, 274,302, 274,303, 274,304, 275,305, 276,306, 276,307, 277,308,
              277,309, 278,310,
              278,311, 279,312, 279,313, 279,314, 278,315, 279,316, 280,317, 281,317, 282,317, 283,317, 284,318, 285,318, 286,319, 287,319, 288,318, 289,317, 290,316, 290,317, 291,318, 292,319, 293,318, 294,317, 294,316, 295,317, 296,318, 297,318, 298,319, 298,320, 299,321, 300,322, 300,323, 300,324, 300,325, 300,326, 301,327, 302,328,
              303,329, 303,330, 303,331, 302,331, 301,332, 300,333, 299,334, 298,335, 297,336, 297,337, 298,338, 298,339, 297,340, 297,341, 296,341, 295,341, 294,341, 293,342, 292,343, 292,344, 291,345, 291,346, 291,347, 290,348, 289,348, 288,348, 287,349, 287,350, 286,350, 285,351, 285,352, 284,352, 284,351, 284,350, 283,349, 282,348,
              281,348, 280,348, 279,348, 278,348, 277,349, 276,349, 275,350, 274,351, 273,352, 272,353, 271,353, 270,354, 269,355, 268,355, 267,356, 266,357, 265,358, 264,359, 263,359, 262,360, 261,359, 260,359, 259,360, 258,360, 257,361, 256,362, 255,363, 254,363, 253,364, 252,365, 251,366, 251,367, 250,368, 250,369, 249,370, 249,371,
              248,372, 248,373, 248,374, 248,375, 248,376, 248,377, 248,378, 248,379, 248,380, 248,381, 247,382, 248,383, 248,384, 248,385, 248,386, 248,387, 248,388, 248,389, 248,390, 248,391, 248,392, 249,393, 250,394, 251,395, 250,396, 250,395, 249,394, 248,394, 247,394, 246,394, 245,394, 244,395, 243,394, 242,395, 241,396, 240,396,
              239,396, 238,396, 237,397, 236,398, 236,399, 235,399, 234,399, 233,399, 232,400, 231,399, 231,398, 230,397, 229,397, 228,397, 227,397, 226,396, 225,396, 224,396, 223,396, 222,396, 221,396, 220,396, 219,397, 219,398, 218,399, 217,399, 216,399, 216,398, 216,397, 217,396, 217,395, 217,394, 216,393, 215,394, 214,394, 213,395,
              212,395, 211,394, 210,393, 209,393, 209,392, 210,392, 211,391, 212,391, 213,391, 214,390, 215,390, 216,390, 217,389, 217,388, 218,388, 219,388, 220,388, 221,388, 222,387, 223,386, 222,385, 221,384, 220,383, 219,382, 218,382, 217,382, 216,383, 215,383, 215,382, 214,381, 214,380, 215,380, 216,379, 217,378, 217,377, 217,376,
              217,375, 217,374, 217,373, 217,372, 217,371, 216,370, 216,369, 216,368, 215,367, 214,366, 213,366, 212,365, 211,365, 210,365, 209,364, 209,363, 208,362, 208,361, 209,360, 210,359, 211,359, 212,358, 212,357, 212,356, 213,357, 214,356, 215,356, 216,356, 217,356, 218,357, 219,357, 220,357, 221,356, 222,357, 223,357, 224,356,
              224,355, 225,355, 226,355, 227,355, 228,356, 229,356, 230,355, 231,355, 232,356, 233,356, 234,356, 235,355, 236,355, 237,354, 238,353, 238,352, 238,351, 238,350, 237,349, 237,348, 237,347, 237,346, 238,346, 239,347, 240,347, 241,347, 242,347, 243,346, 244,346, 245,345, 246,344, 247,344, 248,344, 249,344, 250,343, 251,342,
              251,341, 251,340, 251,339, 250,338, 251,339, 252,339, 253,339, 254,339, 255,338, 256,337, 256,336, 257,335, 258,335, 259,334, 260,333, 260,332, 261,331, 262,330, 263,329, 262,328, 261,327, 260,326, 259,326, 259,325, 259,324, 260,323, 260,322, 260,321, 259,320, 258,320, 257,320, 256,320, 255,319, 254,318, 253,317, 253,316,
              254,315, 253,314, 253,313, 253,312, 253,311, 253,310, 252,309, 251,308, 251,307, 251,306, 251,305, 250,304, 249,303, 249,302, 248,301, 249,300, 250,299, 250,298, 250,297, 250,296, 250,295, 251,294, 252,293, 253,293, 254,293, 255,292, 256,291, 257,290, 258,290" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Languedoc Roussillon','liste_dep': '11-30-34-48-66' }) }}" id="fr_11">
        <area shape="poly" title="Provence Alpes C&ocirc;te d'Azur" alt="Provence Alpes C&ocirc;te d'Azur" coords="350,282, 351,282, 351,283, 352,284, 353,284, 354,284, 355,284, 356,284, 357,283, 358,282, 359,282, 360,282, 360,283, 361,284, 361,285, 362,286, 363,286, 364,287, 364,288, 364,289, 364,290, 365,291, 366,292, 367,293, 368,293, 369,294, 370,294, 371,294, 372,294, 372,295,
              372,296, 372,297,
              373,298, 373,299, 372,299, 371,299, 370,300, 370,301, 370,302, 370,303, 369,304, 368,305, 367,306, 367,307, 367,308, 368,309, 369,310, 368,311, 368,312, 368,313, 368,314, 369,315, 370,316, 370,317, 371,318, 371,319, 372,320, 373,321, 374,321, 375,321, 376,321, 377,322, 378,322, 379,323, 380,324, 381,324, 382,324, 383,325,
              384,325, 385,325, 386,326, 387,325, 388,325, 389,324, 390,324, 391,324, 392,324, 393,325, 394,326, 394,327, 393,327, 392,328, 392,329, 392,330, 391,331, 390,331, 389,332, 389,333, 388,334, 387,335, 387,336, 387,337, 388,338, 387,339, 386,340, 385,340, 384,341, 383,341, 382,341, 381,342, 380,342, 379,343, 378,344, 377,344,
              376,345, 376,346, 376,347, 375,347, 374,348, 373,348, 372,348, 371,349, 370,350, 370,351, 369,352, 369,353, 368,353, 367,354, 366,354, 365,354, 364,354, 363,355, 363,356, 363,357, 362,357, 361,358, 360,359, 359,360, 358,361, 359,362, 360,362, 361,362, 361,363, 361,364, 360,364, 359,364, 358,364, 357,365, 356,365, 355,365,
              354,365, 353,365, 352,366, 352,367, 351,367, 350,367, 349,367, 348,367, 347,367, 346,368, 345,368, 344,368, 343,368, 342,367, 341,367, 340,367, 339,366, 338,367, 337,367, 336,368, 335,367, 334,366, 333,366, 332,365, 331,364, 330,364, 329,364, 328,364, 328,363, 327,362, 326,363, 325,363, 324,362, 323,362, 322,363, 323,362,
              322,361, 322,360, 322,359, 322,358, 321,357, 320,356, 319,356, 318,357, 317,357, 316,357, 315,357, 314,358, 313,357, 312,358, 311,357, 311,356, 310,355, 309,354, 308,353, 307,353, 306,352, 305,353, 304,354, 303,355, 303,356, 304,357, 303,357, 302,357, 301,357, 300,357, 299,357, 298,357, 298,356, 298,355, 298,354, 297,353,
              296,353, 295,352, 294,352, 293,352, 292,352, 291,352, 290,352, 289,352, 288,352, 287,352, 288,352, 289,351, 290,351, 291,350, 292,350, 293,349, 294,348, 295,347, 295,346, 294,345, 295,344, 296,344, 297,344, 298,345, 299,344, 300,343, 299,342, 299,341, 300,340, 300,339, 300,338, 301,337, 301,336, 301,335, 302,334, 303,334,
              304,333, 305,332, 306,331, 306,330, 306,329, 305,328, 305,327, 304,326, 303,325, 302,325, 302,324, 302,323, 303,322, 302,321, 302,320, 301,319, 300,318, 300,317, 301,317, 302,317, 303,318, 303,319, 303,320, 304,321, 305,321, 306,320, 307,320, 308,319, 309,319, 310,318, 311,318, 312,318, 313,319, 314,319, 313,320, 314,321,
              315,321, 316,321, 317,322, 318,321, 319,322, 320,322, 321,323, 322,324, 323,325, 324,326, 325,326, 326,326, 327,325, 328,324, 329,323, 330,324, 331,325, 332,324, 332,323, 333,322, 332,321, 333,320, 332,319, 333,318, 332,317, 331,316, 331,315, 330,314, 329,314, 328,314, 327,314, 326,313, 325,313, 326,312, 327,311, 327,310,
              328,310, 329,311, 330,310, 331,309, 332,308, 331,307, 331,306, 330,305, 331,304, 331,303, 332,303, 333,303, 334,303, 335,302, 336,301, 337,300, 337,299, 337,298, 338,298, 339,298, 340,298, 341,297, 342,296, 341,295, 342,295, 343,295, 344,295, 345,294, 346,294, 347,294, 348,294, 349,294, 350,293, 351,294, 352,294, 353,293,
              354,292, 354,291, 354,290, 354,289, 353,288, 353,287, 352,286, 351,285, 350,285, 349,285, 349,284, 350,283" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : "Provence Alpes Côte d'Azur",'liste_dep': '04-05-06-13-83-84' }) }}" id="fr_21">
        <area shape="poly" title="Rh&ocirc;ne Alpes" alt="Rh&ocirc;ne Alpes" coords="310,220, 311,221, 312,221, 313,221, 314,220, 315,220, 316,221, 317,222, 318,222, 318,223, 319,224, 320,225, 320,226, 321,227, 321,228, 322,229, 323,229, 323,230, 324,231, 325,231, 326,231, 327,231, 328,230, 329,229, 330,228, 331,229, 331,230, 332,231, 333,231, 334,231,
              335,231, 336,231,
              337,231, 338,230, 339,230, 340,229, 341,228, 341,227, 342,226, 343,225, 344,224, 345,225, 345,226, 344,227, 344,228, 344,229, 343,230, 342,230, 341,230, 340,231, 340,232, 339,233, 340,234, 339,235, 339,236, 340,237, 341,236, 342,236, 343,236, 344,236, 345,236, 346,236, 347,235, 348,234, 349,233, 350,233, 351,232, 352,231,
              352,230, 351,229, 350,229, 350,228, 350,227, 350,226, 351,226, 352,225, 353,225, 354,224, 355,224, 356,223, 357,222, 358,222, 359,222, 360,222, 361,222, 362,222, 363,222, 364,223, 365,223, 366,223, 365,224, 365,225, 364,226, 365,227, 366,228, 367,229, 367,230, 366,231, 365,232, 366,233, 365,234, 365,235, 366,236, 367,237,
              368,237, 368,238, 368,239, 369,240, 370,240, 371,241, 372,242, 372,243, 372,244, 372,245, 372,246, 371,247, 370,247, 369,247, 368,248, 367,248, 366,249, 365,250, 365,251, 365,252, 365,253, 366,254, 366,255, 367,256, 368,257, 369,257, 370,258, 371,258, 371,259, 371,260, 371,261, 371,262, 371,263, 372,264, 373,265, 374,266,
              375,266, 375,267, 376,268, 377,268, 377,269, 376,270, 375,271, 375,272, 375,273, 376,274, 375,275, 374,275, 373,276, 372,276, 371,277, 370,277, 369,278, 368,279, 367,279, 366,278, 365,278, 364,279, 363,279, 362,279, 361,280, 360,280, 359,280, 358,280, 357,280, 356,281, 355,282, 354,282, 353,281, 353,280, 352,279, 351,279,
              350,279, 349,279, 348,280, 347,281, 347,282, 347,283, 347,284, 346,285, 347,286, 348,287, 349,287, 350,287, 350,288, 351,289, 351,290, 350,290, 349,291, 348,291, 347,291, 346,291, 345,291, 344,292, 343,292, 342,292, 341,292, 340,293, 339,293, 338,294, 339,295, 338,295, 337,295, 336,295, 335,296, 335,297, 334,298, 334,299,
              334,300, 333,300, 332,300, 331,300, 330,300, 329,301, 329,302, 328,303, 328,304, 328,305, 327,306, 328,307, 328,308, 327,307, 326,307, 325,307, 324,307, 323,308, 323,309, 323,310, 322,311, 322,312, 322,313, 322,314, 323,315, 324,316, 325,316, 326,316, 327,317, 328,317, 329,318, 330,319, 330,320, 329,320, 328,320, 327,321,
              326,322, 326,323, 325,323, 324,322, 323,322, 323,321, 322,320, 321,319, 320,319, 319,319, 318,318, 317,318, 316,319, 316,318, 317,317, 317,316, 316,315, 315,315, 314,315, 313,316, 312,315, 313,314, 313,313, 312,312, 312,311, 311,310, 310,310, 309,310, 308,310, 307,311, 306,312, 306,313, 305,314, 305,315, 305,316, 306,317,
              305,318, 305,317, 304,316, 303,315, 302,314, 301,314, 300,314, 299,314, 298,315, 298,316, 297,315, 296,314, 295,314, 294,313, 293,313, 292,314, 291,313, 290,313, 289,314, 288,314, 287,315, 287,316, 286,316, 285,315, 284,314, 283,314, 282,314, 282,313, 282,312, 281,311, 281,310, 280,309, 280,308, 279,307, 279,306, 279,305,
              278,304, 277,303, 277,302, 277,301, 276,300, 276,299, 276,298, 277,297, 278,296, 279,295, 280,294, 281,293, 282,293, 283,293, 284,293, 285,292, 285,291, 286,290, 287,289, 288,289, 289,288, 290,287, 289,286, 290,286, 291,285, 292,284, 292,283, 292,282, 293,282, 294,281, 294,280, 294,279, 295,278, 295,277, 295,276, 295,275,
              294,274, 293,273, 292,273, 291,273, 291,272, 291,271, 291,270, 290,269, 289,268, 288,268, 287,268, 286,267, 285,268, 284,267, 283,268, 282,268, 281,269, 280,269, 279,269, 278,268, 277,268, 278,268, 279,267, 279,266, 279,265, 280,264, 279,263, 279,262, 278,261, 278,260, 277,259, 276,259, 275,258, 274,257, 274,256, 273,255,
              273,254, 273,253, 272,252, 271,251, 271,250, 271,249, 272,248, 272,247, 272,246, 272,245, 271,244, 272,244, 273,243, 274,242, 274,241, 274,240, 274,239, 274,238, 274,237, 274,236, 274,235, 274,234, 273,233, 273,232, 274,231, 274,232, 275,233, 276,234, 277,234, 278,235, 279,235, 280,235, 281,234, 282,234, 283,235, 284,235,
              285,235, 286,235, 287,236, 288,236, 289,235, 290,235, 291,234, 292,233, 292,232, 292,231, 292,230, 293,230, 294,230, 295,231, 296,230, 297,231, 298,231, 299,230, 300,231, 300,232, 300,233, 300,234, 301,235, 302,235, 303,235, 304,234, 305,233, 305,232, 305,231, 305,230, 306,229, 306,228, 307,227, 307,226, 307,225, 307,224,
              308,223, 308,222, 308,221, 309,221" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Rhône Alpes','liste_dep': '01-07-26-38-42-69-73-74' }) }}" id="fr_22">
        <area shape="poly" title="Franche Comt&eacute;" alt="Franche Comt&eacute;" coords="343,151, 344,151, 345,151, 345,152, 346,153, 347,154, 348,155, 349,154, 350,154, 351,154, 352,154, 353,153, 354,154, 355,155, 356,156, 357,156, 358,156, 359,155, 360,155, 361,156, 362,156, 363,157, 364,158, 365,159, 366,159, 367,160, 368,161, 369,162, 370,162, 371,163,
              372,163, 372,164,
              372,165, 372,166, 371,167, 371,168, 372,169, 373,170, 374,171, 375,171, 376,172, 375,173, 374,172, 373,172, 372,173, 371,174, 371,175, 370,176, 369,177, 369,178, 368,179, 368,180, 369,181, 370,181, 371,181, 372,181, 372,182, 371,182, 370,182, 369,183, 370,184, 370,185, 369,186, 368,187, 367,188, 366,189, 365,190, 364,191,
              363,191, 362,192, 362,193, 362,194, 361,195, 360,196, 359,196, 358,196, 357,197, 356,197, 355,198, 354,199, 354,200, 355,201, 355,202, 355,203, 354,204, 354,205, 354,206, 354,207, 353,207, 352,208, 351,209, 350,209, 349,210, 349,211, 348,211, 347,212, 346,213, 345,214, 344,215, 344,216, 345,217, 344,218, 344,219, 343,220,
              343,221, 343,222, 342,222, 341,223, 340,224, 340,225, 339,226, 338,226, 337,226, 336,227, 337,228, 336,228, 335,228, 334,228, 333,227, 332,226, 331,225, 330,225, 329,225, 328,226, 328,227, 327,227, 326,228, 326,227, 325,226, 324,225, 323,224, 322,223, 321,222, 322,222, 323,221, 324,220, 324,219, 324,218, 323,217, 323,216,
              324,215, 324,214, 325,213, 325,212, 324,211, 324,210, 324,209, 323,208, 323,207, 323,206, 323,205, 324,205, 325,205, 326,204, 326,203, 325,202, 324,201, 323,200, 322,200, 321,200, 321,199, 320,198, 320,197, 321,196, 321,195, 320,194, 321,194, 322,194, 323,193, 323,192, 324,191, 325,190, 325,189, 326,188, 326,187, 326,186,
              326,185, 327,184, 327,183, 328,182, 327,181, 327,180, 327,179, 327,178, 326,177, 325,177, 325,176, 325,175, 325,174, 326,173, 327,172, 327,171, 327,170, 326,169, 326,168, 325,167, 325,166, 326,166, 327,166, 328,167, 329,167, 330,166, 331,166, 332,165, 333,164, 333,163, 333,162, 333,161, 333,160, 334,159, 335,159, 336,158,
              337,157, 337,156, 338,156, 339,155, 339,154, 340,154, 341,153, 342,153, 343,152" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Franche Comté','liste_dep': '25-39-70-90' }) }}" id="fr_9">
        <area shape="poly" title="Alsace" alt="Alsace" coords="397,101, 398,102, 399,102, 400,102, 401,102, 402,102, 403,103, 404,103, 405,103, 406,104, 407,105, 408,105, 409,105, 408,106, 408,107, 407,108, 407,109, 406,110, 406,111, 406,112, 405,112, 404,113, 403,114, 402,115, 402,116, 401,117, 400,118, 399,119, 398,120, 398,121,
              397,122, 397,123,
              397,124, 397,125, 397,126, 396,127, 396,128, 395,129, 395,130, 395,131, 394,132, 394,133, 395,134, 394,135, 393,136, 393,137, 393,138, 392,139, 392,140, 391,141, 391,142, 390,143, 390,144, 390,145, 389,146, 389,147, 389,148, 390,149, 390,150, 391,151, 391,152, 390,153, 390,154, 390,155, 389,156, 389,157, 389,158, 388,159,
              388,160, 388,161, 388,162, 388,163, 388,164, 388,165, 388,166, 389,167, 389,168, 390,169, 389,170, 388,171, 387,172, 387,173, 386,172, 385,173, 385,174, 385,175, 384,175, 383,175, 382,175, 381,176, 380,175, 379,175, 380,174, 379,173, 378,173, 378,172, 378,171, 377,170, 376,169, 376,168, 375,167, 375,166, 375,165, 375,164,
              375,163, 374,162, 373,161, 372,160, 371,160, 370,159, 369,159, 370,159, 371,158, 371,157, 371,156, 371,155, 371,154, 371,153, 371,152, 372,151, 373,150, 374,149, 374,148, 375,147, 376,146, 376,145, 376,144, 376,143, 376,142, 377,141, 377,140, 378,139, 379,138, 379,137, 380,136, 380,135, 380,134, 379,133, 378,133, 377,133,
              377,132, 377,131, 377,130, 377,129, 377,128, 378,127, 378,126, 379,126, 380,125, 381,124, 381,123, 382,122, 382,121, 383,120, 383,119, 382,118, 382,117, 383,116, 383,115, 384,114, 383,113, 383,112, 382,111, 381,110, 380,110, 379,109, 378,109, 377,109, 376,108, 375,108, 374,108, 373,107, 373,106, 374,106, 375,105, 375,104,
              375,103, 376,104, 377,104, 378,105, 379,106, 380,105, 381,106, 382,107, 383,107, 384,107, 385,106, 386,106, 387,106, 388,107, 389,107, 390,107, 391,106, 392,105, 392,104, 392,103, 393,102, 394,102, 395,102, 396,102" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Alsace','liste_dep': '67-68' }) }}" id="fr_23">
        <area shape="poly" title="Lorraine" alt="Lorraine" coords="322,75, 323,76, 323,77, 323,78, 324,79, 325,80, 326,80, 327,79, 328,79, 329,80, 330,79, 330,78, 331,78, 332,78, 333,78, 334,78, 335,78, 336,79, 336,80, 337,81, 338,80, 339,80, 339,81, 340,82, 341,82, 342,82, 343,82, 344,82, 345,81, 346,81, 347,80, 348,80, 349,80,
              350,81, 351,82, 352,82,
              353,82, 354,82, 355,82, 356,82, 357,83, 357,84, 358,85, 358,86, 358,87, 359,88, 360,89, 361,90, 361,91, 362,92, 362,93, 363,94, 363,95, 364,96, 365,96, 366,96, 367,97, 368,96, 369,95, 369,94, 370,94, 371,94, 372,94, 372,95, 373,96, 373,97, 373,98, 374,99, 373,100, 373,101, 373,102, 372,103, 371,104, 371,105, 370,106, 370,107,
              370,108, 371,109, 372,110, 373,110, 373,111, 373,112, 373,113, 374,114, 375,115, 376,114, 377,113, 378,112, 379,113, 380,113, 381,114, 380,115, 380,116, 379,117, 379,118, 379,119, 380,120, 379,121, 379,122, 379,123, 378,124, 377,124, 376,124, 375,124, 374,125, 374,126, 374,127, 374,128, 374,129, 374,130, 374,131, 374,132,
              374,133, 374,134, 375,135, 376,136, 376,137, 376,138, 375,139, 375,140, 374,141, 373,142, 373,143, 373,144, 373,145, 372,146, 372,147, 372,148, 371,149, 370,149, 369,150, 369,151, 369,152, 369,153, 369,154, 368,155, 368,156, 368,157, 367,157, 366,156, 365,155, 364,155, 363,154, 363,153, 362,152, 361,152, 360,151, 359,152,
              358,153, 357,154, 356,153, 355,152, 354,151, 353,151, 352,151, 351,151, 350,151, 349,151, 348,151, 347,151, 348,150, 347,149, 346,148, 345,148, 344,148, 343,148, 342,149, 341,150, 340,150, 339,150, 338,150, 337,150, 336,150, 336,149, 335,148, 334,147, 333,146, 332,145, 332,144, 333,143, 334,142, 334,141, 334,140, 333,139,
              332,138, 331,137, 330,136, 330,135, 329,134, 328,135, 328,134, 328,133, 327,132, 326,132, 325,132, 325,131, 326,130, 325,129, 324,129, 324,128, 323,127, 322,126, 321,125, 320,125, 319,125, 318,124, 317,123, 316,123, 315,122, 314,121, 313,121, 313,120, 312,119, 311,120, 311,119, 311,118, 311,117, 311,116, 312,115, 311,114,
              310,114, 309,113, 309,112, 309,111, 309,110, 309,109, 309,108, 310,107, 311,107, 312,106, 312,105, 312,104, 312,103, 312,102, 311,101, 311,100, 311,99, 311,98, 310,97, 310,96, 310,95, 310,94, 311,93, 310,92, 311,91, 312,91, 313,90, 313,89, 312,88, 312,87, 313,86, 314,85, 314,84, 314,83, 314,82, 314,81, 314,80, 313,79, 314,78,
              314,77, 315,77, 316,77, 317,77, 318,78, 319,78, 320,77, 321,76" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Lorraine','liste_dep': '54-55-57-88' }) }}" id="fr_13">
        <area shape="poly" title="Lorraine" alt="Lorraine" coords="385,95, 386,96, 387,96, 387,97, 388,98, 388,99, 389,100, 390,100, 391,100, 391,101, 390,102, 390,103, 389,104, 388,104, 387,103, 386,103, 385,104, 384,104, 383,104, 382,103, 381,103, 380,103, 379,102, 378,101, 377,101, 377,100, 377,99, 377,98, 378,98, 379,98, 380,98,
              381,98, 382,98, 383,97,
              384,97, 385,96" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Lorraine','liste_dep': '54-55-57-88' }) }}" id="fr_13">
        <area shape="poly" title="Champagne Ardenne" alt="Champagne Ardenne" coords="304,48, 305,48, 305,49, 304,50, 304,51, 303,52, 304,53, 303,54, 303,55, 302,56, 302,57, 303,58, 304,58, 305,59, 305,60, 304,61, 304,62, 305,63, 305,64, 304,65, 305,66, 306,66, 307,66, 308,66, 309,66, 310,67, 311,67, 312,67, 313,68, 313,69, 314,70, 315,71, 316,71,
              317,71, 318,71, 319,72,
              319,73, 319,74, 319,75, 318,75, 317,75, 316,75, 315,75, 314,74, 313,74, 312,75, 312,76, 312,77, 312,78, 311,79, 311,80, 312,81, 312,82, 312,83, 312,84, 311,85, 310,86, 310,87, 310,88, 310,89, 309,90, 308,91, 308,92, 308,93, 307,94, 307,95, 308,96, 308,97, 309,98, 309,99, 309,100, 308,101, 308,102, 309,103, 309,104, 309,105,
              308,105, 307,106, 306,107, 306,108, 306,109, 306,110, 305,111, 305,112, 305,113, 306,114, 307,114, 308,115, 308,116, 308,117, 308,118, 308,119, 309,120, 309,121, 309,122, 310,123, 311,123, 312,124, 313,124, 314,125, 315,125, 316,126, 317,127, 318,127, 319,128, 320,128, 321,129, 322,130, 322,131, 321,132, 322,133, 322,134,
              322,135, 323,136, 324,135, 325,135, 326,136, 327,137, 327,138, 328,139, 329,138, 329,139, 330,140, 331,141, 330,142, 330,143, 329,144, 329,145, 328,146, 329,147, 330,148, 331,148, 332,149, 333,149, 333,150, 333,151, 333,152, 334,153, 335,154, 335,155, 334,155, 333,156, 332,157, 331,157, 330,158, 330,159, 330,160, 330,161,
              330,162, 330,163, 330,164, 329,164, 329,163, 328,162, 327,163, 326,164, 325,164, 324,164, 323,164, 322,164, 321,165, 321,166, 321,167, 320,167, 319,167, 318,166, 317,166, 317,165, 316,164, 315,164, 314,164, 313,164, 312,163, 311,162, 310,162, 310,161, 310,160, 311,159, 311,158, 310,157, 309,156, 309,155, 308,154, 308,153,
              307,152, 306,152, 305,151, 305,150, 304,149, 303,148, 302,148, 301,148, 300,148, 299,147, 298,147, 297,147, 296,148, 295,149, 294,150, 293,151, 292,150, 291,150, 290,150, 289,151, 288,151, 287,152, 287,151, 286,150, 285,150, 284,151, 283,151, 282,151, 281,151, 280,151, 279,152, 278,152, 277,152, 277,151, 276,150, 276,149,
              275,148, 274,147, 274,146, 274,145, 273,144, 272,143, 272,142, 271,141, 270,141, 269,141, 268,141, 268,140, 268,139, 268,138, 268,137, 267,136, 266,135, 266,134, 265,133, 264,133, 263,132, 262,131, 261,130, 261,129, 261,128, 262,127, 262,126, 263,125, 264,124, 264,123, 265,122, 266,121, 265,120, 264,119, 263,119, 263,118,
              263,117, 263,116, 263,115, 262,114, 263,113, 263,112, 264,111, 264,110, 264,109, 265,109, 266,108, 266,107, 267,106, 268,105, 268,104, 269,103, 270,102, 269,101, 268,100, 268,99, 268,98, 268,97, 269,97, 270,97, 271,97, 272,96, 272,95, 272,94, 271,93, 270,93, 270,92, 270,91, 269,90, 269,89, 270,88, 271,88, 272,87, 273,87,
              274,88, 275,87, 276,86, 276,85, 277,86, 278,86, 279,87, 280,87, 281,86, 281,85, 281,84, 281,83, 282,82, 282,81, 281,80, 282,79, 282,78, 282,77, 282,76, 282,75, 282,74, 283,73, 284,72, 284,71, 285,70, 286,69, 287,68, 288,67, 287,66, 287,65, 287,64, 287,63, 288,62, 288,61, 288,60, 287,59, 287,58, 288,58, 289,58, 290,58, 291,58,
              292,59, 293,59, 294,58, 295,58, 296,58, 297,57, 298,56, 299,56, 300,56, 301,55, 301,54, 301,53, 301,52, 302,51, 303,50, 303,49" href="{{ path('pat_appartement_ville_disponible_region', {'region' : 'Champagne Ardenne', 'liste_dep': '08-10-51-52' }) }}" id="fr_6">
        <area shape="poly" title="Picardie" alt="Picardie" coords="203,39, 204,39, 205,40, 206,40, 207,39, 208,39, 209,39, 210,39, 211,39, 212,40, 213,41, 214,42, 215,42, 216,43, 217,43, 217,44, 218,45, 219,46, 220,46, 221,46, 222,46, 223,46, 224,46, 225,46, 226,46, 227,46, 228,46, 229,45, 228,46, 227,47, 227,48, 227,49, 227,50,
              228,51, 229,52, 230,51,
              231,50, 232,50, 233,50, 234,51, 235,51, 236,52, 237,52, 238,52, 238,53, 239,54, 240,54, 241,54, 242,54, 243,55, 244,55, 245,54, 246,54, 247,54, 248,53, 249,54, 250,54, 251,55, 252,55, 253,56, 254,55, 255,55, 256,55, 257,55, 258,55, 259,55, 260,55, 261,55, 262,55, 263,55, 264,54, 265,54, 266,54, 267,55, 268,55, 269,54, 269,53,
              270,53, 271,54, 272,54, 273,54, 274,54, 275,55, 276,55, 277,55, 278,56, 279,57, 280,57, 281,57, 282,57, 283,57, 284,57, 284,58, 284,59, 285,60, 285,61, 285,62, 285,63, 284,64, 284,65, 284,66, 285,67, 284,68, 283,69, 282,69, 281,70, 281,71, 280,71, 279,72, 278,73, 279,74, 279,75, 279,76, 279,77, 279,78, 279,79, 279,80, 279,81,
              279,82, 279,83, 279,84, 278,84, 277,83, 276,83, 275,83, 274,84, 273,84, 272,85, 271,85, 270,86, 269,86, 268,86, 267,87, 266,88, 266,89, 267,90, 267,91, 267,92, 267,93, 268,94, 268,95, 267,95, 266,95, 265,96, 265,97, 265,98, 266,99, 265,100, 265,101, 265,102, 266,103, 266,104, 265,105, 264,106, 263,107, 262,108, 261,108,
              260,107, 260,106, 259,105, 258,106, 257,105, 256,104, 255,103, 254,102, 254,101, 254,100, 254,99, 254,98, 253,97, 252,97, 251,97, 250,96, 249,97, 248,97, 247,98, 246,98, 245,98, 244,98, 243,98, 242,97, 241,97, 240,98, 239,98, 238,98, 237,98, 236,97, 235,97, 234,96, 233,96, 232,96, 231,95, 230,95, 229,95, 228,94, 227,94,
              226,93, 225,93, 224,94, 223,94, 222,94, 221,93, 220,93, 219,92, 218,92, 217,93, 216,93, 215,93, 214,94, 213,94, 212,94, 211,93, 210,93, 209,93, 210,92, 211,91, 211,90, 211,89, 210,88, 210,87, 210,86, 210,85, 209,84, 209,83, 209,82, 210,81, 210,80, 211,79, 210,78, 210,77, 209,76, 208,75, 208,74, 208,73, 208,72, 209,71, 209,70,
              209,69, 209,68, 210,68, 211,67, 210,66, 210,65, 209,64, 209,63, 209,62, 208,61, 208,60, 207,59, 206,58, 205,57, 204,56, 203,55, 202,54, 201,53, 200,53, 200,52, 199,51, 200,50, 200,49, 201,48, 201,47, 201,46, 202,46, 203,47, 204,47, 205,47, 206,47, 207,46, 207,45, 206,44, 205,43, 204,43, 203,42, 202,41, 203,40" href="{{ path('pat_appartement_ville_disponible_region', { 'region' : 'Picardie','liste_dep': '02-60-80' }) }}" id="fr_19">
        <area shape="poly" title="Nord Pas-de-Calais" alt="Nord Pas-de-Calais" coords="232,3, 233,3, 233,4, 233,5, 233,6, 234,7, 235,8, 234,9, 234,10, 234,11, 234,12, 234,13, 234,14, 235,15, 236,16, 237,16, 238,16, 238,17, 239,18, 240,19, 240,20, 241,21, 242,21, 243,21, 244,22, 245,22, 246,21, 246,20, 247,19, 248,18, 249,18, 250,18, 251,18, 252,18,
              252,19, 253,20, 254,21,
              254,22, 254,23, 254,24, 255,25, 255,26, 255,27, 255,28, 255,29, 256,30, 257,31, 258,31, 259,32, 260,32, 261,31, 262,30, 262,31, 263,32, 264,32, 265,32, 266,32, 267,33, 267,34, 267,35, 267,36, 267,37, 267,38, 268,39, 268,40, 269,41, 270,41, 271,40, 271,39, 272,39, 273,39, 274,39, 275,40, 276,40, 277,40, 278,39, 279,39, 280,40,
              281,41, 282,42, 283,43, 283,44, 282,45, 283,46, 282,47, 282,48, 282,49, 283,50, 284,50, 284,51, 284,52, 283,53, 282,54, 282,55, 281,55, 280,55, 279,54, 279,53, 278,52, 277,52, 276,53, 275,53, 274,52, 273,52, 272,51, 271,51, 270,51, 269,51, 268,51, 267,52, 266,52, 265,51, 264,51, 263,52, 262,53, 261,53, 260,52, 259,52, 258,52,
              257,53, 256,52, 255,52, 254,53, 253,53, 252,53, 251,52, 250,51, 249,51, 248,51, 247,51, 246,51, 245,52, 244,51, 243,50, 242,50, 242,49, 241,48, 240,48, 239,48, 238,48, 237,49, 236,49, 236,48, 235,47, 234,47, 233,47, 232,47, 231,47, 230,48, 230,47, 231,47, 232,46, 232,45, 231,44, 230,43, 229,42, 228,43, 227,43, 226,42, 225,43,
              224,43, 223,43, 222,43, 221,44, 220,44, 220,43, 219,42, 218,41, 217,41, 216,40, 216,39, 215,38, 214,38, 213,38, 212,37, 211,37, 210,36, 209,36, 208,37, 207,37, 206,37, 205,37, 204,36, 203,35, 203,34, 204,33, 204,32, 204,31, 205,31, 206,30, 205,29, 205,28, 204,27, 204,26, 204,25, 204,24, 204,23, 204,22, 203,21, 204,20, 204,19,
              205,18, 205,17, 205,16, 205,15, 204,14, 204,13, 205,13, 206,12, 207,11, 208,10, 209,9, 210,9, 211,9, 212,9, 213,8, 214,8, 215,7, 216,7, 217,7, 218,7, 219,7, 220,7, 221,6, 222,7, 223,6, 223,5, 224,5, 225,5, 226,4, 227,4, 228,4, 229,4, 230,4, 231,4" href="{{ path('pat_appartement_ville_disponible_region', {'region' : 'Nord Pas-de-Calais', 'liste_dep': '59-62' }) }}" id="fr_15">
      </map>
    </div>
    <!-- FIN CARTE -->

    <div style="width:203px; height:466px; float:left; overflow-y: auto; overflow-x:hidden;">

      <div id="blocAide" style="margin:0px;"><div class="blocAideTitre">Note</div>Les biens que vous déposez sur le site doivent être situés dans une ville validée par classAppart®. Pour connaitre ces villes, cliquez sur la région qui vous interesse. </div><!-- /blocAide -->
      <br/>
      <h2> {{ region }} </h2>
      {% if villes %}

        <ul style="margin-left:10%;">
          {% for ville in villes %}

            <li style="font-size:16px;">{{ ville.nom }} ({{ ville.codePostal }})</li>

          {% endfor %}
        </ul>

      {% endif %}

      <h3> {{message}} </h3>
    </div>

  </div><!-- /contenuCentrale1 -->

{% endblock %}
