{% block content %}

  <div id="contenuCentrale1">
    <h1>Compte locataire <small>({{ locataire.prenom | capitalize }} {{ locataire.nom | upper }})</small></h1>

    <div class="clear"></div>

    <div class="etapesBien">
      <div class="linksEtapesBien">
        <ul>
          <li><a class="active" href="{{ path('pat_admin_locataire_afficher', { 'id_locataire': locataire.id }) }}">Compte</a></li>
          <li><a href="{{ path('pat_admin_locataire_reservation_index', { 'id_locataire': locataire.id }) }}">Réservations</a></li>
          <li><a href="{{ path('pat_admin_list_payment_by_member', { 'member_id': locataire.id }) }}">Paiements</a></li>
        </ul>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <a href="{{ path('pat_admin_send_infos_loc', { 'id_locataire': locataire.id }) }}" class="btn btn-info">Envoyer les informations</a>
      </div>
      <div class="span6 right">
        <div class="btn-group">
          <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
            Générer un e-mail de paiement
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('pat_admin_generate_payment', { 'member_id': locataire.id }) }}">Paiement simple</a></li>
              {% for resa in reservations %}
              <li><a href="{{ path('pat_admin_generate_payment_resa', { 'member_id': locataire.id, 'id_reservation': resa.id }) }}">Réservation {{ resa.reference }}</a></li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% if app.session.started %}
      {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
          {{ flashMessage }}
        </div>
      {% endfor %}

      {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
          {{ flashMessage }}
        </div>
      {% endfor %}
    {% endif %}

    <div class="blocForm">
      <div class="title">
        <div class="row-fluid">
          <div class="span6">
            {{ locataire.prenom | capitalize }} {{ locataire.nom | upper }}
          </div>
          <div class="span6 right">
            N° {{ locataire.username }}
          </div>
        </div>
      </div>

      <div class="content">
        <div class="row-fluid">
          <div class="span4 right">
            Civilité :
          </div>
          <div class="span8">
            {{ locataire.civilite }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Nom :
          </div>
          <div class="span8">
            {{ locataire.nom }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Prénom :
          </div>
          <div class="span8">
            {{ locataire.prenom }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Date de naissance :
          </div>
          <div class="span8">
            {% if locataire.dateNaissance %}
              {{ locataire.dateNaissance|date("d/m/Y") }}
            {% endif %}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Nationalité :
          </div>
          <div class="span8">
            {{ locataire.nationalite }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Langue préférée :
          </div>
          <div class="span8">
            {{ locataire.langueParle }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Société :
          </div>
          <div class="span8">
            {{ locataire.societe }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            SIRET :
          </div>
          <div class="span8">
            {{ locataire.siret }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Fonction :
          </div>
          <div class="span8">
            {{ locataire.fonction }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Adresse :
          </div>
          <div class="span8">
            {{ locataire.adresse }}<br/>
            {{ locataire.adresse2 }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span8 offset4">
            {{ locataire.codePostal }} {{ locataire.ville }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span8 offset4">
            {{ locataire.pays }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Adresse de facturation :
          </div>
          <div class="span8">
            {{ locataire.adresseFact }}<br/>
            {{ locataire.adresse2Fact }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span8 offset4">
            {{ locataire.codePostalFact }} {{ locataire.villeFact }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span8 offset4">
            {{ locataire.paysFact }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Téléphone :
          </div>
          <div class="span8">
            {{ locataire.telephone }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Mobile Mr :
          </div>
          <div class="span8">
            {{ locataire.mobile }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Mobile Mme :
          </div>
          <div class="span8">
            {{ locataire.mobile2 }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Email :
          </div>
          <div class="span8">
            <a href="mailto:{{ locataire.email }}">{{ locataire.email }}</a>
          </div>
        </div>

        {#            <div class="row-fluid">
                        <div class="span4 right">
                            Email secondaires :
                        </div>
                        <div class="span8">
                            {{ locataire.mailsSecond }}
                        </div>
                    </div>
        #}
        <div class="row-fluid">
          <div class="span4 right">
            Email secondaire :
          </div>
          <div class="span8">
            {{ locataire.secondEmail }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Identifiant :
          </div>
          <div class="span8">
            {{ locataire.username }}
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        {% if locataire.enabled == "1" %}
          <a class="btn" href="{{ path('pat_admin_locataire_desactiver', { 'id_locataire': locataire.id }) }}" onclick="return confirmAction()">Désactiver</a>
        {% else %}
          <a class="btn" href="{{ path('pat_admin_locataire_activer', { 'id_locataire': locataire.id }) }}" onclick="return confirmAction()">Activer</a>
        {% endif %}
      </div>

      <div class="span4">
        <a href="{{ path('pat_admin_utilisateur_password', { 'id_user': locataire.id }) }}" class="btn btn-primary">Changer mot de passe</a>
      </div>

      <div class="span6 right">
        <a href="{{ path('pat_admin_locataire_editer', { 'id_locataire': locataire.id }) }}" class="btn btn-large btn-primary pull-right">Modifier</a>
      </div>
    </div>
  </div><!-- /contenuCentrale1 -->

{% endblock %}
