{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>{{ 'Bonjour' | trans }},</p>
  <p>Vous trouverez ci-dessous les informations liées à votre compte locataire sur class-appart.com.</p>

  <hr>
  <h3 class="titleResa">Votre profil :</h3>

  <p>
    Identifiant : {{ utilisateur.username }}<br/><br/>
    Nom : {{ utilisateur.civilite }} {{ utilisateur.nom | upper }} {{ utilisateur.prenom | capitalize }}<br/>
    Date de naissance : {{ utilisateur.dateNaissance | date("d/m/Y") }}<br/>
    Nationalité : {{ utilisateur.nationalite }}<br/><br/>
    Adresse e-mail principale : {{ utilisateur.email }}<br/>
    {#Adresses e-mail secondaires : {{ utilisateur.mailsSecond }}<br/><br/>#}
    Adresse e-mail secondaire : {{ utilisateur.secondEmail }}<br/><br/>
    Société : {{ utilisateur.societe }} {% if utilisateur.siret %}(SIRET : {{ utilisateur.siret }}){% endif %}<br/>
    Fonction : {{ utilisateur.fonction }}<br/>
    Langue préférée : {{ utilisateur.langueParle }}<br/><br/>
    Adresse :<br/>
    {{ utilisateur.adresse }}<br/>
    {% if utilisateur.adresse2 %}{{ utilisateur.adresse2 }}<br/>{% endif %}
    {{ utilisateur.ville }}<br/>
    {{ utilisateur.codePostal }}<br/>
    {{ utilisateur.pays }}<br/><br/>
    Téléphone : {{ utilisateur.telephone }}<br/>
    Mobile Mr : {{ utilisateur.mobile }}<br/>
    Mobile Mme : {{ utilisateur.mobile2 }}<br/>
    Moyen de contact préféré : {{ utilisateur.moyenContact }}<br/><br/>
    RIB :<br/>
    {{ utilisateur.ribEtab }} {{ utilisateur.ribCode }} {{ utilisateur.ribCompte }} {{ utilisateur.ribRice }} {{ utilisateur.ribDomiciliation }}<br/>
    IBAN : {{ utilisateur.ribIban }}<br/>
    BIC : {{ utilisateur.ribBic }}<br/>
  </p>

  <hr>

  <p>Vous pouvez vous connecter dans la partie <a href="{{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }}">Mon compte</a> sur class-appart.com pour modifier vos informations.</p>
  <p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_front_formulaire_contact') }}">nous contacter</a>.</p>
  <p>À bientôt sur class-appart.com.</p>

  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>

{% endblock %}
