{% block content %}

  <div id="contenuCentrale1">
    <h1>Recherche locataires</h1>

    <div class="clear"></div>

    {% if message %}
      <div class="success">
        <p>{{ message }}</p>
      </div>
    {% endif %}

    {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
    {% if app.session.flashbag.peekAll|length > 0 %}
      <div class="row">
        <div class="span12">
          {{ session_flash() }}
        </div>
      </div>
    {% endif %}

    {% set i = '0' %}
    {% if locataire %}

      <table width="100%">
        <td class="navigation" width="50%">
          {{ knp_pagination_render(locataire) }}
        </td>

        <td class="sort" width="50%">
          Trier par : {{ knp_pagination_sortable(locataire, 'Nom', 'u.nom') }} | {{ knp_pagination_sortable(locataire, 'Numéro locataire', 'u.username') }}
        </td>
      </table>

      {% for locat in locataire %}
        <div class="ListeAppart row-fluid blocItem">
          <div class="row ListeAppart1NoBorder">
            <div class="row-fluid">
              <div class="span10">
                <div class="reference">
                  {{ locat.nom | upper }} | Réf : {{ locat.USERNAME}}
                </div>
                <div class="titreAppart">
                  {{ locat.civilite }} {{ locat.nom }} {{ locat.prenom }}</span> {% if locat.ville %} de {{ locat.ville }} {% endif %}
                </div>
                <div class="tarifAppart">
                  <a class="blocItemLink" style="padding-top:10px;" href="mailto:{{ locat.email }}">{{ locat.email }}</a>
                  {% if locat.telephone %}<span> | {{ locat.telephone }}</span>{% endif %}
                </div>
              </div>
              <div class="span2 itemLink">
                <a href="{{ path('pat_admin_locataire_afficher', { 'id_locataire': locat.id }) }}" class="btn btn-primary">Consulter</a>
              </div>
            </div>
          </div>
        </div>
        {% set i = i + 1 %}
      {% endfor %}

      <table width="100%">
        <td class="navigation" width="50%">
          {{ knp_pagination_render(locataire) }}
        </td>

        <td class="sort" width="50%">
          Trier par : {{ knp_pagination_sortable(locataire, 'Nom', 'u.nom') }} | {{ knp_pagination_sortable(locataire, 'Numéro résident', 'u.username') }}
        </td>
      </table>

    {% else %}

      Aucun locataire ne correspond à votre recherche.

    {% endif %}

  </div><!-- /contenuCentrale1 -->

{% endblock %}
