<form action="{{ path('pat_admin_locataire_index') }}" method="post" {{ form_enctype(formRecherche) }}>
  {{ form_widget(formRecherche.nom, {'attr': {'placeholder': 'Nom'} }) }}
  {{ form_widget(formRecherche.prenom, {'attr': {'placeholder': 'Prénom'} }) }}
  {{ form_widget(formRecherche.num_compte, {'attr': {'placeholder': 'Numéro'} }) }}
  <div class="homeSearchCenter">
    <input type="submit" class="btn btn-large btn-primary" value="{{ 'Rechercher' | trans }}"/>
    {{ form_rest(formRecherche) }}
    <a href="{{ path('pat_admin_locataire_index') }}" class="colorBlack btn btn-small">Afficher tout</a>
  </div>
</form>

