{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
  {% autoescape false %}
    {{ 'resetting.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
  {% endautoescape %}
{% endblock %}
{% block body_html %}
  {% autoescape false %}
    {% include 'PatUtilisateurBundle:Resetting:email.html.twig' %}
  {% endautoescape %}
{% endblock %}
