{% extends '::email_layout.html.twig' %}

{% block title %}
{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}
  <p>Bonjour,</p>

  <p>Votre demande de réinitialisation de mot de passe a bien été prise en compte.</p>

  <p>Veuillez cliquer sur le lien suivant pour valider le nouveau mot de passe:</p>

  <p><a href="{{ confirmationUrl }}">Changer mon mot de passe</a></p>
  <hr>
  <p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.</p>
  <p>À bientôt sur class-appart.com.</p>
  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>
{% endblock %}
