{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

  <div id="contenuCentrale">
    <h1>Mot de passe oublié ?</h1>

    <div class="blocForm">
      <div class="content">
        {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
      </div>
    </div>
  </div><!-- /contenuCentrale -->

  <div id="contenuDroite">

    <div id="blocAide">
      <div class="blocAideTitre">Aide</div><br/>
      Pour toute question concernant votre mot de passe, merci de nous contacter via le formulaire de contact.<br/>
      Consultez les <a href="{{ path('pat_front_contenu_page', { 'lg': 'fr', 'url_page': 'faq' }) }}">FAQ</a> et les Guides.
    </div><!-- /blocAide -->

  </div><!-- /contentDroit -->

{% endblock fos_user_content %}
