
<div id="contenuCentrale">
  <h1>Mot de passe oublié ?</h1>

  <form action="{{ path('fos_user_resetting_send_email') }}" method="post" class="fos_user_resetting_request">
    <div class="blocForm">
      <div class="content">
        {% if invalid_username is defined %}
          <div class="alert-error">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</div>
        {% endif %}
        <div class="row-fluid">
          <div class="span7">
            {{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}
          </div>
          <div class="span5">
            <input type="text" id="username" name="username" class="span12"/>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12 center">
            <input type="submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
          </div>
        </div>
      </div>
    </div>
  </form>

</div><!-- /contenuCentrale -->

<div id="contenuDroite">

  <div id="blocAide">
    <div class="blocAideTitre">Aide</div>
    Veuillez renseigner votre nom d'utilisateur ou votre adresse mail, un lien vous sera envoyé afin de réinitialiser votre mot de passe.<br/>
  </div><!-- /blocAide -->

</div><!-- /contentDroit -->
