
<div id="contenuCentrale">
  <h1>Mot de passe oublié ?</h1>

  <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    <div class="blocForm">
      <div class="content">
        <div class="row-fluid center">
          <div class="span12">
            {{ form_widget(form) }}
          </div>
        </div>
        <div class="center">
          <input type="submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
      </div>
    </div>
  </form>
</div><!-- /contenuCentrale -->

<div id="contenuDroite">

  <div id="blocAide">
    <div class="blocAideTitre">Aide</div><br/>
    Pour toute question concernant votre mot de passe, merci de nous contacter via le formulaire de contact.<br/>
    Consultez les <a href="{{ path('pat_front_contenu_page', { 'lg': 'fr', 'url_page': 'faq' }) }}">FAQ</a> et les Guides.
  </div><!-- /blocAide -->

</div><!-- /contentDroit -->
