{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr">
    <head>
        <title>{% block title %}{{ 'classappart location dappartement..montpellier' | trans }}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />

        {% block stylesheets %}
                <link href="{{ asset('bundles/patcompte/css/main.css') }}" type="text/css" rel="stylesheet" media="all" />
                <link href="{{ asset('bundles/patcompte/js/jquery-ui-1.10.2/themes/base/jquery.ui.all.css') }}" rel="stylesheet" />
            {% stylesheets
                '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
                '@MopaBootstrapBundle/Resources/public/less/eyecon-bootstrap-datepicker.less'
                filter='less, cssrewrite, yui_css'
            %}
                <link rel="stylesheet" type="text/css" href="{{ asset('css/143482a.css') }}">
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
                <link href="{{ asset('bundles/patcompte/css/bootstrap-override.css') }}" type="text/css" rel="stylesheet" media="all" />
                <link href="{{ asset('bundles/patcompte/css/print.css') }}" type="text/css" rel="stylesheet" media="print" />
                <link rel="stylesheet" href="{{ asset('bundles/patcompte/fontawesome/css/fontawesome-all.min.css') }}">
            {% endstylesheets %}
        {% endblock %}

        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/patcompte/images/favicon.ico') }}" />

        <script type="text/javascript" src="{{ asset('bundles/patcompte/js/jquery-1.8.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/patcompte/js/functions.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/patcompte/js/jquery-ui-1.10.2/ui/minified/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/patcompte/js/jquery.simpleplaceholder.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/patcompte/js/bootstrap.file-input.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('textarea[placeholder]').simplePlaceholder();
                $('input[placeholder]').simplePlaceholder();
            });
            $('table.formulaire ul').next(":input").css({'background-color' : '#FFD3D3', 'border' : 'solid 1px red'});
        </script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-VN975XRW7N"></script>

    </head>

    <body>
<!-- Global site tag (gtag.js) - Google Analytics -->

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VN975XRW7N');

  gtag('config', 'UA-140335160-1');

    </script>

<!--Old version of Google analytics gtag-->
<!--<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40389021-1', 'class-appart.com');
  ga('send', 'pageview');

</script>-->

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">


                {% block globalHeader %}
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">

                        {% block header %}
                            <div id="logo"><a href="{{ path('PatFrontBundle_homepage', { 'lg': 'fr' }) }}"></a></div>

                            {% render(controller("PatFrontBundle:Contenu:menu", {'attributes': app.request.attributes})) %}

                            {# include "PatUtilisateurBundle::connexion.html.twig" #}
                        {% endblock %}
                    </div> <!-- /header -->
                </div><!-- /headermenu -->
                {% endblock%}



      </div>
      <!--<img src="img/contact.png" border="0" id="brand" class="pull-right" style="margin-right: 100px" />-->

    </div>

    <div class="container">
        {% block body %}
                <div id="content" class="row">
                    <a id="logoHomeLink" href="{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}{{ path('pat_dispatch') }}{% else %}{{ path('PatFrontBundle_homepage', { 'lg': 'fr' }) }}{% endif %}">
                        <div id="classappart" class="row">
                            <img border="0" align="left" style="padding-right: 25px" src="{{ asset('bundles/patcompte/images/classappart.jpg') }}">
                            <h1>class appart</h1>
                            <h2>{{ 'location dappartement meubles' | trans }}</h2>
                        </div>
                    </a>
                    <div id="contentBis" class="row">
                        <div id="contentGauche" class="span3">
                            {% block contentGauche %}{% endblock %}
                        </div>

                        <div id="contentDroit" class="span9">
                            {% block contentDroit %}
                                {% block content %}{% endblock %}
                            {% endblock %}
                        </div><!-- /contentDroit -->
                    </div><!-- /contentBis -->
                </div>
        {% endblock %}



      <footer>
        <div class="row-fluid" id="footer">
          <div class="span6">
            <h1>class appart</h1>
            <h2>{{ 'solutions de location dappartement' | trans }}</h2>
            <p class="legend"><a href="{{ path('pat_front_contenu_page', { 'lg': 'fr', 'url_page': 'mentions-legales' }) }}">Mentions légales</a> | <a href="{{ path('pat_front_contenu_page', { 'url_page': 'cgu' }) }}">CGU</a> | <a href="{{ path('pat_front_contenu_page', { 'url_page': 'conditions-generales-de-location' }) }}">CGL</a> | Copyright © ClassAppart</p>
          </div>
          <div class="span6 pull-right footer-right">
            {#<a href="{{ path('pat_front_contenu_page', { 'url_page': 'le-concept' }) }}">Mon besoin</a>#}<br />
            {#<a href="{{ path('pat_front_contenu_page', { 'url_page': 'nos-services' }) }}">Espace locataire</a>#}<br />
            {#<a href="{{ path('pat_front_contenu_page', { 'url_page': 'nos-formules' }) }}">Espace propriétaire</a>#}<br />
            {#<a href="{{ path('pat_front_contenu_page', { 'url_page': 'agence' }) }}">Présentation de l’agence</a>#}<br />
            <a href="{{ path('pat_front_formulaire_contact') }}">{{ 'contactez nous' | trans }}</a><br />

          </div>
      </div>
      </footer>

    </div>

        {% block javascripts %}

        {% javascripts
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
            '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
            '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript" src="{{ asset('bundles/patcompte/js/bootbox.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/patfront/js/datepicker_scripts.js') }}"></script>
        <script>
            bootbox.setLocale("fr");
        </script>
        {% endblock %}
    </body>
</html>
