<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta  />
        <title>Class Appart</title>
        <style type="text/css">
                /* Client-specific Styles */
                #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
                body{width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
                body{-webkit-text-size-adjust:none;font-size:14px;} /* Prevent Webkit platforms from changing default text sizes. */

                /* Reset Styles */
                body{margin:0; padding:0;}
                img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
                table td{border-collapse:collapse;}
                #backgroundTable{height:100% !important; margin:0; padding:0; width:100% !important;}

                #templateContainer{
                    border: 1px solid #c2c2c2;
                    margin-bottom:40px;
                }
                ul{
                    margin-top: 5px;
                }
                ul li{
                    list-style: none;
                }
                h1, .h1{
                    color: #A42242;
                    font-family: Raleway-Regular;
                    font-size: 32px;
                    font-weight: normal;
                    text-align: left;
                    text-transform: none;
                    margin:0;
                    padding:0;
                    display:block;
                    font-weight:bold;
                    line-height:100%;
                    margin-top:0;
                    margin-right:0;
                    margin-bottom:0px;
                    margin-left:0;
                    text-align:left;
                    font-weight: normal;
                }
                
                h3{
                    color: #A42242;
                    font-family: Raleway-Regular;
                    font-size: 14px;
                    font-weight: normal;
                }
                h3.titleResa{
                    color: #A42242;
                    font-family: Raleway-Regular;
                    font-size: 18px;
                    font-weight: bold;
                }
                    
                hr{
                    border: 1px solid #E8E8E8
                }
                
                label, .label{
                    font-weight: bold;
                }

                sup {
                    vertical-align: super;
                    font-size: smaller;
                    line-height: .5em	
                }


                h2, .h2{
                    color:#202020;
                    display:block;
                    font-family:Arial;
                    font-size:14px;
                    font-weight:bold;
                    line-height:100%;
                    margin-top:10px;
                    margin-right:0;
                    margin-bottom:7px;
                    margin-left:0;
                    text-transform: uppercase;
                    text-align:left;
                }

                h4, .h4{
                    color:#202020;
                    display:block;
                    font-family:Arial;
                    font-size:22px;
                    font-weight:bold;
                    line-height:100%;
                    margin-top:0;
                    margin-right:0;
                    margin-bottom:10px;
                    margin-left:0;
                    text-align:left;
                }

                #templatePreheader{
                    background-color:#FAFAFA;

                }

                #templateAdresse{
                    background-color: #000000;
                    border:1px solid #000000;
                    color:#FFFFFF;
                    font-family: Arial;
                    font-size:14px;
                    font-weight:normal !important;
                }

                .adresse{
                    color:#FFFFFF;
                    text-align: left;
                    margin:20px;
                    font-family: Arial;
                    font-size: 14px;
                }

                .preheaderContent div{
                    color:#505050;
                    font-family:Arial;
                    font-size:10px;
                    line-height:100%;


                }

                .preheaderContent div a:link, .preheaderContent div a:visited, /* Yahoo! Mail Override */ .preheaderContent div a .yshortcuts /* Yahoo! Mail Override */{
                    font-weight:normal;
                }

                #templateHeader{
                    background-color:#FFFFFF;
                    border-bottom:0;
                }

                .headerContent{
                    color:#202020;
                    font-family:Arial;
                    font-size:34px;
                    font-weight:bold;
                    line-height:100%;
                    padding:0;
                    text-align:center;
                    vertical-align:middle;
                }

                .headerContent a:link, .headerContent a:visited, /* Yahoo! Mail Override */ .headerContent a .yshortcuts /* Yahoo! Mail Override */{
                    font-weight:normal;
                }

                #headerImage{
                    height:auto;
                    max-width:700px;
                }

                #templateContainer, .bodyContent{
                    background-color:#FFFFFF;
                }

                .bodyContent div{
                    font-family:Arial;
                    line-height:140%;
                }

                .bodyContent div a:link, .bodyContent div a:visited, /* Yahoo! Mail Override */ .bodyContent div a .yshortcuts /* Yahoo! Mail Override */{
                    font-weight:normal;
                }

                .bodyContent img{
                    display:inline;
                    height:auto;
                }

                #templateSidebar{
                    background-color:#FFFFFF;
                    border-left:0;
                }

                .sidebarContent div{
                    font-family:Arial;
                    font-size:12px;
                    line-height:150%;
                }

                .sidebarContent div a:link, .sidebarContent div a:visited, /* Yahoo! Mail Override */ .sidebarContent div a .yshortcuts /* Yahoo! Mail Override */{
                    font-weight:normal;
                }

                .sidebarContent img{
                    display:inline;
                    height:auto;
                }

                #templateFooter{
                    background-color:#FFFFFF;
                    border-top:0;
                }

                .footerContent div{
                    color:#707070;
                    font-family:Arial;
                    font-size:12px;
                    line-height:125%;
                    text-align:left;
                }

                .footerContent div a:link, .footerContent div a:visited, /* Yahoo! Mail Override */ .footerContent div a .yshortcuts /* Yahoo! Mail Override */{
                    font-weight:normal;
                }

                .footerContent img{
                    display:inline;
                }

                #social{
                    background-color:#FAFAFA;
                    border:0;
                }

                #social div{
                    text-align:center;
                }

                #utility{
                    background-color:#FFFFFF;
                    border:0;
                }


                #utility div{
                    text-align:center;
                }

                #monkeyRewards img{
                    max-width:190px;
                }

                .contentText{
                    font-family: Arial;
                    font-size: 14px;
                    color:#000000;
                    text-align: left;
                }

                .signature{

                }

                .contentMarques{
                    margin-top:35px;
                    font-size:12px;
                    color:#525252;
                    text-align: left;
                }

                .contentSidebar{
                    border-left:1px dotted #000000;
                    text-align: center;
                    margin-top:40px;

                }

                .contentSAText{
                    margin:15px;
                    color:#525252;
                    font-size:12px;
                }

                .contentSAText a, .premiumFooter2 a{
                    background:#fff3ae;
                    margin:5px;
                    text-decoration: none;
                    color:#000000;
                    margin-bottom:20px;
                    font-size:14px;
                } 

                .contentSAText2{
                    color:#525252;
                    font-size:12px;
                    margin:15px;
                }

                .contentSAText2 a{
                    color:#eb1200;
                    text-decoration: none;
                }

                .premiumContent{
                    text-align:center;
                    padding-top:20px;
                }

                .premiumFooter{
                    font-size:16px;
                }

                .premiumFooter2{
                    margin-top:10px; 
                    font-size:14px;
                }

                .phoneNumber{
                    color:#cc0c20;
                    font-size:19px;
                    font-weight:bold;
                }

                .contentSAMap{
                    margin:15px;
                }

                .label{
                    font-weight:bold;
                    color:#000000;
                }

                .value{
                    color:#525252;
                }
                
                .legend{
                    font-size: 10px;
                }
                
                a{
                    color:#00b3a9;
                }
                
                .withoutMargin{
                    margin: 5px 0;
                }
                
                .footer span{
                    color: #00b3a9;
                    font-family: Raleway-Regular, Arial, sans-serif;;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 14px;
                    margin: 0;
                    padding: 0;
                }
                h4{
                    color: #333333;
                    font-family: Raleway-Thin, Arial, sans-serif;
                    font-size: 36px;
                    font-weight: lighter;
                    letter-spacing: -2px;
                    line-height: 40px;
                    padding-top: 10px;
                    text-transform: uppercase;
                }
                
                .footer .left{
                    width: 65px;
                    float:left;
                }
                
                .footer{
                    width:100%;                    
                    margin-top: 40px;
                    margin-bottom: 50px;
                }
                .footer .right{
                    width: 450px;
                    float: left;
                }
                
                .colorLink{
                    color: #00b3a9;
                }
                 .strongFont{ font-size:16px!important;}
                
                .center{
                    text-align: center;
                }
                  {% block styles %}        

                  {% endblock %} 
                
        </style>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" id="background">
        <div style="width:550px; margin:0 auto;">
            <h1>{% block title %}Titre{% endblock %}</h1>
            <h2>{% block subtitle %}Sous-Titre{% endblock %}</h2>
            {% block content %}Contenu{% endblock %}
            {% block footer %} 
            <div class="footer">
                <a href="http://www.class-appart.com" target="_blank" style="border: none; text-decoration: none;">
                    <img width="610" height="100" style="border: none;" src="{{ app.request.getSchemeAndHttpHost()~asset('/bundles/patfront/images/classappart_signature.jpg') }}"/>
                </a>
            </div>
        {% endblock %}
        </div>
        
    </body>
</html>

