{% if documents is not empty %}

<table class="document-table table table-bordered" width="100%">
  <tr>
    <th width="100"><center>Titre</center></th>
    <th width="50"><center>Fichier</center></th>
    <th width="100"><center>Bien</center></th>
    <th width="25"><center>Taille</center></th>
    <th width="25"><center>Visible</center></th>
    <th><center>Dernière modification</center></th>
    <th width="60"></th>
  </tr>
  {% for document in documents %}
  <tr>
    <td>
      <center>{{ document.documentName }}</center>
    </td>
    <td>
      <center>
      {% if document.file %}
        <a href="{{ path('documents_filedownload', { 'fileid':document.id }) }}">
            {{ document.documentName }}.{{ document.file.extension }}
        </a>
      {% endif %}
      </center>
    </td>
    <td>
      <center>{{ document.appartement | raw }}</center>
    </td>
    <td>
      <center>{% if document.file %}{{ document.fileSize | ConvertTailleFichier }}{% endif %}</center>
    </td>
    <td>
      <center>
      {% if document.visible == 1 %}
          <input type="checkbox" value="1" checked disabled />
      {% else %}
          <input type="checkbox" value="0" disabled />
      {% endif %}
      </center>
    </td>
    <td>
      <center>{{ document.dateUpdate | date('d/m/Y') }}</center>
    </td>
    <td align='center' width="60">
      <a href="{{ path('documents_edit_file', { 'fileid':document.id }) }}" title="Modifier" style="padding-left:0px;">
        <img src="{{ asset('bundles/patcompte/images/ico_edition.png') }}" alt="Modifier" title="Modifier" />
      </a>

      <a href="{{ path('documents_delete_file', { 'fileid':document.id }) }}" title="Supprimer" id="confirmDelete" style="padding-left:0px;">
        <img src="{{ asset('bundles/patcompte/images/ico_supprimer.png') }}" alt="Supprimer" title="Supprimer" />
      </a>
      </td>
  </tr>
  {% endfor %}
</table>

{% else %}
<center>
    <div class="alert alert-warning">Vous n'avez aucun document</div>
</center>
{% endif %}
