{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}

  <p>Le propriétaire <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_admin_proprietaire_afficher', { 'id_proprio':utilisateur.id }) }}">{{ utilisateur.prenom }} {{ utilisateur.nom }}</a> a ajouté/modifié le document <a href="{{ app.request.getSchemeAndHttpHost()~path('documentsAdmin_list', { 'user_id':utilisateur.id }) }}">{{ document.documentName }}</a>{% if document.appartement is not null %} associé à <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_admin_appartement_editer',{ 'id':document.appartement.id}) }}">{{ document.appartement|raw }}</a>{% endif %}.</p>

{% endblock %}