<div id="content">

  <h1>Mes documents</h1>

  {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
  {% if app.session.flashbag.peekAll|length > 0 %}

    {{ session_flash() }}

  {% endif %}

  {% include "PatCompteBundle:Documents:_list_documents.html.twig" %}

  <a href="{{ path('documents_add_file') }}" class="btn btn-primary">Ajouter un document</a>

</div>