{% block content %}

  <div id="contenuCentrale">
    <h1>Modifier un bien<small> (réf : {{appartement.reference}})</small></h1>

    <div class="etapesBien">
      <div class="linksEtapesBien">
        <ul>
          <li><a href="{{ path('pat_appartement_editer',{ 'id': appartement.id }) }}">Description</a></li>
          <li><a href="{{ path('pat_tarif_ajouter',{ 'id_bien': appartement.id }) }}">Loyers</a></li>
          <li><a class="active" href="{{ path('pat_piece_index',{ 'id': appartement.id }) }}">Pièces</a></li>
        </ul>
      </div>
    </div>

    {% if message %}
      <div class="success">
        <p>{{ message }}</p>
      </div>
    {% endif %}


    <div class="blocForm">
      <div class="content">
        <form name="formPiece" action="" method="post" {{ form_enctype(form) }}>
          <div class="error">
            {{ form_errors(form) }}
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.typepiece) }}
            </div>
            <div class="span8">
              {{ form_errors(form.typepiece) }}
              {{ form_widget(form.typepiece) }}
            </div>
          </div>

          <div class="row-fluid">
            <h2>Equipements de la pièce</h2>
          </div>

          {{ form_errors(form.Equipement) }}
          {% set idc = -1 %}
          {% set i = 0 %}
          <div class="row-fluid">
            {% for equip in form.Equipement %}
              {% if tab_equip_cat[equip.vars.value] != idc %}
                {% set idc = tab_equip_cat[equip.vars.value] %}
                {% set i = 0 %}
              </div>
              <div class="row-fluid">
                <h3>{{ tab_equip_cat[equip.vars.value] }}</h3>
              </div>
              <div class="row-fluid">
              {% endif %}

              {% if i == 0 %}
                {% set i = 1 %}
              </div>
              <div class="row-fluid">
              {% else %}
                {% set i = 0 %}
              {% endif %}

              <div class="span6 checkbox_block">
                {{ form_widget(equip) }}{{ form_label(equip) }}
              </div>

            {% endfor %}
          </div>

          <div class="row-fluid">
            <h3>Couchage</h3>
          </div>

          <div class="row-fluid">
            {% for multiEquip in form.multiEquipements %}
              <div class="row-fuild">
                <div class="span6">
                  {{ multiEquip.vars.value.Equipement.intitule }}
                  {{ form_widget(multiEquip.Equipement) }}
                  {% do multiEquip.Equipement.setRendered %}
                </div>
                <div class="span6">
                  {{ form_widget(multiEquip.quantity) }}
                </div>
              </div>
            {% endfor %}
          </div>

          <br/><br/>

          <div class="row-fluid">
            <div class="span6">
              <a href="{{ path('pat_piece_index',{ 'id': appartement.id }) }}" class="btn btn-large">Revenir</a>
            </div>
            <div class="span6 right">
              <input class="btn btn-primary btn-large" type="submit" value="{{ 'Enregistrer' | trans }}"/>
            </div>
          </div>

          {{ form_rest(form) }}
        </form>
      </div>
    </div>
  </div><!-- /contenuCentrale -->

  <div id="contenuDroite">
    <div id="blocAide">
      <div class="blocAideTitre">Aide</div>
      <br/>Vous recherchez un appartement ou un studio meublé de qualité, en toute confiance,<br/>classAppart &copy; vous met en relation avec les locataires !
    </div><!-- /blocAide -->
  </div><!-- /contentDroit -->


{% endblock %}
