{% block content %}

<script type="text/javascript">
$(document).ready(function () {
  tinyMCE.init({
    // General options
    mode: "exact",
    elements: "Contenu_description",
    theme: "advanced",
    plugins: "jbimages,autolink,lists,pagebreak,style,layer,table,save,advhr,,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave,visualblocks",
    //plugins: 'jbimages advlist autolink link image lists charmap print preview pagebreak autosave insertdatetime media searchreplace',
    // Theme options
    theme_advanced_buttons1: "bold,italic,underline|,justifyleft,justifycenter,justifyright,justifyfull,formatselect,fontselect,fontsizeselect,|,fullscreen",
    theme_advanced_buttons2: "bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,code,|,insertdate,preview,|,forecolor,backcolor,|,visualchars",
    theme_advanced_buttons3: "jbimages, image,tablecontrols,|visualaid,|,sub,sup,|,charmap,iespell,advhr,|,visualblocks",
    theme_advanced_toolbar_location: "top",
    theme_advanced_toolbar_align: "left",
    theme_advanced_statusbar_location: "bottom",
    theme_advanced_resizing: true,
    relative_urls: false,
    width: "780"
  });
});
</script>
  <!-- /TinyMCE -->


  <div id="contenuCentrale1">
    <h1>Ajouter un contenu</h1>

    <div class="clear"></div>

    {% if message %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endif %}

    <form action="" method="post" {{ form_enctype(form) }}>
      <div class="alert-error">
        {{ form_errors(form) }}
      </div>
      <div class="blocForm">
        <div class="title">Page</div>
        <div class="content">
          <div class="row-fluid">
            <div class="span4">
              <strong>{{ form_label(form.type) }} :</strong>
            </div>
            <div class="span8">
              {{ form_errors(form.type) }}
              {{ form_widget(form.type) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              <strong>{{ form_label(form.id_parent) }} :</strong>
            </div>
            <div class="span8">
              {{ form_errors((form.id_parent)) }}
              {{ form_widget(form.id_parent) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span2">
              <strong>{{ form_label(form.titre) }} :</strong>
            </div>
            <div class="span10">
              {{ form_errors(form.titre) }}
              {{ form_widget(form.titre, { 'attr': {'class': 'span12'} }) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span2" style="width: 635px; clear: both;">
              <strong>{{ form_label((form.description)) }} :</strong>
            </div>
            <div class="span10 wysiwyg">
              {{ form_errors(form.description) }}
              {{ form_widget(form.description, { 'attr': {'class': 'row-fluid'} }) }}
              <br/>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              <strong>{{ form_label(form.affiche_menu) }} :</strong>
            </div>
            <div class="span8">
              {{ form_errors(form.affiche_menu) }}
              {{ form_widget(form.affiche_menu) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              <strong>{{ form_label(form.on_sidebar) }} :</strong>
            </div>
            <div class="span8">
              {{ form_errors(form.on_sidebar) }}
              {{ form_widget(form.on_sidebar) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              <strong>{{ form_label(form.statut) }} :</strong>
            </div>
            <div class="span8">
              {{ form_errors(form.statut) }}
              {{ form_widget(form.statut) }}
            </div>
          </div>
        </div>
      </div>

      <div class="blocForm">
        <div class="title">Référencement</div>
        <div class="content">
          <div class="row-fluid">
            <div class="span4">
              <strong>{{ form_label(form.url) }} :</strong>
            </div>
            <div class="span8">
              {{ form_errors(form.url) }}
              {{ form_widget(form.url, { 'attr': {'class': 'span12'} }) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              <strong>{{ form_label(form.meta_titre) }} :</strong>
            </div>
            <div class="span8">
              {{ form_errors(form.meta_titre) }}
              {{ form_widget(form.meta_titre, { 'attr': {'class': 'span12'} }) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              <strong>{{ form_label(form.meta_description) }} :</strong>
            </div>
            <div class="span8">
              {{ form_errors(form.meta_description) }}
              {{ form_widget(form.meta_description, { 'attr': {'class': 'span12'} }) }}
            </div>
          </div>
        </div>
      </div>

      {{ form_rest(form) }}

      <div class="center padding">
        <input type="submit" class="btn btn-primary" value="{{ 'Enregistrer' | trans }}"/>
      </div>

    </form>

    <div id="formCreateAppart">
      {#
        <form action="" method="post" {{ form_enctype(form) }}>
        <div class="error">
          {{ form_errors(form) }}
        </div>



        <table border="0" cellpadding="5" cellspacing="0" class="formulaire">
            <tr>
            <td class="tdRight">{{ form_label(form.type) }}* : </td>
            <td class="tdLeft">
              {{ form_errors(form.type) }}
              {{ form_widget(form.type) }}
            </td>
          </tr>
            <tr>
            <td class="tdRight">{{ form_label((form.id_parent)) }} : </td>
            <td class="tdLeft">
              {{ form_errors((form.id_parent)) }}
              {{ form_widget(((form.id_parent))) }}
            </td>
          </tr>
            <tr>
            <td class="tdRight">{{ form_label(form.titre) }}* : </td>
            <td class="tdLeft">
              {{ form_errors(form.titre) }}
              {{ form_widget(form.titre) }}
            </td>
          </tr>
            <tr valign="top">
            <td class="tdRight">{{ form_label(form.description) }}* : </td>
            <td class="tdLeft">
              {{ form_errors(form.description) }}
              {{ form_widget(form.description) }}
            </td>
          </tr>
            <tr valign="top">
            <td class="tdRight">{{ form_label(form.affiche_menu) }}* : </td>
            <td class="tdLeft">
              {{ form_errors(form.affiche_menu) }}
              {{ form_widget(form.affiche_menu) }}
            </td>
          </tr>
            <tr valign="top">
            <td class="tdRight">{{ form_label(form.on_sidebar) }}* : </td>
            <td class="tdLeft">
              {{ form_errors(form.on_sidebar) }}
              {{ form_widget(form.on_sidebar) }}
            </td>
          </tr>
            <tr valign="top">
            <td class="tdRight">{{ form_label(form.statut) }}* : </td>
            <td class="tdLeft">
              {{ form_errors(form.statut) }}
              {{ form_widget(form.statut) }}
            </td>
          </tr>
        </table>
        <br/><br/>


        <br/>

        <div id="blocReferencement">
          <table border="0" cellpadding="5" cellspacing="0" class="formulaire">
              <tr>
              <td class="tdRight"><p id="blocReferencementTitre">Référencement</p></td>
              <td class="tdLeft"></td>
            </tr>
              <tr>
              <td class="tdRight">{{ form_label(form.url) }} : </td>
              <td class="tdLeft">
                {{ form_errors(form.url) }}
                {{ form_widget(form.url) }}
              </td>
            </tr>
              <tr>
              <td class="tdRight">{{ form_label(form.meta_titre) }} : </td>
              <td class="tdLeft">
                {{ form_errors(form.meta_titre) }}
                {{ form_widget(form.meta_titre) }}
              </td>
            </tr>
              <tr valign="top">
              <td class="tdRight">{{ form_label(form.meta_description) }} : </td>
              <td class="tdLeft">
                {{ form_errors(form.meta_description) }}
                {{ form_widget(form.meta_description) }}
              </td>
            </tr>
          </table>
        </div>


      {{ form_rest(form) }}

      <br/><br/>
      <center><input type="submit" class="btn btn-primary btn-large" value="{{ 'Enregistrer' | trans }}"/></center><br/><br/>

      </form>

      #}

      {% if contenuMessage and contenus %}

        {% set i = '0' %}
        {% for contenuMessages in contenuMessage %}

          {% if i==0 %}
            <div id="titreAccueilAdmin">
              <h1><span class="spanH1">Liste des messages</span></h1>
            </div>
            <div class="clear"></div>
          {% endif %}


          <div class="blocContenuListe">
            <table border="0" cellpadding="0" cellspacing="0" id="tableListeContenu">
              <tr valign="middle" height="59">
                <td></td>
                <td>{{ contenuMessages.titre }}</td>
                <td><div class="sepVerticalContenu"></div></td>
                <td>
                  {% if contenuMessages.statut == "1" %}
                    <div class="btPublier"><a href="{{ path('pat_admin_contenu_publier', { 'id': contenuMessages.id }) }}" onclick="return confirmAction()">{{ "Publier" | trans }}</a></div>
                    {% elseif contenuMessages.statut == "0" %}
                    <div class="btDePublier"><a href="{{ path('pat_admin_contenu_publier', { 'id': contenuMessages.id }) }}" onclick="return confirmAction()">{{ "Dépublier" | trans }}</a></div>
                    {% endif %}
                </td>
                <td></td>
                <td><a href="{{ path('pat_admin_contenu_editer', { 'id': contenuMessages.id , 'langue': langue}) }}"><img src="{{ asset('bundles/patcompte/images/ico_edition.png') }}" alt="Modifier" title="Modifier"/></a></td>
                <td><a href="{{ path('pat_admin_contenu_supprimer', { 'id': contenuMessages.id }) }}" onclick="return confirmAction()"><img src="{{ asset('bundles/patcompte/images/ico_supprimer.png') }}" alt="Supprimer" title="Supprimer"/></a></td>

              </tr>
            </table>
          </div>
          {% set i = i + 1 %}
        {% endfor %}
        <div class="boutonAddContenu"><a href="{{ path('pat_admin_contenu_ajouter', {'langue': langue}) }}" class="boutonJ2">Ajouter un message</a></div>
        <div class="clear"></div>
      {% endif %}

    </div><!-- /formCreateAppart -->

  </div><!-- /contenuCentrale1 -->

{% endblock %}
