{% block content %}

  <div id="contenuCentrale1">
    <div id="titreAccueilAdmin">
      <h1><span class="spanH1">Contenu web</span></h1>
    </div>
    <div class="clear"></div>

    {% if message %}
      <div class="success">
        <p>{{ message }}</p>
      </div>
    {% endif %}

    {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
    {% if app.session.flashbag.peekAll|length > 0 %}
      <div class="row">
        <div class="span12">
          {{ session_flash() }}
        </div>
      </div>
    {% endif %}

    <form action="" method="post">
      Choisissez votre langue :
      <select name="choix_langue" onchange="return redirectChoixLangue(this.options[this.selectedIndex].value)">
        <option value="">Choix</option>
        <option value="{{ path('pat_admin_contenu_index_lg', { 'langue': 'fr' }) }}">FR</option>
        <option value="{{ path('pat_admin_contenu_index_lg', { 'langue': 'en' }) }}">EN</option>
      </select>
    </form><br/><br/>


    {% set i = '0' %}
    {% if contenu %}

      {% for contenus in contenu %}

        <div class="blocContenuListe">
          <table border="0" cellpadding="0" cellspacing="0" id="tableListeContenu">
            <tr valign="middle" height="57">
              <td width="15"></td>
              <td width="390">{{ contenus.titre | raw}}</td>
              <td width="15"><div class="sepVerticalContenu"></div></td>
              <td width="80">
                {% if contenus.statut == "1" %}
                  <div class="btPublier"><a href="{{ path('pat_admin_contenu_publier', { 'id': contenus.id }) }}" onclick="return confirmAction()">{{ "Publier" | trans }}</a></div>
                  {% elseif contenus.statut == "0" %}
                  <div class="btDePublier"><a href="{{ path('pat_admin_contenu_publier', { 'id': contenus.id }) }}" onclick="return confirmAction()">{{ "Dépublier" | trans }}</a></div>
                  {% endif %}
              </td>
              <td width="40">
                {% if contenus.tri != 0 %}
                  <form action="" method="post" id="formTri{{ i }}">
                    <input type="text" size="1" name="tri" class="inputTri" value="{{ contenus.tri }}" maxlenght="2" onkeyup="triContenu('{{ i }}')"/>
                    <input type="hidden" size="1" name="id_contenu" value="{{ contenus.id }}" maxlenght="2"/>
                  </form>
                {% endif %}
              </td>
              <td><a href="{{ path('pat_front_contenu_page', { 'url_page': contenus.url }) }}" target="_blank"><img src="{{ asset('bundles/patcompte/images/ico-rechercher.png') }}" alt="Visualiser" title="Visualiser" width="33" height="32"/></a></td>
              <td><a href="{{ path('pat_admin_contenu_editer', { 'id': contenus.id, 'langue' : langue }) }}"><img src="{{ asset('bundles/patcompte/images/ico_edition.png') }}" alt="Modifier" title="Modifier"/></a></td>
              <td><a href="{{ path('pat_admin_contenu_supprimer', { 'id': contenus.id }) }}" onclick="return confirmAction()"><img class="contentDeleteList" src="{{ asset('bundles/patcompte/images/ico_supprimer.png') }}" alt="Supprimer" title="Supprimer"/></a></td>

            </tr>
          </table>
        </div>

        {% set j = '0' %}
        {% for contenuMessages in contenuMessage %}
          {% if contenuMessages.idParent == contenus.id and contenuMessages.type == "Page" %}

            <div class="blocContenuSousListe">
              <table border="0" cellpadding="0" cellspacing="0" id="tableListeContenu">
                <tr valign="middle" height="57">
                  <td width="80"></td>
                  <td width="325">{{ contenuMessages.titre }}</td>
                  <td width="15"><div class="sepVerticalContenu"></div></td>
                  <td width="80">
                    {% if contenuMessages.statut == "1" %}
                      <div class="btPublier"><a href="{{ path('pat_admin_contenu_publier', { 'id': contenuMessages.id }) }}" onclick="return confirmAction()">{{ "Publier" | trans }}</a></div>
                      {% elseif contenuMessages.statut == "0" %}
                      <div class="btDePublier"><a href="{{ path('pat_admin_contenu_publier', { 'id': contenuMessages.id }) }}" onclick="return confirmAction()">{{ "Dépublier" | trans }}</a></div>
                      {% endif %}
                  </td>
                  <td width="40">
                    <form action="" method="post" id="formTri{{ i }}{{ j }}">
                      <input type="text" size="1" name="tri" class="inputTri" value="{{ contenuMessages.tri }}" maxlenght="2" onkeyup="triContenu('{{ i }}{{ j }}')"/>
                      <input type="hidden" size="1" name="id_contenu" value="{{ contenuMessages.id }}" maxlenght="2"/>
                    </form>
                  </td>
                  <td><a href="{{ path('pat_front_contenu_page', { 'url_page': contenuMessages.url }) }}" target="_blank"><img src="{{ asset('bundles/patcompte/images/ico-rechercher.png') }}" alt="Visualiser" title="Visualiser" width="33" height="32"/></a></td>
                  <td><a href="{{ path('pat_admin_contenu_editer', { 'id': contenuMessages.id, 'langue': langue }) }}"><img src="{{ asset('bundles/patcompte/images/ico_edition.png') }}" alt="Modifier" title="Modifier"/></a></td>
                  <td><a href="{{ path('pat_admin_contenu_supprimer', { 'id': contenuMessages.id }) }}" onclick="return confirmAction()"><img style="top: 6px;" src="{{ asset('bundles/patcompte/images/ico_supprimer.png') }}" alt="Supprimer" title="Supprimer"/></a></td>

                </tr>
              </table>
            </div>

          {% endif %}
          {% set j = j + 1 %}
        {% endfor %}

        {% set i = i + 1 %}
      {% endfor %}
    {% else %}

      Aucune page trouvée.

    {% endif %}
    <div class="right">
      <a href="{{ path('pat_admin_contenu_ajouter', { 'langue' : langue }) }}" class="btn btn-primary">Ajouter une page</a>
    </div>

  </div><!-- /contenuCentrale1 -->

  <script type="text/javascript">
    function triContenu(id) {
      document.forms["formTri" + id].submit();
    }
    function redirectChoixLangue(langue) {
      window.location = langue;
    }
  </script>

{% endblock %}
