{% if contenu %}
  {% for contenus in contenu %}
    <li><a href="{{ path('pat_admin_contenu_editer', { 'id': contenus.id, 'langue': 'fr' }) }}">{{ contenus.titre }}</a></li>
  {% endfor %}
{% endif %}
