{% extends '::base.html.twig' %}

{% block body -%}
  <h1>Option edit</h1>

  <form action="{{ path('option_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <input type="hidden" name="_method" value="PUT" />
    {{ form_widget(edit_form) }}
    <p>
      <button type="submit">Edit</button>
    </p>
  </form>

  <ul class="record_actions">
    <li>
      <a href="{{ path('option') }}">
        Back to the list
      </a>
    </li>
    <li>
      <form action="{{ path('option_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit">Delete</button>
      </form>
    </li>
  </ul>
{% endblock %}
