{% for entity in entities %}
  <div class="row-fluid">
    <div class="span1 right">
      {{ entity.quantity }}
    </div>
    <div class="span8">
      {{ entity.name }}
    </div>
    <div class="span2 center">
      {% if entity.amount is not null %}{{ entity.amount*entity.quantity|price_format }} €{% endif %}
    </div>
    {% if app.user.type == "Administrateur" %}
      <div class="span1 center">
        <a href="{{ path('option_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a>
        <a href="{{ path('option_delete', { 'id': entity.id }) }}" onclick="return confirmAction()"><i class="icon-trash"></i></a>
      </div>
    {% endif %}
  </div>
{% else %}
  Aucune option
{% endfor %}
