{% extends 'PatCompteBundle::layout_admin.html.twig' %}

{% block content %}
  <div id="contenuCentrale1">
    <h1>Ajouter une option</h1>

    <div class="clear"></div>

    {% for flashMessage in app.session.flashbag.get('success') %}
      <div class="alert alert-success">
        {{ flashMessage }}
      </div>
    {% endfor %}

    <div class="blocForm">
      <div class="title">
        {% if option.reservation %}Réservation réf. {{ option.reservation.reference }}{% endif %}
      </div>
      <div class="content">
        <form action="" method="post" {{ form_enctype(form) }}>
          {{ form_errors(form) }}

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.quantity) }}
            </div>
            <div class="span8">
              {{ form_errors(form.quantity) }}
              {{ form_widget(form.quantity) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.name) }}
            </div>
            <div class="span8">
              {{ form_errors(form.name) }}
              {{ form_widget(form.name) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.amount) }}
            </div>
            <div class="span8 input-append">
              {{ form_errors(form.amount) }}
              {{ form_widget(form.amount) }}<span class="add-on">€</span>
            </div>
          </div>
          {{ form_rest(form) }}

          <br/>
          <div class="row-fluid center">
            <input type="submit" class="btn btn-primary" value="Valider">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

