{% extends '::base.html.twig' %}

{% block body -%}
  <h1>Option</h1>

  <table class="record_properties">
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ entity.id }}</td>
      </tr>
      <tr>
        <th>Quantity</th>
        <td>{{ entity.quantity }}</td>
      </tr>
      <tr>
        <th>Amount</th>
        <td>{{ entity.amount }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{ entity.name }}</td>
      </tr>
      <tr>
        <th>Createdat</th>
        <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
      </tr>
    </tbody>
  </table>

  <ul class="record_actions">
    <li>
      <a href="{{ path('option') }}">
        Back to the list
      </a>
    </li>
    <li>
      <a href="{{ path('option_edit', { 'id': entity.id }) }}">
        Edit
      </a>
    </li>
    <li>
      <form action="{{ path('option_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit">Delete</button>
      </form>
    </li>
  </ul>
{% endblock %}
