{% extends 'PatCompteBundle::layout_admin.html.twig' %}

{% block content %}
  <div id="contenuCentrale1">
    <h1>Ajouter une option</h1>

    <div class="clear"></div>

    {% for flashMessage in app.session.flashbag.get('success') %}
      <div class="alert alert-success">
        {{ flashMessage }}
      </div>
    {% endfor %}

    <div class="row-fluid">
      <div class="span12 center">
        Voulez vous envoyer un email de paiement ?
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 center">
        <form action="{{ path('pat_admin_generate_payment_resa', { 'member_id': option.reservation.utilisateur.id, 'id_reservation': option.reservation.id }) }}" method="post">
          <input name="payment_amount" type="hidden" required="required" value="{{option.amount*option.quantity}}">
          <input name="payment_name" type="hidden" required="required" value="{{option.quantity}} {{option.name}}">
          <input type="submit" class="btn btn-large btn-primary" value="Oui">
        </form>
      </div>
      <div class="span6 center">
        <a href="{{ path('pat_admin_reservation_show', { 'id_reservation': option.reservation.id }) }}" class="btn btn-large btn-secondary">Non</a>
      </div>
    </div>
  </div>
{% endblock %}
