{% block content %}

  <div id="contenuCentrale1">
    <h1>Ajouter un équipement</h1>

    <div class="clear"></div>


    {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
    {% if app.session.flashbag.peekAll|length > 0 %}
      <div class="row">
        <div class="span12">
          {{ session_flash() }}
        </div>
      </div>
    {% endif %}

    {% if message %}
      <div class="alert-success">
        <p>{{ message }}</p>
      </div>
    {% endif %}

    <form action="" method="post" {{ form_enctype(form) }}>
      <div class="alert-error">
        {{ form_errors(form) }}
      </div>

      <div class="blocForm speciForm">
        <div class="content">
          <div class="row-fluid">
            <div class="span4">
              <strong>{{ form_label(form.intitule) }}</strong>
            </div>
            <div class="span8">
              {{ form_errors(form.intitule) }}
              {{ form_widget(form.intitule) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              <strong>{{ form_label(form.equipementcategorie) }}</strong>
            </div>
            <div class="span8">
              {{ form_errors(form.equipementcategorie) }}
              {{ form_widget(form.equipementcategorie) }}
            </div>
          </div>
          {{ form_rest(form) }}
        </div>
      </div>
      <div class="center padding">
        <a class="btn btn-small" href="{{ path('pat_admin_equipement_categorie_ajouter') }}">Ajouter/supprimer une catégorie</a>
        <input type="submit" class="btn btn-primary" value="{{ 'Enregistrer' | trans }}"/>
      </div>

      <br/><br/>


      <h1>Liste des équipements</h1>

      <table border="0" cellpadding="2" cellspacing="1" class="tableEquipement">

        {% set i = '0' %}
        {% for equipement in equipements %}

          {% if i == "10" %}
          </table>
          <table border="0" cellpadding="2" cellspacing="1" class="tableEquipement">
            {% set i = '0' %}
          {% endif %}

          <tr bgcolor="#FFFFFF">
            <td width="130">{{ equipement.intitule }}</td>
            <td width="70">
              <a href="{{ path('pat_admin_equipement_editer', { 'id': equipement.id }) }}"><img src="{{ asset('bundles/patcompte/images/ico_edition.png') }}" alt="Modifier"/></a>
              <a href="{{ path('pat_admin_equipement_supprimer', { 'id': equipement.id }) }}" onclick="return confirmAction()"><img src="{{ asset('bundles/patcompte/images/ico_supprimer.png') }}" alt="Supprimer"/></a>
            </td>
          </tr>
          {% set i = i + 1 %}
        {% else %}
          <h3>Aucun équipement n'a été trouvé.</h3>
        {% endfor %}
      </table>

<!--<br/><br/><p><a href="{#{{ path('pat_admin_equipement_index') }}#}">{#{{ "Retour à la liste des équipements" | trans }}#}</a></p>-->

  </div><!-- /contenuCentrale1 -->

{% endblock %}
