{% block content %}


  <div id="contenuCentrale1">
    <div id="titreAccueilAdmin">
      <h1><span class="spanH1">Liste des équipements</span></h1>
      640
    </div>
    <div class="clear"></div>


    {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
    {% if app.session.flashbag.peekAll|length > 0 %}
      <div class="row">
        <div class="span12">
          {{ session_flash() }}
        </div>
      </div>
    {% endif %}


    <a class="boutonJ3" href="{{ path('pat_admin_equipement_ajouter') }}">{{ "Ajouter un équipement" | trans }}</a><br/>


    <table border="0" cellpadding="2" cellspacing="1" class="tableEquipement">

      {% set i = '0' %}
      {% for equipements in equipement %}

        {% if i == "10" %}
        </table>
        <table border="0" cellpadding="2" cellspacing="1" class="tableEquipement">
          {% set i = '0' %}
        {% endif %}

        <tr bgcolor="#FFFFFF">
          <td width="130">&nbsp;{{ equipements.intitule }}</td>
          <td width="70">
            <a href="{{ path('pat_admin_equipement_editer', { 'id': equipements.id }) }}"><img src="{{ asset('bundles/patcompte/images/ico_edition.png') }}" alt="Modifier"/></a>
            <a href="{{ path('pat_admin_equipement_supprimer', { 'id': equipements.id }) }}" onclick="return confirmAction()"><img src="{{ asset('bundles/patcompte/images/ico_supprimer.png') }}" alt="Supprimer"/></a>
          </td>
        </tr>
        {% set i = i + 1 %}
      {% else %}
        <h3>Aucun équipement n'a été trouvé.</h3>
      {% endfor %}
    </table>

  </div><!-- /contenuCentrale1 -->

{% endblock %}
