<div class="clear"></div>

<div class="etapesBien">
  <div class="linksEtapesBien">
    <ul>
      <li><a href="{{ path('pat_admin_proprietaire_afficher', { 'id_proprio': proprietaire.id }) }}">Profil</a></li>
      <li><a href="{{ path('pat_admin_proprietaire_appartement_index', { 'id_proprio': proprietaire.id }) }}">Biens</a></li>
      <li><a href="{{ path('pat_admin_proprietaire_reservation_index', { 'id_proprio': proprietaire.id }) }}">Réservations Propriétaire</a></li>
      <li><a href="{{ path('pat_admin_proprietaire_resas_loc', { 'id_proprio': proprietaire.id }) }}">Réservations Locataire</a></li>
      <li><a href="{{ path('pat_admin_list_payment_by_member', { 'member_id': proprietaire.id }) }}">Paiements</a></li>
      <li><a href="{{ path('documentsAdmin_list',{ 'user_id':proprietaire.id}) }}" class="active">Documents</a></li>
    </ul>
  </div>
</div>
