<div id="content">

  <h1>Documents <small>({{ proprietaire.prenom | capitalize }} {{ proprietaire.nom | upper }})</small></h1>

  {% include "PatCompteBundle:AdminDocuments:_header_navigation.html.twig" %}

  <div class="formBien">
    <form action="" method="post" {{ form_enctype(form) }}>

      <div class="error">
        {{ form_errors(form) }}
      </div>

      <div class="blocForm">
        <div class="title">Ajouter un document</div>

        <div class="content">

          <div class="row-fluid">
            <div class="span4">
              {{ form_label(form.documentName) }}
            </div>
            <div class="span8">
              {{ form_errors(form.documentName) }}
              {{ form_widget(form.documentName) }}
            </div>
          </div>
          <br />
          <div class="row-fluid">
            <div class="span4">
              {{ form_label(form.file) }}
            </div>
            <div class="span8">
              {{ form_errors(form.file) }}
              {{ form_widget(form.file) }}
            </div>
          </div>
          <br />
          <div class="row-fluid">
            <div class="span4">
              {{ form_label(form.appartement) }}
            </div>
            <div class="span8">
              {{ form_errors(form.appartement) }}
              {{ form_widget(form.appartement) }}
            </div>
          </div>

          <br />

          <div class="row-fluid">
            <div class="span4">
              Visible sur le bien* :
            </div>
            <div class="span8">
              {{ form_errors(form.visible) }}
              {{ form_widget(form.visible) }}
            </div>
          </div>

          {{ form_rest(form) }}

          <br />
          <div class="row-fluid">
            <div class="span4"></div>
            <div class="span8">
              <button type="submit"  class="btn btn-primary">Valider</button>
            </div>
          </div>
          </form>
        </div>
      </div>
      * Si la case est coch&eacute;e, le document sera t&eacute;l&eacute;chargeable par les internautes depuis la fiche du bien.
  </div>
</div><!-- /contenuCentrale -->

<script type="text/javascript">
$(document).ready(function() {
  $('input[type=file]').bootstrapFileInput();
});
</script>
