{% extends 'PatCompteBundle::layout_admin.html.twig' %}

{% block content %}
  {% include "PatCompteBundle:AdminDocuments:list_content.html.twig" %}
{% endblock content %}

{% block javascripts %}
  {{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
  $(document).on("click", "#confirmDelete", function(e) {
    e.preventDefault();
    link = $(this).attr('href');
    bootbox.confirm("Voulez-vous supprimer ?", function(result) {
      if (result == true) {
        window.location.href = link;
      }
    });
  });
});
</script>

{% endblock %}
