<div id="content">

  <h1>Documents <small>({{ proprietaire.prenom | capitalize }} {{ proprietaire.nom | upper }})</small></h1>

  {% include "PatCompteBundle:AdminDocuments:_header_navigation.html.twig" %}

  {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
  {% if app.session.flashbag.peekAll|length > 0 %}

    {{ session_flash() }}

  {% endif %}

  {% include "PatCompteBundle:AdminDocuments:_list_documents.html.twig" %}

  <a href="{{ path('documentsAdmin_add_file',{ 'user_id':proprietaire.id}) }}" class="btn btn-primary">Ajouter un document</a>

</div>
