<div><h2>{{ 'Derniers ajouts' | trans }} :</h2></div>
{% set i = '0' %}
{% if ajouts %}


  {% for appart in ajouts %}
    <div class="ListeAppart row-fluid blocItem">
      <div class="row ListeAppart1">
        <div class="row-fluid">
          <div class="span2">
            {% set appartement_img = get_img(appart.id) %}
            {% set myimg = '/images/photos/biens/'~appart.reference~'/'~appartement_img %}
            {% if appartement_img %}
              <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}"><img src="{{ myimg | imagine_filter('appartement_mini') }}" border="0" /></a>
              {% endif %}
          </div>
          <div class="span8">
            <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}" class="appart_list_link">
              <div class="reference">
                {{ appart.nomResidence }} | Réf : {{ appart.reference }}
              </div>
              <div class="titreAppart">
                <strong>
                  {{ appart.type | capitalize }} {% if appart.nbPieces %}T{{ appart.nbPieces }}{% endif %} - {{ appart.surfaceSol }} m<sup>2</sup>
                  {{ 'situe a' | trans }} {{ appart.ville }}
                </strong>
              </div>
              {% if appart.tarif is not null %}
                <div class="tarifAppart">
                  {#{{ 'A partir de' | trans }} <strong>{{ get_lower_loyer(appart.tarif)|number_format }}</strong> {{ '€/nuit' | trans }}#}
                  {{ 'A partir de' | trans }} <strong>{{ get_from_tarif(appart) | number_format }}</strong> {{ '€/nuit' | trans }} *
                </div>
              {% endif %}
            </a>
          </div>
          <div class="span2 itemLink">
            <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}" class="btn btn-primary">{{ 'Découvrir' | trans }}</a>
          </div>
        </div>
      </div>
    </div>

    {% set i = i + 1 %}
  {% endfor %}
  <small>* {{ 'Légende tarif' | trans }}</small>
{% endif %}
