{% extends 'PatFrontBundle::layout.html.twig' %}

{% block title %}{{ appartement.type | capitalize }} {% if appartement.nbPieces %}T{{ appartement.nbPieces }}{% endif %} - {{ appartement.surfaceSol }} m&sup2; {{ 'site a' | trans }} {{ appartement.ville }} {% endblock %}

{% block content %}
  {% include "PatFrontBundle:Appartement:detail_content.html.twig" %}
{% endblock content %}
