{% block content %}
  {% if appartement %}
    <h1>{{ 'Résultat' | trans }}</h1>

    {% if app.session.started %}
      {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-block">
          {{ flashMessage }}
        </div>
      {% endfor %}
    {% endif %}

    <div class="ficheProduit row">
      <div class="reference span9">
        {{ appartement.nomResidence }} | Réf : {{ appartement.reference }}
      </div>
      <div class="titreAppartFiche span9">
        <strong>
          {{ appartement.type | capitalize }} {% if appartement.nbPieces %}T{{ appartement.nbPieces }}{% endif %} - {{ appartement.surfaceSol }} m<sup>2</sup>
          {{ 'situe a' | trans }} {{ appartement.ville }}
        </strong>
      </div>




      <div id="contenuCentrale" class="span6">
        {% if media %}
          {#<div class="row">
              <div class="Galerie">
                  <div class="pikachoose">
                      <ul id="pikame" >
                              {% set k = '0' %}
                              {% for medias in media  %}
                              <li><a href="#"><img src="{{ asset('images/photos/biens') }}/{{ appartement.reference }}/big/{{ media[k].fichier }}" /></a></li>
                                  {% set k = k + 1 %}
                              {% endfor %}
                      </ul>
                  </div>
                  <div class="clear"></div>
              </div><!-- /Galerie -->
          </div>#}



          <div class="royalSlider rsDefault">
            {% set k = '0' %}
            {% for medias in media  %}
              {% set myimg = '/images/photos/biens/'~appartement.reference~'/'~media[k].fichier %}
              <img class="rsImg" src="{{ myimg | imagine_filter('appartement_big') }}" data-rsBigImg="{{ myimg }}" data-rsTmb="{{ myimg | imagine_filter('appartement_thumb') }}" alt="" />
              {% set k = k + 1 %}
            {% endfor %}
          </div>
          <div class="clear"></div>
          <br/><br/>
        {% endif %}



        {% if appartement.isResa != 1 %}
          <div class="ficheContent row">
            <div class="MessageNoResa">{{ 'Note' | trans }} : {{ "ce bien n'est pas disponible" | trans }}</div>
          </div>
        {% endif %}



        <div class="ficheContent row">
          {% if appartement.tarif is not null %}
            <div class="tarifAppart">
              {{ 'A partir de' | trans }}
              {#{% if nb_jours != -1 %}
                  {{ get_loyer_by_date(appartement.tarif, nb_jours)|number_format }}
              {% else %}
                  {{ get_lower_loyer(appartement.tarif)|number_format }}
              {% endif %}#}
              <span class="justTarif">{{ get_from_tarif(appartement) | number_format }}
                {{ '€/nuit' | trans }} *</span>
            </div>
            <small>* {{ 'Légende tarif' | trans }}</small><br/>
            {% if null != appartement.getActivePromotion() %}
              <br>
              <span class="text-danger">{{ appartement.getActivePromotion().percentage > 0 ? 'Majoration de +' : 'Promotion de ' }}<strong>{{ appartement.getActivePromotion().percentage }}%</strong> si votre réservation débute avant le <strong>{{ date('now')|date_modify('+ ' ~ appartement.getActivePromotion().nbDaysBefore ~ ' days')|date('d/m/Y')  }}</strong> </span>
              <br>
            {% endif %}
            {% for promotion in future_promotions %}
              <br>
              <span class="text-danger">
                {{ promotion.percentage > 0 ? 'Majoration de +' : 'Promotion de ' }}<strong>{{ promotion.percentage|price_format }} %</strong> si votre réservation se situe entre<br>
                le <strong>{{ promotion.begin|date('d/m/Y')  }}</strong> et le <strong>{{ promotion.end|date('d/m/Y') }}</strong>
              </span>
              <br>
            {% endfor %}
          {% endif %}
          <br/>
          <div>
            {{ appartement.descriptionFr|nl2br }}
          </div>
        </div>

        <div class="ficheContent row">
          <ul class="noStyle noMargin">
            {% if appartement.type is not empty %}<li>{{ 'type de bien' | trans }} : <b>{{appartement.type|trans}}</b></li>{% endif %}
            {% if appartement.surfaceSol is not empty %}<li>{{ 'Surface' | trans }} : <b>{{appartement.surfaceSol}} m<sup>2</sup></b></li>{% endif %}
            {% if appartement.nbPersonne is not empty %}<li>{{ 'Nombre de personne maximum' | trans }} : <b>{{appartement.nbPersonne}}</b></li>{% endif %}
            {% if appartement.heureArrivee is not empty %}<li>{{ "Heure d'arrivée" | trans }} : <b>{{ appartement.heureArrivee|testValeur }}</b> {{ 'heures' | trans }}</li>{% endif %}
            {% if appartement.heureDepart is not empty %}<li>{{ 'Heure de sortie' | trans }} : <b>{{ appartement.heureDepart|testValeur }}</b> {{ 'heures au plus tard' | trans }}</li>{% endif %}
          </ul>
        </div>


        {# Si la ville est définie et non nulle, et qu'elle contient une description, on l'affiche #}
        {% if appartement.ville is defined and appartement.ville is not null and appartement.ville.description is not null %}
          <div class="ficheContent row">
            {% if appartement.ville.quartier %}<h3>{{ 'Description du quartier' | trans }}</h3>{% else %}<h3>{{ 'Description de la ville' | trans }}</h3>{% endif %}
            {{ appartement.ville.description }}
          </div>
        {% endif %}

        <div class="ficheContent row">

          <div class="span3 noMargin">
            <h3>{{ 'Localisation' | trans }}</h3>
            <ul class="noStyle noMargin">
              {% if appartement.distanceAeroport is not empty %}<li>{{ 'Distance aéroport' | trans }} : <b>{{appartement.distanceAeroport|testValeur}} km</b></li>{% endif %}
              {% if appartement.distanceAutoroute is not empty %}<li>{{ 'Distance autoroute' | trans }} : <b>{{appartement.distanceAutoroute|testValeur}} km</b></li>{% endif %}
              {% if appartement.distanceCommerce is not empty %}<li>{{ 'Distance commerces' | trans }} : <b>{{appartement.distanceCommerce|testValeur}} km</b></li>{% endif %}
              {% if appartement.accesMetro is not empty %}<li>{{ 'Accès métro' | trans }} : <b>{{appartement.accesMetro|testValeur}} {{ 'min' | trans }}</b></li>{% endif %}
              {% if appartement.accesTram is not empty %}<li>{{ 'Accès tram' | trans }} : <b>{{appartement.accesTram|testValeur}} {{ 'min' | trans }}</b></li>{% endif %}
              {% if appartement.accesBus is not empty %}<li>{{ 'Accès bus' | trans }} : <b>{{appartement.accesBus|testValeur}} {{ 'min' | trans }}</b></li>{% endif %}
            </ul>
          </div>

          <div class="span3">
            <h3>{{ 'Note' | trans }}</h3>
            <ul class="noStyle margin0">
              {% if appartement.clair is not empty %}<li>{{ 'Clair' | trans }} : <span class="blocRight"><b>{{ appartement.clair }}/5</b></span></li>{% endif%}
              {% if appartement.calme is not empty %}<li>{{ 'Calme' | trans }} : <span class="blocRight"><b>{{ appartement.calme }}/5</b></span></li>{% endif%}
              {% if appartement.standingImmeuble is not empty %}<li>{{ 'Standing' | trans }} : <span class="blocRight"><b>{{ appartement.standingImmeuble|trans }}</b></span></li>{% endif%}
              {% if appartement.etatInterieur is not empty %}<li>{{ 'État intérieur' | trans }} : <span class="blocRight"><b>{{ appartement.etatInterieur|trans }}</b></span></li>{% endif%}
            </ul>
          </div>
        </div>

        <div class="ficheContent row">
          <h3>{{ 'Prestations' | trans }}</h3>
          <ul class="noStyle noMargin">
            <li>{{ 'Situé au' | trans }} : {{ appartement.etage|formatEtage }} {% if appartement.nbEtage %} {{ 'sur' | trans }} {{appartement.nbEtage}} {% endif %}</li>
            {% if appartement.stationnement is not empty %}<li>{{ 'Stationnement' | trans }} : <b>{{appartement.stationnement}}</b></li>{% endif%}
          </ul>
          <ul class="noStyle span3 noMargin">
            <li>&nbsp;</li>
            <li>{{ 'Animaux admis' | trans }} : <b> {{ 'non' | trans }} </b></li>
            <li>{{ 'Fumeur' | trans }} : <b> {{ 'non' | trans }} </b></li>
            <li>{{ 'Fètes' | trans }} : <b> {{ 'non' | trans }} </b></li>
            {% if appartement.jardin != "" %}<li>{{ 'Jardin' | trans }} :   <b> {{ 'oui' | trans }} </b></li>{% endif %}
            {% if appartement.videOrdure != "" %}<li>{{ 'Vide ordure' | trans }} : <b> {{ 'oui' | trans }} </b></li>{% endif %}
            {% if appartement.digicode != "" %}<li>{{ 'Digicode' | trans }} :   <b> {{ 'oui' | trans }} </b></li>{% endif %}
            {% if appartement.climatisation != "" %}<li>{{ 'Climatisation' | trans }} :   <b> {{ 'oui' | trans }} </b></li>{% endif %}
            {% if appartement.typeChauffage is not empty %}<li>{{ 'Type chauffage' | trans }} : <b>{{appartement.typeChauffage|trans}}</b></li>{% endif %}
            {% if appartement.modeChauffage is not empty %}<li>{{ 'Mode de chauffage' | trans }} : <b>{{appartement.modeChauffage|trans}}</b></li>{% endif %}
            {% if appartement.ascenseur != "" %}<li>{{ 'Ascenseur' | trans }} :   <b> {{ 'oui' | trans }} </b></li>{% endif %}
            {% if appartement.grenier != "" %}<li>{{ 'Grenier' | trans }} :   <b> {{ 'oui' | trans }} </b></li>{% endif %}
            {% if appartement.interphone != "" %}<li>{{ 'Interphone' | trans }} :   <b> {{ 'oui' | trans }} </b></li>{% endif %}
            {% if appartement.accesHandicapes != "" %}<li>{{ 'Accès handicapés' | trans }} :   <b> {{ 'oui' | trans }} </b></li>{% endif %}
            {% if appartement.gardien != "" %}<li>{{ 'Gardien' | trans }} :   <b> {{ 'oui' | trans }} </b></li>{% endif %}
            {% if appartement.internet != "" %}<li>{{ 'Internet' | trans }} : <b> {{ 'oui' | trans }} </b></li>{% endif %}
          </ul>
          <ul class="noStyle span3">
            <li>&nbsp;</li>
            {% if appartement.parking is not empty %}<li>{{ 'Nombre de parkings' | trans }} : <b>{{appartement.parking|testValeur}}</b></li>{% endif %}
            {% if appartement.garage is not empty %}<li>{{ 'Nombre de garages' | trans }} : <b>{{appartement.garage|testValeur}}</b></li>{% endif %}
            {% if appartement.cave is not empty %}<li>{{ 'Nombre de caves' | trans }} : <b>{{appartement.cave|testValeur}}</b></li>{% endif %}
            {% if appartement.balcon is not empty %}<li>{{ 'Nombre de balcons' | trans }} : <b>{{appartement.balcon|testValeur}}</b></li>{% endif %}
            {% if appartement.terrasse is not empty %}<li>{{ 'Nombre de terrasses' | trans }} : <b>{{appartement.terrasse|testValeur}}</b></li>{% endif %}
            <li>{{ 'Nombre de lits simples' | trans }} : <b>{{ appartement.nbLitSimple|testValeur }}</b></li>
            <li>{{ 'Nombre de lits doubles' | trans }} : <b>{{ appartement.nbLitDouble|testValeur }}</b></li>
            <li>{{ 'Nombre de canapés convertibles' | trans }} : <b>{{ appartement.nbCanapeConvertible|testValeur }}</b></li>
            <li>{{ 'Nombre de double lits simples / lit double' | trans }} : <b>{{ appartement.nbLitSimpleDouble|testValeur }}</b></li>
          </ul>
        </div>

        {% if pieces is not empty %}
          <div class="ficheContent row">
            <h3>{{ 'Description des pièces' | trans }}</h3>
            <ul class="noStyle noMargin">
              {% for piece in pieces %}
                <li>
                  {{piece.typepiece.type}} :
                  <b>
                    {% for equipement in piece.equipement %}
                      {{ equipement.intitule }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                  </b>
                </li>
                <br/>
              {% endfor %}
            </ul>
          </div>
        {% endif %}


        {% if documents is not empty %}
          <div class="ficheContent row">
            <h3>{{ 'Documents' | trans }}</h3>
            <div class="row-fluid">
              {% for document in documents %}
                {% if document.file %}
                  <div class="span3" align="center" style="padding:10px; word-break:break-all;">
                    <img src="{{ asset('/bundles/patfront/images/img_doc.png') }}" border="0" /> <br />
                    <a href="{{ path('pat_front_documents_filedownload',{'fileid':document.id}) }}">{{ document.documentName }}</a>
                  </div>

                  {% if loop.index is divisible by(4) %}
                  </div><div class="row-fluid">
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}



        {% if calendrier %}
          <div class="ficheContent row blocDispo">
            <h3>{{ 'Disponibilités' | trans }}</h3>
            <div id="slider">
              <ul>
                <div id="DetailCalendrier">
                  {% autoescape false %}
                    {{ calendrier }}
                  {% endautoescape %}
                </div>
              </ul>
            </div>

            <table id="legendCalendrier" border="0" cellpadding="5" cellspacing="0">
              <tr>
                <td><div style="width:20px;height:20px;background-color:#DD2525;"></div></td>
                <td>{{ 'Réservé' | trans }}</td>
                <td width="30"></td>
                <td><div style="width:20px;height:20px;background-color:#5BD835;"></div></td>
                <td>{{ 'Disponible' | trans }}</td>
              </tr>
            </table>

          </div>
        {% endif %}


      </div><!-- /contenuCentrale -->

      <div id="contenuDroite" class="span2">


        {#% if appartement.isResa == 1 and loyerbase != 'NC' %#}
        <a id="resaGo"></a>
        {% render controller("PatFrontBundle:Reservation:selectionDateResa", {'message' : message, 'appartRef' : appartement.reference}) %}
        {#% endif %}
{#
       <div class="remarque">
            <div class="title">
                Remarque :
            </div>
            <div class="body">
                Vous pouvez à tout moment revenir sur vos choix et modifier votre réservation.
            </div>
        </div>

        {% if is_selection == 0 %}
            <div class="center">
                <a class="btn btn-small btn-special-padding-2" href="{{ path('pat_front_appartement_ajout_selection_detail_utilisateur', { 'id_appartement': appartement.id} ) }}">Ajouter à la sélection</a>
            </div>
        {% else %}
            <div class="center">
                <a class="btn btn-small btn-special-padding-2" href="{{ path('pat_front_appartement_supprime_selection_utilisateur', { 'id_appartement': appartement.id, 'retour_page': retour_page} ) }}">Retirer de ma Sélection</a>
            </div>
        {% endif %}
#}
        <div id="map_canvas"></div>
        <div>
          <input id="address" type="hidden" value="{{ appartement.adresse }} {{ appartement.ville.nom }}">

        </div>

        <div class="rightBottomFiche">
          {#% if is_selection == 0 %}
              <div class="center">
                  <a class="btn btn-small btn-special-padding-2" href="{{ path('pat_front_appartement_ajout_selection_detail_utilisateur', { 'id_appartement': appartement.id} ) }}">Ajouter à la sélection</a>
              </div>
          {% else %}
              <div class="center">
                  <a class="btn btn-small btn-special-padding-2" href="{{ path('pat_front_appartement_supprime_selection_utilisateur', { 'id_appartement': appartement.id, 'retour_page': retour_page} ) }}">Retirer de ma Sélection</a>
              </div>
          {% endif %#}
          <br/>
          {#% if appartement.isResa == 1 and loyerbase != 'NC' %#}
          {# <a href="#resaGo" class="btn btn-primary btn-large btn-special-padding-2">Commencer ma réservation</a> #}
          {#% endif %#}
        </div>

        {#% if selection %}

                <div id="blocAjouts">
                        <div id="blocAjoutsHaut">
                                <div class="AjoutsTitre">Ma sélection</div>
                        </div><!-- /blocAjoutsHaut -->
                        {% for appart in selection %}
                        <div id="blocAjoutsPixel">
                                <div id="blocAjoutsPixel1">

                                        <div class="selectionPtBiens">
                                                    <a class="TypeBienPt" href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}">{{ appart.type }} {{ appart.surfaceSol }}m2 à {{ appart.ville }}</a><br/>

                                        </div><!-- /selectionPtBiens -->

                                </div><!-- /blocAjoutsPixel1 -->

                        </div><!-- /blocAjoutsPixel -->
                        {% endfor %}
                        <div id="blocAjoutsBas"></div>
                </div><!-- /blocAjouts -->
                <div id="divSelection">
                    <a class="boutonAjoutSelectionDetail" href="{{ path('pat_front_appartement_selection_utilisateur') }}">Voir toute ma sélection</a>
                </div>
        <div class="clear"></div>
        {% endif %#}


<!-- API Google Maps Javascript V3 -->
<!-- Note : Voir pour la cle = -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAn8ZF23BJFXwMHGzL-BGiZ0zEDS9mGfdo&sensor=false"></script>
<script type="text/javascript">
var geocoder;
var map;

function initialize() {
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(-34.397, 150.644);
  var myOptions = {
    zoom: 12,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
}

function codeAddress() {
  var address = document.getElementById("address").value;
  geocoder.geocode({'address': address}, function (results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location
      });
    } else {
      //alert("Geocode was not successful for the following reason: " + status);
      $("#map_canvas").hide();
    }
  });
}

function royalSlider() {
  $(".royalSlider").royalSlider({
    controlNavigation: 'thumbnails',
    autoScaleSlider: true,
    autoScaleSliderWidth: 960,
    autoScaleSliderHeight: 850,
    loop: false,
    imageScaleMode: 'fit-if-smaller',
    navigateByClick: true,
    numImagesToPreload: 2,
    arrowsNav: true,
    arrowsNavAutoHide: true,
    arrowsNavHideOnTouch: true,
    keyboardNavEnabled: true,
    fadeinLoadedSlide: true,
    globalCaption: true,
    globalCaptionInside: false,
    thumbs: {
      appendSpan: true,
      firstMargin: true,
      paddingBottom: 4
    },
    autoScaleSlider: true,
    fullscreen: {
      // fullscreen options go gere
      enabled: true,
      native: true
    }
  });
}

$(document).ready(function() {
  royalSlider();
  initialize();
  codeAddress();
});
</script>
<!-- /API Google Maps Javascript V3 -->

      {% endif %}

    </div><!-- /contenuCentrale -->
  </div>
{% endblock %}
