{% block content %}

  <div id="contentDroit">
    <div id="contenuCentrale">
      {% set i = '0' %}

      <div id="titreAccueil">
        <h1><!--<span>ma recherche :</span>--> {{ nb_resultat }} {% if nb_resultat < '2' %} {{ 'résultat' | trans }} {% else %} {{ 'résultats' | trans }} {% endif %}</h1>
        {#<a href="{{ path('pat_front_appartement_selection_utilisateur') }}" class="btn btn-primary btn-large">Voir toute ma selection</a>#}
      </div>

      {% if appartement %}
        <div class="right">
          {{ knp_pagination_render(appartement) }}
        </div>
        {% for appart in appartement %}

          {# Test si l'appartement est dans la selection #}
          {% set ok_select = '0' %}
          {% if selection %}
            {% for appart_select in selection %}
              {% if appart_select.reference == appart.reference %}
                {% set ok_select = '1' %}
              {% endif %}
            {% endfor %}
          {% endif %}
          <div class="ListeAppart row-fluid blocItem">
            <div class="row ListeAppart1">
              <div class="row-fluid">
                <div class="span2">
                  {% set appartement_img = get_img(appart.id) %}
                  {% set myimg = '/images/photos/biens/'~appart.reference~'/'~appartement_img %}
                  {% if appartement_img %}
                    <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}"><img src="{{ myimg | imagine_filter('appartement_mini') }}" border="0" /></a>
                    {% endif %}

                </div>
                <div class="span8">
                  <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}" class="appart_list_link">
                    <div class="reference">
                      {{ appart.nomResidence }} | Réf : {{ appart.reference }}
                    </div>
                    <div class="titreAppart">
                      <strong>
                        {{ appart.type | capitalize }} {% if appart.nbPieces %}T{{ appart.nbPieces }}{% endif %} - {{ appart.surfaceSol }} m<sup>2</sup>
                        {{ 'situe a' | trans }} {{ appart.ville }}
                      </strong>
                    </div>
                    {% if appart.tarif is not null %}
                      <div class="tarifAppart">
                        {{ 'A partir de' | trans }} <strong>
                          {#{% if nb_jours != -1 %}
                              {{ get_loyer_by_date(appart.tarif, nb_jours)|number_format }}
                          {% else %}
                              {{ get_lower_loyer(appart.tarif)|number_format }}
                          {% endif %}#}
                          {{ get_from_tarif(appart) | number_format }}
                        </strong> {{ '€/nuit' | trans }} *
                      </div>
                    {% endif %}
                    {% if appart.isResa == 0 %}
                      <div class="MessageNoResa">{{ "ce bien n'est pas disponible" | trans }}</div><!-- /TitreBien -->
                    {% endif %}
                  </a>
                </div>
                <div class="span2 itemLink">

                  <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}" class="btn btn-primary">{{ 'Découvrir' | trans }}</a>
                </div>
              </div>
            </div>
          </div>


          {#
              <div id="ZoneRecherche">
                  <div id="RechercheHaut"></div><!-- /RechercheHaut -->
                  <div id="RecherchePixel">
                      <div id="RecherchePixel1">
                          <div class="HeaderBien">
                              <div class="TitreBien">
                                  <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}">
                                              <span class="BlocDetail">RÉF : {{appart.reference}}</span><br/>
                                              {{appart.type | upper}}&nbsp;{% if appart.nbPieces%}T{{appart.nbPieces}}{% endif %}&nbsp;{{appart.surfaceSol}} m<sup>2</sup>&nbsp;{{appart.ville}}
                                  </a>
                              </div><!-- /TitreBien -->
                              <div class="LoyerBien">
                                  À partir de : <span class="LoyerBien1"> {{ loyers[appart.id]|price_format }} €/mois</span>
                              </div>
                          </div><!-- /HeaderBien -->

                          {% if appart.isResa == 0 %}
                              <div class="MessageNoResa">Note : Ce bien n'est pas disponible à la réservation actuellement</div><!-- /TitreBien -->
                          {% endif %}


                          <div class="DescriptionBiens">
                              {{appart.descriptionCourteFr}}

                              <br/><br/>

                              {% if appart.surfaceSol %}
                                  Surface : {{appart.surfaceSol}} m<sup>2</sup>
                              {% endif %}

                              <br/>

                              {% if appart.etatInterieur %}
                                  État intérieur :
                                  {% for k in 0..5 %}
                                      {% if appart.etatInterieur <= k %}
                                          <img src="{{ asset('bundles/patcompte/images/etoile_vide.png') }}" alt=""/>
                                      {% else %}
                                          <img src="{{ asset('bundles/patcompte/images/etoile_pleine.png') }}" alt="*"/>
                                      {% endif %}
                                  {% endfor %}
                              {% endif %}

                              <br/>
                          </div><!-- /DescriptionBiens -->

                          <div class="bouton">
                              <div class="Savoir">
                                  <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}">En savoir plus</a>
                              </div><!-- /Savoir -->

                              {% if ok_select == '1' %}
                                  <div class="clear"></div>
                                  <div class="bienSelectionne">Bien Sélectionné</div>
                              {% else %}
                                  <div id="messageRetourSelection{{ appart.id }}"></div>
                                  <div class="Ajouter" id="btAjoutSelection{{ appart.id }}">
                                      <a href="javascript:return false" class="boutonAjoutSelection" id="boutonAjoutSelectionAjax{{ appart.id }}"/>Ajouter à ma sélection</a>
                                  </div>
                                  <div class="divWaitSelection">
                                      <img id="imgWaitSelection{{ appart.id }}" src="{{ asset('bundles/patcompte/images/ajax-loader2.gif') }}" alt="" border="0" style="display:none;"/>
                                  </div>
                              {% endif %}
                          </div><!-- /bouton -->
                      </div><!-- /RecherchePixel1 -->
                  </div><!-- /RecherchePixel -->
                  <div id="RechercheBas"></div><!-- /RechercheBas -->
              </div><!-- /ZoneRecherche -->


              <script type="text/javascript">
                  $("#btAjoutSelection{{ appart.id }}").click(function() {

                      $("#btAjoutSelection{{ appart.id }}").hide();
                      $("#imgWaitSelection{{ appart.id }}").show();

                      var DATA = 'id_appartement=' + '{{ appart.id }}';
                      $.ajax({
                          type: "POST",
                          url: "{{ path('pat_front_appartement_ajout_selection_recherche_utilisateur') }}",
                          data: DATA,
                          cache: false,
                          success: function(data) {
                              $("#messageRetourSelection{{ appart.id }}").html(data);
                              $("#messageRetourSelection{{ appart.id }}").show();
                              $("#btAjoutSelection{{ appart.id }}").hide();
                              $("#imgWaitSelection{{ appart.id }}").hide();
                          },
                          error:function (xhr, ajaxOptions, thrownError) {
                              alert("Votre bien n'a pas pu être ajouté. Veuillez recommencer.");
                                  $("#btAjoutSelection{{ appart.id }}").show();
                                  $("#imgWaitSelection{{ appart.id }}").hide();
                          }
                      });
                  });
              </script>
#}
          {% set i = i + 1 %}
        {% endfor %}

        <div class="right">
          {{ knp_pagination_render(appartement) }}
        </div>

        <div class="clear"></div>

        {#% if nb_resultat > '4' %}
            <br/><br/>
            <a href="{{ path('pat_front_appartement_selection_utilisateur') }}" class="bt btn-primary btn-large">Voir toute ma selection</a>
            <br/><br/>
        {% endif %#}
        <small>* {{ 'Légende tarif' | trans }}</small>
        <div class="clear"></div>

      {% else %}
        {% if message %}
          <h2 style="color:red">{{ message }}</h2>
        {% else %}
          <h2>{{ 'Aucun bien ne correspond à votre recherche.' | trans }} </h2>
        {% endif %}
      {% endif %}

      <div id="question" class="row-fluid">
        <p>{{ 'Vous avez des questions ? Des demandes spécifiques ?' | trans }}</p>
        <a class="btn btn-primary btn-large" href="{{ path('pat_front_formulaire_contact', { 'lg': 'fr'}) }}">{{ 'Contactez-nous' | trans }}</a>
      </div><!-- /question -->
    </div><!-- /contenuCentrale -->
  </div><!-- /contentDroit -->

{% endblock %}
