{% extends 'PatFrontBundle::layout.html.twig' %}
{% block title %}{{ 'Liste des biens' | trans }}{% endblock %}

{% block content %}
  {% include "PatFrontBundle:Appartement:liste_content.html.twig" %}
{% endblock content %}
