<div id="recherche">
  <!--<div class="titrecontentGauche">Votre recherche :</div>-->
  <form action="{{ path('pat_front_appartement_index') }}" method="post" {{ form_enctype(formRecherche) }} id="formRecherche">
    {{ form_errors(formRecherche) }}

    <div class="headerRecherche">
      <span>{{ 'Trouver un logement' | trans }}</span>
    </div>
    <div class="etapesRecherche">

      <div class="Etapes dates">

        </br><!--<br/>-->
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td colspan="2">
              {{ form_widget(formRecherche.datearrivee, { 'attr': {'class': 'champ-date cal_date_in','placeholder': 'Arrivée' | trans } }) }}
            </td>
          </tr>
          <tr>
            <td  colspan="2" class="row">
              {{ form_widget(formRecherche.datedepart, { 'attr': {'class': 'champ-date cal_date_out','placeholder': 'Départ' | trans } }) }}
            </td>
          </tr>
        </table>
      </div><!-- /Etapes -->

      {#<div class="Etapes city">#}
      {#<table border="0" cellpadding="0" cellspacing="0">#}
      {#<tr>#}
      {#<td>#}
      {#{{ form_widget(formRecherche.ville, { 'attr': {'class': 'champ-recherche','placeholder': 'Montpellier' | trans } }) }}<br/>#}
      {#<div id="resultats_recherche">#}
      {#<div id="resultats_recherche1">#}
      {#</div>#}
      {#</td>#}
      {#<td></td>#}
      {#</div>#}
      {#</tr>#}
      {#<tr>#}
      {#<td>{{ form_widget(formRecherche.rayon, { 'attr': {'class': 'rayon' | trans } }) }}</td>#}
      {#<td></td>#}
      {#</tr>#}
      {#</table>#}
      {#</div><!-- /Etapes -->	#}

      {#<div class="Etapes type">#}
      {#<table border="0" cellpadding="0" cellspacing="0">#}
      {#<tr>#}
      {#<td>#}
      {#</td>#}
      {#<td>#}
      {#{{ form_widget(formRecherche.type, { 'attr': {'class': 'champ-type'} }) }}#}
      {#</td>#}
      {#</tr>#}
      {#</table>#}
      {#</div><!-- /Etapes -->#}
      {##}
{#<div class="Etapes nbPiece">#}
      {#<div class="etapesTitre">{{ 'Nombre de pièces' | trans }} :</div><br/><!--<br/>-->#}
      {#{{ form_widget(formRecherche.nb_pieces, { 'attr': {'class': 'champ-type'} }) }}#}
      {#</div><!-- /Etapes -->#}

      {#<div class="Etapes budget">#}
      {#<div class="etapesTitre">{{ 'Budget mensuel' | trans }} :</div><br/><!--<br/>-->#}
      {#<table border="0" cellpadding="2" cellspacing="0">#}
      {#<tr>#}
      {#<td>#}
      {#{{ form_widget(formRecherche.budgetmini, { 'attr': {'class': 'champ-budgetMini','placeholder': 'Mini' | trans } }) }}#}
      {#</td>#}
      {#<td>#}
      {#{{ form_widget(formRecherche.budgetmaxi, { 'attr': {'class': 'champ-budgetMaxi','placeholder': 'Maxi' | trans } }) }}#}
      {#</td>#}
      {#</tr>#}
      {#</table>#}
      {#</div><!-- /Etapes -->#}

      <div class="Etapes type">
        {{ form_widget(formRecherche.nbPersonnes, { 'attr': {'class': 'champ-nb-personnes', 'placeholder': 'Nombre de personnes'} }) }}
      </div>

      <div class="Etapes ref">
        {{ form_widget(formRecherche.reference, { 'attr': {'placeholder': 'Référence ?' | trans } }) }}
      </div><!-- /Etapes -->

      <div class="Etapes center">
        <input id="btLancerRecherche" type="submit" value="{{ 'Rechercher' | trans }}" class="btn btn-primary btn-large" name="SendRecherche" />
      </div>
      {#{{ form_rest(formRecherche) }}#}
    </div>	<!-- /etapesRecherche -->
    {{ form_widget(formRecherche._token) }}
  </form>

  <div id="recherche">
    <div class="headerRecherche">
      <span>{{ 'Rechercher par quartier' | trans }}</span>
    </div>
    <div class="etapesRecherche">
      <img id="areaMap" border="0" src="{{ asset('bundles/patfront/images/arrond_montpellier_1.png') }}" usemap="#arrond_montpellier" width="200" height="174"/>



      <map name="arrond_montpellier">
        <area shape="poly" coords="150,145,182,129,183,111,196,110,196,147,187,169,177,164,166,169,149,146" alt="Port Marianne" title="Port Marianne" href="{{ path('pat_front_appartement_index_ville', {'idVille' : '37015'}) }}">
        <area shape="poly" coords="99,168,106,145,88,136,91,131,120,130,131,123,144,138,151,139,127,158,99,168" alt="Gares" title="Gares" href="{{ path('pat_front_appartement_index_ville', {'idVille' : '37020'}) }}">
        <area shape="poly" coords="90,129,90,119,102,95,117,99,116,107,131,109,129,120,118,128,89,128" alt="Comédie" title="Comédie" href="{{ path('pat_front_appartement_index_ville', {'idVille' : '37021'}) }}">
        <area shape="poly" coords="120,85,120,85,141,85,161,78,178,95,179,128,154,138,132,119,133,108,120,106,119,84,139,85" alt="Antigone" title="Antigone" href="{{ path('pat_front_appartement_index_ville', {'idVille' : '37022'}) }}">
        <area shape="poly" coords="51,118,54,160,81,173,96,169,102,145,85,138,88,129,75,118,51,117" alt="Gambetta" title="Gambetta" href="{{ path('pat_front_appartement_index_ville', {'idVille' : '37023'}) }}">
        <area shape="poly" coords="56,91,56,91,67,75,99,80,98,97,86,125,77,115,53,115,56,92" alt="Centre Historique" title="Centre Historique" href="{{ path('pat_front_appartement_index_ville', {'idVille' : '37013'}) }}">
        <area shape="poly" coords="96,15,127,12,157,28,117,84,117,97,103,93,103,78,86,76,97,55,95,15" alt="Beaux-Arts" title="Beaux-Arts" href="{{ path('pat_front_appartement_index_ville', {'idVille' : '37024'}) }}">
        <area shape="poly" coords="8,47,48,11,78,10,91,14,92,45,90,50,93,57,81,76,66,73,51,92,8,48" alt="Boutonnet" title="Boutonnet" href="{{ path('pat_front_appartement_index_ville', {'idVille' : '37025'}) }}">
        <area shape="poly" coords="21,69,55,97,49,116,48,119,1,117,11,74,21,70" alt="Les arceaux" title="Les arceaux" href="{{ path('pat_front_appartement_index_ville', {'idVille' : '37026'}) }}">
      </map>
    </div>
  </div>
  {% if attributes.get('_route') == 'PatFrontBundle_homepage' %}
    <div class="span3">
      <img border="0" src="{{ asset('bundles/patfront/images/Visuels-ColonneDroite.jpg') }}">
      <em class="bandeauPhoto">* {{ 'Photos non contractuelles' | trans }}</em>
    </div>
  {% endif %}

</div>

<script type="text/javascript">
$(document).ready(function() {
  $("#frontappartementrecherche_ville").keyup(function() {
    var ville = $("#frontappartementrecherche_ville").val();
    var DATA = 'ville=' + ville;

    if (ville.length >= 3) {
      $("#imgLoader").css("visibility", "visible");
      $.ajax({
        type: "POST",
        url: "{{ path('pat_front_contenu_ville') }}",
        data: DATA,
        cache: false,
        success: function (data) {
          $('#resultats_recherche1').html(data);
          $("#resultats_recherche1").show();
          $("#imgLoader").css("visibility", "hidden");
        },
        error: function (xhr, ajaxOptions, thrownError) {
          //alert("error : "+xhr.status);
          $("#imgLoader").css("visibility", "hidden");
        }
      });
      return false;
    }
  });

  // On interdit de taper des caracteres
  $("#frontappartementrecherche_budgetmini").keyup(function() {
    var info = $("#frontappartementrecherche_budgetmini").val();
    if (isNaN(info)) {
      $("#frontappartementrecherche_budgetmini").val($("#frontappartementrecherche_budgetmini").val().substr(0, $("#frontappartementrecherche_budgetmini").val().length - 1));
    }
  });

  // On interdit de taper des caracteres
  $("#frontappartementrecherche_budgetmaxi").keyup(function() {
    var info = $("#frontappartementrecherche_budgetmaxi").val();
    if (isNaN(info)) {
      $("#frontappartementrecherche_budgetmaxi").val($("#frontappartementrecherche_budgetmaxi").val().substr(0, $("#frontappartementrecherche_budgetmaxi").val().length - 1));
    }
  });
});
</script>
