<p>{{ 'Derniers ajouts' | trans }} :</p>
{% set i = '0' %}
{% if selections %}

  <!--<div id="selection">La sélection</div>-->

  {% for selection in selections %}
    <div class="selectionBiens">
      {% if media %}
        {% if media[i] %}
          <a class="span2" href="{{ path('pat_front_appartement_detail', { 'url_bien': selection.urlFr} ) }}"><img src="{{ asset('images/photos/biens') }}/{{ selection.reference }}/small/{{ media[i].fichier }}"/></a>
          {% else %}
          <a class="span2" href="{{ path('pat_front_appartement_detail', { 'url_bien': selection.urlFr} ) }}"><img src="{{ asset('images') }}/defaut_small.jpg"/></a><!-- /bienPhoto -->
          {% endif %}
        {% endif %}

      <div class="selectionContenu span7">
        <div></div>
        <div></div>
        <div></div>


        <div class="VilleLoyer">{{ selection.ville }}</div>
        <div class="TypeBien">{{ selection.type }}</div>
        {% if selection.tarif is not null %}
          <div class="VilleLoyer">A partir de {#{{ get_lower_loyer(appart.tarif)|number_format }}#}{{ get_from_tarif(appart) | number_format }} {{ '€/nuit' | trans }} *</div><br/>
        {% endif %}
        <div class="TexteSelection">{{ selection.descriptionCourteFr|limitBlocDesc }}&nbsp;
          <a href="{{ path('pat_front_appartement_detail', { 'url_bien': selection.urlFr} ) }}" style="color:#39acec; text-decoration:underline">{{ "Plus d’infos" | trans }}</a><br/>
        </div>
      </div><!-- /selectionContenu --><br/>

    </div><!-- /selectionBiens -->
    {% set i = i + 1 %}
  {% endfor %}
  <small>* {{ 'Légende tarif' | trans }}</small>
{% endif %}

<!-- pager -->
{% if page_max > 1 %}
  <div class="pager">
    {% if page != 1 %}
      <a href="javascript:" link="{{ path('pat_front_selection', { 'page': 1} ) }}" ><<</a>
      <a href="javascript:" link="{{ path('pat_front_selection', { 'page': page-1} ) }}" ><</a>
    {% endif %}
    {% for j in 1..page_max %}
      {% if page == j %}
        {{j}}
      {% else %}
        <a href="javascript:" link="{{ path('pat_front_selection', { 'page': j} ) }}" >{{j}}</a>
      {% endif %}
    {% endfor %}
    {% if page != page_max %}
      <a href="javascript:" link="{{ path('pat_front_selection', { 'page': page+1} ) }}">></a>
      <a href="javascript:" link="{{ path('pat_front_selection', { 'page': page_max} ) }}">>></a>
    {% endif %}
  </div>
{% endif %}
