{% block content %}

  {% set i = '0' %}

  <div id="contentDroit">
    <div id="contenuCentrale">
      {% if appartements %}
        <div id="titreAccueil">
          <h1><span>{{ "Sélection" |  trans }} :</span> {{ nb_resultat }} {% if nb_resultat < '2' %} {{ "résultat" |  trans }} {% else %} {{ "résultats" |  trans }} {% endif %}</h1>
        </div>


        {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
        {% if app.session.flashbag.peekAll|length > 0 %}
          <div class="row">
            <div class="span12">
              {{ session_flash() }}
            </div>
          </div>
        {% endif %}



        {% for appart in appartements %}
          <div id="ZoneRecherche">
            <div id="RechercheHaut"></div><!-- /RechercheHaut -->
            <div id="RecherchePixel">
              <div id="RecherchePixel1">

                <div class="HeaderBien">
                  <div class="TitreBien">
                    <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}">
                      <span class="BlocDetail">RÉF : {{appart.reference}}</span><br/>
                      {{appart.type | upper}}&nbsp;{% if appart.nbPieces%}T{{appart.nbPieces}}{% endif %}&nbsp;{{appart.surfaceSol}} m<sup>2</sup>&nbsp;{{appart.ville}}
                    </a></br>
                  </div><!-- /TitreBien -->
                  {% if appart.tarif is not null %}
                    <div class="LoyerBien">{{ "A partir de" |  trans }} : <span class="LoyerBien1"> {#{{ get_lower_loyer(appart.tarif)|number_format }}#}{{ get_from_tarif(appart) | number_format }} {{ "€/nuit" |  trans }} *</span></div>
                  {% endif %}
                </div><!-- /HeaderBien -->
                {% if media %}
                  {% if media[i] %}
                    <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}"><div class="bienPhoto"><img src="{{ asset('images/photos/biens') }}/{{ appart.reference }}/small/{{ media[i].fichier }}" alt="" width="120" height="120"/></div></a><!-- /bienPhoto -->
                      {% else %}
                    <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}"><div class="bienPhoto"><img src="{{ asset('images') }}/defaut_small.jpg" alt="" width="120" height="120"/></div></a><!-- /Photo par defaut -->
                      {% endif %}
                    {% endif %}
                <div class="DescriptionBiens">{{appart.descriptionCourteFr}}</br></br>
                  {% if appart.surfaceSol %}
                    {{ "Surface" |  trans }} : {{appart.surfaceSol}}m<sup>2</sup>
                  {% endif %}
                  </br/>


                  {% if appart.etatInterieur %}
                    {{ "État intérieur" |  trans }} :
                    {% for i in 0..5 %}
                      {% if appart.etatInterieur <= i %}
                        <img src="{{ asset('bundles/patcompte/images/etoile_vide.png') }}" alt=""/>
                      {% else %}
                        <img src="{{ asset('bundles/patcompte/images/etoile_pleine.png') }}" alt="*"/>
                      {% endif %}
                    {% endfor %}
                  {% endif %}


                  </br/>
                </div><!-- /DescriptionBiens -->
                <div class="bouton">
                  <div class="Savoir"><a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}">{{ "En savoir plus" |  trans }}</a></div><!-- /Savoir -->
                  <div class="Ajouter" id="btAjoutSelection{{ appart.id }}"><a href="{{ path('pat_front_appartement_supprime_selection_utilisateur', { 'id_appartement': appart.id, 'retour_page': retour_page} ) }}" class="boutonAjoutSelection" id="boutonAjoutSelectionAjax{{ appart.id }}"/>{{ "Désélectionner" |  trans }}</a></div>



                </div><!-- /bouton -->

              </div><!-- /RecherchePixel1 -->
            </div><!-- /RecherchePixel -->
            <div id="RechercheBas"></div><!-- /RechercheBas -->
          </div><!-- /ZoneRecherche -->


          {% set i = i + 1 %}
        {% endfor %}
        <small>* {{ 'Légende tarif' | trans }}</small>


      {% else %}
        <div id="titreAccueil">
          <h1><span>{{ "ma sélection" |  trans }} :</span> 0 {{ "résultat" |  trans }}</h1>
        </div>
        <h2> {{ "Désolé ! Vous n'avez aucun bien dans votre sélection." |  trans }}</h2>

      {% endif %}
    </div><!-- /contenuCentrale -->
  </div><!-- /contentDroit -->

{% endblock %}
