{% if villes %}
  {% for ville in villes %}
    <div class="LienAjaxVille"><a style="color:black;" href="javascript:void()" onclick="selectVille('{{ ville.nom }} ({{ ville.code_postal }})')">{{ ville.nom }} ({{ ville.code_postal }})</a></div>
  {% endfor %}
{% else %}
  <div class="LienAjaxVille"><a href="javascript:void()" id="nbResultNullVille">0 résultat trouvé</a></div>
{% endif %}


<script type="text/javascript">
function selectVille(ville) {
  document.getElementById("appartement_ville").value = ville;
  $("#resultats_recherche_villes").hide();
  $("#imgLoader").css("visibility", "hidden");
}

$(document).ready(function() {
  $("#nbResultNullVille").click(function () {
    $("#resultats_recherche_villes").hide();
    $("#imgLoader").css("visibility", "hidden");
  });
});
</script>
