{% if villes %}
  {% for ville in villes %}
    <div class="LienAjaxVille"><a style="color:black;" href="#" onclick="selectVille('{{ ville.nom }}')">{{ ville.nom }}</a></div>
    {% endfor %}
  {% else %}
  <div class="LienAjaxVille"><a href="#" id="nbResultNullVille">0 résultat trouvé</a></div>
{% endif %}


<script type="text/javascript">
function selectVille(ville) {
  document.getElementById("{{field_id}}").value = ville;
  $("#resultats_recherche1").hide();
  $("#resultats_recherche_villes_admin1").hide();
  $("#imgLoader").css("visibility", "hidden");
}

$(document).ready(function() {
  $("#nbResultNullVille").click(function() {
    $("#resultats_recherche1").hide();
    $("#imgLoader").css("visibility", "hidden");
  });
});
</script>
