{% block content %}

  <div id="contenuCentrale1">
    <h1>Ajouter une ville</h1>

    <div class="clear"></div>

    {% if message %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endif %}

    <div class="blocForm">
      <div class="content">
        <form action="" method="post" {{ form_enctype(form) }}>

          {{ form_errors(form) }}

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.nom) }}
            </div>
            <div class="span8">
              {{ form_errors(form.nom) }}
              {{ form_widget(form.nom) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.code_postal) }}
            </div>
            <div class="span8">
              {{ form_errors(form.code_postal) }}
              {{ form_widget(form.code_postal) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.latitude) }}
            </div>
            <div class="span8">
              {{ form_errors(form.latitude) }}
              {{ form_widget(form.latitude) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.longitude) }}
            </div>
            <div class="span8">
              {{ form_errors(form.longitude) }}
              {{ form_widget(form.longitude) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.nombre_habitants) }}
            </div>
            <div class="span8">
              {{ form_errors(form.nombre_habitants) }}
              {{ form_widget(form.nombre_habitants) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.description) }}
            </div>
            <div class="span8">
              {{ form_errors(form.description) }}
              {{ form_widget(form.description, {'attr': {'class': 'span', 'style': 'height: 100px;'} }) }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.quartier) }}
            </div>
            <div class="span8">
              {{ form_errors(form.quartier) }}
              {{ form_widget(form.quartier) }}
            </div>
          </div>

          <br/><br/>
          <div class="row-fluid">
            <div class="span6">
              <a class="btn btn-large" href="{{ path('pat_admin_ville_index') }}">Revenir</a>
            </div>
            <div class="span6 right">
              <input class="btn btn-primary btn-large" type="submit" value="{{ 'Enregistrer' | trans }}"/>
            </div>
          </div>

          {{ form_rest(form) }}
        </form>
      </div>
    </div>
  </div><!-- /contenuCentrale1 -->

{% endblock %}
