{% block content %}

  <div id="contenuCentrale1">
    <div id="titreAccueilAdmin">
      <h1><span class="spanH1">Liste des demandes d'ouverture de ville</span></h1>
    </div>
    <div class="clear"></div>

    <table border="0" cellpadding="2" cellspacing="1">
      {% for demande in demandes %}


        <tr>
          <td>Demande d'ouverture de la ville : <strong>{{ demande.message }}</strong> par {{ demande.nom }} {{ demande.prenom }} ({{ demande.email }} {{ demande.tel }})</td>
          <td>
            <a href="{{ path('pat_admin_ville_demande_traite', { 'id_demande': demande.id, 'ville_demande': demande.message }) }}"><img src="{{ asset('bundles/patcompte/images/ico_edition.png') }}" alt="Modifier"/></a>
            <a href="{{ path('pat_admin_ville_demande_supprimer', { 'id_demande': demande.id }) }}" onclick="return confirmAction()"><img src="{{ asset('bundles/patcompte/images/ico_supprimer.png') }}" alt="Supprimer"/></a>
          </td>
        </tr>
      {% else %}
        <p> Il n'y a aucune demande actuellement. </p>

      {% endfor %}
    </table>

  </div><!-- /contenuCentrale1 -->

{% endblock %}
