{% block content %}

  <div id="contenuCentrale1">
    <h1>Liste des villes</h1>

    <div class="clear"></div>

    <div class="blocForm">
      <div class="content">
        <form action="{{ path('pat_admin_ville_index') }}" method="post">
          <div class="row-fluid">
            <div class="span4 right">
              Ville
            </div>
            <div class="span8">
              <input id="search_nom" type="text" name="search_nom" value="{{app.session.get('ville_search_nom')}}">
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              Code postal
            </div>
            <div class="span8">
              <input id="search_cp" type="text" name="search_cp" value="{{app.session.get('ville_search_cp')}}">
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              Quartier
            </div>
            <div class="span8">
              <input id="search_quartier" type="checkbox" name="search_quartier" {% if app.session.get('ville_search_quartier') is not null %}checked="checked"{% endif %}>
            </div>
          </div>

          <div class="row-fluid right">
            <input class="btn" type="submit" value="Rechercher"/>
          </div>
        </form>
      </div>
    </div>

    <div class="right">
      <a class="btn btn-primary btn-large" href="{{ path('pat_admin_ville_ajouter') }}">{{ "Ajouter une ville" | trans }}</a>
    </div>

    {% for flashMessage in app.session.flashbag.get('success') %}
      <br/><br/>
      <div class="alert alert-success">
        {{ flashMessage }}
      </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
      <br/><br/>
      <div class="alert alert-danger">
        {{ flashMessage }}
      </div>
    {% endfor %}

    {{ knp_pagination_render(villes) }}

    {% for ville in villes %}
      <div class="ListeAppart row-fluid">
        {% if ville.nom and ville.codePostal %}
          <div class="span10 ListeAppart1">
            {{ ville.nom }} ({{ ville.codePostal }})
          </div>
        {% else %}
          <div class="span7 ListeAppart1" style="color: #A42242;">
            {{ ville.nom }} ({{ ville.codePostal }})
          </div>
          <div class="span3 ListeAppart1 center" style="color: #A42242; margin-left: 0;">
            Fiche incomplète
          </div>
        {% endif %}

        <div class="span1 center">
          <a href="{{ path('pat_admin_ville_editer', { 'id': ville.id }) }}"><img src="{{ asset('bundles/patcompte/images/ico_edition.png') }}" alt="Modifier"/></a>
        </div>
        <div class="span1 center">
          {% if deleteable[ville.id] == true %}
            <a href="{{ path('pat_admin_ville_supprimer', { 'id': ville.id }) }}" onclick="return confirmAction()"><img src="{{ asset('bundles/patcompte/images/ico_supprimer.png') }}" alt="Supprimer"/></a>
            {% endif %}
        </div>
      </div>

    {% else %}
      <div class="alert alert-danger">
        Il n'y a pas de ville disponible dans cette région.
      </div>
    {% endfor %}

  </div><!-- /contenuCentrale1 -->

{% endblock %}
