<div style="height:80px;">
  <a href="{{ path('pat_admin_ville_index') }}" class="boutonJ2">Liste des villes</a>
  <br>
  <a href="{{ path('pat_admin_ville_demande_index' ) }}" class="boutonJ2">Demandes</a>
</div>
