<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ true == isAvoir ? 'Avoir' : 'Facture' }}</title>
    {#<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,700,800,900' rel='stylesheet' type='text/css'>#}
    <style type="text/css">
      /*RESET*/
      *{ margin:0; margin:0;}
      img { border:none;}
      a img { border:none;}
      a{ text-decoration:none;}
      a:hover{ text-decoration:underline;}


      .clearfix{ width:100%; height:0.000001em; clear:both; float:none; position:relative;}
      h1, h2{font-size:1.33em; margin:0 0 5px 0; padding:0; font-weight:600;}
      h3{font-size:1em; margin:0 0 5px 0; padding:0; font-weight:600;}
      p{font-size:1em; margin:0 0 5px 0; padding:0; font-weight:400; line-height:1.33em;}
      /**/
      body{ font-family: 'Raleway', sans-serif;font-size:1.2em; font-weight:normal; background-color:#CECECE;}
      .page{ width:940px; margin:auto; padding:0 20px; background-color:white;}
      .content{ width:100%; margin:90px 0 0px 0; padding-bottom: 50px;}
      .headInvoice{ width:100%; padding:20px 0 0;}
      .logo{ float:left;}
      .invoiceDescription{ float:right; margin:15px 40px 0 0; text-align:left; min-width:200px; font-size:0.875em/*14/16*/; }
      .infosInvoice{  margin:0px 10px 0px;}
      .renterAdress{ text-align:left; min-width:200px; font-size:0.875em/*14/16*/;}
      .renterAdress p{font-size:1em; line-height:1.33em;}
      .tenantAdress{ margin:40px 0px 0 0px; text-align:left; min-width:200px; font-size:0.875em/*14/16*/;}
      .tenantAdress p{font-size:1em; line-height:1.33em;}
      .description{margin:40px 10px 20px 10px ;font-size:0.875em/*12/16*/}
      .rentInfos{margin:0px 10px 20px 10px ;font-size:0.875em/*12/16*/}
      .gridInvoice{margin:0 0 20px 0;font-size:0.875em/*12/16*/}
      .comments{margin:30px 10px 0px 10px ;font-size:0.875em/*12/16*/}
      .comments p{font-size:0.875em; margin:0 10px;}
      .footerInvoice{width:100%; margin:0px 0px 10px; padding:10px 0 10px; border-top:1px solid #000; font-size:0.6875em/*11/16*/; text-align:center;}

      table {
        border:1px solid #dddddd;
        border-collapse: collapse;
        width:100%;
      }

      th {
        padding:8px;
        text-align:center;
        border:1px solid #dddddd;
      }

      td {
        padding:8px;
        border:1px solid #dddddd;
        text-align:left;
      }

      .totalTtc {
        text-align:right;
        font-weight: bolder;
        font-size:17px;
      }

      .dontTva {
        text-align:right;
      }

      #infostop {
        border:0px;
      }

      #infostop tr  {
        border:0px;
      }

      #infostop td  {
        border:0px;
      }
      .tenantAdress p{word-break:break-all;}
    </style>
  </head>

  <body>

    <div class="page">
      <header class="headInvoice">
        <div class="logo">
          <img src="{{ root }}/../web/bundles/patcompte/images/class-appart_logo.png" width="476" height="77" />
        </div>
        <div class="invoiceDescription">
          <p><strong>{{ true == isAvoir ? 'Avoir sur facture' : 'Facture' }} : {{ facture.number }}</strong></p>
          <p>Date : {{facture.CreatedAt | date('d/m/Y')}}</p>
        </div>
        <div class="clearfix"></div>
      </header>
      <div class="content">
        <div class="infosInvoice">

          <table cellpadding="0" cellspacing="0" width="940" id="infostop">
            <tr><td style="width:300px;">

                <div class="renterAdress">
                  {{ facture.caAddress | raw }}
                </div>
              </td>
              <td>&nbsp;
              </td>
              <td style="width:370px;">
                <div class="tenantAdress" style="width:300px; word-wrap: break-word;">
                  <h3>{{ facture.lastName }} {{ facture.firstName  }}</h3>
                  <p>
                    {% if facture.siret %}
                      {{ facture.siret }}<br/>
                    {% endif %}

                    Téléphone : {{ facture.phone }} <br/>
                    Email : {{ facture.email }}<br/>

                    Adresse :
                    {{facture.address }}
                    {{facture.address2 }}<br/>
                    {{facture.zipCode }} {{ facture.city }}<br/>
                    {{facture.country }}
                  </p>
                </div>
                <div class="clearfix"></div>
              </td>
            </tr>
          </table>

        </div>

        <div class="description">
          <p>
            {{ facture.header | raw }}
            <br/>
            Le service commercial<br/>
            <strong>CLASS APPART</strong>
          </p>
        </div>
        <div class="rentInfos">
          Séjour de {{ values['sejour_nuits'] }} nuits, effectué du {{ values['sejour_debut']|date("d/m/Y") }} au {{ values['sejour_fin']|date("d/m/Y") }}.<br/>
          Réf. réservation :  {{ facture.reservation.reference }} <br />
          Réf : {{ facture.reservation.appartement.reference }} - {{ facture.reservation.appartement.surfaceSol }} m<sup>2</sup> situé à {{ facture.reservation.appartement.adresse }} {% if facture.reservation.appartement.adresse2 %} {{ facture.reservation.appartement.adresse2 }} {% endif %} {{ facture.reservation.appartement.ville.nom }} {{ facture.reservation.appartement.ville.codePostal }} {{ facture.reservation.appartement.ville.pays }}
        </div>
        <div class="gridInvoice">
          {# % set hebergement = facture.calculValues['tarif_net'] * (1 + (facture.calculValues['commission'] / 100)) + facture.calculValues['menage_fixe'] %}
  {% set assurance = facture.calculValues['tarif_net'] * (1 + (facture.calculValues['commission'] / 100)) * (facture.calculValues['assurance']/100) %}
  {% set forfait_energie = facture.calculValues['EDF'] * nb_nuits %}
  {% set taxe_sejour = facture.calculValues['taxe_sejour'] * nb_nuits * facture.nbAdultes %}
  {% set total_ttc = facture.calculValues['tarif_total'] %}
  {% if facture.promotion %}{% set total_ttc = total_ttc + facture.promotion %}{% endif %}

  
  {# % set tarif = get_tarif(resa) % #}
        {% set total_montant = values['sejour_montant'] %}
          {% if isAvoir %}
            {% for option in facture.options %}
              {% set total_montant = total_montant + option.amount %}
            {% endfor %}
          {% endif %}
        <table>
          <tr>
            <th>
              Désignation
            </th>
            <th width="140">
              Montant TTC
            </th>
          </tr>
          <tr>
            <td>
              Location
            </td>
            <td style="text-align: right;">
              {# { (total_ttc + total_options)|price_format } #}
              {{ total_montant|price_format }} €
            </td>
          </tr>
          {% if facture.promotion %}
          <tr>
            <td>
              Promo/Majoration :
            </td>
            <td style="text-align: right;">
              {{ facture.promotion|price_format }} €
            </td>
          </tr>
          {% endif %}
          <tr>
            <td>
              <div  class='totalTtc'>
                <strong>Total TTC :</strong>
              </div>
            </td>
            <td style="text-align: right;">
              {# { (total_ttc + total_options)|price_format } #}
              {{ total_montant|price_format }} €
            </td>
          </tr>
          <tr>
            <td>
              <div class='dontTva'>
                Dont TVA :
              </div>
            </td>
            <td style="text-align: right;">
                {# % set dont_tva = (facture.calculValues['tarif_net'] * (facture.calculValues['commission'] / 100)) * facture.calculValues['tva'] / 100 % #}
                {{ values['sejour_tva']|price_format }} €
            </td>
          </tr>
          <tr>
            <td>
              Caution
            </td>
            <td style="text-align: right;">
              {{ facture.depot|price_format }} €
            </td>
          </tr>

        </table>

      </div>
      <div class="comments">
        <h3>Commentaires :</h3>
        {{ facture.comment | raw }}
      </div>
      <div class="clearfix"></div>
    </div>
    <footer class="footerInvoice">
      {{ facture.footer | raw }}
    </footer>
    <div class="clearfix"></div>
  </div>

</body>
</html>
