<div id="contenuCentrale1">
  <h1>Facture</h1>

  <div class="clear"></div>

  {% if resa %}

    <div class="blocForm">
      <div class="title">
        <div class="row-fluid">
          <div class="span12">
            Facture N° F{{ 'now' | date('dmy') }}-{{ resa.generateReference4chiffres }}
          </div>

        </div>
      </div>

      <div class="content" align="center">
        Confirmation de l'envoi de la facture F{{ 'now' | date('dmy') }}-{{ resa.generateReference4chiffres }}  à <a href="{{ path('pat_admin_reservation_informations_locataire',{ 'id_locataire':resa.utilisateur.id }) }}">{{ resa.utilisateur.civilite }} {{ resa.utilisateur.Nom }} {{ resa.utilisateur.prenom  }} ({{ resa.utilisateur.username  }})</a> à l’adresse {{ resa.utilisateur.email }}.

      </div>

    </div>

  {% endif %}
</div><!-- /contenuCentrale1 -->
