{% block content %}

  <div id="contenuCentrale1">
    <h1>Facture</h1>

    <div class="clear"></div>

    {% for flashMessage in app.session.flashbag.get('success') %}
      <div class="alert alert-success">
        {{ flashMessage }}
      </div>
    {% endfor %}


    {% if resa %}
      <form action="{{ path('pat_admin_reservation_facture_generation_pdf', { 'id':resa.id }) }}" method="post">
        <div class="blocForm">
          <div class="title">
            <div class="row-fluid">
              <div class="span12">
                Facture N° {{ factureNumber }}
              </div>

            </div>
          </div>

          <div class="content" align="center">
            Envoyer la facture à <a href="{{ path('pat_admin_reservation_informations_locataire',{ 'id_locataire':resa.utilisateur.id }) }}">{{ resa.utilisateur.civilite }} {{ resa.utilisateur.Nom }} {{ resa.utilisateur.prenom  }} ({{ resa.utilisateur.username  }})</a> à l’adresse {{ resa.utilisateur.email }} ?
            <br/><br/>
            <div>
              <a href="{{ path('pat_admin_reservation_facture_email_send_pdf',{ 'id':resa.id }) }}" class="btn btn-xs btn-primary">Oui</a>
              <a href="{{ path('pat_admin_reservation_show', { 'id_reservation':resa.id}) }}" class="btn btn-xs btn-default">Non</a>
            </div>

          </div>

        </div>

      </form>
    {% endif %}
  </div><!-- /contenuCentrale1 -->

{% endblock %}
