{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>{{ 'Bonjour' | trans }},</p>

  <p>Veuillez trouver ci-joint {{ true == isAvoir ? "l'avoir pour votre facture" : 'la facture' }} n° {{ factureNumber }} pour votre réservation Ref : {{ reservation.reference }}, effectuée du {{ values['sejour_debut']|date("d/m/Y") }} au {{ values['sejour_fin']|date("d/m/Y") }}.</p>

  {% if toSign == true %}
  <p>Merci de nous la retourner signée.</p>
  {% endif %}
  ----
  <p>Vous pouvez vous connecter dans la partie Mon compte. sur class-appart.com pour consulter le détail des réservations.</p>

  <p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.</p>

  <p>À bientôt sur class-appart.com</p>

  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>

{% endblock %}
