html, body {
	padding-top: 0px;
	background-color: #f5f3ee;
}

img { margin-bottom: 20px }

.row { margin-left: 0;}

.container { background-color: #ffffff; width: 1005px;  }
.content { padding: 80px 20px 20px ; width: 100%; }

/*.navbar ul.nav a{
	font-family: Raleway-Thin;
	color: #fff;
}


.navbar ul.nav li.active a{
	background-color: #3ae0cc;
	color: #ffffff;
	border-bottom: 3px solid #3ae0cc;
	margin-bottom: -1px;
}*/

/*.msubm { color: #333; }*/

/*.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
text-decoration: none;
color: #fff;
background-color: #3ae0cc;
}*/

.navbar-inner div{
	position: relative;
	margin: 0 auto;
	width: 960px;
}
#brand{
	border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-family: Raleway-Medium;
    left: 750px;
    margin: 0;
    position: absolute;
}

#classappart { margin-bottom: 0px;}
#classappart h1 {
	font-family: Raleway-Thin;
	font-size: 49px; color: #333;
	text-transform: uppercase;
	font-weight: lighter;
	padding-top: 10px;
	line-height: 32px;
	letter-spacing: -2px;
}
#classappart h2 { font-family: Raleway-Regular; color: #86d1cd; font-weight: normal; font-size: 17px; padding:0; margin:0; line-height: 25px; }

.class { font-family: Raleway-Regular; font-size: 26px; font-weight: bold; color: #a42242;}
p { font-family: Raleway-Medium; color: #000; font-size: 14px; line-height: 18px; }
a { font-family: Raleway-Medium; color: #60b7b0; font-size: 14px; line-height: 18px; font-weight: bold; text-decoration: underline; }

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.navbar-inner {
    background-color: #FAFAFA;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 32px;

}

/*.btn-primary {
  background-color: #006dcc;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #3ae0cc, #1d7c71);
  background-image: -ms-linear-gradient(top, #3ae0cc, #1d7c71);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3ae0cc), to(#1d7c71));
  background-image: -webkit-linear-gradient(top, #3ae0cc, #1d7c71);
  background-image: -o-linear-gradient(top, #3ae0cc, #1d7c71);
  background-image: linear-gradient(top, #3ae0cc, #1d7c71);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'3ae0cc, endColorstr='#'1d7c71, GradientType=0);
  border-none;
  background-color: #3ae0cc;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #1d7c71;
}*/
a.btn{
	text-decoration: none;
	font-family: Raleway-Medium;
	font-weight: normal;
}

.btn-classappart {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #00cccc;
    background-image: linear-gradient(to bottom, #00cccc, #22958c);
    background-image: -webkit-linear-gradient(top, #00cccc, #22958c);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #22958c;
    border-image: none;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.2) inset, 0 4px 5px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    padding: 4px 24px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.btn-classappart:hover, .btn-classappart:focus, .btn-classappart:active, .btn-classappart.active, .btn-classappart.disabled, .btn-classappart[disabled] {
color:  #ffffff;
background-color: #006666;
}

#brand:hover { cursor: pointer;}

footer {
	background: #fff url(/img/bas.png) no-repeat 0 0px;
	padding-top: 148px;
	/*width: 965px;*/
 }

#footer {
	padding-top: 148px;
	width: 965px;
	background-color: #000;
	padding: 20px 20px 0;
	min-height: 200px;
	margin-left: 0px;
}
#footer h1 { font-family: Raleway-Thin; font-size: 64px; color: #fff; text-transform: uppercase; font-weight: lighter; padding-top: 10px; line-height: 32px; padding-bottom: 20px}
#footer h2 { font-family: Raleway-Regular; color: #60b7b0; font-weight: normal; font-size: 16px; padding:0; margin:0; line-height: 21px;text-align: center; }
#footer .legend { font-family: Verdana; font-size: 11px; color: #999; padding-top: 40px}
#footer select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, input[type="mail"] {
    background-color: #ffffff;
    border-color: #3d3d3d;
    /*color: #fff;*/
    margin: 5px 0;
}
.footer-right { text-align: right; line-height: 22px }
.footer-right a { text-decoration: none; font-family: Raleway-Medium; font-size: 18px; color: #666; line-height: 22px }
.footer-right a:hover { color: #ffffff; text-decoration: none; }

/*STYLE CHARTE*/
body{
	font-family: Raleway-medium;
	font-size: 14px;
}
h1{
	font-family: Raleway-Regular;
	font-size: 32px;
	color: rgba(164, 34, 66, 1);
	font-weight: normal;
}
h2{
	font-size: 24px;
}
h3{
	font-size: 21px;
}
h2, h3, h4{
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: .5em;
}
h3{color: #666;}
.block{
	padding: 10px;
	border-radius: 0;
	background: #f3f3f3;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, .2);
	font-size: 21px;
	line-height: 28px;
	color: #666;
	margin-bottom: 30px;
}
.products{
	background: #f0f0f0;
	padding: 1px 20px 20px 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.products h3{margin: 0;}
.sidebar{margin-top: 60px;}
.footer button{
	margin-top: 5px;
	display: block;
}
#send{
	position: relative;
	top: 5px;
	left: 145px;
}
.alert span{font-size:18px;}
.contact form{
	border-radius: 5px;
	background: #333;
	padding: 20px;
}
.contact form h3{
	margin-top: 0;
	color: #fff;
}
.contact form select{
	border-color: #3d3d3d;
	color: #A3A3a3;
}
.contact form button{margin: 5px 0 0;}

.etapesRecherche{
    background-color: rgb(238,238,238);
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    font-family: Raleway-Thin;
}

#frontappartementrecherche_type{
    font-family: Raleway-Medium;
    padding-left: 5px;
}

#frontappartementrecherche_type .checkbox{
    width:100%;
}

#frontappartementrecherche_nb_pieces .checkbox{
    font-family: 'Raleway-Medium';
}

.headerRecherche{
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    height: 40px;
    background-color: rgb(164,34,66);
}

.etapesRecherche input[type="text"]{
    border-radius: inherit;
    -moz-border-radius: inherit;
    -o-border-radius: inherit;
    -ms-border-radius: inherit;
    -webkit-border-radius: inherit;
    color: inherit;
}

.etapesRecherche .etapesTitre{
    font-size: inherit;
    font-weight: normal;
    height: 24px;
    font-family: Raleway-Medium;
}

.Etapes.dates input{
    width: 140px;
}

.Etapes.city input{
    width:  180px;
}
.Etapes.city select{
    width:  120px;
    float: right;
}

.Etapes.budget input{
    width:  100px;
}

.Etapes.ref{
    width: 180px;
}

.Etapes.Type{
    margin: 0px;
}

.Etapes.budget .etapesTitre{
    padding-top: 15px;
}

.Etapes.recherche{
    padding: 0 20px 20px 30px;
}

#btLancerRecherche{
    width: 160px;
    margin-bottom: 10px;
}

#frontappartementrecherche_reference{
    width: 180px;
}

.Etapes.nbPiece table{
    margin: 0 auto;

}

.Etapes.nbPiece label{
    float: left;
    width: 20px;
}

#recherche{
    font-family: Raleway-Thin;
    color: black;
    margin-bottom: 15px;
    margin-top: 10px;
}

.etapesRecherche img{
    margin-bottom: 0;
    padding-left: 15px;
    padding-top: 5px;
}

.champ-type {
    color: #000;
    margin: 0 auto;
    padding: 5px;
    width: 120px;
}

.champ-nb-personnes {
    margin: 5px auto;
    width: 180px;
}

#frontappartementrecherche_budgetmaxi {
    margin-left: 10px;
    width: 75px;
}

#frontappartementrecherche_budgetmini {
    width: 75px;
}

.headerRecherche span{
    color: white;
    display: block;
    font-family: raleway-Medium;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.etapesRecherche input[type="text"], .etapesRecherche select{
    border: 1px solid #AAAAAA;
}

#contentGauche{
    margin-left: 10px;
}

#recherche .span3{
    margin-left: 0px;
}

.imgHeader{
    margin-bottom: 0px;
}

.homeBox div{
    float: right;
    width: 479px;
    padding: 15px;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

.homeBox a{
    margin: 0 auto 15px 55px;
    padding: 8px;
    width: 350px;
}

.homeBox .first{
    margin-bottom: 14px;
}
.homeBox .second{
    margin-bottom: 0px;
}

.homeBox img{
    border-bottom: 1px solid #aaa;
}

#question p{
    font-family: Raleway-Medium;
    font-size: 18px;
    color: rgb(164, 34, 66);
    margin-bottom: 20px;
}

#question{
    text-align: center;
}

#block_selection{
    float: left;
}

.ListeAppart1{
    margin: 10px 0;
}

.ListeAppart1{
    margin:0;
    padding: 10px;
}

/*.itemLink{
    padding-top: 60px;
}*/

.ListeAppart,
.ListeAppart .reference,
.ListeAppart .titreAppart,
.ListeAppart .tarifAppart{
    font-family: Raleway-Medium;
}

.ListeAppart .reference,
.ListeAppart .tarifAppart{
    font-weight: normal;
}

.ficheProduit{
    border: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ficheContent{
    border-top: 1px solid #CCCCCC;
    padding: 15px 0 5px 0;
}

.ficheContent H3{
    margin: 0 0 15px 0;
}

#DetailCalendrier .calendrierDispo table{
    width: 100%;
}

#DetailCalendrier .calendrierDispo{
    width: 250px;
}

#nextBtn a, #prevBtn a {
    bottom: 285px;
    font-size: inherit;
    font-weight: normal;
}

#legendCalendrier{
    background-color: #FBFBFB;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

#nextBtn {
    margin-left: 115px;
}

.titreAppartFiche{
    font-size: 18px;
    padding: 5px 0 15px 0;
}

.remarque{
    padding: 5px;
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 15px;
}

.remarque .title{
    font-family: Lucida;
    font-weight: bold;
    color:rgb(164,34,66);
}

.remarque .body{
    font-size: 9px;
    font-family: Raleway-Thin;
    color:rgb(164,34,66);
}

#map_canvas {
    height: 200px;
    width: 175px;
    margin-top:50px;
}

#formRecherche{
    margin-bottom: 20px;
    font-family: Raleway-Medium;
}

.tdRight{ text-align:right; }
.tdLeft{ text-align:left; }
.tdLeftGras{ text-align:left; font-weight:bold;}

a{text-decoration:none;}

.success{
	text-align:left;
	color:#CD3214;
	font-size:14px;
	margin-bottom:20px;
}

/* bouton compte */
#ulCompte{ float:left;padding-top:5px;width:115px;position:relative;}

/* DEBUT Menu */


#menu{
	height:44px;
	float:left;
	width:490px;
	/*margin-left:50px;*/
	overflow:hidden;
}

/* recherche */


#recherche{
	/*background-image:url(../images/titre_fond_bleu.jpg);*/
/*	background-repeat:no-repeat;
	width:240px;
	float:left;*/
    /*margin-top:-20px;*/
}



/*#recherche input[type="choice"]
{
	width:50px;
}*/

/*#recherche input[type="text"]
{
	width:70px;
}*/

#frontappartementrecherche_type label
{
    margin-left:7px;
    margin-right:22px;
}


.Etapes{
	/*border-bottom:solid 1px #FFFFFF;*/
        margin: 0 0 5px;
        padding: 0 0 5px 10px;
/*	padding: 5px 0 10px 10px;
	margin: 0 0 10px 0;*/
}

.checkboxPlus,
.checkboxPlus table{
	color: #ffffff;
	font-size:12px;
	text-align:left;
}



.champ-recherche {color:#8b8b8b; border:solid 1px #C5C5C5; right:15px; padding:5px; width:50px;}
.rayon {color:#8b8b8b; border:solid 1px #C5C5C5; padding:5px; width:100px; float:left;}

.champ-date {color:#8b8b8b; border:solid 1px #C5C5C5; padding:5px; width:120px; float:right; z-index:0}
.ui-datepicker-trigger{position:relative;/*z-index:10*/; cursor:pointer;}
/*.champ-type {color:white;padding:5px; width:190px;}*/

.champ-budgetMini {color:#8b8b8b; border:solid 1px #C5C5C5; padding:5px; margin-left:-5px; width:120px; float:right;}
.champ-budgetMaxi {color:#8b8b8b; border:solid 1px #C5C5C5; padding:5px; margin-left:-5px; width:140px; float:right;}

.submitButton{
    background: -moz-linear-gradient(#BBBBBB, #000000) repeat scroll 0 0 #279B9B;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    /*box-shadow: 3px 3px 5px 1px #CCCCCC;*/
    color: white;
    cursor: pointer;
    display: block;
    font-size: 19px;
    height: 38px;
    line-height: 46px;
    margin: 10px auto 0;
    padding: 0 35px 5px;
    text-align: center;
}

/*#btLancerRecherche
{
    background: -moz-linear-gradient(#999999, #000000) repeat scroll 0 0 #279B9B;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 3px 3px 5px 1px #CCCCCC;
    color: white;
    display: block;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    text-align: center;*/
/*    border:none;
    background:transparent url('../images/bt_lancer-recherche.png') top right;
    width:213px;
    height:49px;
    margin:0px 0px 0px 12px;
    position:relative;*/
/*    cursor:pointer;
}*/

/*#btLancerRecherche:hover
{
    background-position:bottom right;
}*/




/* contenuCentrale */


#contenuCentrale{
/*	background-color:#ffffff;
	width:100%;
	float:left;
	margin-left:20px;
	margin-right:20px;
	min-height:900px;
	margin-bottom:40px;*/

}

/* début Silderbar Actu */

#PageTitre{
	font-family: 'Francois One', Arial, sans-serif;
	text-transform: uppercase;
	font-weight:normal;
	font-size:24px;
	color: #555555;
	text-align: left;
	margin-top:20px;

}



.MessageAccueilTitre a{ font-size:12px; font-weight:bold; color:#555555; text-decoration:none; }
.MessageAccueilTitre a:hover{ text-decoration:underline; }

.MessageAccueil{
	font-size:11px;
	color: #555555;
	text-align: left;
}

.MessageAccueilAll{ width:100%;text-align:center;}
.MessageAccueilAll a{text-align:center; font-size:10px;}


/* début Silderbar Ajouts */

.selectionPtBiens{
	width:150px;
	border-bottom:dotted 1px #cccccc;
	float:left;
 	padding-bottom:3px;
 	margin-bottom:5px;
}

.divWaitSelection{
	width:100%;
	text-align:center;
}

.bienSelectionne{ font-size:16px; width:100%; text-align:center; margin-top:10px; }
.RetirerSelection{font-size:16px; width:100%; text-align:center; margin-top:10px;}

.VillePt{
 	font-size:12px;
 	text-align:left;
}



a.TypeBienPt{
 	font-size:12px;
 	text-align:left;
 	color:#58585a;
 	text-decoration:none;
}
a.TypeBienPt:hover{ text-decoration:underline; }



.SelectionutilisateurPt{
	color:black;
 	font-size:12px;
 	text-align:left;

}

/* Bloc Reservation */

#BlockResaDescriptionAppart
{
    width:100%;
    height:130px;
}

#BlockResaDescriptionAppartTitre
{
    width:80%;
    font-size: 16px;
    margin-left:130px;
}

#BlockResaDescriptionAppartTexte
{
    width:80%;
    font-size: 12px;
    margin-left:130px;
}

#BlockResatexte{
    width:100%;
    text-align: center;
}

#BlockResatexteInfoResa{
    width:100%;
    height:200px;
}

#BlockResatexteInfoLoc{
    width:100%;
    height:200px;
}

#BlockResatexteInfoCGV{
    width:100%;
}

#BlockResatexteInfoLien{
    width:100%;
}


#BlockResaTexteColG
{
    text-align:right;
    width:49%;
    height:200px;
    padding-right:1%;
    float:left;
}

#BlockResaTexteColD
{
    text-align:left;
    padding-left:1%;
    width:49%;
    height:200px;
    float:left;
}



.ResaTitre{
    font-size:16px;
    font-weight:bold;
    padding-left:15px;
}

.ResaTitre1{
    font-size:14px;
    font-weight:bold;
}


/* FIN Bloc Reservation */

/* onglet */

#ongletHaut1{
	background-image:url(../images/onglet_haut.png);
	background-repeat:no-repeat;
	width:485px;
	height:43px;
}

#ongletHaut2{
	background-image:url(../images/onglet_haut1.png);
	background-repeat:no-repeat;
	width:485px;
	height:43px;
}

#ongletImage{
	width:485px;
}

#ongletPixel{
	background-image:url(../images/onglet_pixel.png);
	width:485px;
}


.ongletTexte{
 	color:#000000;
  	font-size:16px;
  	text-align:left;
  	padding:10px 35px 10px 35px;
}

.ongletTexte a{
  	font-size:16px;
}

.ongletTexte img{
	text-align:center;
	margin-bottom:15px;
}

.ongletHautLocataire,
.ongletHautProprietaire{
	float:left;
	display:block;
	width:238px;
	height:25px;
	font-size: 20px;
	font-family: 'Francois OneFrancois One', Arial, sans-serif;
	text-align:center;
	font-weight:normal;
	text-decoration:none;
	padding-top:8px;
}


a.ongletHautLocataire,
a.ongletHautLocataire:hover{
	color:#ffffff;
	text-decoration:none;
}

a.ongletHautProprietaire,
a.ongletHautProprietaire:hover{
	color:#868686;
	text-decoration:none;
}

/* Contenu */


#ZoneContenu{
	float:left;
	margin-bottom:20px;
	text-align:left;
}

#ZoneContenuPixel1{
	padding: 0 15px 12px 15px;
}

#ZoneContenu a{ color: #39acec; font-size:12px; padding:0; margin:0; }



/* Contenu Recherche */





.TitreBien{
	text-align: left;
	padding-bottom:10px;
	width:440px;
	float:left;
}

.TitreBien,
.TitreBien a{
	font-family: 'Francois One', Arial, sans-serif;
	font-weight:normal;
	font-size:18px;
	color: #3c3c3c;
	text-decoration:none;
}


.MessageNoResa
{
        text-align: left;
	padding-bottom:10px;
	width:440px;
        width:100%;
        height:20px;
        color:darkred;
        font-size:14px;
	float:left;
}

.lienNumPagination
{
    display:inline;
    color:black;
}

.lienNumPaginationActive
{
    display:inline;
    text-decoration:underline;
    color:black;
}

.pagination a {
    color:black;
}

.pagination .current {
    color:black;
    text-decoration:underline;
}






.bienPhoto{
	width:120px;
	height:120px;
	float:left;
	border:solid 1px #cccccc;
}

.bienPhotoPromotion{
	width:120px;
	height:141px;
	float:left;
	border:solid 1px #cccccc;
    background:#C52727;
	font-family: 'Francois One', Arial, sans-serif;
	text-transform: uppercase;
	font-weight:normal;
	font-size:15px;
	color:#FFFFFF;
	padding:0;
	text-align:center;
}

a.bienPromoLink:hover{ text-decoration:none;}

.bienPromoText{
	width:120px;
	display:block;
	border:solid 1px #cccccc;
    background:#C52727;
	font-family: 'Francois One', Arial, sans-serif;
	text-transform: uppercase;
	font-weight:normal;
	font-size:15px;
	color:#FFFFFF;
	padding:0;
	margin:0;
	text-align:center;
	position:relative;
	bottom:6px;
	right:1px;
}

#blockPromotion
{
    width:200px;
    height:auto;
    float:left;
    padding-left:10px;
    margin-top:20px;
}

#blockPromotion h3{ padding:0; margin:0;}

.DescriptionBiens{
	width:400px;
	color:#3c3c3c;
        padding-left:10px;
	font-family:Arial;
 	font-size:12px;
 	text-align:left;
        float:left;
}


.bienContenu{
	float:left;
	width:100px;
	padding-left:8px;
}

.VilleBien{
	font-family:Arial;
	color:#757776;
 	font-size:10px;
 	text-align:left;
}

.Savoir a{
	display:block;
	background:url('../images/bt-savoir.png') top right;
	width:157px;
	height:33px;
	float:right;
	color:#FFFFFF;
	font-family: 'Francois One', Arial, sans-serif;
	text-align:center;
	font-weight:normal;
	text-decoration:none;
	padding-top:8px;
	font-size:17px;
	text-transform: uppercase;
}
.Savoir a:hover {background-position:bottom right;}


.boutonAjoutSelection,
.boutonAjoutSelectionDetail{
    display:block;
    background:url('../images/bt-ajouter.png') top right;
    width:157px;
    height:28px;
    float:right;
    border:none;
	color:#000000;
	font-family: 'Francois One', Arial, sans-serif;
	text-align:center;
	font-weight:normal;
	text-decoration:none;
	padding-top:13px;
	font-size:13px;
	text-decoration:none;
	text-transform: uppercase;
}



.boutonAjoutSelection:hover,
.boutonAjoutSelectionDetail:hover{
    background-position:bottom right;
    cursor:pointer;
    text-decoration:none;
}

.RetirerSelectionDetail{font-size:16px; width:160px; text-align:center; margin-top:10px;}

#divSelection{ width:170px; text-align:center; }


/*input#frontintroreservation_datedebut,
input#frontintroreservation_datefin{ width:120px; }*/

#tableDateResa{ margin-left:15px; }

table#tableDateResa input[type="submit"]{
	background:transparent;
	border:0;
	background-image:url(../images/bt_vide.png);
	background-repeat:no-repeat;
	background-position: top left;
	width:106px;
	height:27px;
	cursor:pointer;
	font-size: 13px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
}

table#tableDateResa input[type="submit"]:hover{
	background-image:url(../images/bt_vide.png);
	background-repeat:no-repeat;
	background-position: bottom left;
	width:106px;
	height:27px;
}


table#tableDateResaFront input[type="submit"]{
	background:transparent;
	border:0;
	background-image:url(../images/btn_jaune_s.png);
	background-repeat:no-repeat;
	background-position: top left;
	width:204px;
	height:39px;
	cursor:pointer;
	font-size: 15px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
}

table#tableDateResaFront input[type="submit"]:hover{
	background-position: bottom left;

}


table#tableDateResa td .ui-datepicker-trigger{position:relative; right:25px; top:8px; }





/* Recherche Description Bien */






.Galerie{
	width:450px;
	border:solid 1px #c1c1c1;
	display:block;
	width:450px;
	height:285px;
	padding:0;
	margin:0;
}

.sepDetail{
	width:100%;
	border-top:dotted 1px #CCCCCC;
	margin-top:10px;
	padding-top:10px;
}

.VisuelBien{
	width:451px;
	height:285px;
}


.LoyerBienDes{
	font-family:Arial;
 	font-size:12px;
 	text-align:left;
 	float:left;
 	color:#3c3c3c;
}


.LoyerBienDes1{
	color:#3c3c3c;
	font-family: 'Francois One', Arial, sans-serif;
	text-transform: uppercase;
 	font-size:22px;
 	text-align:left;
 	padding:0;
 	margin:0;
}

.LoyerBienAnnotation
{
    font-size:12px;
    text-transform: lowercase;
    font-weight:lighter;
}


.HeaderLoyer{
	width:455px;
	height:auto;
        float:left;
}

.BlocDetail{
	width:455px;
    margin-top:5px;
	margin-bottom:5px;
    padding-bottom:5px;
}

.BlocDetailTitre{
    font-size:16px;
    font-weight:bold;
    margin-top:5px;
}

.BlocDetailTitre2{
    margin-bottom:10px;
    font-weight:bold;
    margin-top:5px;
}

.BlocDetailTexte1{
    font-size:12px;
}

.BlocDetailTexte2{
    font-size:10px;
}

.blocDetailPrestaCol{
    width:100%;
    height:230px;
}

.blocDetailNoteCol{
    width:100%;
    height:40px;
    font-size:13;
}

.BlocDetailCol{
    width:50%;
    float:left;

}


.pager {
    text-align: center;
    float: left;
    width: 485px;
}

.pager a {
    color: #39acec;
}



.DescriptionBien{
	width:455px;
	color:#3c3c3c;
	font-family:Arial;
 	font-size:12px;
 	text-align:left;
}

#map_canvas{ width:200px; height:200px;	}



/* Easy Slider calendrier */

#slider{
	width:350px;
}


#moisPrecedentCalendrier{
	color:#000000;
	margin-left:73px;
	position:relative;
	top:33px;
}

            #moisSuivantCalendrier{
	color:#000000;
	margin-left:80px;
	position:relative;
	top:33px;
}






	#container{
		margin:0 auto;
		position:relative;
		text-align:left;
		width:460px;
		background:#fff;
		margin-bottom:2em;
		}





	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{
		width:460px;
		height:300px;
		}

	#nextBtn a,
	#prevBtn a{
		color:#000000;
		text-decoration:none;
		position:relative;
		bottom:285px;
	}

	#nextBtn a,
	#prevBtn a{ text-decoration:underline;
	}

	#prevBtn{ margin-left:105px;}
	#nextBtn{ margin-left:115px;}

	/* numeric controls */



/* // Easy Slider */




/* footeur */

#footeur{
	width:720px;
	float:right;
	background-color:#FFFFFF;
	padding-top:10px;
}

/*********************************************************/
/* Back office */
/*********************************************************/




/* Formulaire de contact */


table.formulaire td ul,
table.formulaire td ul li{
	padding:0;
	margin:0;
	list-style:none;
	text-align:right;
	color:#CD3214;
	font-size:12px;
	width:200px;
}



table.formulaire input{
	border:solid 1px #999999;
	background-color:#FFFFFF;
	padding:3px 5px 3px 5px;
	font-size:13px;
	width:190px;
}

table.formulaire input[type="submit"]{
	background:transparent;
	border:0;
	background-image:url(../images/bt_vide.png);
	background-repeat:no-repeat;
	background-position: top left;
	width:106px;
	height:27px;
	cursor:pointer;
	font-size: 13px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
}

table.formulaire input[type="submit"]:hover{
	background-image:url(../images/bt_vide.png);
	background-repeat:no-repeat;
	background-position: bottom left;
	width:106px;
	height:27px;
}

/*textarea#frontformulairecontact_message{ width:200px; height:100px; }*/




/* Affichage des messages dans une page */

.MessageTitre{
	font-size:14px;
	margin-top:10px;
	font-weight:bold;
}

.Message{
	color: #555555;
	text-align: left;
	margin:10px 0 20px 0;
	padding:0 0 10px 0;
	border-bottom:dotted 1px #cccccc;
}

.MessageSuite{
	text-align: left;
	width:100%;
	text-align:right;
	font-style:italic;
}

.MessageSuite a{
	font-size:10px;
}


/* Formulaire de recherche d'appartment */

#frontappartementrecherche_budgetmini{ width:50px; }
#frontappartementrecherche_budgetmaxi{ width:50px; }

#resultats_recherche{
	position:relative;
	bottom:0px;
	z-index:999;
}

#resultats_recherche1{
	position:absolute;
        top: -37px;
        left: 110px;
	height:auto;
	overflow:hidden;
	display:none;
	background-color:white;
        padding-top:10px;
        padding-bottom:10px;
        z-index:999;
        border-radius: 10px;

}

.LienAjaxVille a{
    width:180px;
    height:auto;
    color:grey;
    font-size:13px;
    float:left;
    padding:0 5px 0 5px;
    margin-left:0px;
}

#imgLoader{
	float:right;
	position:relative;
	bottom:21px;
	right:8px;
	visibility:hidden;
}

/*#frontappartementrecherche_ville{
	padding-right:30px;
	width:170px;
}*/


/* Bouton */

#content a.boutonJ{
	background-image:url(../images/bt_vide.png);
	background-repeat:no-repeat;
	background-position: top left;
	width:106px;
	height:26px;
	cursor:pointer;
	font-size: 13px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
	display:block;
	text-decoration:none;
	padding-top:1px;
}





#content  a.boutonG2{
	background-image:url(../images/bt_vide2G.png);
	background-repeat:no-repeat;
	background-position: top left;
	width:140px;
	height:22px;
	cursor:pointer;
	font-size: 13px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
	display:block;
	text-decoration:none;
	padding-top:5px;
}



#content a.boutonG2:hover{
	background-repeat:no-repeat;
	background-position: bottom left;
	text-decoration:none;
}

#content a.boutonJ3{
	background-image:url(../images/bt_vide3.png);
	background-repeat:no-repeat;
	background-position: top left;
	width:260px;
	height:21px;
	cursor:pointer;
	font-size: 13px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
	display:block;
	text-decoration:none;
	padding-top:5px;
	margin:0;
}



#content table a.boutonJ3:hover{
	background-image:url(../images/bt_vide3.png);
	background-repeat:no-repeat;
	background-position: bottom left;
	text-decoration:none;
}


#content a.boutonG3{
	background-image:url(../images/bt_vide3G.png);
	background-repeat:no-repeat;
	background-position: top left;
	width:260px;
	height:21px;
	cursor:pointer;
	font-size: 13px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
	display:block;
	text-decoration:none;
	padding-top:5px;
	margin:0;
}



#content table a.boutonG3:hover{
	background-repeat:no-repeat;
	background-position: bottom left;
	text-decoration:none;
}







#content a.boutonG{
	background-image:url(../images/bt_videG.png);
	background-repeat:no-repeat;
	background-position: top left;
	width:106px;
	height:26px;
	cursor:pointer;
	font-size: 13px;
	font-family: 'Francois One', Arial, sans-serif;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	font-weight:normal;
	display:block;
	text-decoration:none;
	padding-top:1px;
}

#content a.boutonG:hover{
	background-repeat:no-repeat;
	background-position: bottom left;
	text-decoration:none;
}


#content table td a.boutonJ,
#content table td a.boutonG,
#content table td a.boutonJ2,
#content table td a.boutonG2,
#content table td a.boutonJ3,
#content table td a.boutonG3,
#content table td a.boutonJ4{
	font-size:13px;
	text-align:center;
	padding:0px 0 0 0;
	height:25px;
	padding-top:2px;
}



/* Galery image */

/* Just for the example. Fee free to delete these three lines */
/*a{color:white;}*/
.pikachoose {width: 450px; margin: 0 auto;}

/* Style the thumbnails */
.pika-thumbs{ padding: 0px;}
.pika-thumbs li{ width: 83px; height:52px; margin: 0px 0 0 0px; padding: 0; overflow: hidden;
	float: left; list-style-type: none;padding: 0px; margin: 0 5px 5px 0px; background: #fafafa; border: 1px solid #e5e5e5; cursor: pointer;}
.pika-thumbs li:last {margin: 0;}
.pika-thumbs li .clip {position:relative;height:100%;text-align: center; vertical-align: center; overflow: hidden;}

/* The stage is the wrapper. The image fills 100% the height of the stage */
.pika-stage, .pika-textnav {width: 450px;}
.pika-stage {position: relative; background: #fafafa;  padding: 0px 0px 0px 0px; text-align:center; height:285px;}
.pika-stage img{height:100%;}
.pika-stage .caption {position: absolute; background: #000; background: rgba(0,0,0,0.75);  border: 1px solid #141414; font-size: 11px;
			color: #fafafa; padding: 10px; text-align: right; bottom: 50px; right: 10px;}
	.pika-stage .caption p {padding: 0; margin: 0; line-height: 14px;}

/* Ths play, pause, prev and next buttons */
.pika-imgnav a {display:none;position: absolute; text-indent: -5000px; display: block;z-index:3;}
.pika-imgnav a.previous {display:none;background: url(prev.png) no-repeat left 45%; height: 100%; width: 50px; top: 10px; left: 10px;cursor:pointer;}
.pika-imgnav a.next {display:none;background: url(next.png) no-repeat right 45%; height: 100%; width: 50px; top: 10px; right: 10px;cursor:pointer;}
.pika-imgnav a.play {display:none;background: url(play.png) no-repeat 0% 50%; height: 100px; width: 44px;top:0;left:50%;display: none;cursor:pointer;}
.pika-imgnav a.pause {display:none;background: url(pause.png) no-repeat 0% 50%; height: 100px; width: 44px;top:0;left:50%;display:none;cursor:pointer;}

/* The previous and next textual buttons */
.pika-textnav {display:none;overflow: hidden; margin: 10px 0 0 0;bottom:10px; position:absolute;}
.pika-textnav a {display:none;font-size: 12px; text-decoration: none; color: #333; padding: 4px;}
.pika-textnav a.previous {display:none;float: left; width: auto; display: block;}
.pika-textnav a.next {display:none;float: right; width: auto; display: block;}

/*for the tool tips*/
.pika-tooltip{display:none;font-size:12px;position:absolute;color:white;padding:3px; background-color: rgba(0,0,0,0.7);border:3px solid black;}
.pika-counter{display:none;position: absolute;bottom: 45px;left:15px;color:white;background:rgba(0,0,0,0.7);font-size:11px;padding:3px;-moz-border-radius: 5px;border-radius:5px;}

/* If using user thumbnails there's a pause well the new large image loads. This is the loader for that */
.pika-loader{display:none; background:url(loading.gif) 3px 3px no-repeat #000; background-color:rgba(0,0,0,0.9); color:white; width:60px; font-size:11px; padding:5px 3px;
	text-align:right; position:absolute; top:15px; right:15px; }

#logoHomeLink:hover{
    text-decoration: none;
}

.homeBox {
    margin-top: 30px;
}

.bandeauPhoto{
    display: block;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

#areaMap{
    padding:0;
    margin: e10px;
}

.Etapes.city,
.Etapes.type,
.Etapes.dates,
.Etapes.budget {
    margin-bottom: 0;
    padding-bottom: 0;
}

#arrond_montpellier area:hover{
    cursor: pointer;
}

#frontappartementrecherche_datedepart,
#frontappartementrecherche_datearrivee{
    float:left;
}

#question{
    padding-top: 40px;
}

#contenuDroite{
    margin-left: 15px;
    width:200px;
}

#contenuCentrale{
    margin-left: 15px;
}

#blocReservation input[type="text"]{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.ListeAppart1 img{
    margin: 0;
}

.sousMenuFront{
    float:right;
    padding-top: 20px;
}

.sousMenuFront li {
    float: left;
    font-family: Raleway-Medium;
    list-style: none outside none;
}

.sousMenuFront li a{
    font-family: Raleway-Medium;
    font-weight: normal;
    color: #000;
}

.sousMenuFront li a:hover{
    text-decoration: underline;
}

.sousMenuFront li a.active{
    font-weight: bold;
}

.sousMenuFront li a.active:hover{
    font-weight: bold;
    text-decoration: none;
    cursor: default;
}

input:required  { background-color: #fff0f0; border: 1px solid #ffc6c6; }
