<div>
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    <div id="ulCompte"><div id="boutoncompte"><a href="{{ path('fos_user_profile_show') }}"></a></div></div>
    <div id="ulCompte">
      <div id="boutonDeco"><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans([], 'FOSUserBundle') }}</a></div>
    </div>
    <!--{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}-->
  {% else %}
    <div id="ulCompte"><div id="boutoncompte"><a href="{{ path('fos_user_security_login') }}"></a></div></div>
    <div id="divCompte">
      <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans([], 'FOSUserBundle') }}</a><br/>
      <a href="{{ path('fos_user_resetting_request') }}">{{ 'layout.forgot'|trans([], 'FOSUserBundle') }}</a><br/>
    </div>
  {% endif %}
</div>
