<div>
  {% if is_granted("ROLE_ADMIN") %}

    <div id="ulCompteAdmin1"><div id="boutonRetourSite"><a href="{{ path('PatFrontBundle_homepage') }}">Retour au site</a></div></div>
    <div id="ulCompteAdmin"><div id="boutonRetourSite"><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans([], 'FOSUserBundle') }}</a></div></div>

  {% endif %}
</div>
