{% block content %}

  <div id="contentDroit">
    <div id="contenuCentrale">
      <img class="imgHeader" src="{{ asset('bundles/patfront/images/img_header.png') }}"/>
      <div id="titreAccueil">
        <h1>{{ 'decouvrez une autre facon de' | trans }}</h1>
      </div>


      <div id="ZoneOnglet">
        <p>{{ 'classappart est la 1ere agence' | trans }}</p>
        <p>{{ 'leur emplacement repond' | trans }} :</p>
        <ul>
          <li>{{ 'tourisme escapage romantique' | trans }}</li>
        </ul>
        <p>{{ 'la priorite de classappart est' | trans }} </p>
        <p>{{ 'classappart est votre interlocuteur' | trans }}</p>

        <div class="homeBox">
          <img border="0" src="{{ asset('bundles/patfront/images/my_key.png') }}"/>
          <div>
            <a class="btn btn-secondary first" href="/fr/page/nos-formules/">{{ 'vous etes proprietaire' | trans }}</a>
            <a class="btn btn-secondary second" href="/fr/page/nos-services/">{{ 'locataire decouvrez tous vos' | trans }}</a>
          </div>
        </div>

      </div>

      <!-- Gére les blocs Propriétaires et locataires-->
<script type="text/javascript">
$(document).ready(function() {
  $(".ongletHautLocataire").click(function() {
    $('#ongletTexte1').show();
    $('#ongletTexte2').hide();
    $('#ongletHaut1').show();
    $('#ongletHaut2').hide();
    $('.ongletHautLocataire').css("color", "#FFFFFF");
    $('.ongletHautProprietaire').css("color", "#868686");
  });

  $(".ongletHautProprietaire").click(function() {
    $('#ongletTexte2').show();
    $('#ongletTexte1').hide();
    $('#ongletHaut2').show();
    $('#ongletHaut1').hide();
    $('.ongletHautLocataire').css("color", "#868686");
    $('.ongletHautProprietaire').css("color", "#FFFFFF");
  });
});
</script>

      {#{ contenu|raw }#}
      <br/><br/>

      <div id="block_selection" class="row-fluid">
        {% render controller("PatFrontBundle:Appartement:dernierAjout") %}
      </div>
      <div style="text-align: center;padding-top:20px; clear:both; float: none;">
        <a class="btn btn-primary btn-large" style="padding: 11px 50px;" href="{{ path('pat_front_appartement_index', { 'lg': 'fr'}) }}">{{ 'Voir tous nos biens' | trans }}</a>
      </div>

      <div id="question" class="row-fluid">
        <p>{{ 'vous avez des questions' | trans }}</p>
        <a class="btn btn-primary btn-large" href="{{ path('pat_front_formulaire_contact', { 'lg': 'fr'}) }}">{{ 'contactez nous' | trans }}</a>


      </div><!-- /question -->

    </div><!-- /contenuCentrale -->

  </div><!-- /contentDroit -->

{% endblock %}
