{% if menu %}
  <div class="posMenu">

    <ul class="nav ">
      {% for pitem in menu %}
        {% if pitem.sous_titre %}
          <li class="dropdown">
            <a href="#"  class="dropdown-toggle {% if pitem.isVisit %}active{% endif %}" data-toggle="dropdown">{{ pitem.titre }}</a>
            <!-- Bloc sous menu -->

            <ul class="dropdown-menu">
              {% for sitem in pitem.sous_titre %}
                <li>
                  <a class="msubm" href="{{ path('pat_front_contenu_page', { 'url_page': sitem.url }) }}">{{ sitem.titre }}</a>
                </li>

              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li><a {% if pitem.isVisit %} class="simpleLink active" {% endif %} href="{{ path('pat_front_contenu_page', { 'url_page': pitem.url }) }}">{{ pitem.titre }}</a></li>
          {% endif %}
        {% endfor %}
      <li><a {% if route == 'pat_front_formulaire_contact' %} class="simpleLink active" {% endif %} href="{{ path('pat_front_formulaire_contact') }}">{{ "Contact" |  trans }}</a></li>
    </ul>
    {#<ul class="nav pull-right">
            <li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div id="ulCompte"><div id="boutoncompte"><a href="{{ path('fos_user_profile_show') }}"></a></div></div>
                    <div id="ulCompte">
                        <div id="boutonDeco"><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans([], 'FOSUserBundle') }}</a></div>
                    </div>
                    <!--{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}-->
                {% else %}
                    <li class="dropdown">
                        <a href="{{ path('fos_user_security_login') }}"  class="dropdown-toggle" data-toggle="dropdown">Mon compte</a>
                            <!-- Bloc sous menu -->
                          <li class="dropdown">
                          <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans([], 'FOSUserBundle') }}</a></li>
                                <li><a href="{{ path('fos_user_resetting_request') }}">{{ 'layout.forgot'|trans([], 'FOSUserBundle') }}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </li>
    </ul>#}

    <ul class="nav pull-right">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li class="dropdown" {% if app.request.schemeAndHttpHost ==  path('fos_user_profile_show') %} class="active" {% endif %}>
          <button href="{{ path('fos_user_profile_show') }}" class="ddropdown-toggle btn btn-primary" data-toggle="dropdown">{{ "Mon compte" |  trans }}</button>
          <ul class="dropdown-menu">
            <li><a href="{{ path('fos_user_profile_show') }}">{{ "Mes infos" |  trans }}</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans([], 'FOSUserBundle') }}</a></li>
          </ul>
        </li>
      {% else %}
        <li class="dropdown" {% if app.request.schemeAndHttpHost ==  path('fos_user_profile_show') %} class="active" {% endif %}>
          <button href="{{ path('fos_user_security_login') }}" class="dropdown-toggle btn btn-primary" data-toggle="dropdown">{{ "Mon compte" |  trans }}</button>
          <ul class="dropdown-menu">
            <li><a href="{{ path('fos_user_security_login') }}">{{ "Connexion" |  trans }}</a></li>
            <li><a href="{{ path('fos_user_resetting_request') }}">{{ 'layout.forgot'|trans([], 'FOSUserBundle') }}</a></li>
          </ul>
        </li>
      {% endif %}
    </ul>

  </div><!-- /menu -->
{% endif %}
