{% block content %}

  <div id="contentDroit">
    <div id="contenuCentrale">

      {% if message %}
        <div id="titreAccueil">
          <h1><span>{{ "Atualités" |  trans }}<br/></span></h1>
        </div>

        <div id="ZoneContenu">
          <div id="ZoneContenuHaut"></div><!-- /ZoneContenuHaut -->
          <div id="ZoneContenuPixel">
            <div id="ZoneContenuPixel1">
              <div id="formRegistrationProprio">
                <p class="MessageTitre" style="margin-top:0"><span style="font-weight: normal" >{{message.created_at | date('d/m')}}</span> - {{ message.titre }}</p>
                <br/>
                <p>{% autoescape false %} {{ message.description }} {% endautoescape %}</p>
              </div>
            </div><!-- /ZoneContenuPixel1 -->
          </div><!-- /ZoneContenuPixel -->
          <div id="ZoneContenuBas"></div><!-- /ZoneContenuBas -->
        </div><!-- /ZoneContenu -->

        {% if page %}
          <div class="clear"></div>
          <a  href="{{ path('pat_front_contenu_page', { 'url_page': page.url } ) }}">{{ "Revenir à la rubrique" |  trans }} "{{ page.titre }}"</a><br/><br/><br/><br/>
        {% endif %}

      {% endif %}

    </div><!-- /contenuCentrale -->

    {% include "PatFrontBundle:Contenu:sidebar.html.twig" %}

  </div><!-- /contentDroit -->

{% endblock %}
