
{% if page %}
  {% if messages %}
    <div id="PageTitre">{{ page.titre }}</div>
    <br>
    {% for message in messages %}
      <div class="MessageAccueilTitre">
        <a href="{{ path('pat_front_contenu_message', { 'url_page': page.url, 'url_message': message.url } ) }}"><span style="font-weight: normal" >{{ message.createdAt|date("d/m") }}</span> - {{ message.titre }}</a>
      </div>
      <div class="MessageAccueil">

        {% autoescape false %} {{ message.description }} {% endautoescape %}
      </div>
      <br>
    {% endfor %}

    <div class="MessageAccueilAll"><a href="{{ path('pat_front_contenu_page', { 'url_page': page.url }) }}">{{ "Voir toutes les actualités" |  trans }}</a></div><br/>

  {% endif %}
{% endif %}
