{% block content %}

  <div id="contentDroit">
    <div id="contenuCentrale">

      {% if page %}
        <div id="titreAccueil">
          <h1><span>{{ page.titre | capitalize }}<br/></span></h1>
        </div>

        <div id="formRegistrationProprio">

          {% autoescape false %} {{ page.description }} {% endautoescape %}

          {% if messages %}
            <br/><br/>
            {{ knp_pagination_render(messages) }}
            {% for message in messages %}

              <div class="MessageTitre"><span style="font-weight: normal" >{{message.created_at | date("d/m")}}</span> - {{ message.titre }}</div>
              <div class="Message">
                {% autoescape false %} {{ message.description }} {% endautoescape %}
                <div class="MessageSuite"><a href="{{ path('pat_front_contenu_message', { 'url_page': page.url, 'url_message': message.url } ) }}">{{ 'lire la suite' | trans }}</a></div>
              </div>

            {% endfor %}
            {{ knp_pagination_render(messages) }}
          {% endif %}

        </div>

      {% endif %}

    </div><!-- /contenuCentrale -->

    {# include "PatFrontBundle:Contenu:sidebar.html.twig" #}

  </div><!-- /contentDroit -->

{% endblock %}
