<div id="contenuDroite">
  <div id="blocContact">
    <div id="blocContacthaut"></div>
    <div id="blocContactpixel"><div class="blocContactTitre">{{ 'contact' | trans }}</div><br/><div id="blocContactTexte">{{ 'vous avez une question besoin' | trans }}
        <br/><br/>{{ 'contactez nous au' | trans }} :</div><br/>
      <div id="boutoncontact"><a href="{{ path('pat_front_formulaire_contact') }}"></a></div><!-- /bouton contact --></div>
    <div id="blocContactbas"></div>
  </div><!-- /blocContact -->


  <div id="imagActu"></div>
  <div id="imagActuTexte"><!--Vous recherchez un appartement ou un studio meublé de qualité, en toute confiance, alterHome © vous met en relation avec les propriétaires !-->
    {{ 'pour toute question concernant votre resa' | trans }}<br/>
    {{ 'consultez les faq' | trans }}</div>

  {% render controller("PatFrontBundle:Contenu:pageMiniListe") %}

  <div id="blocAjouts">
    <div id="blocAjoutsHaut">
      <div class="AjoutsTitre">{{ 'les derniers ajouts' | trans }}</div>
    </div><!-- /blocAjoutsHaut -->

    {% render controller("PatFrontBundle:Appartement:dernierAjout") %}

    <div id="blocAjoutsBas"></div>
  </div><!-- /blocAjouts -->
  <div class="clear"></div><br/><br/>

</div><!-- /contenuDroite -->
