{% if subMenu is not empty %}
  <div class="row-fluid">
    <ul class="sousMenuFront">
      {% for pitem in subMenu %}
        <li>
          <a {% if pitem.isVisit %} class="active" {% else %} href="{{ path('pat_front_contenu_page', { 'url_page': pitem.url }) }}"{% endif %}>{{ pitem.titre }}</a>
          {% if not loop.last %}&nbsp;|&nbsp;{% endif %}
        </li>

      {% endfor %}
    </ul>
  </div><!-- /menu -->
{% endif %}
