{% block content %}

  <div id="contenuCentrale1">
    <h1>Ajouter des photos <small>(Réf : {{appartement.reference}})</small></h1>
    <div class="clear"></div>

    <div class="etapesBien">
      <div class="linksEtapesBien">
        <ul>
          <li><a href="{{ path('pat_admin_appartement_editer',{ 'id': appartement.id }) }}">Description</a></li>
          <li><a href="{{ path('pat_admin_appartement_modif_proprietaire',{ 'id': appartement.id }) }}">Propriétaire</a></li>
          <li><a href="{{ path('pat_admin_tarif_ajouter',{ 'id_bien': appartement.id }) }}">Loyers</a></li>
          <li><a href="{{ path('pat_admin_promotion_index',{ 'id': appartement.id }) }}">Promotion / Majoration</a></li>
          <li><a href="{{ path('pat_admin_piece_index',{ 'id': appartement.id }) }}">Pièces</a></li>
          <li><a class="active" href="{{ path('pat_admin_media_ajouter',{ 'id': appartement.id }) }}">Images</a></li>
          <li><a href="{{ path('pat_admin_calendrier_index',{ 'id': appartement.id }) }}">Disponibilités</a></li>
        </ul>
      </div>
    </div>

    {% if message %}
      <div class="success"><p>{{ message }}</p></div>
        {% endif %}

    <div class="blocForm">
      <div class="content">
        <em>Sélectionnez vos fichiers aux formats jpg, gif et png sur votre ordinateur (5 Mo maximum et 2500 pixels de large).<br/>
          Vous pouvez charger jusqu'à 10 photos en même temps.</em><br/><br/>

        <form action="" method="post" {{ form_enctype(form) }}>
          <div class="error">
            {{ form_errors(form) }}
          </div>

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.fichier) }}
            </div>
            <div class="span8">
              {{ form_errors(form.fichier) }}
              {{ form_widget(form.fichier) }}
            </div>
          </div>

          <br/><br/>
          <div class="row-fluid center">
            <input class="btn btn-primary btn-large"type="submit" value="{{ 'Ajouter' | trans }}"/>
          </div>

          {{ form_rest(form) }}
        </form>
      </div>
    </div>
    <br/><br/><br/>


    {% if media %}
      Utilisez votre souris pour déplacer les photos afin de modifier l'ordre d'apparition.<br/><br/>
    {% endif %}

    <div class="row-fluid" id="list">
      <ul id="ulDragDrop">
        {% set i = '0' %}
        {% for medias in media %}
          <li id="arrayorder_{{ medias.id }}"><a href="{{ asset('images/photos/biens')}}/{{ appartement.reference }}/big/{{ medias.fichier }}" target="_blank"><img src="{{ asset('images/photos/biens/')}}/{{ appartement.reference }}/small/{{ medias.fichier }}"/></a><a href="{{ path('pat_admin_media_supprimer', { 'id_media': medias.id, 'id': appartement.id  }) }}" onclick="return confirmAction()">{{ "X" | trans }}</a></li>
              {% set i = i + 1 %}
            {% endfor %}
      </ul>
    </div>

    <br/><br/>
    <div class="row-fluid">
      <div class="span6">
        <a href="{{ path('pat_admin_piece_index',{ 'id': appartement.id }) }}" class="btn btn-large">Revenir</a>
      </div>
      <div class="span6 right">
        <a href="{{ path('pat_admin_calendrier_index',{ 'id': appartement.id }) }}" class="btn btn-primary btn-large">Continuer</a>
      </div>
    </div>

<script type="text/javascript">
$(document).ready(function() {

  $("#list ul").sortable({opacity: 0.8, cursor: 'move', update: function() {
    $('body').css("margin-top", "-1000000px");
    $('body').prepend("<div id='wait' style='position:absolute;width:280px;top:40%;left:40%;text-align:center;font-weight:bold;font-size:15px' ><div id='ajaxText'>Modification en cours . . .</div><br/><img src='{{ asset('bundles/patcompte/images/ajax-loader.gif')}}' alt='' id='ajaxLoader'/></div>");

    var noeud = document.getElementById("ulDragDrop")
    var fils = noeud.childNodes;
    var nbFils = fils.length;
    var list_array = "";
    for (var i = 0; i < nbFils; i++) {
      if (fils[i].id) {
        if (fils[i].id.substr(0, 10) == "arrayorder") {
          //alert(fils[i].id);
          list_array += fils[i].id + ",";
        }
      }
    }

    var DATA = 'list_array=' + list_array;
    $.ajax({
      type: "POST",
      url: "{{ path('pat_admin_media_tri', {'id': appartement.id  })}}",
      data: DATA,
      async: true,
      cache: false,
      success: function(data) {
        $("#messageRetourTri").html("Modification effectuées avec succès");

        $("#ajaxText").html("Modification effectuées avec succès");
        $("#ajaxLoader").hide();

        setTimeout(function() {
          $('body').css('margin-top', '');
          $('#wait').css('display', 'none');
          $("#ajaxText").html("");
        }, 1500);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        $("#messageRetourTri").html(xhr.status + ". Erreur lors du tri de vos images");

        //$("#ajaxText").html("Modification effectuées avec succès");
        $("#ajaxLoader").hide();

        setTimeout(function() {
          $('body').css('margin-top', '');
          $('#wait').css('display', 'none');
          $("#ajaxText").html("");
        }, 1100);
      }
    });
  }});

});
</script>

  </div><!-- /contenuCentrale -->

{% endblock %}
