<form action="{{ path(target_path) }}" {{ form_enctype(formInscription) }} method="POST" class="fos_user_registration_register">
  <div class="blocForm">
    <div class="title">Informations sur le locataire</div>
    <div class="error">
      {{ form_errors(formInscription) }}
    </div>
    <div class="content">
      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.civilite) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.civilite) }}
          {{ form_widget(formInscription.civilite) }}
        </div>
      </div>



      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.nom) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.nom) }}
          {{ form_widget(formInscription.nom) }}
        </div>
      </div>



      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.prenom) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.prenom) }}
          {{ form_widget(formInscription.prenom) }}
        </div>
      </div>



      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.date_naissance) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.date_naissance) }}
          {{ form_widget(formInscription.date_naissance) }}
        </div>
      </div>



      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.nationalite) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.nationalite) }}
          {{ form_widget(formInscription.nationalite) }}
        </div>
      </div>



      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.langue_parle) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.langue_parle) }}
          {{ form_widget(formInscription.langue_parle) }}
        </div>
      </div>


      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.adresse) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.adresse) }}
          {{ form_widget(formInscription.adresse) }}
        </div>
      </div>


      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.adresse2) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.adresse2) }}
          {{ form_widget(formInscription.adresse2) }}
        </div>
      </div>


      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.code_postal) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.code_postal) }}
          {{ form_widget(formInscription.code_postal) }}
        </div>
      </div>


      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.ville) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.ville) }}
          {{ form_widget(formInscription.ville) }}
        </div>
      </div>


      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.pays) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.pays) }}
          {{ form_widget(formInscription.pays) }}
        </div>
      </div>


      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.telephone) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.telephone) }}
          {{ form_widget(formInscription.telephone) }}
        </div>
      </div>


      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.mobile) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.mobile) }}
          {{ form_widget(formInscription.mobile) }}
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.mobile2) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.mobile2) }}
          {{ form_widget(formInscription.mobile2) }}
        </div>
      </div>

      {#            <div class="row-fluid">
                      <div class="span4">
                          <strong>{{ form_label(formInscription.mails_second) }}</strong>
                          <small class="text-info">Séparées par une virgule<br/>(mail1@exemple.fr, mail2@exemple.fr, ...)</small>
                      </div>
                      <div class="span8">
                          {{ form_errors(formInscription.mails_second) }}
                          {{ form_widget(formInscription.mails_second) }}
                      </div>
                  </div>
      #}
      <div class="row-fluid">
        <div class="span4">
          <strong>{{ form_label(formInscription.second_email) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.second_email) }}
          {{ form_widget(formInscription.second_email) }}
        </div>
      </div>
    </div>
  </div>
  <div class="blocForm">
    <div class="title">Adresse de Facturation</div>
    <div class="content">

      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.societe) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.societe) }}
          {{ form_widget(formInscription.societe) }}
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.adresse_fact) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.adresse_fact) }}
          {{ form_widget(formInscription.adresse_fact) }}
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.adresse2_fact) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.adresse2_fact) }}
          {{ form_widget(formInscription.adresse2_fact) }}
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.code_postal_fact) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.code_postal_fact) }}
          {{ form_widget(formInscription.code_postal_fact) }}
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.ville_fact) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.ville_fact) }}
          {{ form_widget(formInscription.ville_fact) }}
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.pays_fact) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.pays_fact) }}
          {{ form_widget(formInscription.pays_fact) }}
        </div>
      </div>
    </div>
  </div>

  <div class="blocForm">
    <div class="title">Informations de Compte</div>
    <div class="content">
      <div class="row-fluid">
        <div class="span4 ">
          <strong>{{ form_label(formInscription.email) }}</strong>
        </div>
        <div class="span8">
          {{ form_errors(formInscription.email) }}
          {{ form_widget(formInscription.email) }}
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4 ">
        </div>
        <div class="span8">
          {{ form_errors(formInscription.plainPassword) }}
          {{ form_widget(formInscription.plainPassword) }}
        </div>
      </div>

    </div>
  </div>

{% if formInscription.human is defined %}
  <div class="blocForm">
    <div class="content">
      <div class="row-fluid">
        <div class="span4">
          {{ form_label(formInscription.human) }}
        </div>
        <div class="span8">
          {{ question }}
          {{ form_errors(formInscription.human) }}
          {{ form_widget(formInscription.human) }}
        </div>
      </div>
    </div>
  </div>
{% endif %}

  <div class="center padding">
    <input class="btn btn-primary btn-large" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" name="Inscription" />
  </div>
  {{form_rest(formInscription)}}

</form>
