{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

  <div id="contenuCentrale">
    <h1>Créer un compte propriétaire</h1>

    <div class="blocForm">
      <div class="content">
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
      </div>
    </div>

  </div><!-- /contenuCentrale -->

  <div id="contenuDroite">

    <div id="blocAide"><div class="blocAideTitre">Aide</div><br/>
      Les champs marqués d’une étoile * sont obligatoires.<br/><br/>
      Les champs Société, Siret et fonction concerne les agences uniquement. <br/><br/>
      L’adresse à renseigner est votre adresse de résidence principale et servira à classAppart® pour vous envoyer des documents. <br/><br/>
      Votre adresse email doit être valide car elle servira à activer votre compte.	<br/><br/>
    </div><!-- /blocAide -->

  </div><!-- /contentDroit -->

{% endblock fos_user_content %}
