{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
  <div id="contenuCentrale">
    <h1>Mon compte</h1>

    <div class="blocForm">
      <div class="content">
        <p>{{ 'registration.confirmed'|trans({'%username%': user.email}, 'FOSUserBundle') }}</p>
      </div>
    </div>

  </div><!-- /contenuCentrale -->

  <div id="contenuDroite">

    <div id="blocAide"><div class="blocAideTitre">Aide</div><br/>Vous recherchez un appartement ou un studio meublé de qualité, en toute confiance,<br/>classAppart &copy; vous met en relation avec les locataires !</div><!-- /blocAide -->

  </div><!-- /contentDroit -->

{% endblock fos_user_content %}
