{{ 'Bonjour' | trans }},

Un nouveau {{ user.type }} viens de s'inscrire.

Civilité : {{ user.civilite }}
Nom : {{ user.nom|upper }}
Prénom : {{ user.prenom|capitalize }}
Email : {{ user.email }}
Nationalité : {{ user.nationalite }}
Téléphone : {{ user.telephone }}
Mobile : {{ user.mobile|default('-') }}
----------------------------------------------------------------------------------------


Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
