{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
  {% autoescape false %}
    Votre compte à été crée cependant il nécessite d'être activé.
    {#{ 'resetting.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }#}
  {% endautoescape %}
{% endblock %}
{% block body_html %}
  {% autoescape false %}
    {% include 'PatUtilisateurBundle:Registration:email.html.twig' %}
  {% endautoescape %}
{% endblock %}
