{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>{{ 'Bonjour' | trans }},</p>

  <p>Un nouveau {{ user.type }} viens de s'inscrire</p>
  <p>Civilité : {{ user.civilite }}</p>
  <p>Nom : {{ user.nom|upper }}</p>
  <p>Prénom : {{ user.prenom|capitalize }}</p>
  <p>Email : {{ user.email }}</p>
  <p>Nationalité : {{ user.nationalite }}</p>
  <p>Téléphone : {{ user.telephone }}</p>
  <p>Mobile : {{ user.mobile|default('-') }}</p>
  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>

{% endblock %}
