<div id="contenuCentrale">
  <div id="titreAccueil">
    <h1>Créer un compte locataire</h1>
  </div>

  {% for flashMessage in app.session.flashbag.get('alert') %}
    <div class="error">
      {{ flashMessage }}
    </div>
  {% endfor %}

  {% include "PatUtilisateurBundle:Registration:_inscriptionResidentForm.html.twig" %}
</div><!-- /contenuCentrale -->

<div id="contenuDroite">
  <div id="blocAide">
    <div class="blocAideTitre">Aide</div><br/>
    Les champs avec un fond rouge sont obligatoires.<br/><br/>
    Les champs Société, Siret et fonction concerne les agences uniquement. <br/><br/>
    L’adresse à renseigner est votre adresse de résidence principale et servira à Class appart® pour vous envoyer des documents. <br/><br/>
    Votre adresse email doit être valide car elle servira à activer votre compte.	<br/><br/>
  </div><!-- /blocAide -->
</div><!-- /contentDroit -->

<script type="text/javascript">
$(document).ready(function() {
  $('#fos_user_registration_form_email').bind('paste', function(e) {
    alert('Vous devez recopier votre adresse mail.');
    return false;
  });

  $('#fos_user_registration_form_plainPassword_second').bind('paste', function(e) {
    alert('Vous devez recopier votre mot de passe.');
    return false;
  });
});
</script>
