{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
  <div id="contenuCentrale">
    <h1>Mon compte</h1>
    <div class="blocForm">
      <div class="content">
        <p>
          Votre demande de création de compte a bien été prise en compte.
        </p>
        <p>
          Consultez votre boite mail({{ mail }}) et cliquez sur le lien présent dans le mail pour activer définitivement votre compte.

        </p><br/><br/>
      </div>
    </div>
  </div><!-- /contenuCentrale -->

  <div id="contenuDroite">
    <div id="blocAide">
      <div class="blocAideTitre">
        Aide
      </div><br/>
      Vous recherchez un appartement ou un studio meublé de qualité, en toute confiance,<br/>
      classAppart &copy; vous met en relation avec les locataires !
    </div><!-- /blocAide -->
  </div><!-- /contentDroit -->

{% endblock fos_user_content %}
