<div id="contenuCentrale">
  <div id="titreAccueil">
    <h1>Créer un compte propriétaire</h1>
  </div>

  <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <div class="error">
      {{ form_errors(form) }}
    </div>

    <div class="blocForm">
      <div class="content">
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.civilite) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.civilite) }}
            {{ form_widget(form.civilite) }}
          </div>
        </div>


        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.nom) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.nom) }}
            {{ form_widget(form.nom) }}
          </div>
        </div>


        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.prenom) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.prenom) }}
            {{ form_widget(form.prenom) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.societe) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.societe) }}
            {{ form_widget(form.societe) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.siret) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.siret) }}
            {{ form_widget(form.siret) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.fonction) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.fonction) }}
            {{ form_widget(form.fonction) }}
          </div>
        </div>


        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.date_naissance) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.date_naissance) }}
            {{ form_widget(form.date_naissance) }}
          </div>
        </div>


        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.nationalite) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.nationalite) }}
            {{ form_widget(form.nationalite) }}
          </div>
        </div>


        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.langue_parle) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.langue_parle) }}
            {{ form_widget(form.langue_parle) }}
          </div>
        </div>


        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.adresse) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.adresse) }}
            {{ form_widget(form.adresse) }}
          </div>
        </div>


        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.adresse2) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.adresse2) }}
            {{ form_widget(form.adresse2) }}
          </div>
        </div>


        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.code_postal) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.code_postal) }}
            {{ form_widget(form.code_postal) }}
          </div>
        </div>


        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.ville) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.ville) }}
            {{ form_widget(form.ville) }}
          </div>
        </div>


        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.pays) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.pays) }}
            {{ form_widget(form.pays) }}
          </div>
        </div>


        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.telephone) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.telephone) }}
            {{ form_widget(form.telephone) }}
          </div>
        </div>


        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.mobile) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.mobile) }}
            {{ form_widget(form.mobile) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.mobile2) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.mobile2) }}
            {{ form_widget(form.mobile2) }}
          </div>
        </div>

{#
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.mails_second) }}</strong>
            <small class="text-info">Séparées par une virgule<br/>(mail1@exemple.fr, mail2@exemple.fr, ...)</small>
          </div>
          <div class="span8">
            {{ form_errors(form.mails_second) }}
            {{ form_widget(form.mails_second) }}
          </div>
        </div>
#}

        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.second_email) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.second_email) }}
            {{ form_widget(form.second_email) }}
          </div>
        </div>

        <br/>
        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.moyen_contact) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.moyen_contact) }}
            {{ form_widget(form.moyen_contact) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4">
            <strong>{{ form_label(form.email) }}</strong>
          </div>
          <div class="span8">
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4">
          </div>
          <div class="span8">
            {{ form_errors(form.plainPassword) }}
            {{ form_widget(form.plainPassword) }}
          </div>
        </div>

        {% if form.human is defined %}
          <div class="row-fluid">
            <div class="span4">
              {{ form_label(form.human) }}
            </div>
            <div class="span8">
              {{ form_errors(form.human) }}
              {{ form_widget(form.human) }}
            </div>
          </div>
        {% endif %}

        <div class="row-fluid">
          <div class="span12">
            {{ form_errors(form.cgu) }} {{ form_widget(form.cgu) }} Je déclare avoir lu et accepté les <a target="_blank" href="{{ path('pat_front_contenu_page', { 'lg': 'fr', 'url_page': 'conditions-generale-vente' }) }}" style=" margin:0px; padding:0px; font-size:12px; color:cornflowerblue">Conditions Générales</a>
          </div>
        </div>
        <span class="spanRequired">{{ 'champs obligatoires' | trans }}</span>

      </div>
    </div>

    <div class="center padding">
      <input type="submit" class="btn btn-primary btn-large" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>

    <div class="padding">
      <small>Conformément à la Loi Informatique et Libertés du 6 janvier 1978, vous disposez à tout moment d'un droit d'accès, de rectification et de suppression des données personnelles vous concernant.<br/>
        Pour exercer ce droit, contactez-nous.</small>
    </div>
    {{ form_rest(form) }}
  </form>

</div><!-- /contenuCentrale -->

<div id="contenuDroite">
  <div id="blocAide">
    <div class="blocAideTitre">Aide</div><br/>
    Les champs avec un fond rouge sont obligatoires.<br/><br/>
    Les champs Société, Siret et fonction concerne les agences uniquement. <br/><br/>
    L’adresse à renseigner est votre adresse de résidence principale et servira à Class appart® pour vous envoyer des documents. <br/><br/>
    Votre adresse email doit être valide car elle servira à activer votre compte.	<br/><br/>
  </div><!-- /blocAide -->
</div><!-- /contentDroit -->


<script type="text/javascript">
$(document).ready(function() {
  $('#fos_user_registration_form_email').bind('paste', function (e) {
    alert('Vous devez recopier votre adresse mail.');
    return false;
  })
  $('#fos_user_registration_form_plainPassword_second').bind('paste', function (e) {
    alert('Vous devez recopier votre mot de passe.');
    return false;
  })
});
</script>
