<div id="contenuCentrale">
  <h1>Modifier mon mot de passe</h1>
  <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">

    <div class="blocForm">
      <div class="content">
        <div class="row-fluid">
          <div class="span3">
          </div>
          <div class="span9">
            {{ form_widget(form) }}
          </div>
        </div>
      </div>
    </div>
    <div class="center padding">
      <input type="submit" class="btn btn-primary btn-large" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>

  </form>
</div><!-- /contenuCentrale -->

<div id="contenuDroite">
  <div id="blocAide">
    <div class="blocAideTitre">Aide</div><br/>
    Pour changer votre mot de passe vous devez saisir celui que vous avez actuellement puis deux fois le nouveau.
  </div><!-- /blocAide -->
</div><!-- /contentDroit -->
