{% extends '::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  <link href="{{ asset('bundles/patcompte/css/back.css') }}" type="text/css" rel="stylesheet" media="all" />
  <link href="{{ asset('bundles/patcompte/css/slidingmenu.css') }}" type="text/css" rel="stylesheet" media="all" />
{% endblock %}


{% block header %}
  <div id="logo"><a href="{{ path('PatFrontBundle_homepage', { 'lg': 'fr' }) }}"></a></div>

  <div class="posMenu">

    <ul class="nav ">
      <li class="dropdown">
        <a href="#"  class="dropdown-toggle" data-toggle="dropdown">Créer</a>
        <ul class="dropdown-menu">
          <li><a href="{{ path('pat_admin_proprietaire_ajouter') }}" class=" niveau_1_">Propriétaire</a></li>
          <li><a href="{{ path('pat_admin_locataire_ajouter') }}" class=" niveau_1_">Locataire</a></li>
          <li><a href="{{ path('pat_admin_appartement_ajouter') }}" class=" niveau_1_">Bien</a></li>
          <li><a href="{{ path('pat_admin_equipement_ajouter') }}" class=" niveau_1_">Équipement</a></li>
          <li><a href="{{ path('pat_admin_ville_index') }}" class=" niveau_1_">Ville</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="{{ path('pat_admin_reservation_select_info_recherche') }}">Faire une réservation</a>
      </li>
      <li class="dropdown">
        <a href="#"  class="dropdown-toggle" data-toggle="dropdown">Gestion des contenus web</a>
        <ul class="dropdown-menu">
          <li><a href="{{ path('pat_admin_contenu_index_lg', {'langue' : 'fr'}) }}">Voir les contenus</a></li>
            {% render controller("PatCompteBundle:AdminContenu:menu") %}
        </ul>
      </li>

    </ul>

    <ul class="nav pull-right">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <a  class="btn btn-normal btn-inverse" style="color: #fff" href="{{ path('fos_user_security_logout') }}">Quitter</a>

      {% endif %}
    </ul>

  </div><!-- /menu -->
  {% if is_granted("ROLE_ADMIN") %}
    <div id="brand" class="adminArea"><p>Espace administrateur</p></div>
  {% else %}
    <div id="brand" class="ownerArea"><p>Espace propriétaire</p></div>
  {% endif %}
{% endblock %}

{% block contentGauche %}
  {% if is_granted("ROLE_ADMIN") %}

    <div id="recherche">
      <div class="headerRecherche">
        <span>Recherche</span>
      </div>

      <div class="etapesRecherche adminRecherche">
        <div class="adminTopSearch">
          <label>Trouver par :</label>
          <select class="adminChooseSearch">
            <option value="1">Propriétaire</option>
            <option value="2">Locataire</option>
            <option value="3" selected="selected">Bien</option>
            <option value="4">Réservation</option>
            <option value="5">Derniers biens ajoutés</option>
          </select>
        </div>

        <div class="adminSearchType1 adminSearchType">
          <div class="contenuMenuAdmin">{% render controller("PatCompteBundle:AdminProprietaire:rechercher") %}</div>
        </div>

        <div class="adminSearchType2 adminSearchType">
          <div class="contenuMenuAdmin">{% render controller("PatCompteBundle:AdminLocataire:rechercher") %}</div>
        </div>

        <div class="adminSearchType3 adminSearchType">
          <div class="contenuMenuAdmin">{% render controller("PatCompteBundle:AdminAppartement:rechercher") %}</div>
        </div>

        <div class="adminSearchType4 adminSearchType">
          <div class="contenuMenuAdmin">{% render controller("PatCompteBundle:AdminReservation:rechercher") %}</div>
        </div>

        <div class="adminSearchType5 adminSearchType">
          <a href="{{ path('pat_admin_appartement_derniers_ajouts') }}" >Derniers biens ajoutés</a>
        </div>

      </div><!-- etapesRecherche -->
    </div><!-- /MenuBack -->

  {% endif %}

{% endblock %}

{% block contentDroit %}
{% block content %}{% endblock %}
{% endblock %}


{% block javascripts %}
  {{ parent() }}

<script type="text/javascript" src="{{ asset('bundles/patcompte/js/CompteFunctions.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/patcompte/js/datepicker_admin_scripts.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/patcompte/__tinymce/tiny_mce.js') }}"></script>

<script type="text/javascript">
$(document).ready(function() {
  $("#ReservationRecherche_date_debut, #ReservationRecherche_date_fin").attr('readonly', "true");

  $('.adminChooseSearch').change(function() {
    if ($(this).val() != 5) {
      $('.adminSearchType').hide();
      $('.adminSearchType' + $(this).val()).show();
    } else {
      window.location.href = "{{ path('pat_admin_appartement_derniers_ajouts') }}";
    }
  });
});
</script>
{% endblock %}
