{% extends '::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  <link href="{{ asset('bundles/patcompte/css/back.css') }}" type="text/css" rel="stylesheet" media="all" />
  <link href="{{ asset('bundles/patcompte/css/slidingmenu.css') }}" type="text/css" rel="stylesheet" media="all" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript" src="{{ asset('bundles/patcompte/js/CompteFunctions.js') }}"></script>
{% endblock %}


{% block contentGauche %}
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    {% set user = app.security.getToken().getUser() %}

    <div id="MenuBack">
      <div class="headerRecherche">
        <span>Mon compte</span>
      </div>
      <div class="menuCompte">
        <ul>
          {% if user.type == "Propriétaire" %}
            {% render controller("PatCompteBundle:AdminProprietaire:menuProprietaire") %}
          {% endif %}
          <li><a href="{{ path('fos_user_profile_show') }}">Consulter ma fiche</a></li>
          <li><a href="{{ path('fos_user_change_password') }}">Modifier mon mot de passe</a></li>
          <li><a href="{{ path('pat_loc_reservation_index') }}">Mes réservations</a></li>

        </ul>
      </div>
    </div><!-- /MenuBack -->

  {% endif %}
{% endblock %}

{% block content %}{% endblock %}
