<div id="contenuCentrale1">
  <div id="titreAccueilAdmin">
    <h1><span class="spanH1">Montant du séjour</h1>

  </div>
  <div class="clear"></div>

  <img src="{{ asset('bundles/patcompte/images/etape1.png') }}" alt="" border/><br/><br/>

  <div id="ZoneContenu">
    <div id="ZoneContenuHaut"></div><!-- /ZoneContenuHaut -->
    <div id="ZoneContenuPixel">
      <div class="ZoneContenuPixel1">
        <!-- Description Appartement -->
        <div id="BlockResaDescriptionAppart">
          {% if media %}
            <div class="bienPhoto">
              <img src="{{ asset('images/photos/biens') }}/{{ appartement.reference }}/small/{{ media.fichier }}" width="120"  height="120"/>
            </div><!-- /bienPhoto -->
          {% else %}
            <div class="bienPhoto">
              <img src="{{ asset('images') }}/defaut_small.jpg" width="120"  height="120"/>
            </div><!-- /Photo par defaut -->
          {% endif %}

          <div id="BlockResaDescriptionAppartTitre">
            Réf : {{appartement.reference}}<br/>{{appartement.type}}&nbsp;{{appartement.surfaceSol}}m2 à {{appartement.ville}}
          </div>

          <div id="BlockResaDescriptionAppartTexte">
            {{appartement.descriptionCourteFr}}
          </div>
        </div>
        <br/>
        <hr size=1>
      </div>

      <!-- Prix -->
      <div class="ZoneContenuPixel1">
        <div id="BlockResatexte">
          Tarif normal : {{ tab_calcul.tarif_normal|price_format }} €<br/>
          <br/><br/>

          Honoraires fixes : {{ tab_calcul.honoraires_fixes|price_format }} €<br/>
          Honoraires variables : {{ tab_calcul.honoraires_variables|price_format }} €<br/>
          <hr size=1>
          Tarif avec honoraires : {{ (tab_calcul.tarif_normal + tab_calcul.honoraires_fixes + tab_calcul.honoraires_variables)|price_format }} €<br/>
          <br/><br/>

          Frais de Plateforme : {{ tab_calcul.frais_plateforme|price_format }} €<br/>
          <hr size=1>

          <h2>
            Prix du Séjour : {{ prix|price_format }} €<br/><br/>
            Arrhes : {{ arrhes|price_format }} €
          </h2>
        </div>
        <br/>
        <hr size=1>
      </div>

      <!-- Info Dates -->
      <div class="ZoneContenuPixel1">
        <div id="BlockResatexteInfoResa">
          <div id="BlockResaTexteColG">
            <br/>
            <p> Date d'arrivée : </p><br/>
            <p> Date de départ : </p><br/>
            <p> Nombre de nuits : </p><br/>
            {% if max_personne %}
              <p> Nombre de personnes : </p><br/>
            {% endif %}
          </div>

          <div id="BlockResaTexteColD">
            <br/>
            <p> {{ date_arrivee|date("d/m/Y") }} </p><br/>
            <p> {{ date_depart|date("d/m/Y") }} </p><br/>
            <p> {{ nuits }} </p><br/>
            {% if max_personne %}
              <form action="#" method="post">
                <span></span>
                <select id="selectnbpersonne" name="nbpersonne">
                  {% for i in 1..max_personne %}
                    <option value="{{ i }}" >{{ i }}</option>
                  {% endfor %}
                </select>
              </form>
              <br/>
            {% endif %}
          </div>
        </div>
        <br/>
      </div>

      <div class="ZoneContenuPixel1" style="height:20px;">
        <a class="boutonJ2" href="{{ path('pat_admin_reservation_retour_recherche') }}" style="float:left;">Précédent</a>
        <a class="boutonJ" href="{{ path('pat_admin_reservation_recherche_locataire') }}" style="float:right;">Suivant</a>
      </div>

    </div><!-- /ZoneContenuPixel -->
    <div id="ZoneContenuBas"></div><!-- /ZoneContenuBas -->
  </div><!-- /ZoneContenu -->
</div><!-- /contenuCentrale -->

<script type="text/javascript">
$(document).ready(function() {
  $("#selectnbpersonne").change(function() {
    var info = $("#selectnbpersonne").val();
    var DATA = 'nbpersonne=' + info;
    $.ajax({
      type: "POST",
      url: "{{ path('pat_admin_reservation_actualise_nbpersonne') }}",
      data: DATA,
      cache: false,
      success: function(data) {
      },
      error: function(xhr, ajaxOptions, thrownError) {
        //alert("error : "+xhr.status);
      }
    });
    return false;
  });
});
</script>
