<div id="contentDroit">

  <div id="contenuCentrale">
    <div id="titreAccueil">
      <h1><span>Merci</span></h1>
    </div>

    <img src="{{ asset('bundles/patcompte/images/etape5.png') }}" alt="" border/><br/><br/>

    <div id="ZoneRecherche">
      <div id="RechercheHaut"></div><!-- /RechercheHaut -->
      <div id="RecherchePixel">
        <div id="RecherchePixel1">
          <div class="ResaTitre"> La réservation a bien été prise en compte ! <br/><br/></div>
          <div class="ResaTitre"> Un email contenant les détails de la réservation a été envoyé. </div>
        </div>
      </div><!-- /ZoneContenuPixel -->
      <div id="RechercheBas"></div><!-- /ZoneContenuBas -->
    </div><!-- /ZoneContenu -->
  </div><!-- /contenuCentrale -->

</div><!-- /contentDroit -->
