{% block content %}

  <div id="contenuCentrale1">
    <h1>Détail de la réservation</h1>

    <div class="clear"></div>

    {% for flashMessage in app.session.flashbag.get('success') %}
      <div class="alert alert-success">
        {{ flashMessage }}
      </div>
    {% endfor %}


    {% if resa %}

      <div class="row-fluid">
        <div class="span12 right">
          {% if resa.calculValues['tva'] is defined %}
            <a href="{{ path('pat_admin_reservation_facture_generation',{ 'id':resa.id }) }}" class="btn btn-info">Générer une facture</a> &nbsp;
          {% endif %}
          <a href="{{ path('pat_admin_generate_payment_resa', { 'member_id': resa.utilisateur.id, 'id_reservation': resa.id }) }}" class="btn btn-info">Générer un e-mail de paiement</a>
        </div>
      </div>

      <div class="blocForm">
        <div class="title">
          <div class="row-fluid">
            <div class="span6">
              Réf. {{ resa.reference }}
            </div>
            <div class="span6 right">
              {% include "PatCompteBundle:Reservation:_resa_status.html.twig" %}
            </div>
          </div>
        </div>

        <div class="content">
          {% if resa.optionSupplementaires == "1" %}
            <br />
            <strong>Options :</strong> Le locataire souhaite être recontacté pour choisir des options    <br />
          {% endif %}

          <br/>
          <div class="row-fluid">
            <strong>Réservation</strong>
          </div>



          {% if resa.status == constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_CANCELED_BY_BANK') %}
            <div class="row-fluid">
              <div class="span4">
                <p class="text-error">Erreur de paiement :</p>
              </div>
              <div class="span8">
                <p class="text-error">{{ resa.paymentError }}</p>
              </div>
            </div>
          {% endif %}
          <div class="row-fluid">
            <div class="span4">
              Réservation faite le :
            </div>
            <div class="span8">
              {{ resa.createdAt|date("d/m/Y à H:i:s") }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              Commentaire :
            </div>
            <div class="span8">
              {{ resa.comment|default('-') }}
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              Site tiers :
            </div>
            <div class="span8">
              {% if resa.siteTiers is not null %}
                {{ resa.siteTiers.name }}
                {% if true == resa.siteTiers.isAutoPayment %}
                  <i class="far fa-credit-card" data-toggle="popover" data-placement="top" data-html="true" data-content="Paiement automatique"></i>
                {% endif %}
              {% else %}
                -
              {% endif %}
            </div>
          </div>

          {% if resa.parent is not null %}
            <div class="row-fluid">
              <strong>Extension de la réservation :</strong>
            </div>

            <div class="row-fluid">
              <div class="span4">
                Référence :
              </div>
              <div class="span8">
                <a href="{{ path('pat_admin_reservation_show', {id_reservation: resa.parent.id}) }}">{{ resa.parent.reference }}</a>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                Effectuée le  :
              </div>
              <div class="span8">
                {{ resa.parent.createdAt|date('d/m/Y à H\\hi') }}
              </div>
            </div>
          {% endif %}

          <br/>
          <div class="row-fluid">
            <strong>Locataire</strong>
          </div>
          <div class="row-fluid">
            <div class="span4">
              Réservation faite par :
            </div>
            <div class="span8">
              <a href="{{ path('pat_admin_locataire_afficher', { 'id_locataire': resa.utilisateur.id }) }}">{{ resa.utilisateur.civilite }} {{ resa.utilisateur.Nom }} {{ resa.utilisateur.prenom  }} ({{ resa.utilisateur.username  }})</a>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              Réservation faite pour :
            </div>
            <div class="span8">
              {% set nbPersonnes = resa.nbPersonne %}
              {% transchoice nbPersonnes %}
              {0} 0 personne | {1} 1 personne | ]1,Inf] %nbPersonnes% personnes
              {% endtranschoice %}
              (Dont {{ resa.nbEnfant }} enfant(s) (-18 ans))
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              Lits à préparer :
            </div>
            <div class="span8">
              {{ resa.NbLitSimple }} lits simples<br>
              {{ resa.nbLitDouble }} lits doubles<br>
              {{ resa.nbCanapeConvertible }} canapés convertibles
            </div>
          </div>
          {% if resa.utilisateur.nationalite %}
            <div class="row-fluid">
              <div class="span4">
                Nationalité :
              </div>
              <div class="span8">
                {{ resa.utilisateur.nationalite }}
              </div>
            </div>
          {% endif %}
          {% if resa.utilisateur.societe %}
            <div class="row-fluid">
              <div class="span4">
                Société :
              </div>
              <div class="span8">
                {{ resa.utilisateur.societe }}
              </div>
            </div>
          {% endif %}
          {% if resa.utilisateur.siret %}
            <div class="row-fluid">
              <div class="span4">
                SIRET :
              </div>
              <div class="span8">
                {{ resa.utilisateur.siret }}
              </div>
            </div>
          {% endif %}
          <div class="row-fluid">
            <div class="span4">
              Adresse :
            </div>
            <div class="span8">
              {{ resa.utilisateur.adresse }}<br/>
              {{ resa.utilisateur.adresse2 }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span8 offset4">
              {{ resa.utilisateur.codePostal }}
              {{ resa.utilisateur.ville  }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span8 offset4">
              {{ resa.utilisateur.pays }}
            </div>
          </div>

          {% if resa.utilisateur.villeFact %}
            <div class="row-fluid">
              <div class="span4">
                Adresse de facturation :
              </div>
              <div class="span8">
                {{ resa.utilisateur.adresseFact }}<br/>
                {{ resa.utilisateur.adresse2Fact }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span8 offset4">
                {{ resa.utilisateur.codePostalFact }}
                {{ resa.utilisateur.villeFact }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span8 offset4">
                {{ resa.utilisateur.paysFact }}
              </div>
            </div>
          {% endif %}

          <div class="row-fluid">
            <div class="span4">
              Téléphone :
            </div>
            <div class="span8">
              {{ resa.utilisateur.telephone }}
            </div>
          </div>
          {% if resa.utilisateur.mobile %}
            <div class="row-fluid">
              <div class="span4">
                Mobile Mr :
              </div>
              <div class="span8">
                {{ resa.utilisateur.mobile }}
              </div>
            </div>
          {% endif %}
          {% if resa.utilisateur.mobile2 %}
            <div class="row-fluid">
              <div class="span4">
                Mobile Mme :
              </div>
              <div class="span8">
                {{ resa.utilisateur.mobile2 }}
              </div>
            </div>
          {% endif %}
          <div class="row-fluid">
            <div class="span4">
              Email :
            </div>
            <div class="span8">
              {{ resa.utilisateur.email }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              Appartement Concerné :
            </div>
            <div class="span8">
              {{ resa.appartement.nomResidence }} | {{ resa.appartement.reference }} - {{ resa.appartement.type | trans | capitalize }} - {% if resa.appartement.nbPieces %}T{{ resa.appartement.nbPieces }}{% endif %} - {{ resa.appartement.surfaceSol }} m<sup>2</sup> à {{ resa.appartement.ville.nom }} {{ resa.appartement.ville.codePostal }} {{ resa.appartement.ville.pays }} - <a href="{{ path('pat_admin_appartement_editer', { 'id': resa.appartement.id }) }}">Voir la fiche du Bien</a>
            </div>
          </div>

          {% if resa.appartement.utilisateur %}
            <br/>
            <div class="row-fluid">
              <strong>Propriétaire</strong>
            </div>

            <div class="row-fluid">
              <div class="span4">
                Nom
              </div>
              <div class="span8">
                <a href="{{ path('pat_admin_proprietaire_afficher', { 'id_proprio': resa.appartement.utilisateur.id }) }}">{{ resa.appartement.utilisateur.civilite }} {{ resa.appartement.utilisateur.Nom }} {{ resa.appartement.utilisateur.prenom }} ({{ resa.appartement.utilisateur.username  }})</a>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                Adresse :
              </div>
              <div class="span8">
                {{ resa.appartement.utilisateur.adresse }} {{ resa.appartement.utilisateur.adresse2 }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span8 offset4">
                {{ resa.appartement.utilisateur.codePostal }} {{ resa.appartement.utilisateur.ville }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                Téléphone :
              </div>
              <div class="span8">
                {{ resa.appartement.utilisateur.telephone }} {% if resa.appartement.utilisateur.mobile %} ({{ resa.appartement.utilisateur.mobile }}) {% endif %}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                Email :
              </div>
              <div class="span8">
                {{ resa.appartement.utilisateur.email }}
              </div>
            </div>
          {% endif %}

          <hr>

          <div class="row-fluid">
            <strong>Détail du tarif</strong>
          </div>

          <div class="row-fluid">
            <div class="span4">
              Tarif net propriétaire :
            </div>
            <div class="span8">
              {{resa.calculValues['tarif_net']|price_format}} €
            </div>
          </div>

          {% if resa.calculValues['promotion_activable'] is defined and resa.calculValues['promotion_activable'] != 0 %}
            <div class="row-fluid">
              <div class="span4">
                Dont {{ resa.calculValues['promotion_activable'] > 0 ? 'Majoration' : 'Promotion' }} :
              </div>
              <div class="span8">
                {{ resa.calculValues['promotion_activable'] > 0 ? '+' }}{{ resa.calculValues['promotion_activable'] }} %
              </div>
            </div>
          {% endif %}

          {% set commissionPourcent = resa.calculValues['commission'] %}
          {% set commission = resa.calculValues['tarif_net'] * (commissionPourcent / 100) %}

          <div class="row-fluid">
            <div class="span4">
              Comission ({{ commissionPourcent }} %) :
            </div>
            <div class="span8">
              {{ (commission)|price_format }} €
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              Tarif du ménage :
            </div>
            <div class="span8">
              {{resa.calculValues['menage_fixe']|price_format}} €
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              Tarif EDF
            </div>
            <div class="span8">
              {% set tarif_edf = resa.calculValues['EDF'] * nb_nuits %}
              {{tarif_edf|price_format}} €
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              Tarif assurance ({{ resa.calculValues['assurance'] }} %) :
            </div>
            <div class="span8">
              {% set assurance = resa.calculValues['tarif_net'] * (1 + (resa.calculValues['commission'] / 100)) * (resa.calculValues['assurance']/100) %}
              {{assurance|price_format}} €
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">
              Taxe de séjours :
            </div>
            <div class="span8">
              {% set taxeSejour = resa.calculValues['taxe_sejour'] * nb_nuits * resa.nbAdulte %}
              {{ taxeSejour|price_format }} €
            </div>
          </div>

          <br/>
          <div class="row-fluid">
            <strong>Tarif global</strong>
          </div>

          <div class="row-fluid">
            <div class="span4">
              Tarif séjour :
            </div>
            <div class="span8">
              {% set tarif = get_tarif(resa) %}
              {{tarif|price_format}} €
            </div>
          </div>
          {% if resa.calculValues['tva'] is defined %}
            <div class="row-fluid">
              <div class="span4">
                Dont TVA ({{ resa.calculValues['tva'] }} %) :
              </div>
              <div class="span8">
                {% set tva = (resa.calculValues['tarif_net'] * (resa.calculValues['commission'] / 100)) * resa.calculValues['tva'] / 100 %}
                {{ tva|price_format }} €
              </div>
            </div>
          {% endif %}
          <div class="row-fluid">
            <div class="span4">
              Dont Promo/Majoration :
            </div>
            <div class="span8">
              {{ resa.promotion|price_format }} €
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              Dépôt de garantie :
            </div>
            <div class="span8">
              {{ resa.depot|price_format }} €
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              Solde total :
            </div>
            <div class="span8">
              {{ tarif + resa.depot|price_format }} €
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              Acompte :
            </div>
            <div class="span8">
              {{ resa.arrhes|price_format }} €
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              Déjà payé :
            </div>
            <div class="span8">
              {% set payments = get_payments(resa) %}
              {{ payments|price_format }} €
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              Reste à payer :
            </div>
            <div class="span8">
              {{ (tarif + resa.depot - payments)|price_format }} €
            </div>
          </div>



          <br/>
          <div class="row-fluid">
            <strong>Séjour</strong>
          </div>

          <div class="row-fluid">
            <div class="span4">
              Date d'arrivée :
            </div>
            <div class="span8">
              {{ resa.dateDebut|date("d/m/Y") }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              Date de départ :
            </div>
            <div class="span8">
              {{ resa.dateFin|date("d/m/Y") }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              Nombre de nuits :
            </div>
            <div class="span8">
              {{ nb_nuits }}
            </div>
          </div>

          {#<div class="row-fluid">
              <div class="span4">
                  Type de paiement :
              </div>
              <div class="span8">
                  {% if resa.status !=  constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_WAIT_VALIDATION') %}
                      {{ resa.modePaiement | trans }}
                  {% endif %}
              </div>
          </div>#}

          {#% if resa.optionRoses or resa.optionChampagne or resa.optionLitBebe or resa.optionMenageSupp or resa.optionTaxi or resa.optionFrigo %}
              <br/>

              <div class="row-fluid">
                  <div class="span4">
                      Options :
                  </div>
                  <div class="span8">
                      {% if resa.optionRoses %}
                          {% set optRoses = resa.optionRoses %}
                          {% transchoice optRoses %}
                              {1} 1 bouquet de 25 roses rouges | ]1,Inf] %optRoses% bouquets de 25 roses rouges
                          {% endtranschoice %}
                          <br/>
                      {% endif %}
                      {% if resa.optionChampagne %}
                          {% set optChampagne = resa.optionChampagne %}
                          {% transchoice optChampagne %}
                              {1} 1 bouteille de champagne | ]1,Inf] %optChampagne% bouteilles de champagne
                          {% endtranschoice %}
                          <br/>
                      {% endif %}
                      {% if resa.optionMenageSupp %}
                          {% set optMenage = resa.optionMenageSupp %}
                          {% transchoice optMenage %}
                              {1} 1 ménage supplémentaire | ]1,Inf] %optMenage% ménages supplémentaire
                          {% endtranschoice %}
                          <br/>
                      {% endif %}
                      {% if resa.optionLitBebe %}
                          Location lit bébé
                          <br/>
                      {% endif %}
                      {% if resa.optionTaxi %}
                          Taxi à l'arrivée
                          <br/>
                      {% endif %}
                      {% if resa.optionFrigo %}
                          Remplissage du frigo
                          <br/>
                      {% endif %}
                  </div>
              </div>
          {% endif %#}

          <br/>
          <div class="row-fluid">
            <strong>Facturation</strong>
          </div>

          {% if resa.utilisateur.villeFact %}

            <div class="row-fluid">
              <div class="span4">
                Adresse de Facturation :
              </div>
              <div class="span8">
                {{ resa.utilisateur.adresseFact }}<br/>
                {{ resa.utilisateur.adresse2Fact  }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span8 offset4">
                {{ resa.utilisateur.codePostalFact }}
                {{ resa.utilisateur.villeFact }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span8 offset4">
                {{ resa.utilisateur.paysFact }}
              </div>
            </div>
          {% endif %}

          {% if (resa.filenameFr is not null) and resa.filenameEn is not null %}
            <strong>Ancienne Facturation :</strong> &nbsp;  <a href="{{path('pat_admin_reservation_download_facture', { 'language':'fr', 'id':resa.id })}}">facture-{{ resa.filenameFr }}</a> &nbsp; &nbsp;  <a href="{{path('pat_admin_reservation_download_facture', { 'language':'en', 'id':resa.id })}}">facture-{{resa.filenameEn}}</a>
          {% endif %}

        </div>
      </div>

      <div class="blocForm">
        <div class="title">
          <div class="row-fluid">
            <div class="span6">
              Options
            </div>
            <div class="span6 right">
              <a href="{{ path('option_new', { 'reservation_id': resa.id }) }}" class="btn btn-small btn-primary">Ajouter une option</a>
            </div>
          </div>
        </div>

        <div class="content">
          {{ render(controller('PatCompteBundle:Option:index', { 'reservation_id': resa.id })) }}
        </div>
      </div>

      <div class="blocForm">
        <div class="title">
          <div class="row-fluid">
            <div class="span6">
              <a href="{{ path('pat_admin_list_payment_by_member', { 'member_id': resa.utilisateur.id }) }}">Paiements</a>
            </div>
            <div class="span6 right">
              <a href="{{ path('pat_admin_new_payment', { 'member_id': resa.utilisateur.id, 'id_reservation': resa.id }) }}" class="btn btn-small btn-primary">Ajouter un paiement</a>
            </div>
          </div>
        </div>

        <div class="content">
          {% set total = 0 %}
          {% for payment in resa.payments %}
            <div class="row-fluid">
              <div class="span7">
                {{ payment.name }} ({{ payment.modePaiement | trans }})
              </div>
              <div class="span2 right">
                {{ payment.amount|price_format }} €
              </div>
              <div class="span3 center">
                {% if payment.status == constant('\\Pat\\CompteBundle\\Tools\\PaymentTools::CONSTANT_STATUS_WAIT') %}
                  <span class="label label-info">En attente</span>
                {% elseif payment.status == constant('\\Pat\\CompteBundle\\Tools\\PaymentTools::CONSTANT_STATUS_WAIT_RECEIPT') %}
                  <span class="label label-warning">En attente de réception</span>
                {% elseif payment.status == constant('\\Pat\\CompteBundle\\Tools\\PaymentTools::CONSTANT_STATUS_PAYED') %}
                  <span class="label label-success">Payé</span> le {{ payment.payedAt|date("d/m/Y") }}
                  {% set total = total + payment.amount %}
                {% elseif payment.status == constant('\\Pat\\CompteBundle\\Tools\\PaymentTools::CONSTANT_STATUS_CANCELED') %}
                  <span class="label label-important">Annulé</span>
                {% endif %}
              </div>
            </div>
          {% endfor %}
          <hr>
          <div class="row-fluid">
            <div class="span7">
              <strong>Total payé</strong>
            </div>
            <div class="span2 right">
              <strong>{{ total|price_format }} €</strong>
            </div>
          </div>
        </div>
      </div>

      <div class="blocForm">
        <div class="title">
          <div class="row-fluid">
            <div class="span6">
              Facture
            </div>
            <div class="span6 right">

            </div>
          </div>
        </div>

        <div class="content">
          {% if resa.factures is empty %}
            <div class="alert alert-info">
              <i class="fas fa-info"> Aucunes factures pour cette réservation</i>
            </div>
          {% else %}
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Facture n°</th>
                  <th>Format</th>
                  <th>Date de création</th>
                  <th>Télécharger</th>
                  <th>Envoyer au locataire</th>
                </tr>
              </thead>
              <tbody>
                {% for facture in resa.factures %}

                  {% if facture.locale != 'en'%}
                    <tr>
                      <td>{{ facture.number }}</td>
                      <td>{{ facture.locale|upper }}</td>
                      <td>{{ facture.createdAt|date('d/m/Y à H\\hi') }}</td>
                      <td>
                        <a href="{{ path('pat_admin_reservation_download_facture_new', {id: facture.id}) }}"><i class="fas fa-download"></i> Facture</a>
                        {% if facture.AvoirFileName is not null %}
                          <br>
                          <a href="{{ path('pat_admin_reservation_download_avoir_new', {id: facture.id}) }}"><i class="fas fa-download"></i> Avoir</a>
                        {% endif %}
                      </td>
                      <td>
                        <a href="{{ path('pat_admin_reservation_send_facture', {id: facture.id}) }}" onclick="return confirmAction('Voulez vous vraiment envoyer cette facture à {{ facture.reservation.utilisateur.email }}')"><i class="far fa-paper-plane"></i> Envoyer la facture</a>
                        {% if facture.AvoirFileName is not null %}
                          <br>
                          <a href="{{ path('pat_admin_reservation_send_avoir', {id: facture.id}) }}" onclick="return confirmAction('Voulez vous vraiment envoyer cet avoir à {{ facture.reservation.utilisateur.email }}')"><i class="far fa-paper-plane"></i> Avoir</a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <a href="{{ path('pat_admin_reservation_index') }}" class="btn btn-large btn-secondary">Retour</a>
        </div>
        <div class="span6 right">
          <a href="{{ path('pat_admin_reservation_modifier', { 'id_reservation': resa.id}) }}" class="btn btn-primary">Modifier</a>
        </div>
      </div>
    {% endif %}
  </div><!-- /contenuCentrale1 -->

<script type="text/javascript">
$(document).ready(function () {
  $('[data-toggle="popover"]').popover({
    trigger: 'hover'
  })
});
</script>
{% endblock %}
