{% block content %}

<script type="text/javascript">
$(document).ready(function() {
  tinyMCE.init({
    // General options
    mode: "exact",
    elements: "TextOptions_contenu",
    theme: "simple",
    width: "99%",
    height: "300px"
  });
});
</script>
  <!-- /TinyMCE -->

  <div id="contenuCentrale1">
    <h1>Gestion réservations : texte des options</h1>
    <div class="clear"></div>

    {% for flashMessage in app.session.flashbag.get('success') %}
      <div class="alert alert-success">
        {{ flashMessage }}
      </div>
    {% endfor %}


    <form action="{{ path('pat_reservation_text_options') }}" method="post" {{ form_enctype(form) }}>
      {% if form_errors(form) %}
        <div class="alert alert-error">
          {{ form_errors(form) }}
        </div>
      {% endif %}

      <div class="blocForm" style="margin-top: 20px;">
        <div class="title">
          Contenu
        </div>

        <div class="content">
          <div class="row-fluid">
            <div class="span12">
              {{ form_widget(form.contenu) }}
            </div>
          </div>
        </div>

      </div>

      <div class="row-fluid center">
        <input class="btn btn-primary" type="submit" value="{{ 'Enregistrer' | trans }}"/>
      </div>

      {{ form_rest(form) }}
    </form>


  </div><!-- /contenuCentrale -->

{% endblock %}
