{% block content %}

<script type="text/javascript">
$(document).ready(function() {
  tinyMCE.init({
    // General options
    mode: "exact",
    elements: "CAadresse",
    theme: "simple",
    relative_urls: false,
    width: "300"
  });

  tinyMCE.init({
    // General options
    mode: "exact",
    elements: "Contenu_description1",
    theme: "simple",
    relative_urls: false,
    width: "300"
  });

  tinyMCE.init({
    // General options
    mode: "exact",
    elements: "Contenu_description1-1",
    theme: "simple",
    relative_urls: false,
    width: "300"
  });

  tinyMCE.init({
    // General options
    mode: "exact",
    elements: "Contenu_description2",
    theme: "simple",
    relative_urls: false,
    width: "535"
  });

  tinyMCE.init({
    // General options
    mode: "exact",
    elements: "Contenu_description2-2",
    theme: "simple",
    relative_urls: false,
    width: "535"
  });

  tinyMCE.init({
    // General options
    mode: "exact",
    elements: "Contenu_description3",
    theme: "simple",
    width: "300"
  });

  tinyMCE.init({
    // General options
    mode: "exact",
    elements: "Contenu_description3-3",
    theme: "simple",
    width: "300"
  });
});
</script>
  <!-- /TinyMCE -->

  <div id="contenuCentrale1">
    <h1>Facture</h1>

    <div class="clear"></div>

    {% for flashMessage in app.session.flashbag.get('success') %}
      <div class="alert alert-success">
        {{ flashMessage }}
      </div>
    {% endfor %}


    {% if resa %}
      <form action="{{ path('pat_admin_reservation_facture_generation_pdf', { 'id':resa.id }) }}" method="post">
        <div class="blocForm">
          <div class="title">
            <div class="row-fluid">
              <div class="span12">
                Facture N° {{ factureNumber }}
              </div>
            </div>
          </div>

          <div class="content">
            <div class="row-fluid">
              <div class="span6">
                <strong>Adresse :</strong> <br />
                <textarea name="CAadresse" id="CAaddresse">
                            <h2>CLASS APPART</h2>
                            <p>
                                15 Passage Lonjon <br/>
                                34000 MONTPELLIER <br/>
                                Téléphone : + 33(0)6.10.64.33.08 <br/>
                                Email : <a href="mailto:info@class-appart.com">info@class-appart.com</a><br/>
                                SIRET : 790 259 287 000 15 <br/>
                            </p>
                </textarea>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span6">
                <strong>Haut de page :</strong> <br />
                <textarea name="haut" id="Contenu_description1">
                        Chère cliente, cher client, <br />
                        Merci d'avoir choisi Class Appart pour votre séjour à Montpellier<br />
                        Pour plus d'informations, n'hésitez pas à nous contacter.<br />
                </textarea>
              </div>
            </div>

            <br/>
            {#                <div class="row-fluid">
                                <strong>Locataire</strong>
                                {% debug resa.utilisateur.adresseFact %}
                            </div>#}
            <div class="row-fluid">
              <div class="span4">
                Réservation faite par :
              </div>
              <div class="span8">
                <a href="{{ path('pat_admin_locataire_afficher', { 'id_locataire': resa.utilisateur.id }) }}">{{ resa.utilisateur.civilite }} {{ resa.utilisateur.Nom }} {{ resa.utilisateur.prenom  }} ({{ resa.utilisateur.username  }})</a>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                Réservation faite pour :
              </div>
              <div class="span8">
                {% set nbPersonnes = resa.nbPersonne %}
                {% transchoice nbPersonnes %}
                {0} 0 personne | {1} 1 personne | ]1,Inf] %nbPersonnes% personnes
                {% endtranschoice %}
                (Dont {{ resa.nbEnfant }} enfant(s) (-18 ans))
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                Lits à préparer :
              </div>
              <div class="span8">
                {{ resa.NbLitSimple }} lits simples<br>
                {{ resa.nbLitDouble }} lits doubles<br>
                {{ resa.nbCanapeConvertible }} canapés convertibles
              </div>
            </div>
            {% if resa.utilisateur.nationalite %}
              <div class="row-fluid">
                <div class="span4">
                  Nationalité :
                </div>
                <div class="span8">
                  {{ resa.utilisateur.nationalite }}
                </div>
              </div>
            {% endif %}
            {% if resa.utilisateur.societe %}
              <div class="row-fluid">
                <div class="span4">
                  Société :
                </div>
                <div class="span8">
                  {{ resa.utilisateur.societe }}
                </div>
              </div>
            {% endif %}
            {% if resa.utilisateur.siret %}
              <div class="row-fluid">
                <div class="span4">
                  SIRET :
                </div>
                <div class="span8">
                  {{ resa.utilisateur.siret }}
                </div>
              </div>
            {% endif %}

            {% if resa.utilisateur.villeFact %}
              <div class="row-fluid">
                <div class="span4">
                  Adresse de facturation :
                </div>
                <div class="span8">
                  {{ resa.utilisateur.adresseFact }}<br/>
                  {{ resa.utilisateur.adresse2Fact }}
                </div>
              </div>
              <div class="row-fluid">
                <div class="span8 offset4">
                  {{ resa.utilisateur.codePostalFact }}
                  {{ resa.utilisateur.villeFact }}
                </div>
              </div>
              <div class="row-fluid">
                <div class="span8 offset4">
                  {{ resa.utilisateur.paysFact }}
                </div>
              </div>
            {% else %}
              <div class="row-fluid">
                <div class="span4">
                  Adresse :
                </div>
                <div class="span8">
                  {{ resa.utilisateur.adresse }}<br/>
                  {{ resa.utilisateur.adresse2 }}
                </div>
              </div>
              <div class="row-fluid">
                <div class="span8 offset4">
                  {{ resa.utilisateur.codePostal }}
                  {{ resa.utilisateur.ville  }}
                </div>
              </div>
              <div class="row-fluid">
                <div class="span8 offset4">
                  {{ resa.utilisateur.pays }}
                </div>
              </div>
            {% endif %}

            <div class="row-fluid">
              <div class="span4">
                Téléphone :
              </div>
              <div class="span8">
                {{ resa.utilisateur.telephone }}
              </div>
            </div>
            {% if resa.utilisateur.mobile %}
              <div class="row-fluid">
                <div class="span4">
                  Téléphone Mr :
                </div>
                <div class="span8">
                  {{ resa.utilisateur.mobile }}
                </div>
              </div>
            {% endif %}
            {% if resa.utilisateur.mobile2 %}
              <div class="row-fluid">
                <div class="span4">
                  Téléphone Mme :
                </div>
                <div class="span8">
                  {{ resa.utilisateur.mobile2 }}
                </div>
              </div>
            {% endif %}
            <div class="row-fluid">
              <div class="span4">
                Email :
              </div>
              <div class="span8">
                {{ resa.utilisateur.email }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                Appartement Concerné :
              </div>
              <div class="span8">
                {{ resa.appartement.nomResidence }} | {{ resa.appartement.reference }} - {{ resa.appartement.type | trans | capitalize }} - {% if resa.appartement.nbPieces %}T{{ resa.appartement.nbPieces }}{% endif %} - {{ resa.appartement.surfaceSol }} m<sup>2</sup> à {{ resa.appartement.ville.nom }} {{ resa.appartement.ville.codePostal }} {{ resa.appartement.ville.pays }} - <a href="{{ path('pat_admin_appartement_editer', { 'id': resa.appartement.id }) }}">Voir la fiche du Bien</a>
              </div>
            </div>

            <br/>
            <div class="row-fluid">
              <strong>Séjour</strong>
            </div>

            <div class="row-fluid">
              <div class="span4">
                Date d'arrivée :
              </div>
              <div class="span8">
                {{ resa.dateDebut|date("d/m/Y") }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                Date de départ :
              </div>
              <div class="span8">
                {{ resa.dateFin|date("d/m/Y") }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                Nombre de nuits :
              </div>
              <div class="span8">
                {{ nb_nuits }}
              </div>
            </div>

            {% set hebergement = resa.calculValues['tarif_net'] * (1 + (resa.calculValues['commission'] / 100)) + resa.calculValues['menage_fixe'] %}
            {% set assurance = resa.calculValues['tarif_net'] * (1 + (resa.calculValues['commission'] / 100)) * (resa.calculValues['assurance']/100) %}
            {% set forfait_energie = resa.calculValues['EDF'] * nb_nuits %}
            {% set taxe_sejour = resa.calculValues['taxe_sejour'] * nb_nuits * resa.nbAdulte %}
            {% set total_ttc = resa.calculValues['tarif_total'] %}
          {% if resa.promotion %}{% set total_ttc = total_ttc + resa.promotion %}{% endif %}
          {% set total_options = 0 %}
          {% for option in resa.options %}
            {% set total_options = total_options + option.amount %}
          {% endfor %}
          {% set tarif = get_tarif(resa) %}

          <br />

          <div class="row-fluid">
            <div class="span1"></div>
            <div class="span10">
              <table class="table table-bordered">
                <tr class='tableau-facture'>
                  <th>
                    Désignation
                  </th>
                  <th width="120">
                    Montant TTC
                  </th>
                </tr>
                <tr>
                  <td>
                    Location
                  </td>
                  <td>
                    {# { (total_ttc + total_options)|price_format } #}
                    {{tarif|price_format}} €
                  </td>
                </tr>
                {% if resa.promotion %}
                  <tr>
                    <td>
                      Promo/Majoration :
                    </td>
                    <td>
                      {{ resa.promotion|price_format }} €
                    </td>
                  </tr>
                {% endif %}
                <tr>
                  <td>
                    <div  class='totalTtc'>
                      Total TTC :
                    </div>
                  </td>
                  <td>
                    {# { (total_ttc + total_options)|price_format } #}
                    {{ tarif|price_format }} €
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class='dontTva'>
                      Dont TVA :
                    </div>
                  </td>
                  <td>
                    <div class='dontTvaContent'>
                      {% set dont_tva = (resa.calculValues['tarif_net'] * (resa.calculValues['commission'] / 100)) * resa.calculValues['tva'] / 100 %}
                      {{ dont_tva|price_format }} €
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    Caution
                  </td>
                  <td>
                    {{ resa.depot|price_format }} €
                  </td>
                </tr>
              </table>
            </div>
            <div class="span1"></div>
          </div>
          <div class="row-fluid">
            <div class="span10 offset1">
              <strong>Commentaires :</strong> <br />
              <textarea name="comm" id="Contenu_description2">
                    Dans le prix total de votre séjour, Class Appart inclut : <br />
                    - Le loyer <br />
                    - La taxe de séjour <br />
                    - L'assurance <br />
                    - Une provision sur electricité et gaz. Les contrats d'electricité et gaz sont déjà en place lors de votre arrivée. Il n'y a
                    pas de formalité à votre charge lorsque vous quittez l'appartement. <br />
                    - Le linge de maison (draps et serviettes) disponible dans l'appartement.<br />
                    - Un kit d'accueil pour démarrer votre séjour. <br />
                    - Une assistance durant les heures d'ouvertures. <br />
              </textarea>
              <br />
            </div>
            <div class="row" style="margin-left:10px;">
              <div class="span6">
                <strong>Pied de page :</strong> <br />
                <textarea name="pied" id="Contenu_description3">
                            CLASS APPART - 15 Passage Lonjon 34000 MONTPELLIER - Tél : + 33(0)6.10.64.33.08 - Email : <a href="mailto:info@class-apart.com">info@class-appart.com</a><br/>
                            internet : <a href="http://class-appart.com/">class-appart.com</a>
                            SIRET : 790 259 287 000 15
                </textarea>
              </div>
            </div>
          </div>
          <br />
        </div>
      </div>

      <div class="row-fluid">
        <div class="span9 offset4">
          <button type="submit" class="btn btn-large btn-primary">
            Générer une facture
          </button>
        </div>
      </div>
    </form>
  {% endif %}
</div><!-- /contenuCentrale1 -->

{% endblock %}
