{% block content %}
  <div id="contenuCentrale1">
    <div id="titreAccueilAdmin">
      <h1><span class="spanH1">Modification informations locataire</h1>

    </div>
    <div class="clear"></div>

    <div id="ZoneContenu">
      <div id="ZoneContenuHaut"></div><!-- /ZoneContenuHaut -->
      <div id="ZoneContenuPixel">

        <div id="ZoneContenuPixel1">
          <div class="ResaTitre"> Informations locataire : </div><br/>
          <form action="{{ path('pat_admin_reservation_informations_locataire', { 'id_locataire': locataire_id}) }}" {{ form_enctype(formInformation) }} method="POST" class="fos_user_registration_register">
            <div class="error">
              {{ form_errors(formInformation) }}
            </div>
            <table border="0" cellpadding="2" cellspacing="0" class="formulaire">
              <tr>
                <td width="120" class="tdRight">{{ form_label(formInformation.civilite) }}* : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.civilite) }}
                  {{ form_widget(formInformation.civilite) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.nom) }}* : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.nom) }}
                  {{ form_widget(formInformation.nom) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.prenom) }} : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.prenom) }}
                  {{ form_widget(formInformation.prenom) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.societe) }} : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.societe) }}
                  {{ form_widget(formInformation.societe) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.date_naissance) }} : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.date_naissance) }}
                  {{ form_widget(formInformation.date_naissance) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.nationalite) }} : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.nationalite) }}
                  {{ form_widget(formInformation.nationalite) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.langue_parle) }}* : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.langue_parle) }}
                  {{ form_widget(formInformation.langue_parle) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.adresse) }}* : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.adresse) }}
                  {{ form_widget(formInformation.adresse) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.adresse2) }} : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.adresse2) }}
                  {{ form_widget(formInformation.adresse2) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.code_postal) }}* : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.code_postal) }}
                  {{ form_widget(formInformation.code_postal) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.ville) }}* : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.ville) }}
                  {{ form_widget(formInformation.ville) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.pays) }}* : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.pays) }}
                  {{ form_widget(formInformation.pays) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.telephone) }} : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.telephone) }}
                  {{ form_widget(formInformation.telephone) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.mobile) }} : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.mobile) }}
                  {{ form_widget(formInformation.mobile) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.mobile2) }} : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.mobile2) }}
                  {{ form_widget(formInformation.mobile2) }}
                </td>
              </tr>
              <tr>
                <td class="tdLeft" colspan="2"><br/><div class="ResaTitre"> Adresse de Facturation : </div><br/></td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.adresse_fact) }}* : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.adresse_fact) }}
                  {{ form_widget(formInformation.adresse_fact) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.adresse2_fact) }} : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.adresse2_fact) }}
                  {{ form_widget(formInformation.adresse2_fact) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.code_postal_fact) }}* : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.code_postal_fact) }}
                  {{ form_widget(formInformation.code_postal_fact) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.ville_fact) }}* : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.ville_fact) }}
                  {{ form_widget(formInformation.ville_fact) }}
                </td>
              </tr>
              <tr>
                <td class="tdRight">{{ form_label(formInformation.pays_fact) }}* : </td>
                <td class="tdLeft">
                  {{ form_errors(formInformation.pays_fact) }}
                  {{ form_widget(formInformation.pays_fact) }}
                </td>
              </tr>
              <tr><td>&nbsp;</td></tr>
              <tr>

                <td colspan="2" align="center">
                  <input class="boutonJ" type="submit" value="Mettre à Jour" name="SendRecherche" style="float:right"/>
                  {{form_rest(formInformation)}}
                </td>
              </tr>
            </table>

          </form>
        </div><!-- /ZoneContenuPixel1 -->
      </div><!-- /ZoneContenuPixel -->
      <div id="ZoneContenuBas"></div><!-- /ZoneContenuBas -->
    </div><!-- /ZoneContenu -->

  </div><!-- /contenuCentrale -->

{% endblock %}
