{% block content %}
  <div id="contentDroit">
    <div id="contenuCentrale">
      <div id="titreAccueilAdmin">
        <h1><span class="spanH1">Réservation :<small></small></span></h1>
      </div>

      <div id="ZoneContenu">
        <div id="ZoneContenuHaut"></div><!-- /ZoneContenuHaut -->
        <div id="ZoneContenuPixel">

          <div id="ZoneContenuPixel1">
            <div class="ResaTitre"> Nouveau Locataire : </div><br/>
            {% if message %}
              <div class="BlockResaMessageErreur"> {{ message }}</div><br/>
            {% endif %}
            <form action="{{ path('pat_admin_reservation_inscription_locataire') }}" {{ form_enctype(formInscription) }} method="POST" class="fos_user_registration_register">
              <div class="error">
                {{ form_errors(formInscription) }}
              </div>
              <table border="0" cellpadding="2" cellspacing="0" width="100%" class="formulaire">
                <tr>
                  <td width="120" class="tdRight">{{ form_label(formInscription.civilite) }}* : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.civilite) }}
                    {{ form_widget(formInscription.civilite) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.nom) }}* : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.nom) }}
                    {{ form_widget(formInscription.nom) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.prenom) }} : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.prenom) }}
                    {{ form_widget(formInscription.prenom) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.societe) }} : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.societe) }}
                    {{ form_widget(formInscription.societe) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.date_naissance) }} : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.date_naissance) }}
                    {{ form_widget(formInscription.date_naissance) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.nationalite) }} : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.nationalite) }}
                    {{ form_widget(formInscription.nationalite) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.langue_parle) }}* : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.langue_parle) }}
                    {{ form_widget(formInscription.langue_parle) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.adresse) }}* : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.adresse) }}
                    {{ form_widget(formInscription.adresse) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.adresse2) }} : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.adresse2) }}
                    {{ form_widget(formInscription.adresse2) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.code_postal) }}* : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.code_postal) }}
                    {{ form_widget(formInscription.code_postal) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.ville) }}* : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.ville) }}
                    {{ form_widget(formInscription.ville) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.pays) }}* : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.pays) }}
                    {{ form_widget(formInscription.pays) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.telephone) }} : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.telephone) }}
                    {{ form_widget(formInscription.telephone) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.mobile) }} : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.mobile) }}
                    {{ form_widget(formInscription.mobile) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.mobile2) }} : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.mobile2) }}
                    {{ form_widget(formInscription.mobile2) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.mobile2) }} : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.mobile2) }}
                    {{ form_widget(formInscription.mobile2) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdLeft" colspan="2"><br/><div class="ResaTitre"> Adresse de Facturation : </div><br/></td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.adresse_fact) }}* : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.adresse_fact) }}
                    {{ form_widget(formInscription.adresse_fact) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.adresse2_fact) }} : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.adresse2_fact) }}
                    {{ form_widget(formInscription.adresse2_fact) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.code_postal_fact) }}* : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.code_postal_fact) }}
                    {{ form_widget(formInscription.code_postal_fact) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.ville_fact) }}* : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.ville_fact) }}
                    {{ form_widget(formInscription.ville_fact) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.pays_fact) }}* : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.pays_fact) }}
                    {{ form_widget(formInscription.pays_fact) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdLeft" colspan="2"><br/><div class="ResaTitre"> Informations de Compte : </div><br/></td>
                </tr>
                <!--<tr>
                        <td class="tdRight">{#{{ form_label(formInscription.username) }}#}* : </td>
                        <td class="tdLeft">
                {#{{ form_errors(formInscription.username) }}
                {{ form_widget(formInscription.username) }}#}
        </td>
</tr>-->
                <tr>
                  <td class="tdRight">{{ form_label(formInscription.email) }}* : </td>
                  <td class="tdLeft">
                    {{ form_errors(formInscription.email) }}
                    {{ form_widget(formInscription.email) }}
                  </td>
                </tr>
                <tr>
                  <td class="tdRight"></td>
                  <td class="tdLeft">Un mot de passe sera généré automatiquement </td>
                </tr>
                <tr>
                  <td colspan="2"><br/></td>
                </tr>
                <tr>
                  <td colspan="2" align="center">
                    <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" name="Inscription"/>
                    {{form_rest(formInscription)}}
                  </td>
                </tr>
              </table>

            </form>


            <div align="center">
              <br/>
              <a href="{{ path('pat_admin_reservation_recherche_locataire') }}" class="boutonJ2">Retour</a>
            </div>
          </div><!-- /ZoneContenuPixel1 -->
        </div><!-- /ZoneContenuPixel -->
        <div id="ZoneContenuBas"></div><!-- /ZoneContenuBas -->
      </div><!-- /ZoneContenu -->

    </div><!-- /contenuCentrale -->

  </div><!-- /contentDroit -->

{% endblock %}
