{% block content %}

  <div id="contenuCentrale1">
    <h1>Réservation</h1>

    <div class="clear"></div>

    <div class="formRechercheAdmin">
      <form action="{{ path('pat_admin_reservation_index') }}" method="post" {{ form_enctype(formRechercheAvancee) }}>
        <div class="row-fluid">
          <div class="span6">
            {{ form_label(formRechercheAvancee.reference_resa) }}
            {{ form_widget(formRechercheAvancee.reference_resa) }}
          </div>
          <div class="span6">
            {{ form_label(formRechercheAvancee.reference_appart) }}
            {{ form_widget(formRechercheAvancee.reference_appart) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            {{ form_label(formRechercheAvancee.reference_locataire) }}
            {{ form_widget(formRechercheAvancee.reference_locataire) }}
          </div>
          <div class="span6">
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            {{ form_label(formRechercheAvancee.nom_locataire) }}
            {{ form_widget(formRechercheAvancee.nom_locataire) }}
          </div>
          <div class="span6">
            {{ form_label(formRechercheAvancee.prenom_locataire) }}
            {{ form_widget(formRechercheAvancee.prenom_locataire) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            {{ form_label(formRechercheAvancee.date_debut) }}
            {{ form_widget(formRechercheAvancee.date_debut, { 'attr': {'class': 'cal_date_in_admin'} }) }}
          </div>
          <div class="span6">
            {{ form_label(formRechercheAvancee.date_fin) }}
            {{ form_widget(formRechercheAvancee.date_fin, { 'attr': {'class': 'cal_date_out_admin'} }) }}
          </div>
        </div>

        <div class="row-fluid">
          <div>
            {{ form_widget(formRechercheAvancee.only_between) }}
          </div>
        </div>

        <br/><br/>
        <div class="row-fluid center">
          <input type="submit" value="{{ 'Rechercher' | trans }}" class="btn btn-primary"/>
        </div>

        {{ form_rest(formRechercheAvancee) }}
      </form>
    </div>

    <br/><br/>

    {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
    {% if app.session.flashbag.peekAll|length > 0 %}
      <div class="row">
        <div class="span12">
          {{ session_flash() }}
        </div>
      </div>
    {% endif %}

    {% if reservation %}

      {{ knp_pagination_render(reservation) }}

      {% for resa in reservation %}
        <table class="ListeAppart" style="width: 100%;">
          <tr>
            <td class="ListeAppart1" style="width: 40%;">
              <div class="titreAppart">
                {{ resa.utilisateur.prenom }} {{ resa.utilisateur.nom }} <small>({{ resa.utilisateur.username }})</small><br/>
                Réservation : {{ resa.reference }}
              </div>
              <div class="reference">Bien : Réf. {{ resa.appartement.reference }}</div>
            </td>
            <td class="ListeAppart1 center" style="width: 20%;">
              Réservé le {{ resa.createdAt|date("d/m/Y") }}
            </td>
            <td class="ListeAppart1 center" style="width: 20%;">
              Du {{ resa.dateDebut|date("d/m/Y") }}<br/>au {{ resa.dateFin|date("d/m/Y") }}
            </td>
            <td class="ListeAppart2" style="width: 20%;">
              {% include "PatCompteBundle:Reservation:_resa_status.html.twig" %}

              <br/><br/>
              <a href="{{ path('pat_admin_reservation_show', { 'id_reservation': resa.id }) }}"><i class="icon-search"></i></a>&nbsp;&nbsp;&nbsp;
              <a href="{{ path('pat_admin_reservation_modifier', { 'id_reservation': resa.id }) }}"><i class="icon-edit"></i></a>&nbsp;&nbsp;&nbsp;
                {#{% if resa.status != constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_CANCELED_BY_BANK') and resa.status != constant('\\Pat\\CompteBundle\\Tools\\ReservationTools::CONSTANT_STATUS_CANCELED_BY_BANK') %}
                    <a href="{{ path('pat_admin_reservation_desactiver', { 'id_reservation': resa.id }) }}" onclick="return confirmAction()"><i class="icon-remove"></i></a>
                {% endif %}#}
            </td>
          </tr>
        </table>
      {% endfor %}

      <br/>
      {{ knp_pagination_render(reservation) }}

    {% else %}
      La recherche n'a renvoyé aucune réservation.
    {% endif %}
  </div><!-- /contenuCentrale1 -->

{% endblock %}
