{% block content %}

  <div id="contenuCentrale1">
    <h1>Modifier la réservation</h1>

    <div class="clear"></div>

    {% for flashMessage in app.session.flashbag.get('error') %}
      <div class="alert alert-error">
        {{ flashMessage }}
      </div>
    {% endfor %}

    {% if reservation %}
      <div class="blocForm">
        <div class="title">
          <div class="row-fluid">
            <div class="span6">
              Réf. {{ reservation.reference }}
            </div>
          </div>
        </div>

        <div class="content">
          <div class="row-fluid">
            <div class="span4 right">
              Réservation faite par :
            </div>
            <div class="span8">
              {{ reservation.utilisateur.civilite }} {{ reservation.utilisateur.Nom }} {{ reservation.utilisateur.prenom }} ({{ reservation.utilisateur.username }})
            </div>
          </div>

          <br/>

          <div class="row-fluid">
            <div class="span4 right">
              Appartement Concerné :
            </div>
            <div class="span8">
              {{ reservation.appartement.type | trans | capitalize }} {% if reservation.appartement.nbPieces %}T{{ reservation.appartement.nbPieces }}{% endif %} - {{ reservation.appartement.surfaceSol }} m<sup>2</sup> à {{ reservation.appartement.ville }} (Ref. {{ reservation.appartement.reference }})
            </div>
          </div>
          {% if reservation.appartement.utilisateur %}
            <div class="row-fluid">
              <div class="span4 right">
                Propriétaire :
              </div>
              <div class="span8">
                {{ reservation.appartement.utilisateur.civilite }} {{ reservation.appartement.utilisateur.Nom }} {{ reservation.appartement.utilisateur.prenom }} ({{ reservation.appartement.utilisateur.username }})
              </div>
            </div>
          {% endif %}

          <br/>

          <form action="{{ path('pat_admin_reservation_modifier', { 'id_reservation': reservation.id}) }}" method="post" {{ form_enctype(form) }}>
            <div class="error">
              {{ form_errors(form) }}
            </div>
            <div class="row-fluid">
              <div class="span4 right">
                {{ form_label(form.date_debut) }}
              </div>
              <div class="span8">
                {{ form_errors(form.date_debut) }}
                {{ form_widget(form.date_debut, { 'attr': {'class': 'cal_date_in_admin'} }) }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4 right">
                {{ form_label(form.date_fin) }}
              </div>
              <div class="span8">
                {{ form_errors(form.date_fin) }}
                {{ form_widget(form.date_fin, { 'attr': {'class': 'cal_date_out_admin'} }) }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4 right">
                {{ form_label(form.status) }}
              </div>
              <div class="span8">
                {{ form_errors(form.status) }}
                {{ form_widget(form.status) }}
              </div>
            </div>

            <div class="row-fluid">
              <div class="span4 right">
                {{ form_label(form.depot) }}
              </div>
              <div class="span8">
                {{ form_errors(form.depot) }}
                {{ form_widget(form.depot) }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4 right">
                {{ form_label(form.arrhes) }}
              </div>
              <div class="span8">
                {{ form_errors(form.arrhes) }}
                {{ form_widget(form.arrhes) }}
              </div>
            </div>
            <hr/>
            <div class="row-fluid">
              <div class="span4 right">
                {{ form_label(form.email_customer) }}
              </div>
              <div class="span8">
                {{ form_errors(form.email_customer) }}
                {{ form_widget(form.email_customer) }}
              </div>
            </div>
            <hr/>
            <div class="row-fluid">
              <div class="span4 right">
                {{ form_label(form.email_owner) }}
              </div>
              <div class="span8">
                {{ form_errors(form.email_owner) }}
                {{ form_widget(form.email_owner) }}
              </div>
            </div>
            <hr/>
            <div class="row-fluid">
              <div class="span4 right">
                {{ form_label(form.comment) }}
              </div>
              <div class="span8">
                {{ form_errors(form.comment) }}
                {{ form_widget(form.comment) }}
              </div>
            </div>
            <hr>

            {{ form_rest(form) }}
            <br/>
            <div class="row-fluid center">
              <input class="btn btn-primary" type="submit" value="{{ 'Enregistrer' | trans }}"/>
            </div>
          </form>
        </div>
      </div>
    {% endif %}
  </div><!-- /contenuCentrale1 -->

{% endblock %}
