
<div id="contenuCentrale1">
  <div id="titreAccueilAdmin">
    <h1><span class="spanH1">Récapitulatif réservation</h1>

  </div>
  <div class="clear"></div>

  <img src="{{ asset('bundles/patcompte/images/etape3.png') }}" alt="" border/><br/><br/>

  {% if message %}
    <div class="BlockResaMessageErreur">{{ message }}</div>
  {% endif %}

  <div id="ZoneContenu">
    <div id="ZoneContenuHaut"></div><!-- /ZoneContenuHaut -->
    <div id="ZoneContenuPixel">

      <div id="ZoneContenuPixel1">
        <!-- Description Appartement -->
        <div id="BlockResaDescriptionAppart">
          {% if media %}
            <div class="bienPhoto"><img src="{{ asset('images/photos/biens') }}/{{ appartement.reference }}/small/{{ media.fichier }}" width="120"  height="120"/></div><!-- /bienPhoto -->
            {% else %}
            <div class="bienPhoto"><img src="{{ asset('images') }}/defaut_small.jpg" width="120"  height="120"/></div><!-- /Photo par defaut -->
            {% endif %}

          <div id="BlockResaDescriptionAppartTitre">
            Réf : {{appartement.reference}}<br/>{{appartement.type}}&nbsp;{{appartement.surfaceSol}}m2 à {{appartement.ville}}
          </div>
          <div id="BlockResaDescriptionAppartTexte">
            {{appartement.descriptionCourteFr}}
          </div>
        </div></br>
        <hr size=1>
      </div>

      <!-- Prix -->
      <div id="ZoneContenuPixel1">
        <div id="BlockResatexte">
          <h2>
            Prix du Séjour : {{ prix|price_format }} € <br/><br/>
            Arrhes : {{ arrhes|price_format }} €
          </h2>
        </div></br>
        <hr size=1>
      </div>

      <!-- Info Dates -->
      <div id="ZoneContenuPixel1">
        <div id="BlockResatexteInfoResa">
          <div id="BlockResaTexteColG">
            <br/>
            <p> Date d'arrivée : </p><br/>
            <p> Date de départ : </p><br/>
            <p> Nombre de nuits : </p><br/>
            <p> Nombre de personnes : </p>
          </div>
          <div id="BlockResaTexteColD">
            <br/>
            <p> {{ date_arrivee }} </p><br/>
            <p> {{ date_depart }} </p><br/>
            <p> {{ nuits }} </p><br/>
            <p> {{ max_personne }} </p>
          </div>
        </div></br>
        <hr size=1>
      </div>

      <div id="ZoneContenuPixel1">
        <div id="BlockResatexteInfoLoc">

          <div id="BlockResaTexteIntitule">
            <br/>{{ locataire.civilite }} {{ locataire.prenom }} {{ locataire.nom }}<br/></br>
          </div>
          <div id="BlockResaTexteColG">
            <p> N° locataire : </p><br/>
            <p> Adresse de Facturation : </p><br/>
            {% if locataire.adresse2Fact %}
              <p> Adresse (Suite) : </p><br/>
            {% endif %}
            <p> Code Postal : </p><br/>
            <p> Ville : </p><br/>
            <p> Pays : </p><br/><br/>
            <a href="{{ path('pat_admin_reservation_informations_locataire', { 'id_locataire': locataire.id} ) }}" class="boutonJ" style="float:none; margin-left:170px;">Modifier</a>
          </div>
          <div id="BlockResaTexteColD">
            <p> {{ locataire.username }} </p><br/>
            <p> {{ locataire.adresseFact }} </p><br/>
            {% if locataire.adresse2Fact %}
              <p> {{ locataire.adresse2Fact }} </p><br/>
            {% endif %}
            <p> {{ locataire.codePostalFact }} </p><br/>
            <p> {{ locataire.villeFact }} </p><br/>
            <p> {{ locataire.paysFact }} </p>  <br/>
          </div>


        </div></br>
        <hr size=1>
      </div>

      <form action="#" method="post">
        <div id="ZoneContenuPixel1">
          <div id="BlockResatexteInfoValidation">
            <div id="BlockResaTexteColG">
              <h3> Fin de Validité : </h3>
            </div>
            <div id="BlockResaTexteColD">

              <input id="validite" type="text" name="date_validite" />
            </div>
            <div id="BlockResaTexteIntitule">
              <br/><input type="submit" value="Réservation" name="Validation" class="boutonJ"  /><br/></br>
            </div>

          </div>
      </form>
    </div><!-- /ZoneContenuPixel -->
    <div id="ZoneContenuBas"></div><!-- /ZoneContenuBas -->
  </div><!-- /ZoneContenu -->
</div><!-- /contenuCentrale -->

</div><!-- /contentDroit -->

<script type="text/javascript">
$(document).ready(function() {
  var dates = $("#validite").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    closeText: 'Fermer',
    prevText: 'Précédent',
    nextText: 'Suivant',
    currentText: 'Aujourd\'hui',
    monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin',
      'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
    monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin',
      'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
    dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
    dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
    dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
    weekHeader: 'Sem.',
    dateFormat: 'dd/mm/yy',
    numberOfMonths: 1,
    showOn: "button",
    buttonImage: "{{ asset('bundles/patcompte/images/calendrier.png') }}",
    buttonImageOnly: true,
    minDate: "0",
    onSelect: function(selectedDate) {
      var option = this.id == "adminreservationrechercheappartement_datearrivee" ? "minDate" : "maxDate";
      var instance = $(this).data("datepicker");
      var date = $.datepicker.parseDate(
        instance.settings.dateFormat ||
        $.datepicker._defaults.dateFormat,
        selectedDate, instance.settings
      );
      dates.not(this).datepicker("option", option, date);
    }
  });
});
</script>
