<div id="contentDroit">
  <div id="contenuCentrale">
    <h1>Informations locataire</h1>
    <div class="clear"></div>

    <table class="resa-steps-table" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="{{ asset('bundles/patfront/images/1.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/2.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/3a.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/4.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/5.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/6.jpg') }}" alt=""/></td>
      </tr>
      <tr>
        <td>Budget</td>
        <td>Options</td>
        <td class="active">Infos client</td>
        <td>Récapitulatif</td>
        <td>Paiement</td>
        <td>Confirmation</td>
      </tr>
    </table>

    <h3>Rechercher un locataire existant :</h3>

    <div class="blocResa">
      <div class="RecapAppart">
        <form action="{{ path('pat_admin_reservation_recherche_locataire') }}" method="post" {{ form_enctype(formRecherche) }}>
          <div class="row-fluid">
            <div class="span3 right" style="padding-top: 8px;">
              {{ form_label(formRecherche.nom) }}
            </div>
            <div class="span9">
              {{ form_widget(formRecherche.nom) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span3 right" style="padding-top: 8px;">
              {{ form_label(formRecherche.prenom) }}
            </div>
            <div class="span6">
              {{ form_widget(formRecherche.prenom) }}
            </div>
            <div class="span3 center">
              <input type="submit" class="btn btn-primary" value="{{ 'Rechercher' | trans }}"/>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span3 right" style="padding-top: 8px;">
              {{ form_label(formRecherche.num_compte) }}
            </div>
            <div class="span9">
              {{ form_widget(formRecherche.num_compte) }}
            </div>
          </div>
          {{ form_rest(formRecherche) }}
        </form>
      </div>
    </div>


    {% if locataires %}
      {% for locataire in locataires %}
        <div class="ListeAppart row-fluid">
          <div class="span9 ListeAppart1">
            {{ locataire.nom}} {{ locataire.prenom}}<br/>
            ({{locataire.username}})
          </div>
          <div class="span3 ListeAppart2" style="padding-top: 15px;">
            <a href="{{ path('pat_admin_reservation_selection_locataire', { 'id_locataire': locataire.id} ) }}" class="btn">Sélectionner</a>
          </div>
        </div>
      {% endfor %}
    {% else %}
      {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
          {{ flashMessage }}
        </div>
      {% endfor %}
    {% endif %}

    <br/>
    <div class="row-fluid">
      <a href="{{ path('pat_front_reservation_options') }}" class="btn btn-large">Revenir</a>
    </div>
  </div>
</div>
