<form action="{{ path('pat_admin_reservation_index') }}" method="post" {{ form_enctype(formRecherche) }}>
  {{ form_widget(formRecherche.reference, {'attr': {'placeholder': 'Référence'} }) }}
  {{ form_widget(formRecherche.reference_appart, {'attr': {'placeholder': 'Référence appartement'} }) }}
  {{ form_widget(formRecherche.date_debut, {'attr': {'placeholder': 'Date de début', 'class': 'cal_date_in_admin'} }) }}
  {{ form_widget(formRecherche.date_fin, {'attr': {'placeholder': 'Date de fin', 'class': 'cal_date_out_admin'} }) }}
  <div class="homeSearchCenter">
    <input type="submit" value="{{ 'Rechercher' | trans }}" class="btn btn-primary btn-large"/>
  </div>
  {{ form_rest(formRecherche) }}
</form>
