{% block content %}

  <div id="contenuCentrale1">
    <h1>Faire une réservation</h1>
    <div class="clear"></div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
      <div class="success">
        {{ flashMessage }}
      </div>
    {% endfor %}

    <h4>Pour réaliser une réservation, veuillez :</h4>
    <p>
    <ol>
      <li>Créer un compte <a href="{{ path("pat_admin_locataire_ajouter") }}">locataire</a></li>
      <li>Faire une réservation depuis le site, et associer le locataire créé à l'étape où il vous le sera demandé.</li>
    </ol>
  </p>

</div><!-- /contenuCentrale1 -->

<script type="text/javascript">
$(document).ready(function() {
  $("#adminreservationrechercheappartement_ville").keyup(function() {
    var ville = $("#adminreservationrechercheappartement_ville").val();
    var DATA = 'ville=' + ville + '&field_id=adminreservationrechercheappartement_ville';

    if (ville.length >= 3) {
      $("#imgLoader").css("visibility", "visible");
      $.ajax({
        type: "POST",
        url: "{{ path('pat_admin_contenu_ville') }}",
        data: DATA,
        cache: false,
        success: function(data) {
          $('#resultats_recherche1').html(data);
          $("#resultats_recherche1").show();
          $("#imgLoader").css("visibility", "hidden");
        },
        error: function(xhr, ajaxOptions, thrownError) {
          //alert("error : "+xhr.status);
          $("#imgLoader").css("visibility", "hidden");
        }
      });
      return false;
    }
  });

  // Script pour empêcher l'affichage de l'historique de la saisie dans un champ
  if (document.getElementsByTagName) {
    ///basic DOM-happiness-check
    var inputElements = document.getElementsByTagName("input");
    //loop thru input elements
    for (i = 0; inputElements[i]; i++) {
      //if current input element has the disableAutoComplete class set.
      if (inputElements[i].className && (inputElements[i].className.indexOf("disableAutoComplete") != -1)) {
        inputElements[i].setAttribute("autocomplete", "off");
      }
    }
  }
});
</script>

{% endblock %}
