{% block content %}

  <div id="contenuCentrale1">

    {% if appartement %}
      {% set i = '0' %}

      <div id="titreAccueilAdmin">
        <h1><span class="spanH1">Sélection d'un appartement</h1>

      </div>
      <div class="clear"></div>

      <div id="titreAccueil">
        <h1><span>ma recherche :</span> {{ nb_resultat }} {% if nb_resultat < '2' %} résultat {% else %} résultats {% endif %}</h1>
      </div>

      <div class="clear"></div>

      <a href="{{ path('pat_admin_reservation_select_info_recherche') }}" class="boutonJ2">Précédent</a>

      <br/>
      {{ knp_pagination_render(appartement) }}

      <div style="float:left; width:100%; height:20px;"></div>
      {% for appart in appartement %}

        <div class="ListeAppart row-fluid blocItem">
          <div class="row ListeAppart1">
            <div class="row-fluid">
              <div class="span2">
                {#% set appartement_img = get_img(appart.id) %}
                {% if appartement_img %}
                    {<img src="{{ '/images/photos/biens/'~appart.reference~'/'~appartement_img | imagine_filter('appartement_mini') }}" />}
                {% endif %#}
              </div>
              <div class="span8">
                <a href="{{ path('pat_admin_appartement_detail', { 'id': appart.id }) }}" target="_blank" class="appart_list_link">
                  <div class="reference">
                    {{ appart.nomResidence }} | Réf : {{ appart.reference }}
                  </div>
                  <div class="titreAppart">
                    <strong>
                      {{ appart.type | capitalize }} {% if appart.nbPieces %}T{{ appart.nbPieces }}{% endif %} - {{ appart.surfaceSol }} m<sup>2</sup>
                      situé à {{ appart.ville }}
                    </strong>
                  </div>
                  {% if appart.tarif is not null %}
                    <div class="tarifAppart">
                      A partir de <strong>{#{ get_lower_loyer(appart.tarif)|number_format }#}{{ get_from_tarif(appart) | price_format }}</strong> €/nuit
                    </div>
                  {% endif %}
                </a>
              </div>
              <div class="span2 itemLink">
                <a href="{{ path('pat_admin_appartement_detail', { 'id': appart.id }) }}" class="btn btn-primary">Découvrir</a>
              </div>
            </div>
          </div>
        </div>

        <div id="ZoneRecherche">
          <div id="RechercheHaut"></div><!-- /RechercheHaut -->
          <div id="RecherchePixel">
            <div id="RecherchePixel1">
              <div class="HeaderBien">
                <div class="TitreBien">
                  <span class="BlocDetail">RÉF : {{appart.reference}}</span><br/>
                  {{appart.type | upper}}&nbsp;{% if appart.nbPieces%}T{{appart.nbPieces}}{% endif %}&nbsp;{{appart.surfaceSol}} m<sup>2</sup>&nbsp;{{appart.ville}}
                </div><!-- /TitreBien -->
                <div class="LoyerBien">
                  A partir de : <span class="LoyerBien1"> {{ get_from_tarif(appart) | number_format }} €/mois</span>
                </div>
              </div><!-- /HeaderBien -->


              {% if media %}
                {% if media[appart.id] %}
                  <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}" target="_blank">
                    <div class="bienPhoto">
                      <img src="{{ asset('images/photos/biens') }}/{{ appart.reference }}/small/{{ media[appart.id].fichier }}" alt="" width="120" height="120"/>
                    </div>
                  </a><!-- /bienPhoto -->
                {% else %}
                  <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}" target="_blank">
                    <div class="bienPhoto">
                      <img src="{{ asset('images') }}/defaut_small.jpg" alt="" width="120" height="120"/>
                    </div>
                  </a><!-- /Photo par defaut -->
                {% endif %}
              {% endif %}

              <div class="DescriptionBiens">
                {{appart.descriptionCourteFr}}<br/><br/>

                {% if appart.surfaceSol %}
                  Surface : {{appart.surfaceSol}}m<sup>2</sup>
                {% endif %}
                <br/>

                {% if appart.etatInterieur %}
                  État intérieur :
                  {% for i in 0..5 %}
                    {% if appart.etatInterieur <= i %}
                      <img src="{{ asset('bundles/patcompte/images/etoile_vide.png') }}" alt=""/>
                    {% else %}
                      <img src="{{ asset('bundles/patcompte/images/etoile_pleine.png') }}" alt="*"/>
                    {% endif %}
                  {% endfor %}
                {% endif %}

                <br/>
              </div><!-- /DescriptionBiens -->

              <div class="bouton">
                <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}" class="boutonJ2" target="_blank">Voir</a>

                {% if appart.isResa == 1 %}
                  <a href="{{ path('pat_admin_reservation_select_appartement', { 'id_appartement': appart.id} ) }}" class="boutonJ2">Sélectionner</a>
                {% else %}
                  <span style="color:red; font-weight:bold">Réservation indisponible </span>
                {% endif %}
              </div><!-- /bouton -->
            </div><!-- /RecherchePixel1 -->
          </div><!-- /RecherchePixel -->
          <div id="RechercheBas"></div><!-- /RechercheBas -->
        </div><!-- /ZoneRecherche -->

        <div style="float:left; width:100%; height:20px;"></div>
        {% set i = i + 1 %}
      {% endfor %}

      {{ knp_pagination_render(appartement) }}

    {% else %}
      <h2>Aucun bien ne correspond à votre recherche. </h2>
      <a href="{{ path('pat_admin_reservation_select_info_recherche') }}" class="boutonJ2">Précédent</a>
    {% endif %}

  </div><!-- /contenuCentrale1 -->

{% endblock %}
