{% block content %}
  <div id="contentDroit">
    <div id="contenuCentrale">

      <div id="titreAccueil">
        <h1><span>Réservation :</span></h1>
      </div>

      <h2> Désolé ! Votre réservation a expiré. Veuillez recommancer le processus. </h2><br/>

    </div><!-- /contenuCentrale -->
  </div><!-- /contentDroit -->

{% endblock %}
