Réservation {{reservation.Reference}}
Effectué le {{ reservation.createdAt | date('d/m/Y') }}


Date d’arrivée : {{reservation.dateDebut | date("d/m/Y")}}
Date de départ : {{reservation.dateFin | date("d/m/Y")}}
Nombre de personnes : {{reservation.nbPersonne}}
Nombre d'adultes : {{reservation.nbAdulte}}
Nombre d'enfants (-18 ans) : {{reservation.nbEnfant}}
Référence : {{reservation.appartement.reference}}
Adresse : {{reservation.appartement.adresse}} {{reservation.appartement.adresse2}}
Ville : {{reservation.appartement.ville}}
Surface : {{reservation.appartement.surfaceSol}}m2

Votre séjour :
Prix du séjour : {{reservation.tarif}} €
Dépôt de garantie : {{reservation.depot}} €
{% if moins48h(reservation.dateDebut) == false %}Acompte : {{reservation.arrhes}}{% else %}Total : {{reservation.arrhes + reservation.promotion}}{% endif %} €

{#% if reservation.optionRoses or reservation.optionChampagne or reservation.optionLitBebe or reservation.optionMenageSupp or reservation.optionTaxi or reservation.optionFrigo %}
Options :
{% if reservation.optionRoses %}
    {% set optRoses = reservation.optionRoses %}
    {% transchoice optRoses %}
        {1} 1 bouquet de 25 roses rouges | ]1,Inf] %optRoses% bouquets de 25 roses rouges
    {% endtranschoice %}
{% endif %}
{% if reservation.optionChampagne %}
    {% set optChampagne = reservation.optionChampagne %}
    {% transchoice optChampagne %}
        {1} 1 bouteille de champagne | ]1,Inf] %optChampagne% bouteilles de champagne
    {% endtranschoice %}
{% endif %}
{% if reservation.optionMenageSupp %}
    {% set optMenage = reservation.optionMenageSupp %}
    {% transchoice optMenage %}
        {1} 1 ménage supplémentaire | ]1,Inf] %optMenage% ménages supplémentaire
    {% endtranschoice %}
{% endif %}
{% if reservation.optionLitBebe %}
    Location lit bébé
{% endif %}
{% if reservation.optionTaxi %}
    Taxi à l'arrivée
{% endif %}
{% if reservation.optionFrigo %}
    Remplissage du frigo
{% endif %}
{% endif %#}

{% if reservation.optionSupplementaires == "1" %}
Options : Je souhaite être recontacté par Class Appart pour bénéficier d’options supplémentaires lors de mon séjour
{% endif %}

{#% for option in reservation.options %}
{{ option.quantity }} {{ option.name }}{% if option.amount is not null %} : {{ option.amount*option.quantity|price_format }} €{% endif %}
{% else %}
Aucune option
{% endfor %#}


Locataire :
Identifiant : {{reservation.utilisateur.username}}
Nom : {{reservation.utilisateur.nom}}
Prénom : {{reservation.utilisateur.prenom}}
Email : {{reservation.utilisateur.email}}
Téléphone : {{reservation.utilisateur.telephone}}
Adresse : {{reservation.utilisateur.adresseFact}} {{reservation.utilisateur.adresse2Fact}}
Code Postal : {{reservation.utilisateur.codePostalFact}}
Ville : {{reservation.utilisateur.villeFact}}
Pays : {{reservation.utilisateur.paysFact}}

{% if reservation.parent is not null %}
    Extension de la réservation {{ reservation.parent.reference }}, effectuée le {{ reservation.parent.createdAt | date('d/m/Y') }}

    Date d’arrivée : {{reservation.parent.dateDebut | date("d/m/Y")}}
    Date de départ : {{reservation.parent.dateFin | date("d/m/Y")}}
    Référence : {{reservation.parent.appartement.reference}}
    Adresse : {{reservation.parent.appartement.adresse}} {{reservation.parent.appartement.adresse2}}
    Ville : {{reservation.parent.appartement.ville}}
    Surface : {{reservation.parent.appartement.surfaceSol}}m2
{% endif %}
