<p>Réservation <a href="{{ (schemeAndHttpHost is defined ? schemeAndHttpHost : app.request.getSchemeAndHttpHost())~path('pat_reservation_show', {"id_reservation": reservation.id}) }}" class="colorLink">n°{{reservation.Reference}}</a>, effectué le {{ reservation.createdAt | date('d/m/Y') }}.</p>

<p>
  Date d’arrivée : {{reservation.dateDebut | date("d/m/Y")}}<br />
  Date de départ : {{reservation.dateFin | date("d/m/Y")}}<br />
  Nombre de personnes : {{reservation.nbPersonne}}<br />
  Nombre d'adultes : {{reservation.nbAdulte}}<br />
  Nombre d'enfants (-18 ans) : {{reservation.nbEnfant}}<br />
  Référence : {{reservation.appartement.reference}}<br />
  Adresse : {{reservation.appartement.adresse}} {{reservation.appartement.adresse2}}<br />
  Ville : {{reservation.appartement.ville}}<br />
  Surface : {{reservation.appartement.surfaceSol}}m&sup2;<br />
</p>

<h3>Votre séjour :</h3>
<p>
  <strong>Prix du séjour : {{get_tarif(reservation)|price_format}} €</strong><br/>
  Dépôt de garantie : {{reservation.depot}} €<br/>
  {% if moins48h(reservation.dateDebut) == false %}Acompte : {{reservation.arrhes}}{% else %}Total : {{reservation.arrhes + reservation.promotion}}{% endif %} €
</p>

{#% if reservation.optionRoses or reservation.optionChampagne or reservation.optionLitBebe or reservation.optionMenageSupp or reservation.optionTaxi or reservation.optionFrigo %}

    <h3>Options :</h3>
    <p>
        {% if reservation.optionRoses %}
            {% set optRoses = reservation.optionRoses %}
            {% transchoice optRoses %}
                {1} 1 bouquet de 25 roses rouges | ]1,Inf] %optRoses% bouquets de 25 roses rouges
            {% endtranschoice %}
            <br/>
        {% endif %}
        {% if reservation.optionChampagne %}
            {% set optChampagne = reservation.optionChampagne %}
            {% transchoice optChampagne %}
                {1} 1 bouteille de champagne | ]1,Inf] %optChampagne% bouteilles de champagne
            {% endtranschoice %}
            <br/>
        {% endif %}
        {% if reservation.optionMenageSupp %}
            {% set optMenage = reservation.optionMenageSupp %}
            {% transchoice optMenage %}
                {1} 1 ménage supplémentaire | ]1,Inf] %optMenage% ménages supplémentaire
            {% endtranschoice %}
            <br/>
        {% endif %}
        {% if reservation.optionLitBebe %}
            Location lit bébé
            <br/>
        {% endif %}
        {% if reservation.optionTaxi %}
            Taxi à l'arrivée
            <br/>
        {% endif %}
        {% if reservation.optionFrigo %}
            Remplissage du frigo
            <br/>
        {% endif %}
    </p>
{% endif %#}
<h3>Options :</h3>

{% if reservation.optionSupplementaires == "1" %}
  <p style="color: #A42242;">Je souhaite être recontacté par Class Appart pour bénéficier d’options supplémentaires lors de mon séjour</p>
{% endif %}

{#<p>
{% for option in reservation.options %}
    {{ option.quantity }} {{ option.name }}{% if option.amount is not null %} : {{ option.amount*option.quantity|price_format }} €{% endif %}<br/>
{% else %}
    Aucune option
{% endfor %}
</p> #}


<h3>Locataire :</h3>
Identifiant : {{reservation.utilisateur.username}}<br/>
Nom : {{reservation.utilisateur.nom}}<br/>
Prénom : {{reservation.utilisateur.prenom}}<br/>
Email : {{reservation.utilisateur.email}}<br/>
Téléphone : {{reservation.utilisateur.telephone}}<br/>
Adresse : {{reservation.utilisateur.adresseFact}} {{reservation.utilisateur.adresse2Fact}}<br/>
Code Postal : {{reservation.utilisateur.codePostalFact}}<br/>
Ville : {{reservation.utilisateur.villeFact}}<br/>
Pays : {{reservation.utilisateur.paysFact}}<br/>


{% if reservation.parent is not null %}
  <h3>Extension de la réservation <a href="{{ (schemeAndHttpHost is defined ? schemeAndHttpHost : app.request.getSchemeAndHttpHost())~path('pat_reservation_show', {"id_reservation": reservation.parent.id}) }}" class="colorLink">n°{{reservation.parent.Reference}}</a>, effectué le {{ reservation.parent.createdAt | date('d/m/Y') }} : </h3>

  <p>
    Date d’arrivée : {{reservation.parent.dateDebut | date("d/m/Y")}}<br />
    Date de départ : {{reservation.parent.dateFin | date("d/m/Y")}}<br />
    Référence : {{reservation.parent.appartement.reference}}<br />
    Adresse : {{reservation.parent.appartement.adresse}} {{reservation.parent.appartement.adresse2}}<br />
    Ville : {{reservation.parent.appartement.ville}}<br />
    Surface : {{reservation.parent.appartement.surfaceSol}}m&sup2;<br />
  </p>
{% endif %}
