{% if moins48h(reservation.dateDebut) == false %}
  <form action="{{ path('pat_front_reservation_confirmation') }}" method="post" {{ form_enctype(formPaymentMode) }}>
    <div class="row-fluid">
      <div class="span5 right">
        {{ form_label(formPaymentMode.mode_paiement) }}
      </div>
      <div class="span7 left">
        {{ form_errors(formPaymentMode.mode_paiement) }}
        {{ form_widget(formPaymentMode.mode_paiement) }}
      </div>
      {{ form_rest(formPaymentMode) }}
    </div>
    <br/>

    <table style="width: 100%; display: none;" id="submit1">
      <tr>
        <td class="left" style="vertical-align: bottom; width: 30%;">
          {#<a href="#{#{{ path('pat_front_reservation_options') }}" class="btn btn-large">{{ 'Revenir' | trans }}</a>#}
        </td>
        <td class="center" style="width: 30%;">
          <img src="{{ asset('bundles/patfront/images/paiement_securise.png') }}" alt="" style="margin-bottom: 0;"/>
        </td>
        <td class="right" style="vertical-align: bottom; width: 40%;">
          <input type="submit" class="btn btn-primary btn-large" name="bouton_paiement" value="{{ 'Continuer' | trans }}"/>
        </td>
      </tr>
    </table>
  </form>
{% endif %}

{#
{% debug etransactions %}
{% debug formData %}
#}

<form method="POST" action="{{ etransactions[etransactions.mode].url }}">
  {% for key,value in formData %}
    <input type="hidden" name="{{ key }}" value="{{ value }}">
  {% endfor %}


  <table style="width: 100%" id="submit2">
    <tr>
      <td class="left" style="vertical-align: bottom; width: 30%;">
        {#<a href="#{#{{ path('pat_front_reservation_options') }}" class="btn btn-large">{{ 'Revenir' | trans }}</a>#}
      </td>
      <td class="center" style="width: 30%;">
        <img src="{{ asset('bundles/patfront/images/paiement_securise.png') }}" alt="" style="margin-bottom: 0;"/>
      </td>
      <td class="right" style="vertical-align: bottom; width: 40%;">
        <input type="submit" class="btn btn-primary btn-large" value="{{ 'Procéder au paiement' | trans }}"/>
      </td>
    </tr>
  </table>
</form>

<script type="text/javascript">
$(document).ready(function() {
  $("#frontpaymentmode_mode_paiement").change(function () {
    if ($("#frontpaymentmode_mode_paiement_0").is(":checked")) {
      $("#submit1").hide();
      $("#submit2").show();
    } else {
      $("#submit2").hide();
      $("#submit1").show();
    }
  });
});
</script>
