<div class="RecapAppart">
  <div class="row-fluid">
    <div class="span2">
      {% set appartement_img = get_img(appartement.id) %}
      {% set myimg = '/images/photos/biens/'~appartement.reference~'/'~appartement_img %}
      {% if appartement_img %}
        <img src="{{ myimg | imagine_filter('appartement_mini') }}" border="0" />
      {% endif %}
    </div>
    <div class="span10">
      <div class="reference">
        {{ appartement.nomResidence }} | Réf : {{ appartement.reference }}
      </div>
      <div class="titreAppart">
        {{ appartement.type | capitalize }} {% if appartement.nbPieces %}T{{ appartement.nbPieces }}{% endif %} - {{ appartement.surfaceSol }} m<sup>2</sup>
        {{ 'situe a' | trans }} {{ appartement.ville }}
      </div>
      {% if appartement.tarif is not null %}
        <div class="tarifAppart">
          {#{{ 'A partir de' | trans }} <strong>{{ get_lower_loyer(appartement.tarif)|number_format }}</strong> {{ '€/nuit' | trans }}
          {{ 'A partir de' | trans }} <strong>{{ appartement.tarif.loyerNuit|number_format }}</strong> {{ '€/nuit' | trans }}#}
        </div>
      {% endif %}
    </div>
  </div>
</div>
