<div id="contentDroit">
  <div id="contenuCentrale">
    <div id="titreAccueil">
      <h1><span>{{ 'Réservation' | trans }}</span></h1>
    </div>

    <table class="resa-steps-table" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="{{ asset('bundles/patfront/images/1.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/2.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/3.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/4.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/5.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/6a.jpg') }}" alt=""/></td>
      </tr>
      <tr>
        <td>Budget</td>
        <td>Options</td>
        <td>Infos client</td>
        <td>Récapitulatif</td>
        <td>Paiement</td>
        <td class="active">Confirmation</td>
      </tr>
    </table>

    <div class="confirmation-resa">
      <h3>Demande de paiement</h3>
      <p>
        Envoyer un email de paiement au locataire ?
        <a href="{{ path('pat_admin_reservation_confirmation_send_to_locataire') }}" class="btn btn-primary btn-sm">Oui</a> ou
        <a href="{{ path('pat_admin_dashboard') }}" class="btn btn-default btn-sm">Non</a> ?
      </p>
    </div>
  </div><!-- /contenuCentrale -->
</div><!-- /contentDroit -->
