<div id="contentDroit">
  <div id="contenuCentrale">
    <div id="titreAccueil">
      <h1><span>{{ 'Réservation' | trans }}</span></h1>
    </div>

    <table class="resa-steps-table" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="{{ asset('bundles/patfront/images/1a.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/2.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/3.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/4.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/5.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/6.jpg') }}" alt=""/></td>
      </tr>
      <tr>
        <td class="active">Budget</td>
        <td>Options</td>
        <td>Infos client</td>
        <td>Récapitulatif</td>
        <td>Paiement</td>
        <td>Confirmation</td>
      </tr>
    </table>

    <div class="blocResa">
      {% include "PatFrontBundle:Reservation:_recapitulatifAppart.html.twig" %}

      <div class="info text-big">
        <p>{{ "Date d'arrivée" | trans }} : <strong>{{ app.session.get('resa_date_debut') }}</strong></p>
        <p>{{ 'Date de départ' | trans }} : <strong>{{ app.session.get('resa_date_fin') }}</strong></p>
        <p>{{ 'Nombre de nuits' | trans }} : <strong>{{ app.session.get('resa_nbnuits') }}</strong></p>
        {% if max_personne %}
          <form action="#" method="post">
            <div>
              {{ 'Nombre de personnes' | trans }} :
              <span class="bold" id="selectnbpersonne" data-max-personne="{{ max_personne }}">{{ nb_personnes }}</span>
              {#<input type="hidden" id="selectnbpersonne" name="nbpersonne" value="{{ nb_personnes }}">#}
              {#<select id="selectnbpersonne" name="nbpersonne">#}
              {#{% for i in 1..max_personne %}#}
              {#<option value="{{ i }}" {% if i == nb_personnes %} selected="selected" {% endif %}>{{ i }}</option>#}
              {#{% endfor %}#}
              {#</select>#}
            </div>

            <div>
              {{ "Nombre d'adultes" | trans }} * :
              <select name="nbadulte" id="selectnbadulte">
                {% for adulte in 1..max_personne %}
                  <option value="{{ adulte }}" {{ adulte == nb_adultes ? 'selected="selected"' }}>{{ adulte }}</option>
                {% endfor %}
              </select>
            </div>


            <div>
              {{ "Nombre d'enfants (-18 ans)" | trans }} * :
              <select name="nbenfant" id="selectnbenfant">
                {% for enfant in 0..(max_personne - 1) %}
                  <option value="{{ enfant }}" {{ enfant == nb_enfants ? 'selected="selected"' }}>{{ enfant }}</option>
                {% endfor %}
              </select>
            </div>
            <p style="font-size: 11px;">* {{ 'Maximum autorisées' | trans }}</p>

            {% if appartement.nbLitSimple > 0 or appartement.nbLitSimpleDouble > 0 %}
              <div>
                {{ "Nombre de lits simples à préparer" | trans }} :
                <select name="nb_lit_simple" id="selectnb_lit_simple" data-nb-lit-simple="{{ appartement.nbLitSimple }}" data-nb-lit-simple-double="{{ appartement.nbLitSimpleDouble }}">
                  {% for lit_simple in 0..appartement.nbLitSimple %}
                    <option value="{{ lit_simple }}" {{ lit_simple == nb_lit_simples ? 'selected="selected"' }}>{{ lit_simple }}</option>
                  {% endfor %}

                  {% if appartement.nbLitSimpleDouble > 0 %}
                    {% set index = appartement.nbLitSimple + 1 %}

                    {% for double_lit_simple in 1..appartement.nbLitSimpleDouble %}
                      <option value="{{ index }}" {{ index == nb_lit_simples ? 'selected="selected"' }} class="js-lit-simple-double">{{ index }} **</option>
                      {% set index = index + 1 %}
                      <option value="{{ index }}" {{ index == nb_lit_simples ? 'selected="selected"' }} class="js-lit-simple-double">{{ index }} **</option>
                      {% set index = index + 1 %}
                    {% endfor %}
                  {% endif %}
                </select>
              </div>
            {% endif %}

            {% if appartement.nbLitDouble > 0 or appartement.nbLitSimpleDouble > 0 %}
              <div>
                {{ "Nombre de lits double à préparer" | trans }} :
                <select name="nb_lit_double" id="selectnb_lit_double" data-nb-lit-double="{{ appartement.nbLitDouble }}">
                  {% for lit_double in 0..appartement.nbLitDouble %}
                    <option value="{{ lit_double }}" {{ lit_double == nb_lit_doubles ? 'selected="selected"' }}>{{ lit_double }}</option>
                  {% endfor %}

                  {% if appartement.nbLitSimpleDouble > 0 %}
                    {% set index = appartement.nbLitDouble + 1 %}

                    {% for double_lit_simple in 1..appartement.nbLitSimpleDouble %}
                      <option value="{{ index }}" {{ index == nb_lit_doubles ? 'selected="selected"' }} class="js-lit-simple-double">{{ index }} **</option>
                      {% set index = index + 1 %}
                    {% endfor %}
                  {% endif %}
                </select>
              </div>
            {% endif %}

            {% if appartement.nbLitSimpleDouble > 0 %}
              <p style="font-size: 11px;">** 2 lits simples convertible en 1 lit double</p>
            {% endif %}

            {% if appartement.nbCanapeConvertible > 0 %}
              <div>
                {{ "Nombre de canapés convertibles à préparer" | trans }} :
                <select name="nb_canape_convertible" id="selectnb_canape_convertible">
                  {% for canape_convertible in 0..appartement.nbCanapeConvertible %}
                    <option value="{{ canape_convertible }}" {{ canape_convertible == nb_canape_convertibles ? 'selected="selected"' }}>{{ canape_convertible }}</option>
                  {% endfor %}
                </select>
              </div>
            {% endif %}
          </form>
        {% endif %}
      </div>

      <div class="tarifs">
        <div class="row-fluid">
          <div class="span6">
            {% if moins48h(app.session.get('resa_date_debut')) == false %}{{ 'Acompte' | trans }} : <strong><span id="montant_acompte">{{ app.session.get('resa_arrhes')|price_format }} €</span></strong><br/>{% endif %}
            {{ 'Dépôt de garantie' | trans }} : <strong><span id="montant_depot">{{ app.session.get('resa_depot')|price_format }} €</span></strong>
          </div>
          <div class="span6 right">
            {{ 'Prix du Séjour' | trans }} : <strong><span id="montant_total" style="font-size: 24px;">{{ montant_total|price_format }} €</span></strong>
          </div>
        </div>
      </div>

      <div class="boutons">
        <div class="row-fluid">
          <div class="span6">
            <a class="btn btn-large" href="{{ path('pat_front_appartement_detail', { 'url_bien': appartement.urlFr} ) }}">{{ 'Revenir' | trans }}</a>
          </div>
          <div class="span6 right">
            <a class="btn btn-primary btn-large" href="{{ path('pat_front_reservation_options') }}">{{ 'Continuer' | trans }}</a>
          </div>
        </div>
      </div>
    </div>

  </div><!-- /contenuCentrale -->
</div><!-- /contentDroit -->


<script type="text/javascript">
var saveData = function(nbPersonnes, nbAdultes, nbEnfants, nbLitSimple, nbLitDouble, nbCanapeConvertible) {
  var request = $.ajax({
    type: "POST",
    url: "{{ path('pat_front_reservation_actualise_nbpersonne') }}",
    data: {
      nbpersonne: nbPersonnes,
      nbadulte: nbAdultes,
      nbenfant: nbEnfants,
      nb_lit_simple: nbLitSimple,
      nb_lit_double: nbLitDouble,
      nb_canape_convertible: nbCanapeConvertible
    },
    cache: false,
  });

  request.done(function (result) {
    result = $.parseJSON(result);
    $("#montant_total").html(result['montant_total']);
    $("#montant_acompte").html(result['acompte']);
  });

  request.fail(function (jqXHR, textStatus) {
    alert("Request failed: " + textStatus);
  });
}

var removeLitSimpleDouble = function($select, quantity) {
  quantity = -1 * quantity;
  var $element = $select.find('.js-lit-simple-double').slice(quantity);

  $element.remove();
}

var addLitSimpleDouble = function($select, quantity) {
  var nbOptions = $select.find('option').length;

  for (var i = 0; i < quantity; ++i) {
    var $option = $('<option class="js-lit-simple-double" value="' + (nbOptions + i) + '">' + (nbOptions + i) + ' *</option>');
    $select.append($option);
  }
}

var updateLitSelects = function() {
  var nbLitSimpleDoubleUtilise = 0;

  var $nbLitSimpleSelect = $('#selectnb_lit_simple');
  var $nbLitDoubleSelect = $('#selectnb_lit_double');

  var parsed = parseInt($nbLitSimpleSelect.data('nb-lit-simple'));
  var originalNbLitSimple = isNaN(parsed) ? 0 : parsed;
  parsed = parseInt($nbLitDoubleSelect.data('nb-lit-double'));
  var originalNbLitDouble = isNaN(parsed) ? 0 : parsed;
  parsed = parseInt($nbLitSimpleSelect.data('nb-lit-simple-double'));
  var originalNbLitSimpleDouble = isNaN(parsed) ? 0 : parsed;

  parsed = parseInt($nbLitSimpleSelect.val());
  var nbLitSimple = isNaN(parsed) ? 0 : parsed;
  parsed = parseInt($nbLitDoubleSelect.val());
  var nbLitDouble = isNaN(parsed) ? 0 : parsed;

  var nbLitSimpleDoubleUtiliseInSimple = 0; // Nombre de lit Simple/Double utilise en lit simple
  var nbLitSimpleDoubleUtiliseInDouble = 0; // Nombre de lit Simple/Double utilise en lit double

  if (nbLitSimple > originalNbLitSimple) {
    nbLitSimpleDoubleUtiliseInSimple = Math.ceil((nbLitSimple - originalNbLitSimple) / 2);
    nbLitSimpleDoubleUtilise = nbLitSimpleDoubleUtilise + nbLitSimpleDoubleUtiliseInSimple;
  }

  if (nbLitDouble > originalNbLitDouble) {
    nbLitSimpleDoubleUtiliseInDouble = (nbLitDouble - originalNbLitDouble);
    nbLitSimpleDoubleUtilise = nbLitSimpleDoubleUtilise + nbLitSimpleDoubleUtiliseInDouble;
  }

  // Nombre de lit Simple/Double present dans le sélect
  var nbLitSimpleDoubleInSimple = $nbLitSimpleSelect.find('.js-lit-simple-double').length;
  var nbLitSimpleDoubleInDouble = $nbLitDoubleSelect.find('.js-lit-simple-double').length;

  var nbLitSimpleDoubleAvailableInSimple = (originalNbLitSimpleDouble - nbLitSimpleDoubleUtilise + nbLitSimpleDoubleUtiliseInSimple) * 2;
  var nbLitSimpleDoubleAvailableInDouble = originalNbLitSimpleDouble - nbLitSimpleDoubleUtilise + nbLitSimpleDoubleUtiliseInDouble;

  var nbToRemoveOrAddInSimple = Math.abs(nbLitSimpleDoubleAvailableInSimple - nbLitSimpleDoubleInSimple);

  if (nbLitSimpleDoubleInSimple > nbLitSimpleDoubleAvailableInSimple) {
    removeLitSimpleDouble($nbLitSimpleSelect, nbToRemoveOrAddInSimple);
  }
  if (nbLitSimpleDoubleInSimple < nbLitSimpleDoubleAvailableInSimple) {
    addLitSimpleDouble($nbLitSimpleSelect, nbToRemoveOrAddInSimple);
  }

  var nbToRemoveOrAddInDouble = Math.abs(nbLitSimpleDoubleAvailableInDouble - nbLitSimpleDoubleInDouble);

  if (nbLitSimpleDoubleInDouble > nbLitSimpleDoubleAvailableInDouble) {
    removeLitSimpleDouble($nbLitDoubleSelect, nbToRemoveOrAddInDouble);
  }
  if (nbLitSimpleDoubleInDouble < nbLitSimpleDoubleAvailableInDouble) {
    addLitSimpleDouble($nbLitDoubleSelect, nbToRemoveOrAddInDouble);
  }
}


$(document).ready(function() {

  $('#selectnb_lit_simple, #selectnb_lit_double, #selectnb_canape_convertible').change(function() {
    var selectNbAdulte = $('#selectnbadulte');
    var selectNbEnfant = $('#selectnbenfant');
    var selectNbLitSimple = $('#selectnb_lit_simple');
    var selectNbLitDouble = $('#selectnb_lit_double');
    var selectNbCanapeConvertible = $('#selectnb_canape_convertible');

    var parsed = parseInt(selectNbAdulte.val());
    var nbAdultes = isNaN(parsed) ? 1 : parsed;
    parsed = parseInt(selectNbEnfant.val());
    var nbEnfants = isNaN(parsed) ? 0 : parsed;
    var nbPersonnes = nbAdultes + nbEnfants;
    var nbLitSimples = selectNbLitSimple.val() || 0;
    var nbLitDoubles = selectNbLitDouble.val() || 0;
    var nbCanapeConvertibles = selectNbCanapeConvertible.val() || 0;

    saveData(nbPersonnes, nbAdultes, nbEnfants, nbLitSimples, nbLitDoubles, nbCanapeConvertibles);

    return false;
  });

  $("#selectnbadulte, #selectnbenfant").change(function() {
    var selectNbAdulte = $('#selectnbadulte');
    var selectNbEnfant = $('#selectnbenfant');
    var selectNbLitSimple = $('#selectnb_lit_simple');
    var selectNbLitDouble = $('#selectnb_lit_double');
    var selectNbCanapeConvertible = $('#selectnb_canape_convertible');

    // var info = $("#selectnbpersonne").val();
    var parsed = parseInt(selectNbAdulte.val());
    var nbAdultes = isNaN(parsed) ? 1 : parsed;
    parsed = parseInt(selectNbEnfant.val());
    var nbEnfants = isNaN(parsed) ? 0 : parsed;
    var nbPersonnes = nbAdultes + nbEnfants;
    var nbLitSimples = selectNbLitSimple.val() || 0;
    var nbLitDoubles = selectNbLitDouble.val() || 0;
    var nbCanapeConvertibles = selectNbCanapeConvertible.val() || 0;

    var maxPersonne = $('#selectnbpersonne').data('max-personne');

    var nbEnfantPossible = maxPersonne - nbAdultes;

    selectNbEnfant.html('<option value="0" ' + (nbEnfants == 0 ? "selected" : "") + '>0</option>');

    for (var i = 1; i <= nbEnfantPossible; i++) {
      selectNbEnfant.append('<option value="' + i + '" ' + (nbEnfants == i ? "selected" : "") + '>' + i + '</option>');
    }

    if (nbPersonnes <= maxPersonne) {
      $('#selectnbpersonne').html(nbPersonnes);
    }

    saveData(nbPersonnes, nbAdultes, nbEnfants, nbLitSimples, nbLitDoubles, nbCanapeConvertibles);

    return false;
  });

  updateLitSelects();

  $('#selectnb_lit_simple, #selectnb_lit_double').change(function () {
    updateLitSelects();
  });

  setTimeout(function() {
    window.location.href = "{{ path('pat_front_appartement_detail', { 'url_bien': appartement.urlFr} ) }}";
  }, {{ settimeout }});

});
</script>
