<div id="contentDroit">
  <div id="contenuCentrale">
    <div id="titreAccueil">
      <h1><span>{{ 'Réservation' | trans }}</span></h1>
    </div>

    <table class="resa-steps-table" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="{{ asset('bundles/patfront/images/1.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/2.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/3.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/4.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/5.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/6a.jpg') }}" alt=""/></td>
      </tr>
      <tr>
        <td>Budget</td>
        <td>Options</td>
        <td>Infos client</td>
        <td>Récapitulatif</td>
        <td>Paiement</td>
        <td class="active">Confirmation</td>
      </tr>
    </table>

    <div class="confirmation-resa {{status}}">
      {% if status == "effectue" %}
        <h3>Paiement CB accepté !</h3>
        <p>
          Votre réservation est maintenant prise en compte.<br/>
          Un email de confirmation va vous être envoyé.
        </p>

        <div class="signature">
          En vous remerciant pour votre confiance,<br/>
          A très bientôt,<br/>
          Toute l’équipe ClassAppart
        </div>
      {% elseif status == "refuse" %}
        <h3>Problème avec votre paiement</h3>
        <p>
          Votre paiement a malheureusement échoué, mais ne vous inquiétez pas : aucun montant n'a été prélevé sur votre carte.
        </p>
        {% if transactionResponse %}
          <p>Le système bancaire a retourné l'information suivante :</p>
          <ul><li>{{ transactionResponse }}</li></ul>
        {% endif %}

        <h4>Raisons possibles de l'échec de votre carte de paiement :</h4>
        <p>
        <ol>
          <li>Vous avez saisi des données incorrectes, vérifiez que vos données sont correctes et réessayez.</li>
          <li>Votre carte n'est pas suffisamment approvisionnée. Vérifiez l’approvisionnement de votre carte et réessayez.</li>
          <li>ClassAppart n'a de cesse de vous protéger contre toute sorte de fraude, pouvant parfois occasionner le refus d’un achat parfaitement légitime.</li>
        </ol>
        </p>

        <h4>Que faire ?</h4>
        <p>
          Nous vous conseillons d'<a href="{{ path('pat_front_reservation_paiement') }}">utiliser une autre carte bancaire ou de changer de mode de paiement</a>.
        </p>

        <div class="signature">
          A très bientôt,<br/>
          Toute l’équipe ClassAppart
        </div>
      {% elseif status == "annule" %}
        <h3>Transaction bancaire annulée !</h3>
        <p>
          La transaction a été annulée.
          <br/><br/>
          Nous vous invitons à <a href="{{ path('pat_front_reservation_paiement') }}">réessayer ou à changer de mode de paiement</a>.
        </p>

        <p>
          N’hésitez pas à <a href="{{ path('pat_front_formulaire_contact') }}">nous contacter</a> afin de pouvoir poursuivre votre réservation.
        </p>

        <div class="signature">
          A très bientôt,<br/>
          Toute l’équipe ClassAppart
        </div>
      {% elseif status == "cheque" %}
        <h3>Votre demande de réservation a bien été prise en compte !</h3>
        <p>
          Nous attendons maintenant de réceptionner votre chèque bancaire afin de pouvoir confirmer votre réservation.
        </p>

        <div class="signature">
          A très bientôt,<br/>
          Toute l’équipe ClassAppart
        </div>
      {% elseif status == "virement" %}
        <h3>Votre demande de réservation a bien été prise en compte !</h3>
        <p>
          Nous attendons maintenant le versement par virement afin de pouvoir confirmer votre réservation.
        </p>

        <div class="signature">
          A très bientôt,<br/>
          Toute l’équipe ClassAppart
        </div>
      {% endif %}
    </div>

  </div><!-- /contenuCentrale -->
</div><!-- /contentDroit -->
