{% block content %}
  <div id="contentDroit">
    <div id="contenuCentrale">
      <div id="titreAccueil">
        <h1><span>{{ 'Réservation' | trans }}</span></h1>
      </div>

      <table class="resa-steps-table" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="{{ asset('bundles/patfront/images/1.jpg') }}" alt=""/></td>
          <td><img src="{{ asset('bundles/patfront/images/2.jpg') }}" alt=""/></td>
          <td><img src="{{ asset('bundles/patfront/images/3a.jpg') }}" alt=""/></td>
          <td><img src="{{ asset('bundles/patfront/images/4.jpg') }}" alt=""/></td>
          <td><img src="{{ asset('bundles/patfront/images/5.jpg') }}" alt=""/></td>
          <td><img src="{{ asset('bundles/patfront/images/6.jpg') }}" alt=""/></td>
        </tr>
        <tr>
          <td>Budget</td>
          <td>Options</td>
          <td class="active">Infos client</td>
          <td>Récapitulatif</td>
          <td>Paiement</td>
          <td>Confirmation</td>
        </tr>
      </table>

      <div class="blocResa">
        <div class="RecapAppart">
          <div class="row-fluid">
            <div class="span2">
              {% set appartement_img = get_img(appartement.id) %}
              {% set myimg = '/images/photos/biens/'~appartement.reference~'/'~appartement_img %}
              {% if appartement_img %}
                <img src="{{ myimg | imagine_filter('appartement_mini') }}" border="0" />
              {% endif %}
            </div>
            <div class="span10">
              <div class="reference">
                {{ appartement.nomResidence }} | Réf : {{ appartement.reference }}
              </div>
              <div class="titreAppart">
                {{ appartement.type | capitalize }} {% if appartement.nbPieces %}T{{ appartement.nbPieces }}{% endif %} - {{ appartement.surfaceSol }} m<sup>2</sup>
                {{ 'situe a' | trans }} {{ appartement.ville }}
              </div>
              {% if appartement.tarif is not null %}
                <div class="tarifAppart">
                  {#{{ 'A partir de' | trans }} <strong>{{ get_lower_loyer(appartement.tarif)|number_format }}</strong> {{ '€/nuit' | trans }}
                  {{ 'A partir de' | trans }} <strong>{{ appartement.tarif.loyerNuit|number_format }}</strong> {{ '€/nuit' | trans }}#}
                </div>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="tarifs">
          <h4>{{ "J'ai déjà un compte" | trans }} :</h4>
          <form action="{{ path("fos_user_security_check") }}" method="post">
            <div class="row-fluid">
              <div class="span5">
                <input type="text" id="username" name="_username" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" />
              </div>
              <div class="span5">
                <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" />
              </div>
              <div class="span2">
                <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" style="margin: 5px 0;" />
              </div>
            </div>
          </form>
        </div>

        <div class="info" style="border-top: 1px solid #C5C5C5;">
          <h4>{{ 'Nouveau Compte' | trans }} :</h4>

          {% if message %}
            <div class="BlockResaMessageErreur">{{ message }}</div>
          {% endif %}

          {% include "PatUtilisateurBundle:Registration:_inscriptionResidentForm.html.twig" %}
        </div>

        <div class="tarifs">
          <div class="row-fluid">
            <div class="span6">
              {% if moins48h(app.session.get('resa_date_debut')) == false %}{{ 'Acompte' | trans }} : <strong><span id="montant_acompte">{{ app.session.get('resa_arrhes') | price_format }} €</span></strong><br/>{% endif %}
              {{ 'Dépôt de garantie' | trans }} : <strong><span id="montant_depot">{{ app.session.get('resa_depot')|price_format }} €</span></strong>
            </div>
            <div class="span6 right">
              {{ 'Prix du Séjour' | trans }} : <strong><span style="font-size: 24px;">{{ montant_total | price_format }} €</span></strong>
            </div>
          </div>
        </div>

        <div class="boutons">
          <div class="row-fluid">
            <div class="span6">
              <a class="btn btn-large" href="{{ path('pat_front_reservation_options') }}">{{ 'Revenir' | trans }}</a>
            </div>
            <div class="span6 right">
              {#<a class="btn btn-primary btn-large" href="{{ path('pat_front_reservation_inscription') }}">{{ 'Continuer' | trans }}</a>#}
            </div>
          </div>
        </div>
      </div>

    </div><!-- /contenuCentrale -->
  </div><!-- /contentDroit -->


{% endblock %}

<script type="text/javascript">
$(document).ready(function() {

  setTimeout(function() {
    window.location.href = "{{ path('pat_front_appartement_detail', { 'url_bien': appartement.urlFr} ) }}";
  }, {{ settimeout }});

});
</script>
