{{ 'Bonjour' | trans }},
Nous vous informons que votre règlement de {{reservation.arrhes}} euros nous est bien parvenu.

Votre réservation est à présent finalisé, nous vous remercions d’avoir choisi Class Appart.

Vous pouvez vous connecter dans la partie Mon compte sur {{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }} pour consulter le détail de vos réservations.


Votre réservation
----------------------------------------------------------------------------------------

{% include "PatFrontBundle:Reservation:_mail_recapitulatif_reservation.txt.twig" %}

----------------------------------------------------------------------------------------
Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.
À bientôt sur class-appart.com.
----------------------------------------------------------------------------------------


Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.