{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>{{ 'Bonjour' | trans }},</p>

  <p>Nous vous informons que votre <strong>demande de paiement sécurisé par carte bancaire</strong> a bien été pris en compte et nous vous remercions d’avoir choisi Class Appart.</p>

  <p>Vous pouvez vous connecter dans la partie <a href="{{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }}">Mon compte</a> sur class-appart.com pour consulter le détail de vos réservations.</p>


  <h3 class="titleResa">Votre réservation</h3>
  <hr>

  {% include "PatFrontBundle:Reservation:_mail_recapitulatif_reservation.html.twig" %}

  <hr>

  <p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_front_formulaire_contact') }}">nous contacter</a>.</p>
  <p>À bientôt sur class-appart.com.</p>

  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>

{% endblock %}
