{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>{{ 'Bonjour' | trans }},</p>
  <p>Nous vous informons que votre <strong>demande de réservation</strong> a bien été prise en compte.</p>

  <p class="strongFont">Vous avez choisi de régler la somme de <strong>{{reservation.arrhes}} euro par chèque</strong>. Nous vous prions de nous faire parvenir votre règlement à l’adresse suivante :</p>

  <p class="center">Class Appart<br/>
    15 Passage Lonjon<br/>
    34000 Montpellier</p>

  <h3 class="titleResa">Votre demande de réservation</h3>
  <hr>

  {% include "PatFrontBundle:Reservation:_mail_recapitulatif_reservation.html.twig" %}

  <hr>

  <p>Vous pouvez vous connecter dans la partie <a href="{{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }}">Mon compte</a> sur class-appart.com pour consulter le détail de vos réservations.</p>
  <p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_front_formulaire_contact') }}">nous contacter</a>.</p>
  <p>À bientôt sur class-appart.com.</p>

  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>

{% endblock %}
