{{ 'Bonjour' | trans }},
Nous vous informons que la demande de réservation {{reservation.reference}}  sur {{ app.request.getSchemeAndHttpHost()~path('pat_admin_appartement_detail', {"id": reservation.appartement.id}) }} pour votre appartement :
Réf :  {{ reservation.appartement.reference }} - {{ reservation.appartement.surfaceSol }} m2 situé à {{ reservation.appartement.adresse }} {% if reservation.appartement.adresse2 %} {{ reservation.appartement.adresse2 }} {% endif %} {{ reservation.appartement.ville.nom }} {{ reservation.appartement.ville.codePostal }} {{ reservation.appartement.ville.pays }} a été annulée le {{ "now" | date('d/m/Y à H\\hi') }}.

Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter .

À bientôt sur class-appart.com.

----------------------------------------------------------------------------------------

Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.