{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>{{ 'Bonjour' | trans }},</p>
  <p>
    Nous vous informons que la demande de réservation <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_admin_appartement_detail', {"id": reservation.appartement.id}) }}" class="colorLink">{{reservation.reference}}</a> pour votre appartement : <br />
    Réf :  {{ reservation.appartement.reference }} - {{ reservation.appartement.surfaceSol }} m<sup>2</sup> situé à {{ reservation.appartement.adresse }} {% if reservation.appartement.adresse2 %} {{ reservation.appartement.adresse2 }} {% endif %} {{ reservation.appartement.ville.nom }} {{ reservation.appartement.ville.codePostal }} {{ reservation.appartement.ville.pays }} a été annulée le {{ "now" | date('d/m/Y à H\\hi') }}.
    <br /><br />
    Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter . <br />
    <br /><br />
    À bientôt sur class-appart.com.
  </p>

  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>
{% endblock %}
