{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>{{ 'Bonjour' | trans }},</p>

  <p>Nous vous informons que <strong>votre paiement par carte bancaire a échoué</strong>, mais aucun montant n’a été prélevé sur votre carte.</p>

  <p>
    Message de la banque :<br/>
    {{transactionResponse}}
  </p>

  <p>Nous vous conseillons d’utiliser une autre carte bancaire ou de changer de mode de paiement, par chèque ou par virement.</p>

  <p>N’hésitez pas à <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_front_formulaire_contact') }}">nous contacter</a> si vous rencontrez à nouveau des difficultés.</p>


  <h3 class="titleResa">Votre demande de réservation</h3>
  <hr>

  <p>Réservation <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_reservation_show', {"id_reservation": reservation.id}) }}" class="colorLink">{{reservation.Reference}}</a></p>

  <p>
    Date d’arrivée : {{reservation.dateDebut | date("d/m/Y")}}<br />
    Date de départ : {{reservation.dateFin | date("d/m/Y")}}<br />
    Nombre de personnes : {{reservation.nbPersonne}}<br />
    Nombre d'adultes : {{reservation.nbAdulte}}<br />
    Nombre d'enfants (-18 ans) : {{reservation.nbEnfant}}<br />
    Référence : {{reservation.appartement.reference}}<br />
    Adresse : {{reservation.appartement.adresse}} {{reservation.appartement.adresse2}}<br />
    Ville : {{reservation.appartement.ville}}<br />
    Surface : {{reservation.appartement.surfaceSol}}m2<br />
  </p>

  <h3>Votre séjour :</h3>
  <p>
    <strong>Prix du séjour : {{reservation.tarif}} €</strong><br/>
    Dépôt de garantie : {{reservation.depot}} €<br/>
    {% if moins48h(reservation.dateDebut) == false %}Acompte{% else %}Total{% endif %} : {{reservation.arrhes}} €
  </p>
  {#% if reservation.optionRoses or reservation.optionChampagne or reservation.optionLitBebe or reservation.optionMenageSupp or reservation.optionTaxi or reservation.optionFrigo %}

      <h3>Options :</h3>
      <p>
          {% if reservation.optionRoses %}
              {% set optRoses = reservation.optionRoses %}
              {% transchoice optRoses %}
                  {1} 1 bouquet de 25 roses rouges | ]1,Inf] %optRoses% bouquets de 25 roses rouges
              {% endtranschoice %}
              <br/>
          {% endif %}
          {% if reservation.optionChampagne %}
              {% set optChampagne = reservation.optionChampagne %}
              {% transchoice optChampagne %}
                  {1} 1 bouteille de champagne | ]1,Inf] %optChampagne% bouteilles de champagne
              {% endtranschoice %}
              <br/>
          {% endif %}
          {% if reservation.optionMenageSupp %}
              {% set optMenage = reservation.optionMenageSupp %}
              {% transchoice optMenage %}
                  {1} 1 ménage supplémentaire | ]1,Inf] %optMenage% ménages supplémentaire
              {% endtranschoice %}
              <br/>
          {% endif %}
          {% if reservation.optionLitBebe %}
              Location lit bébé
              <br/>
          {% endif %}
          {% if reservation.optionTaxi %}
              Taxi à l'arrivée
              <br/>
          {% endif %}
          {% if reservation.optionFrigo %}
              Remplissage du frigo
              <br/>
          {% endif %}
      </p>
  {% endif %#}
  <h3>Options :</h3>
  <p>
    {% for option in reservation.options %}
      {{ option.quantity }} {{ option.name }}{% if option.amount is not null %} : {{ option.amount*option.quantity|price_format }} €{% endif %}<br/>
    {% else %}
      Aucune option
    {% endfor %}
  </p>


  <h3>Locataire :</h3>
  Identifiant : {{reservation.utilisateur.username}}<br/>
  Nom : {{reservation.utilisateur.nom}}<br/>
  Prénom : {{reservation.utilisateur.prenom}}<br/>
  Email : {{reservation.utilisateur.email}}<br/>
  Téléphone : {{reservation.utilisateur.telephone}}<br/>
  Adresse : {{reservation.utilisateur.adresseFact}} {{reservation.utilisateur.adresse2Fact}}<br/>
  Code Postal : {{reservation.utilisateur.codePostalFact}}<br/>
  Ville : {{reservation.utilisateur.villeFact}}<br/>
  Pays : {{reservation.utilisateur.paysFact}}<br/>

  <hr>

  <p>Vous pouvez vous connecter dans la partie <a href="{{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }}">Mon compte</a> sur class-appart.com pour consulter le détail de vos réservations.</p>
  <p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_front_formulaire_contact') }}">nous contacter</a>.</p>
  <p>À bientôt sur class-appart.com.</p>

  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>

{% endblock %}
