{{ 'Bonjour' | trans }},
Nous vous informons que votre demande de réservation via nos services a bien été prise en compte.

Afin de valider votre réservation, merci de nous faire parvenir la somme de {% if moins48h(reservation.dateDebut) == false %}{{reservation.arrhes}}{% else %}{{reservation.arrhes + reservation.promotion}}{% endif %} euros correspondant {% if moins48h(reservation.dateDebut) == false %}à l’acompte{% else %}au total{% endif %} de votre séjour.

Cliquez sur ce lien pour finaliser votre réservation et choisir votre mode de paiement sur le site de Class Appart : {{ app.request.getSchemeAndHttpHost()~path('pat_reservation_validation', { ref_reservation: reservation.reference }) }}



Votre demande de réservation
----------------------------------------------------------------------------------------

{% include "PatFrontBundle:Reservation:_mail_recapitulatif_reservation.txt.twig" %}

----------------------------------------------------------------------------------------
Vous pouvez vous connecter dans la partie Mon compte sur {{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }} pour consulter le détail de vos réservations.
Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.
À bientôt sur class-appart.com.
----------------------------------------------------------------------------------------


Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.