{{ 'Bonjour' | trans }},
Nous vous informons que votre demande de réservation a bien été prise en compte.

Vous avez choisi de régler la somme de {{reservation.arrhes}} euro par chèque. Nous vous prions de nous faire parvenir votre règlement à l’adresse suivante :

Class Appart
15 Passage Lonjon
34000 Montpellier


Votre demande de réservation
----------------------------------------------------------------------------------------

{% include "PatFrontBundle:Reservation:_mail_recapitulatif_reservation.txt.twig" %}

----------------------------------------------------------------------------------------
Vous pouvez vous connecter dans la partie Mon compte sur {{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }} pour consulter le détail de vos réservations.
Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.
À bientôt sur class-appart.com.
----------------------------------------------------------------------------------------


Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.