{{ 'Bonjour' | trans }},
Nous vous informons que votre demande de réservation a été annulé ainsi que votre paiement par carte bancaire, de ce fait aucun montant n’a été prélevé sur votre carte.

Message de la banque :
{{transactionResponse}}

N’hésitez pas à nous contacter afin de pouvoir poursuivre votre réservation.


Votre demande de réservation
----------------------------------------------------------------------------------------
Réservation {{reservation.Reference}}


Date d’arrivée : {{reservation.dateDebut | date("d/m/Y")}}
Date de départ : {{reservation.dateFin | date("d/m/Y")}}
Nombre de personnes : {{reservation.nbPersonne}}
Nombre d'adultes : {{reservation.nbAdulte}}
Nombre d'enfants (-18 ans) : {{reservation.nbEnfant}}
Référence : {{reservation.appartement.reference}}
Adresse : {{reservation.appartement.adresse}} {{reservation.appartement.adresse2}}
Ville : {{reservation.appartement.ville}}
Surface : {{reservation.appartement.surfaceSol}}m2

Votre séjour :
Prix du séjour : {{reservation.tarif}} €
Dépôt de garantie : {{reservation.depot}} €
{% if moins48h(reservation.dateDebut) == false %}Acompte{% else %}Total{% endif %} : {{reservation.arrhes}} €

{#% if reservation.optionRoses or reservation.optionChampagne or reservation.optionLitBebe or reservation.optionMenageSupp or reservation.optionTaxi or reservation.optionFrigo %}
Options :
{% if reservation.optionRoses %}
    {% set optRoses = reservation.optionRoses %}
    {% transchoice optRoses %}
        {1} 1 bouquet de 25 roses rouges | ]1,Inf] %optRoses% bouquets de 25 roses rouges
    {% endtranschoice %}
{% endif %}
{% if reservation.optionChampagne %}
    {% set optChampagne = reservation.optionChampagne %}
    {% transchoice optChampagne %}
        {1} 1 bouteille de champagne | ]1,Inf] %optChampagne% bouteilles de champagne
    {% endtranschoice %}
{% endif %}
{% if reservation.optionMenageSupp %}
    {% set optMenage = reservation.optionMenageSupp %}
    {% transchoice optMenage %}
        {1} 1 ménage supplémentaire | ]1,Inf] %optMenage% ménages supplémentaire
    {% endtranschoice %}
{% endif %}
{% if reservation.optionLitBebe %}
    Location lit bébé
{% endif %}
{% if reservation.optionTaxi %}
    Taxi à l'arrivée
{% endif %}
{% if reservation.optionFrigo %}
    Remplissage du frigo
{% endif %}
{% endif %#}
Options :
{% for option in reservation.options %}
{{ option.quantity }} {{ option.name }}{% if option.amount is not null %} : {{ option.amount*option.quantity|price_format }} €{% endif %}
{% else %}
Aucune option
{% endfor %}




Locataire :
Identifiant : {{reservation.utilisateur.username}}
Nom : {{reservation.utilisateur.nom}}
Prénom : {{reservation.utilisateur.prenom}}
Email : {{reservation.utilisateur.email}}
Téléphone : {{reservation.utilisateur.telephone}}
Adresse : {{reservation.utilisateur.adresseFact}} {{reservation.utilisateur.adresse2Fact}}
Code Postal : {{reservation.utilisateur.codePostalFact}}
Ville : {{reservation.utilisateur.villeFact}}
Pays : {{reservation.utilisateur.paysFact}}

----------------------------------------------------------------------------------------
Vous pouvez vous connecter dans la partie Mon compte sur {{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }} pour consulter le détail de vos réservations.
Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.
À bientôt sur class-appart.com.
----------------------------------------------------------------------------------------


Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
