{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>{{ 'Bonjour' | trans }},</p>
  <p>Nous vous informons que votre <strong>demande de réservation</strong> via nos services a bien été prise en compte.</p>

  <p class="strongFont">Afin de valider votre réservation, <br>
    merci de nous faire parvenir la somme de <strong>{% if moins48h(reservation.dateDebut) == false %}{{reservation.arrhes}}{% else %}{{reservation.arrhes + reservation.promotion}}{% endif %} euros</strong> correspondant {% if moins48h(reservation.dateDebut) == false %}à l’acompte{% else %}au total{% endif %} de votre séjour, <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_reservation_validation', { ref_reservation: reservation.reference }) }}">en cliquant ici</a>.</p>

  <p>Vous finaliserez ainsi votre réservation en choisissant votre mode de paiement (CB, chèque ou virement banquaire) sur le site de Class Appart.<br>
    Munissez vous de vos identifiants Class Appart pour vous connecter à votre espace locataire.


  <h3 class="titleResa">Votre demande de réservation</h3>
  <hr>

  {% include "PatFrontBundle:Reservation:_mail_recapitulatif_reservation.html.twig" %}

  <hr>

  <p>Vous pouvez vous connecter dans la partie <a href="{{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }}">Mon compte</a> sur class-appart.com pour consulter le détail de vos réservations.</p>
  <p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_front_formulaire_contact') }}">nous contacter</a>.</p>
  <p>À bientôt sur class-appart.com.</p>

  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>

{% endblock %}
