<div id="contentDroit">
  <div id="contenuCentrale">
    <div id="titreAccueil">
      <h1><span>{{ 'Réservation' | trans }}</span></h1>
    </div>

    <table class="resa-steps-table" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="{{ asset('bundles/patfront/images/1.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/2a.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/3.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/4.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/5.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/6.jpg') }}" alt=""/></td>
      </tr>
      <tr>
        <td>Budget</td>
        <td class="active">Options</td>
        <td>Infos client</td>
        <td>Récapitulatif</td>
        <td>Paiement</td>
        <td>Confirmation</td>
      </tr>
    </table>

    <form id="options_choice_form" action="" method="post" {{ form_enctype(form) }}>
      <div class="blocResa">
        {% include "PatFrontBundle:Reservation:_recapitulatifAppart.html.twig" %}
        <div class="RecapAppart">
          <p>{{ "Date d'arrivée" | trans }} : <strong>{{ app.session.get('resa_date_debut') }}</strong> &nbsp;&nbsp;&nbsp; {{ 'Date de départ' | trans }} : <strong>{{ app.session.get('resa_date_fin') }}</strong></p>
          <p>{{ 'Nombre de nuits' | trans }} : <strong>{{ app.session.get('resa_nbnuits') }}</strong> &nbsp;&nbsp;&nbsp; {{ 'Nombre de personnes' | trans }} : {{ app.session.get('resa_nbpersonne') }}</p>
        </div>

        <div class="info">

          <p>
            {% if param_options.value['contenu'] is defined %}{{ param_options.value['contenu'] | raw }}{% endif %}
          </p>

          {#
          <h4>Choisissez vos options :</h4>
          <div class="row-fluid">
              <div class="span2 right">
                  {{ form_widget(form.option_roses) }}
              </div>
              <div class="span10" style="padding-top: 4px;">
                  Bouquet de 25 roses rouges : <strong>{{ get_prix_roses() | price_format }}€ TTC</strong>
              </div>
          </div>
          <div class="row-fluid">
              <div class="span2 right">
                  {{ form_widget(form.option_champagne) }}
              </div>
              <div class="span10" style="padding-top: 4px;">
                  Bouteille de champagne : <strong>{{ get_prix_champagne() | price_format }}€ TTC</strong>
              </div>
          </div>
          <div class="row-fluid">
              <div class="span2 right">
                  {{ form_widget(form.option_menage_supp) }}
              </div>
              <div class="span10" style="padding-top: 4px;">
                  Ménage supplémentaire : <strong>
                  {% if appartement.nbPieces == 1 %}
                      {{ get_prix_menage_studio() | price_format }}€ TTC
                  {% elseif appartement.nbPieces == 2 %}
                      {{ get_prix_menageT2() | price_format }}€ TTC
                  {% elseif appartement.nbPieces == 3 %}
                      {{ get_prix_menageT3() | price_format }}€ TTC
                  {% else %}
                      {{ get_prix_menageT4() | price_format }}€ TTC
                  {% endif %}
                  </strong> (rappel : le ménage de fin de séjour est inclus)
              </div>
          </div>
          <div class="row-fluid">
              <div class="span2 right">
                  {{ form_widget(form.option_lit_bebe) }}
              </div>
              <div class="span10" style="padding-top: 4px;">
                  Location lit bébé : <strong>{{ get_prix_lit_bebe() | price_format }}€ TTC</strong> le séjour (enfant moins de 3 ans , draps non fournis)
              </div>
          </div>

          <br/>
          <h4>Options à régler au moment de l’achat ou de la livraison <small>(cochez, nous vous contacterons)</small> :</h4>

          <div class="row-fluid">
              <div class="span2 right">
                  {{ form_widget(form.option_taxi) }}
              </div>
              <div class="span10" style="padding-top: 4px;">
                  Taxi à l'arrivée : tarif selon trajet et horaires
              </div>
          </div>
          <div class="row-fluid">
              <div class="span2 right">
                  {{ form_widget(form.option_frigo) }}
              </div>
              <div class="span10" style="padding-top: 4px;">
                  Remplissage du frigo pour votre arrivée
              </div>
          </div>

          <br/> #}

          <div class="row-fluid">
            <div class="span2 right">
              {{ form_widget(form.option_supplementaires) }}
            </div>
            <div class="span10" style="padding-top: 4px; color: #A42242;">
              Je souhaite être recontacté par Class Appart pour bénéficier d’options supplémentaires lors de mon séjour.
            </div>
          </div>

          <br />

          <h4>Services inclus :</h4>
          <div class="row-fluid">
            <div class="span11 offset1">
              <ul class="includedServices">
                <li><strong>Accueil et départ directement à l’appartement.</strong></li>
                <li><strong>Le linge de maison dans l’appartement :</strong> serviettes et linge de lit.</li>
                <li><strong>Un kit d’accueil : comprenant le nécessaire pour démarrer votre séjour.</strong></li>
                <li><strong>Cuisine équipée :</strong> préparer de bons petits plats et profiter de vos déjeuner set repas grâce à un équipement complet de nos appartements.</li>
                <li><strong>Internet gratuit.</strong></li>
                <li><strong>Une assistance technique :</strong> pendant les heures d'ouverture.</li>
                <li><strong>Le ménage de fin de séjour.</strong></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="tarifs">
          <div class="row-fluid">
            <div class="span6">
              {% if moins48h(app.session.get('resa_date_debut')) == false %}{{ 'Acompte' | trans }} : <strong><span id="montant_acompte">{{ app.session.get('resa_arrhes') | price_format }} €</span></strong><br/>{% endif %}
              {{ 'Dépôt de garantie' | trans }} : <strong><span id="montant_depot">{{ app.session.get('resa_depot')|price_format }} €</span></strong>
            </div>
            <div class="span6 right">
              {{ 'Prix du Séjour' | trans }} : <strong><span id="montant_total" style="font-size: 24px;">{{ montant_total | price_format }} €</span></strong>
            </div>
          </div>
        </div>

        <div class="boutons">
          <div class="row-fluid">
            <div class="span6">
              <a class="btn btn-large" href="{{ path('pat_front_reservation_calcul_montant') }}">{{ 'Revenir' | trans }}</a>
            </div>
            <div class="span6 right">
              <input type="submit" class="btn btn-primary btn-large" value="{{ 'Continuer' | trans }}" />
            </div>
          </div>
        </div>
      </div>
      {{ form_rest(form) }}
    </form>

  </div><!-- /contenuCentrale -->
</div><!-- /contentDroit -->


<script type="text/javascript">
$(document).ready(function() {
  $("#options_choice_form select, #options_choice_form input").change(function() {
    var opt_roses = $("#frontoptionsreservation_option_roses").val();
    var opt_champagne = $("#frontoptionsreservation_option_champagne").val();
    var opt_menage = $("#frontoptionsreservation_option_menage_supp").val();
    var opt_lit_bebe = $("#frontoptionsreservation_option_lit_bebe").is(':checked');

    var DATA = {'opt_roses': opt_roses,
      'opt_champagne': opt_champagne,
      'opt_menage': opt_menage,
      'opt_lit_bebe': opt_lit_bebe};

    var request = $.ajax({
      type: "POST",
      url: "{{ path('pat_front_reservation_actualise_options') }}",
      data: DATA,
      cache: false
    });

    request.done(function (result) {
      result = $.parseJSON(result);
      $("#montant_total").html(result['montant_total']);
      $("#montant_acompte").html(result['acompte']);
    });

    request.fail(function (jqXHR, textStatus) {
      alert("Request failed: " + textStatus);
    });

    return false;
  });

  setTimeout(function() {
    window.location.href = "{{ path('pat_front_appartement_detail', { 'url_bien': appartement.urlFr} ) }}";
  }, {{ settimeout }});

});
</script>
