<div id="contentDroit">
  <div id="contenuCentrale">
    <div id="titreAccueil">
      <h1><span>{{ 'Réservation' | trans }}</span></h1>
    </div>

    <table class="resa-steps-table" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="{{ asset('bundles/patfront/images/1.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/2.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/3.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/4.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/5a.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/6.jpg') }}" alt=""/></td>
      </tr>
      <tr>
        <td>Budget</td>
        <td>Options</td>
        <td>Infos client</td>
        <td>Récapitulatif</td>
        <td class="active">Paiement</td>
        <td>Confirmation</td>
      </tr>
    </table>

      {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error" style="margin-top:2rem;">
          {{ flashMessage }}
        </div>
      {% endfor %}

    <div class="blocResa">
      {% include "PatFrontBundle:Reservation:_recapitulatifAppart.html.twig" %}

      <div class="info">
        <div class="row-fluid text-big">
          <div class="span6 right">
            {{ 'Prix du Séjour' | trans }} :
          </div>
          <div class="span6">
            <strong>{{ get_tarif(reservation)|price_format }} €</strong>
          </div>
        </div>

        <div class="row-fluid text-big">
          <div class="span6 right">
            {{ 'Dépôt de garantie' | trans }} :
          </div>
          <div class="span6">
            <strong>{{ reservation.depot }} €</strong>
          </div>
        </div>

        <br/>

        <div class="row-fluid text-big">
          <div class="span6 right">
            <strong>{% if moins48h(app.session.get('resa_date_debut')) == false %}{{ 'Acompte à verser' | trans }}{% else %}{{ 'Total à verser' | trans }}{% endif %} :</strong>
          </div>
          <div class="span6">
            <strong style="font-size: 24px; background-color: #99CC00;">&nbsp;{{ reservation.arrhes|price_format }} €&nbsp;</strong>
          </div>
        </div>

        <br/>

        <div class="row-fluid">
          <div class="span12">
            <span style="font-size:24px; color:#858585;">Conditions pour réserver :</span>
            <ul style="list-style-type: none;">
              <li style="margin-top:10px; color:#A42242; font-weight: bold; line-height: auto;">1. Si votre réservation a lieu plus de 16 jours avant votre arrivée :<br/>
                <span style="display: inline-block; margin-left: 20px;font-weight: normal; color: #000;">Le solde ainsi que le dépôt de garantie correspondant à <strong>{{appartement.tarif.depot}} %</strong> de votre location, soit <strong>{{ (reservation.tarif - reservation.arrhes + reservation.depot)|number_format(2) }} euros</strong> devra être versé <strong>15 jours</strong> avant votre arrivée. Un message vous sera envoyé pour procéder au paiement sécurisé par carte bancaire.</span></li>
              <li style="margin-top:10px; color:#A42242; font-weight: bold; line-height: auto;"><span style="color:#A42242">2. Si votre réservation a lieu entre 15 jours et 48h avant votre arrivée :<br/>
                  <span style="display: inline-block; margin-left: 20px;font-weight: normal; color: #000;"><strong>48 heures</strong> après votre réservation, un message vous parviendra pour valider votre réservation et procéder au paiement sécurisé par carte bancaire du solde ainsi que du dépôt de garantie correspondant à <strong>{{appartement.tarif.depot}} %</strong> de votre location, soit <strong>{{ (reservation.tarif - reservation.arrhes + reservation.depot)|number_format(2) }} euros</strong>.</span></li>
              <li style="margin-top:10px; color:#A42242; font-weight: bold; line-height: auto;"><span style="color:#A42242">3. Si votre réservation a lieu moins de 48h avant votre arrivée (uniquement CB) :<br/>
                  <span style="display: inline-block; margin-left: 20px;font-weight: normal; color: #000;">Vous devez payer <strong>100%</strong> de votre réservation ainsi que le dépôt de garantie correspondant à <strong>{{appartement.tarif.depot}} %</strong> de votre location, soit <strong>{{ reservation.tarif + reservation.depot }} euros</strong>.</span></li>
            </ul>



          </div>
        </div>
      </div>

      <div class="boutons">
        <div class="row-fluid">
          <strong>{{ 'Votre réservation est garantie pendant 15 minutes.' | trans }}</strong>
          {{ "Si le paiement n'a pas été effectué après ce délai, vous devrez procéder à une nouvelle réservation." | trans }}
        </div>

        <br/>
        <div class="row-fluid center">
          {% include "PatFrontBundle:Reservation:_payment_form.html.twig" %}
        </div>
      </div>
    </div>
  </div><!-- /contenuCentrale -->
</div><!-- /contentDroit -->

<script type="text/javascript">
$(document).ready(function() {

  setTimeout(function() {
    window.location.href = "{{ path('pat_front_appartement_detail', { 'url_bien': appartement.urlFr} ) }}";
  }, {{ settimeout }});

});
</script>
