{% extends '::email_layout.html.twig' %}

{% block title %}{{ 'Titre' | trans }}{% endblock %}
{% block subtitle %}{{ 'Sous-Titre' | trans }}{% endblock %}

{% block content %}
{{ 'Bonjour' | trans }},
Nous vous informons que votre demande de réservation a bien été prise en compte.
Merci de prendre contact avec votre propriétaire (coordonnées ci-dessous) pour organiser votre séjour.
En cas de difficulté, veuillez nous contacter sur contact@class-appart.com
Vous pouvez vous connecter dans la partie Mon compte sur {{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }} pour consulter le détail de vos réservations.

Votre demande de réservation
----------------------------------------------------------------------------------------
Réservation {{reservation.Reference}}
Effectué le {{ 'now' | date('d/m/Y') }}


Date d’arrivée : {{reservation.dateDebut | date("d/m/Y")}}
Date de départ : {{reservation.dateFin | date("d/m/Y")}}
Nombre de personnes : {{reservation.nbPersonne}}
Nombre d'adultes : {{ reservation.nbAdulte }}
Nombre d'enfants (-18 ans) : {{ reservation.nbEnfant }}
Référence : {{appartement.reference}}
Adresse : {{appartement.adresse}} {{appartement.adresse2}}
Ville : {{appartement.ville}}
Surface : {{appartement.surfaceSol}}

Budget : {{reservation.tarif}} € (sous réserve de demandes ou contraintes spécifiques)


Locataire :
Identifiant : {{locataire.username}}
Nom : {{locataire.nom}}
Prénom : {{locataire.prenom}}
Email : {{locataire.email}}
Téléphone : {{locataire.telephone}}
Adresse : {{locataire.adresseFact}} {{locataire.adresse2Fact}}
Code Postal : {{locataire.codePostalFact}}
Ville : {{locataire.villeFact}}
Pays : {{locataire.paysFact}}


    Contact propriétaire
    Identifiant : {{proprietaire.id}}
    Nom : {{proprietaire.nom}}
    Prénom : {{proprietaire.prenom}}
    Email : {{proprietaire.email}}
    {{proprietaire.telephone}}

----------------------------------------------------------------------------------------
Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.
À bientôt sur class-appart.com.
----------------------------------------------------------------------------------------


Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.

{% endblock %}
