{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>{{ 'Bonjour' | trans }},</p>
  <p>Nous vous informons que votre demande de réservation a bien été prise en compte.<br/>
    Merci de prendre contact avec votre propriétaire (coordonnées ci-dessous) pour organiser votre séjour.</p>
  <p>En cas de difficulté, veuillez <a href="mailto:contact@class-appart.com">nous contacter</a>.</p>
  <p>Vous pouvez vous connecter dans la partie <a href="{{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }}">Mon compte</a> sur class-appart.com pour consulter le détail de vos réservations.</p>

  <h3>Votre demande de réservation</h3>
  <hr>

  <p>Réservation <span class="colorLink">{{reservation.Reference}}</span></p>
  <p>Effectué le {{ 'now' | date('d/m/Y') }}</p>

  <p>
    Date d’arrivée : {{reservation.dateDebut | date("d/m/Y")}}<br />
    Date de départ : {{reservation.dateFin | date("d/m/Y")}}<br />
    Nombre de personnes : {{reservation.nbPersonne}}<br />
    Nombre d'adultes : {{reservation.nbAdulte}}<br />
    Nombre d'enfants (-18 ans) : {{reservation.nbEnfant}}<br />
    Référence : {{appartement.reference}}<br />
    Adresse : {{appartement.adresse}} {{appartement.adresse2}}<br />
    Ville : {{appartement.ville}}<br />
    Surface : {{appartement.surfaceSol}}<br />
  </p>
  <p>Budget : {{reservation.tarif}} € (sous réserve de demandes ou contraintes spécifiques)</p>


  <h3>Locataire :</h3>
  Identifiant : {{locataire.username}}<br/>
  Nom : {{locataire.nom}}<br/>
  Prénom : {{locataire.prenom}}<br/>
  Email : {{locataire.email}}<br/>
  Téléphone : {{locataire.telephone}}<br/>
  Adresse : {{locataire.adresseFact}} {{locataire.adresse2Fact}}<br/>
  Code Postal : {{locataire.codePostalFact}}<br/>
  Ville : {{locataire.villeFact}}<br/>
  Pays : {{locataire.paysFact}}<br/>

  <div class="center">
    <h3>Contact propriétaire</h3>
    Identifiant : {{proprietaire.id}}<br/>
    Nom : {{proprietaire.nom}}<br/>
    Prénom : {{proprietaire.prenom}}<br/>
    Email : {{proprietaire.email}}<br/>
    {{proprietaire.telephone}}
  </div>

  <hr>
  <p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.</p>
  <p>À bientôt sur class-appart.com.</p>
  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>

{% endblock %}
