<div id="contentDroit">
  <div id="contenuCentrale">
    <div id="titreAccueil">
      <h1><span>{{ 'Réservation' | trans }}</span></h1>
    </div>

    <table class="resa-steps-table" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="{{ asset('bundles/patfront/images/1.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/2.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/3.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/4a.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/5.jpg') }}" alt=""/></td>
        <td><img src="{{ asset('bundles/patfront/images/6.jpg') }}" alt=""/></td>
      </tr>
      <tr>
        <td>Budget</td>
        <td>Options</td>
        <td>Infos client</td>
        <td class="active">Récapitulatif</td>
        <td>Paiement</td>
        <td>Confirmation</td>
      </tr>
    </table>

    <br/>
    {% if app.session.started %}
      {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
          {{ flashMessage }}
        </div>
      {% endfor %}

      {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
          {{ flashMessage }}
        </div>
      {% endfor %}
    {% endif %}


    <div class="blocResa">
      {% include "PatFrontBundle:Reservation:_recapitulatifAppart.html.twig" %}

      <div class="tarifs text-big">
        <div class="row-fluid">
          <div class="span4 right">
            {{ 'Prix du Séjour' | trans }} :
          </div>
          <div class="span8">
            <strong><span id="prix_sejour">{{ montant_total | price_format }}</span> €</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 right">
            {{ 'Dépôt de garantie' | trans }} * :
          </div>
          <div class="span8">
            <strong>{{ app.session.get('resa_depot') | price_format }} €</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 right">
            {{ 'Total' | trans }} ** :
          </div>
          <div class="span8">
            <strong><span id="montant_total">{{ montant_total + app.session.get('resa_depot') | price_format }}</span> €</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 right">
            {% if moins48h(app.session.get('resa_date_debut')) == false %}{{ 'Acompte' | trans }}{% else %}{{ 'Total à verser' | trans }}{% endif %} :
          </div>
          <div class="span8">
            <strong><span id="montant_a_verser">{{ app.session.get('resa_arrhes') | price_format }}</span> €</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 right">
            {{ "Date d'arrivée" | trans }} :
          </div>
          <div class="span8">
            <strong>{{ app.session.get('resa_date_debut') }}</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 right">
            {{ 'Date de départ' | trans }} :
          </div>
          <div class="span8">
            <strong>{{ app.session.get('resa_date_fin') }}</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 right">
            {{ 'Nombre de nuits' | trans }} :
          </div>
          <div class="span8">
            <strong>{{ app.session.get('resa_nbnuits') }}</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 right">
            {{ 'Nombre de personnes' | trans }} :
          </div>
          <div class="span8">
            <strong>{{ app.session.get('resa_nbpersonne') }}</strong>
          </div>
        </div>
        <p style="font-size: 11px; margin:0;">* {{ 'Notif Depot Garantie' | trans }}</p>
        <p style="font-size: 11px; margin:0;">** {{ 'Notif Montant Total' | trans }}</p>
      </div>

      <div class="info" style="border-top: 1px solid #C5C5C5;">
        <div class="row-fluid">
          <div class="span12">
            <h4 style="margin-bottom: 0;">{{ locataire.civilite }} {{ locataire.nom }} {{ locataire.prenom }}</h4>
            <div class="row-fluid">
              <div class="span8 offset4">
                {% if app.user and app.user.type == "Administrateur" %}
                  {% if locataire.type == "Propriétaire" %}
                    <a href="{{ path('pat_admin_proprietaire_editer', { id_proprio: locataire.id }) }}" style="font-size: 11px;">({{ 'modifier le locataire' | trans }})</a>
                  {% else %}
                    <a href="{{ path('pat_admin_locataire_editer', { id_locataire: locataire.id }) }}" style="font-size: 11px;">({{ 'modifier le locataire' | trans }})</a>
                  {% endif %}
                {% else %}
                  <a href="{{ path('fos_user_profile_edit') }}" style="font-size: 11px;">({{ 'consulter ou modifier mes coordonnées' | trans }})</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            {{ 'Identifiant locataire' | trans }} :
          </div>
          <div class="span8">
            <strong>{{ locataire.username }}</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 right">
            {{ 'Adresse de Facturation' | trans }} :
          </div>
          <div class="span8">
            <strong>{{ locataire.adresseFact }}</strong>
          </div>
        </div>
        {% if locataire.adresse2Fact %}
          <div class="row-fluid">
            <div class="span4 right">
              {{ 'Adresse (Suite)' | trans }} :
            </div>
            <div class="span8">
              <strong>{{ locataire.adresse2Fact }}</strong>
            </div>
          </div>
        {% endif %}
        <div class="row-fluid">
          <div class="span4 right">
            {{ 'Code Postal' | trans }} :
          </div>
          <div class="span8">
            <strong>{{ locataire.codePostalFact }}</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 right">
            {{ 'Ville' | trans }} :
          </div>
          <div class="span8">
            <strong>{{ locataire.villeFact }}</strong>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 right">
            {{ 'Pays' | trans }} :
          </div>
          <div class="span8">
            <strong>{{ locataire.paysFact }}</strong>
          </div>
        </div>
      </div>

      {% if app.user and app.user.type == "Administrateur" %}
        <div class="boutons">
          <form action="#" method="post">
            <div class="row-fluid" style="margin-bottom: 4px;">
              <div class="span4 right">
                <label style="line-height: 40px"><strong>Extension de la réservation</strong></label>
              </div>
              <div class="span8">
                <select id="bookinkList" style="width:100%; margin:5px 0;">
                  <option>Sélectionnez une réservation</option>
                {% for ref, title in bookingList %}
                  {% set selected = '' %}
                  {% if parentReservation is not null and ref == parentReservation.reference %}
                    {% set selected = 'selected' %}
                  {% endif %}
                  <option value="{{ref}}" {{selected}}>{{title}}</option>
                {% endfor %}
                </select>
                <button type="submit" value="Details" name="Details" class="btn btn-secondary">
                  {{'Afficher les détails de la réservation'}}
                </button>
                {% if parentReservation is not null %}
                  <button type="button" class="btn btn-secondary js-remove-parent-reservation">
                    <i class="fas fa-times"></i> {{'Effacer'}}
                  </button>
                {% endif %}
                <br/>
                <input type="hidden" class="js-parent-reservation-input" placeholder="Référence" name="parent_reservation" value="{{ parentReservation is not null ? parentReservation.reference }}">
                {#
                {% if parentReservation is not null %}
                  <a href="#" class="m-l-sm js-remove-parent-reservation"><i class="fas fa-times"></i> Supprimer</a>
                {% endif %}
                #}
              </div>
            </div>
            {% if parentReservation is not null %}
              <div class="row-fluid js-parent-reservation-detail">
                <table class="ListeAppart" style="width: 100%;">
                  <tr>
                    <td class="ListeAppart1" style="width: 40%;">
                      <div class="titreAppart">
                        {{ parentReservation.utilisateur.prenom }} {{ parentReservation.utilisateur.nom }} <small>({{ parentReservation.utilisateur.username }})</small><br/>
                        Réservation : {{ parentReservation.reference }}
                      </div>
                      <div class="reference">
                        <a href="{{ path('pat_admin_tarif_ajouter',{ 'id_bien': parentReservation.appartement.reference }) }}" target="_blank">
                          Bien : Réf. {{ parentReservation.appartement.reference }}
                        </a>
                      </div>
                    </td>
                    <td class="ListeAppart1 center" style="width: 20%;">
                      Réservé le {{ parentReservation.createdAt|date("d/m/Y") }}
                    </td>
                    <td class="ListeAppart1 center" style="width: 20%;">
                      Du {{ parentReservation.dateDebut|date("d/m/Y") }}<br/>au {{ parentReservation.dateFin|date("d/m/Y") }}
                    </td>
                    <td class="ListeAppart2" style="width: 20%;">
                      {% include "PatCompteBundle:Reservation:_resa_status.html.twig" with {"resa" : parentReservation} %}

                      <br/><br/>
                      <a href="{{ path('pat_admin_reservation_show', { 'id_reservation': parentReservation.id }) }}" target="_blank">
                        <i class="icon-search"></i>
                      </a>
                      {#
                        &nbsp;&nbsp;&nbsp;
                      <a href="{{ path('pat_admin_reservation_modifier', { 'id_reservation': parentReservation.id }) }}" target="_blank">
                        <i class="icon-edit"></i>
                      </a>
                        #}
                    </td>
                  </tr>
                </table>
              </div>
            {% endif %}
            <div class="row-fluid">
              <div class="row-fluid">
                <div class="span4 right">
                  <label style="line-height: 40px;"><strong>Promotion/Majoration</strong></label>
                </div>
                <div class="span8 input-append">
                  <input id="promo_resa" type="number" name="promo_resa"><span class="add-on" style="margin-top: 5px;">€</span>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4 right">
                <label for="site_tiers_resa" style="line-height: 40px;"><strong>Site tiers</strong></label>
              </div>
              <div class="span8">
                <select name="site_tiers_resa" id="site_tiers_resa" style="margin: 5px 0;">
                  <option value="null">Aucun</option>
                  {% for siteTier in siteTiers %}
                    <option data-auto-payment="{{ siteTier.autoPayment }}" value="{{ siteTier.id }}">{{ siteTier.name }} {{ true == siteTier.autoPayment ? '*' }}</option>
                  {% endfor %}
                </select>
                <div class="alert alert-warning hide auto-payment-message m-b-0">
                  Paiement automatique
                </div>
              </div>
            </div>
            <hr>
            <div class="row-fluid">
              <div class="span6">
                <a href="{{ path('pat_admin_reservation_recherche_locataire') }}" class="btn btn-large">{{ 'Revenir' | trans }}</a>
              </div>
              <div class="span6 right">
                <input type="submit" value="{{ 'Valider la réservation' | trans }}" name="Validation" class="btn btn-primary btn-large"/>
              </div>
            </div>
          </form>
        </div>
      {% else %}
        <div class="boutons">
          <form action="#" method="post">
            <div class="row-fluid">
              <div class="span1 right">
                <input type="checkbox" name="cgv"/>
              </div>
              <div class="span11" style="padding-top: 4px;">
                {{ 'Je déclare avoir lu et accepté les' | trans }} <a target="_blank" href="{{ path('pat_front_contenu_page', { 'url_page': 'conditions-generales-de-location' }) }}">{{ 'Conditions Générales de Location' | trans }}</a>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span1 right">
                <input type="checkbox" name="documents"/>
              </div>
              <div class="span11" style="padding-top: 4px;">
                {{ "Je déclare sur l'honneur disposer de tous les documents nécessaires pour la signature du contrat" | trans }}
              </div>
            </div>
            <br/>
            <div class="row-fluid">
              <div class="span6">
                <a href="{{ path('pat_front_reservation_options') }}" class="btn btn-large">{{ 'Revenir' | trans }}</a>
              </div>
              <div class="span6 right">
                <input type="submit" value="{{ 'Valider ma réservation' | trans }}" name="Validation" class="btn btn-primary btn-large"/>
              </div>
            </div>
          </form>
        </div>
      {% endif %}
    </div>

  </div><!-- /contenuCentrale -->
</div><!-- /contentDroit -->

{% if app.user and app.user.type == "Administrateur" %}
<script type="text/javascript">
function refreshAmounts() {
  var prixSejour = {{ montant_total }};
  var montantTotal = {{ montant_total + app.session.get('resa_depot') }};
  $('#prix_sejour').html(prixSejour + toFloat($('#promo_resa').val()));
  $('#montant_total').html(montantTotal + toFloat($('#promo_resa').val()));
{% if moins48h(app.session.get('resa_date_debut')) == true %}
  $('#montant_a_verser').html(montantTotal + toFloat($('#promo_resa').val()));
{% endif %}
}

function toFloat(str) {
  if (str == '') {
    return 0;
  }
  return parseFloat(str.replace(',', '.'));
}

function clearSelection() {
  $('#bookinkList').val('');
  $('.js-parent-reservation-input').val('');
  $('.js-parent-reservation-detail').remove();
  $('.js-remove-parent-reservation').remove();
}

$(document).ready(function() {

  $('#promo_resa').change(function() {
    refreshAmounts();
  });

  $('#promo_resa').keyup(function() {
    refreshAmounts();
  });

  $('#site_tiers_resa').change(function() {
//    console.log($(this));
//    console.log($(this).find('option:selected'));
    if (true == $(this).find('option:selected').data('auto-payment')) {
      $('.auto-payment-message').removeClass('hide');
    } else {
      $('.auto-payment-message').addClass('hide');
    }
  });

  $('.js-remove-parent-reservation').on('click', function(e) {
    e.preventDefault();
{#    $(this).remove();#}
    clearSelection();
  });

  $('#bookinkList').change(function() {
    var value = this.value;
    if (value) {
      $('.js-parent-reservation-input').val(value);
    }
    else {
      clearSelection();
    }
  });

});
</script>
{% endif %}

<script type="text/javascript">
$(document).ready(function() {

  setTimeout(function() {
    window.location.href = "{{ path('pat_front_appartement_detail', { 'url_bien': appartement.urlFr} ) }}";
  }, {{ settimeout }});

});
</script>
