
<div id="blocReservation">
  <div class="blocReservationTitre"><span>{{ 'Disponibilité' | trans }} &</span> {{ 'Réservation' | trans }}</div>
  {% if message %}
    <div style="text-align:center; color:red; padding-left:5px; padding-right:5px; margin-bottom:10px;">{{ message|raw }}</div>
  {% endif %}
  <form id="form-select-date" action="{{ path('pat_front_reservation_selection_date') }}" method="post" {{ form_enctype(formSelectDateReservation) }}>
    {#<form action="{{ path('pat_front_formulaire_contact') }}" method="post" {{ form_enctype(formSelectDateReservation) }}>#}
    {{ form_errors(formSelectDateReservation) }}

    <div class="row-fluid contentDateResa">
      {% if app.user and app.user.hasRole('ROLE_ADMIN') %}
        {% set class_cal_in = 'cal_date_in_admin' %}
        {% set class_cal_out = 'cal_date_out_admin' %}
      {% else %}
        {% set class_cal_in = 'cal_date_in' %}
        {% set class_cal_out = 'cal_date_out' %}
      {% endif %}
      <div class="row-fluid">{{ form_widget(formSelectDateReservation.datedebut, { 'attr': {'class': 'champ-date '~class_cal_in,'placeholder': 'Arrivée' | trans} }) }}</div>
      <div class="row-fluid">{{ form_widget(formSelectDateReservation.datefin, { 'attr': {'class': 'champ-date '~class_cal_out,'placeholder': 'Départ' | trans} }) }}</div>
      <div class="row-fluid">{{ form_widget(formSelectDateReservation.ref) }}</div>
    </div>
    {{ form_widget(formSelectDateReservation.ref) }}
    <div class="center">
      <input type="submit" class="btn btn-primary btn-large btn-special-padding-1" value="{{ 'Commencer' | trans }}"/>
    </div>
    {{ form_rest(formSelectDateReservation) }}
  </form>
</div><!-- /blocReservation -->


<!-- Modal -->
<div id="90days-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Information Class Appart</h3>
  </div>
  <div class="modal-body">
    <p>Pour toute réservation supérieur à 3 mois, merci d'utiliser le <a href="{{ path('pat_front_formulaire_contact') }}">formulaire de contact</a></p>
    <p>
      Cordialement,<br/>
      L'équipe Class Appart.
    </p>
  </div>
  <div class="modal-footer">
    <a id="close-90days-modal" href="javascript:" class="btn">fermer</a>
  </div>
</div>

<div id="3days-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Information Class Appart</h3>
  </div>
  <div class="modal-body">
    <p>La durée de séjour minimum est de 3 nuits.<br/>Merci de modifier votre sélection pour continuer.</p>
    <p>
      Cordialement,<br/>
      L'équipe Class Appart.
    </p>
  </div>
  <div class="modal-footer">
    <a id="close-3days-modal" href="javascript:" class="btn">fermer</a>
  </div>
</div>


<script type="text/javascript" src="{{ asset('bundles/patcompte/js/datepicker_admin_scripts.js') }}"></script>
<script type="text/javascript">
function parseDate(str) {
  var dmy = str.split('/')
  return new Date(dmy[2], dmy[1] - 1, dmy[0]);
}

function daydiff(first, second) {
  return Math.round((second - first) / (1000 * 60 * 60 * 24));
}

$(document).ready(function() {

  // On vérifie que la durée de la réservation ne dépasse pas 90 jours
  $("#form-select-date").submit(function() {
    var nb_days = daydiff(parseDate($("#frontintroreservation_datedebut").val()), parseDate($("#frontintroreservation_datefin").val()));
    if (nb_days > 90) {
      $("#90days-modal").modal('show');
      return false;
    }

  {% if app.user is null or (app.user is not null and app.user.type != 'Administrateur') %}
    if (nb_days < 3) {
      $("#3days-modal").modal('show');
      return false;
    }
  {% endif %}
  });

  $("#close-90days-modal").click(function() {
    $("#90days-modal").modal('hide');
  });

  $("#close-3days-modal").click(function() {
    $("#3days-modal").modal('hide');
  });

});
</script>