{% block content %}
  <div id="contentDroit">
    <div id="contenuCentrale">

      <div id="titreAccueil">
        <h1><span>{{ 'Réservation' | trans }} :</span></h1>
      </div>

      <h2> {{ 'Désolé ! Votre réservation a dépassé sa date de validité. Veuillez recommencer le processus.' | trans }} </h2><br/>

      {#<a href="{{ path('pat_front_appartement_selection_utilisateur') }}">{{ 'Retourner à ma sélection' | trans }}</a><br/>#}
      <a href="{{ path('PatFrontBundle_homepage') }}">{{ "Retourner à l'accueil" | trans }}</a>

    </div><!-- /contenuCentrale -->
  </div><!-- /contentDroit -->

{% endblock %}
