{% extends 'PatCompteBundle::layout.html.twig' %}

{% block content %}

  <div id="contenuCentrale1">
    <h1>Gestion des loyers <small>(Réf : {{appartement.reference}})</small></h1>
    <div class="clear"></div>
    <div class="etapesBien">
      <div class="linksEtapesBien">
        <ul>
          <li><a href="{{ path('pat_admin_appartement_editer',{ 'id': appartement.id }) }}">Description</a></li>
          <li><a href="{{ path('pat_admin_appartement_modif_proprietaire',{ 'id': appartement.id }) }}">Propriétaire</a></li>
          <li><a href="{{ path('pat_admin_tarif_ajouter',{ 'id_bien': appartement.id }) }}">Loyers</a></li>
          <li><a class="active" href="{{ path('pat_admin_promotion_index',{ 'id': appartement.id }) }}">Promotion / Majoration</a></li>
          <li><a href="{{ path('pat_admin_piece_index',{ 'id': appartement.id }) }}">Pièces</a></li>
          <li><a href="{{ path('pat_admin_media_ajouter',{ 'id': appartement.id }) }}">Images</a></li>
          <li><a href="{{ path('pat_admin_calendrier_index',{ 'id': appartement.id }) }}">Disponibilités</a></li>
        </ul>
      </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
      <br/>
      <div class="alert alert-error">
        {{ flashMessage }}
      </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
      <br/>
      <div class="alert alert-success">
        {{ flashMessage }}
      </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
      <br/>
      <div class="alert alert-danger">
        {{ flashMessage }}
      </div>
    {% endfor %}



    <div class="blocForm" style="margin-top: 20px;">
      <div class="title">
        Ajouter une promotion / majoration
      </div>

      {{ form_start(form) }}


      <div class="content">

        <div class="error">
          {{ form_errors(form) }}
        </div>

        <div class="row-fluid form-group">
          <div class="span4 right">
            {{ form_label(form.type) }}
          </div>
          <div class="span8">
            {{ form_widget(form.type) }}
            {{ form_errors(form.type) }}
          </div>
        </div>

        <div class="row-fluid form-group">
          <div class="span4 right">
            {{ form_label(form.percentage) }}
            <i class="fas fa-info-circle" data-toggle="popover" data-placement="top" data-html="true" data-content="Pour une promotion insérer un nombre négatif"></i>
          </div>
          <div class="span8 input-append">
            {{ form_widget(form.percentage) }}<span class="add-on">%</span>
            <div>
              {{ form_errors(form.percentage) }}
            </div>
          </div>
        </div>

        <div class="row-fluid form-group">
          <div class="span4 right">
            {{ form_label(form.amount) }}
          </div>
          <div class="span8 input-append">
            {{ form_widget(form.amount) }}<span class="add-on">€</span>
            <div>
              {{ form_errors(form.amount) }}
            </div>
          </div>
        </div>

        <div class="row-fluid form-group">
          <div class="span4 right">
            {{ form_label(form.nbDaysBefore) }}
          </div>
          <div class="span8 input-prepend">
            <span class="add-on">J-</span>{{ form_widget(form.nbDaysBefore) }}
            {{ form_errors(form.nbDaysBefore) }}
          </div>
        </div>

        <div class="row-fluid form-group">
          <div class="span4 right">
            {{ form_label(form.activated) }}
          </div>
          <div class="span8">
            <input type="checkbox" id="{{ form.activated.vars.id }}" name="{{ form.activated.vars.full_name }}" class="{{ form.activated.vars.attr.class }}" value="{{ form.activated.vars.value }}">
            {% do form.activated.setRendered %}
            {{ form_errors(form.activated) }}
          </div>
        </div>

        <div class="row-fluid form-group">
          <div class="span4 right">
            {{ form_label(form.begin) }}
          </div>
          <div class="span8">
            {{ form_widget(form.begin) }}
            {{ form_errors(form.begin) }}
          </div>
        </div>

        <div class="row-fluid form-group">
          <div class="span4 right">
            {{ form_label(form.end) }}
          </div>
          <div class="span8">
            {{ form_widget(form.end) }}
            {{ form_errors(form.end) }}
          </div>
        </div>

        <div class="text-right">
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
      </div>

      {{ form_end(form) }}
    </div>

    {% for promotion in appartement.promotions %}
      <div class="ListeAppart row-fluid">
        <div class="span3 ListeAppart1" style="min-height: 80px;">
          {% if promotion.type is constant('TYPE_ACTIVABLE', promotion) %}
            {{ promotion.percentage > 0 ? 'Majoration' : 'Promotion' }} par date de réservation
          {% elseif promotion.type is constant('TYPE_PERIODE', promotion) %}
            {{ promotion.percentage > 0 ? 'Majoration' : 'Promotion' }} par période
          {% endif %}
        </div>

        <div class="span3 ListeAppart1 {{ promotion.percentage > 0 ? 'text-danger' : 'text-success' }}" style="min-height: 80px; margin-left: 0">
          {{ promotion.percentage > 0 ? '+' }}{{ promotion.percentage|price_format }}&nbsp;%<br>
          {{tarifs[loop.index0].tarif_net|price_format}}&nbsp;€ Net
        </div>

        <div class="span4 ListeAppart1" style="min-height: 80px; margin-left: 0;">
          {% if promotion.type is constant('TYPE_ACTIVABLE', promotion) %}
            Réservation faite à J-{{ promotion.nbDaysBefore }}<br>
            Etat :
            {% if promotion.activated %}
              <span class="text-success">Activé</span>
            {% else %}
              <span class="text-danger">Désactivé</span>
            {% endif %}
          {% elseif promotion.type is constant('TYPE_PERIODE', promotion) %}
            Du : {{ promotion.begin|date('d/m/Y') }}<br>
            Au : {{ promotion.end|date('d/m/Y') }}
          {% endif %}
        </div>

        <div class="span2 ListeAppart2 center">
          {% if promotion.type is constant('TYPE_ACTIVABLE', promotion) %}
            {% if promotion.activated %}
              <a href="{{ path('pat_admin_promotion_desactiver', {id: appartement.id, promotionId: promotion.id}) }}" onclick="return confirmAction()" class="text-danger"><i class="fas fa-times"></i> Désactiver</a><br>
            {% else %}
              <a href="{{ path('pat_admin_promotion_activer', {id: appartement.id, promotionId: promotion.id}) }}" onclick="return confirmAction()" class="text-success"><i class="fas fa-check"></i> Activer</a><br>
            {% endif %}

          {% endif %}
          <a href="{{ path('pat_admin_promotion_supprimer', {id: appartement.id, promotionId: promotion.id}) }}" onclick="return confirmAction()"><i class="far fa-trash-alt fa-lg text-danger" style="line-height: 40px;"></i></a>
        </div>
      </div>
    {% endfor %}

    <div class="row-fluid">
      <div class="span6">
        <a href="{{ path('pat_admin_tarif_ajouter',{ 'id_bien': appartement.id }) }}" class="btn btn-large">Revenir</a>
      </div>
      <div class="span6 right">
        <a href="{{ path('pat_admin_piece_index',{ 'id': appartement.id }) }}" class="btn btn-primary btn-large">Continuer</a>
      </div>
    </div>
  </div><!-- /contenuCentrale -->

<script type="text/javascript" src="{{ asset('bundles/patcompte/js/datepicker_admin_scripts.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
  var togglePromotionType = function() {
    var $selector = $('.js-promotion-type-select');
    console.log($selector.find('input:checked').val());
    if ($selector.find('input:checked').val() == 1) {
      $('.js-promotion-type-activable').parents('.form-group').removeClass('hidden');
      $('.js-promotion-type-periode').parents('.form-group').addClass('hidden');
    } else if ($selector.find('input:checked').val() == 2) {
      $('.js-promotion-type-activable').parents('.form-group').addClass('hidden');
      $('.js-promotion-type-periode').parents('.form-group').removeClass('hidden');
    } else {
      $('.js-promotion-type-activable').parents('.form-group').removeClass('hidden');
      $('.js-promotion-type-periode').parents('.form-group').removeClass('hidden');
    }
  }

  togglePromotionType();

  $('.js-promotion-type-select').on('change', function() {
    togglePromotionType();
  });

  $('[data-toggle="popover"]').popover({
    trigger: 'hover'
  });
});
</script>

{% endblock %}
