{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

  <div id="contenuCentrale">
    <h1>Connexion</h1>

    <form action="{{ path("fos_user_security_check") }}" method="post" id="fos">
      <div class="blocForm">
        <div class="content">
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <script type="text/javascript">window.location = "{{ path('fos_user_profile_show') }}";</script>
          {% endif %}

          {% if error %}
            <div class="error">{{ error }}</div>
          {% endif %}
          <div class="row-fluid">
            <div class="span4">
              {{ 'security.login.username'|trans({}, 'FOSUserBundle') }}
            </div>
            <div class="span8">
              <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              {{ 'security.login.password'|trans({}, 'FOSUserBundle') }}
            </div>
            <div class="span8">
              <input type="password" id="password" name="_password" />
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12 center">
              <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
              {#<a href="#" onClick="document.forms['fos'].submit();" class="btn btn-small btn-primary">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</a>#}
              <br/>
              <a class="forgotPass" href="{{ path('fos_user_resetting_request') }}">{{ 'layout.forgot'|trans([], 'FOSUserBundle') }}</a>
            </div>
          </div>


        </div>
      </div>
    </form>

    <div class="row-fluid">
      <div class="span12 center">
        <a class="btn btn-primary btn-very-large" href="{{ path('fos_user_registration_register') }}">{{ 'security.login.create_proprio'|trans({}, 'FOSUserBundle') }}</a>
        <br /><br />
        <a class="btn btn-primary btn-very-large" href="{{ path('pat_front_inscription_resident') }}">{{ 'security.login.create_resident'|trans({}, 'FOSUserBundle') }}</a>
      </div>
    </div>

  </div><!-- /contenuCentrale -->

  <div id="contenuDroite"></div><!-- /contentDroit -->

{% endblock fos_user_content %}
