<form action="" method="post" {{ form_enctype(formPaymentMode) }}>
  <div class="row-fluid">
    <div class="span5 right">
      {{ form_label(formPaymentMode.mode_paiement) }}
    </div>
    <div class="span7 left">
      {{ form_errors(formPaymentMode.mode_paiement) }}
      {{ form_widget(formPaymentMode.mode_paiement) }}
    </div>
    {{ form_rest(formPaymentMode) }}
  </div>
  <br/>

  <table style="width: 100%; display: none;" id="submit1">
    <tr>
      <td class="left" style="width: 50%; padding: 10px;">
        <img src="{{ asset('bundles/patfront/images/paiement_securise.png') }}" alt="" style="margin-bottom: 0;"/>
      </td>
      <td class="right" style="vertical-align: bottom; width: 50%; padding: 10px;">
        <input type="submit" class="btn btn-primary btn-large" name="bouton_paiement" value="{{ 'Continuer' | trans }}"/>
      </td>
    </tr>
  </table>
</form>

{#
{% debug etransactions %}
{% debug formData %}
#}

{#% if testUser %#}

<form method="POST" action="{{ etransactions[etransactions.mode].url }}">
  {% for key,value in formData %}
    <input type="hidden" name="{{ key }}" value="{{ value }}">
  {% endfor %}

  {#% else %}

  <form method="POST" action="{{ app.request.getSchemeAndHttpHost()}}/cgi-bin/modulev2_64.cgi">
      <input type="hidden" name="PBX_MODE" value="1">
      <input type="hidden" name="PBX_SITE" value="1080371">
      <input type="hidden" name="PBX_RANG" value="01">
      <input type="hidden" name="PBX_IDENTIFIANT" value="394993981">
      <input type="hidden" name="PBX_TOTAL" value="{{ payment.amount|convert_paiement }}">
      <input type="hidden" name="PBX_DEVISE" value="978">
      <input type="hidden" name="PBX_CMD" value="{{ payment.id }}">
      <input type="hidden" name="PBX_PORTEUR" value="{{ payment.member.email }}">
      <input type="hidden" name="PBX_RETOUR" value="montant:M;ref:R;auto:A;trans:T;abonnement:B;paiement:P;carte:C;idtrans:S;pays:Y;erreur:E;validite:D;IP:I;BIN6:N;digest:H;sign:K">
      <input type="hidden" name="PBX_EFFECTUE" value="{{ app.request.getSchemeAndHttpHost()~path('pat_payment_confirmation', { 'status': 'effectue' }) }}">
      <input type="hidden" name="PBX_REFUSE" value="{{ app.request.getSchemeAndHttpHost()~path('pat_payment_confirmation', { 'status': 'refuse' }) }}">
      <input type="hidden" name="PBX_ANNULE" value="{{ app.request.getSchemeAndHttpHost()~path('pat_payment_confirmation', { 'status': 'annule' }) }}">
      <input type="hidden" name="PBX_REPONDRE_A" value="{{ app.request.getSchemeAndHttpHost()~path('pat_payment_result') }}">
      <input type="hidden" name="PBX_LANGUE" value="FRA">
      <input type="hidden" name="PBX_PAYBOX" value="https://tpeweb.paybox.com/cgi/MYchoix_pagepaiement.cgi">
      <input type="hidden" name="PBX_BACKUP1" value="https://tpeweb1.paybox.com/cgi/MYchoix_pagepaiement.cgi">
      <input type="hidden" name="PBX_TXT" value="">
      <input type="hidden" name="PBX_WAIT" value="0">
      <input type="hidden" name="PBX_BOUTPI" value="nul">
      <input type="hidden" name="PBX_BKGD" value="white">
      <input type="hidden" name="PBX_ERREUR" value="">
      <input type="hidden" name="PBX_TYPECARTE" value="CB">

  {% endif %#}

  <table style="width: 100%;" id="submit2">
    <tr>
      <td class="left" style="width: 50%; padding: 10px;">
        <img src="{{ asset('bundles/patfront/images/paiement_securise.png') }}" alt="" style="margin-bottom: 0;"/>
      </td>
      <td class="right" style="vertical-align: bottom; width: 50%; padding: 10px;">
        <input type="submit" class="btn btn-primary btn-large" value="{{ 'Procéder au paiement' | trans }}"/>
      </td>
    </tr>
  </table>
</form>

<script type="text/javascript">
$(document).ready(function() {
  $("#comptepaymentmode_mode_paiement").change(function() {
    if ($("#comptepaymentmode_mode_paiement_0").is(":checked")) {
      $("#submit1").hide();
      $("#submit2").show();
    } else {
      $("#submit2").hide();
      $("#submit1").show();
    }
  });
});
</script>
