{% block content %}

  <div id="contenuCentrale1">
    <h1>Paiement</h1>
    {% if reservation %}
      <p>Réservation réf. {{ reservation.reference }}</p>
    {% endif %}

    {% if app.session.started %}
      {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
          {{ flashMessage }}
        </div>
      {% endfor %}
      {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
          {{ flashMessage }}
        </div>
      {% endfor %}
    {% endif %}


    <div class="blocForm">
      <div class="title">
        {{ member }}
      </div>
      <div class="content">
        <form id="form_payment" action="" method="post">
          {{ form_errors(form) }}

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.amount) }}
            </div>
            <div class="span8 input-append">
              {{ form_errors(form.amount) }}
              {{ form_widget(form.amount) }}<span class="add-on">€</span>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.name) }}
            </div>
            <div class="span8">
              {{ form_errors(form.name) }}
              {{ form_widget(form.name) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.msgContent) }}
            </div>
            <div class="span8">
              {{ form_errors(form.msgContent) }}
              {{ form_widget(form.msgContent) }}
            </div>
          </div>
          <div class="row-fluid" style="display: none;">
            <div class="span4 right">
              {{ form_label(form.mode_paiement) }}
            </div>
            <div class="span8">
              {{ form_errors(form.mode_paiement) }}
              {{ form_widget(form.mode_paiement) }}
            </div>
          </div>
          <div class="row-fluid" style="display: none;">
            <div class="span4 right">
              {{ form_label(form.payed_at) }}
            </div>
            <div class="span8">
              {{ form_errors(form.payed_at) }}
              {{ form_widget(form.payed_at) }}
            </div>
          </div>

          {{ form_rest(form) }}

          <br/>
          <div class="row-fluid center">
            <input type="submit" class="btn btn-primary" value="Envoyer l'e-mail">
          </div>
        </form>
      </div>
    </div>
    {% if reservation %}
      <a href="{{ path('pat_admin_reservation_show', { 'id_reservation': reservation.id }) }}" class="btn btn-small btn-secondary">Retour à la réservation</a>
    {% endif %}
  </div><!-- /contenuCentrale -->

{% endblock %}
