{% extends '::email_layout.html.twig' %}

{% block title %}{{ payment.name }}{% endblock %}
{% block subtitle %}{% if payment.reservation %}Réservation réf. {{ payment.reservation.reference }}{% endif %}{% endblock %}

{% block content %}
  {% autoescape false %}
    <p>
      {{ payment.msgContent|nl2br }}
    </p>

    {{ link }}

    <hr>
    <p class="legend">
      Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
    </p>
  {% endautoescape %}
{% endblock %}
