{{ 'Bonjour' | trans }},
Nous vous informons que votre paiement par carte bancaire a été annulé , de ce fait aucun montant n’a été prélevé sur votre carte.

N’hésitez pas à nous contacter afin de pouvoir réaliser votre paiement.


----------------------------------------------------------------------------------------
Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.
À bientôt sur class-appart.com.
----------------------------------------------------------------------------------------


Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
