{{ 'Bonjour' | trans }},
Nous vous informons que votre paiement par carte bancaire a échoué, mais aucun montant n’a été prélevé sur votre carte.

Nous vous conseillons d’utiliser une autre carte bancaire ou de changer de mode de paiement, par chèque ou par virement.

N’hésitez pas à nous contacter si vous rencontrez à nouveau des difficultés.


----------------------------------------------------------------------------------------
Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.
À bientôt sur class-appart.com.
----------------------------------------------------------------------------------------


Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
