{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>{{ 'Bonjour' | trans }},</p>

  <p>Nous vous informons que votre paiement par carte bancaire a échoué, mais aucun montant n’a été prélevé sur votre carte.</p>

  <p>Nous vous conseillons d’utiliser une autre carte bancaire ou de changer de mode de paiement, par chèque ou par virement.</p>

  <p>N’hésitez pas à <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_front_formulaire_contact') }}">nous contacter</a> si vous rencontrez à nouveau des difficultés.</p>

  <hr>

  <p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_front_formulaire_contact') }}">nous contacter</a>.</p>
  <p>À bientôt sur class-appart.com.</p>

  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>

{% endblock %}
