{{ 'Bonjour' | trans }},
Nous vous informons que votre demande de paiement a bien été prise en compte.

Vous avez choisi de régler la somme de {{payment.amount}} euros par chèque. Nous vous prions de nous faire parvenir votre règlement à l’adresse suivante :

Class Appart
15 Passage Lonjon
34000 Montpellier


----------------------------------------------------------------------------------------
Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.
À bientôt sur class-appart.com.
----------------------------------------------------------------------------------------


Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
