{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>{{ 'Bonjour' | trans }},</p>
  <p>Nous vous informons que votre <strong>demande de paiement</strong> a bien été prise en compte.</p>

  <p class="strongFont">Vous avez choisi de régler la somme de <strong>{{payment.amount}} euros par virement bancaire</strong>. Nous vous prions de nous faire parvenir votre règlement aux coordonnées bancaires suivantes :</p>

  <p class="center"><img style="border: none;" src="{{ app.request.getSchemeAndHttpHost()~asset('/bundles/patfront/images/classappartrib2.jpg') }}"/></p>

  <hr>

  <p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_front_formulaire_contact') }}">nous contacter</a>.</p>
  <p>À bientôt sur class-appart.com.</p>

  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>

{% endblock %}
