{{ 'Bonjour' | trans }},
Nous vous informons que votre règlement de {{payment.amount}} euros nous est bien parvenu.


----------------------------------------------------------------------------------------
Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.
À bientôt sur class-appart.com.
----------------------------------------------------------------------------------------


Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
