{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
  <p>{{ 'Bonjour' | trans }},</p>

  <p class="strongFont">Nous vous informons que votre <strong>paiement par carte bancaire a été annulé</strong>, de ce fait aucun montant n’a été prélevé sur votre carte.</p>

  <p>N’hésitez pas à <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_front_formulaire_contact') }}">nous contacter</a> afin de pouvoir réaliser votre paiement.</p>

  <hr>

  <p>Si vous avez besoin d’aide supplémentaire, nous vous invitons à <a href="{{ app.request.getSchemeAndHttpHost()~path('pat_front_formulaire_contact') }}">nous contacter</a>.</p>
  <p>À bientôt sur class-appart.com.</p>

  <hr>

  <p class="legend">
    Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
  </p>

{% endblock %}
