{{ 'Bonjour' | trans }},
Nous vous informons que votre demande de paiement a bien été prise en compte.

Vous avez choisi de régler la somme de {{payment.amount}} euros par virement bancaire. Nous vous prions de nous faire parvenir votre règlement aux coordonnées bancaires suivantes :

xxxxx(Relevé d'Identité Bancaire Class Appart)xxxxxx
CREDIT AGRICOLE DU LANGUEDOC

Adresse : CAISSE REGIONALE DE CREDIT AGRICOLE DU LANGUEDOC, MONTPELLIER TRIANGLE

Intitulé du compte : EURL CLASS APPART, 15 PASSAGE LONJON, 34000 MONTPELLIER

Domiciliation :
Code banque : 13506
Code guichet : 10000
Numéro de compte : 21327874001
Clé RIB: 39

IBAN (International Bank Account Number) : FR76 1350 6100 0021 3278 7400 139
BIC (Bank Identification Code), Code SWIFT : AGRIFRPP835

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx


----------------------------------------------------------------------------------------
Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.
À bientôt sur class-appart.com.
----------------------------------------------------------------------------------------


Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
