{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
{{ 'Bonjour' | trans }},
Nous vous informons que votre demande de paiement sécurisé par carte bancaire a bien été pris en compte et nous vous remercions d’avoir choisi Class Appart.

----------------------------------------------------------------------------------------
Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter.
À bientôt sur class-appart.com.
----------------------------------------------------------------------------------------


Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.

{% endblock %}
