{% block content %}

  <div id="contenuCentrale1">
    <h1>Paiement</h1>
    {% if reservation %}
      <p>Réservation réf. {{ reservation.Reference }}</p>
    {% endif %}

    {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
    {% if app.session.flashbag.peekAll|length > 0 %}
      <div class="row">
        <div class="span12">
          {{ session_flash() }}
        </div>
      </div>
    {% endif %}


    <div class="blocForm">
      <div class="title">
        {{ member }}
      </div>
      <div class="content">
        <form id="form_payment" action="" method="post">
          {{ form_errors(form) }}

          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.amount) }}
            </div>
            <div class="span8 input-append">
              {{ form_errors(form.amount) }}
              {{ form_widget(form.amount) }}<span class="add-on">€</span>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.name) }}
            </div>
            <div class="span8">
              {{ form_errors(form.name) }}
              {{ form_widget(form.name) }}
            </div>
          </div>
          <div class="row-fluid" style="display: none;">
            <div class="span4 right">
              {{ form_label(form.msgContent) }}
            </div>
            <div class="span8">
              {{ form_errors(form.msgContent) }}
              {{ form_widget(form.msgContent) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.mode_paiement) }}
            </div>
            <div class="span8">
              {{ form_errors(form.mode_paiement) }}
              {{ form_widget(form.mode_paiement) }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4 right">
              {{ form_label(form.payed_at) }}
            </div>
            <div class="span8">
              {{ form_errors(form.payed_at) }}
              {{ form_widget(form.payed_at, { 'attr': {'class': 'cal_date_in_admin'} }) }}
            </div>
          </div>

          {{ form_rest(form) }}

          <br/>
          <div class="row-fluid center">
            <input type="submit" class="btn btn-primary" value="Valider">
            {% if id_payment is defined %}
            <a href="{{ path('pat_admin_delete_payment',{'id_payment':id_payment}) }}" class="btn btn-danger">Supprimer</a>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div><!-- /contenuCentrale -->

{% endblock %}
