{% block content %}

  <div id="contenuCentrale1">
    <h1>Effectuer un paiement</h1>

    <div class="clear"></div>

    <div class="blocForm">
      <div class="title">
        Réf. {{ payment.id }}
      </div>

      <div class="content">
        <h3>{{ payment.name }}</h3>

        <div class="row-fluid">
          <div class="span5 right">
            <h4>Montant à régler :</h4>
          </div>
          <div class="span7">
            <h4>{{ payment.amount | price_format }} €</h4>
          </div>
        </div>
      </div>

      <br/>
      <div class="row-fluid center">
        {% include "PatCompteBundle:Payment:_payment_form.html.twig" %}
      </div>
    </div>
  </div><!-- /contenuCentrale -->

{% endblock %}
