{% block content %}

  <div id="contenuCentrale1">
    <h1>Effectuer un paiement</h1>

    <div class="clear"></div>

    <div class="confirmation-resa {{status}}">
      {% if status == "effectue" %}
        <h3>Paiement CB accepté !</h3>
        <p>
          Votre paiement a été pris en compte.<br/>
          Un email de confirmation va vous être envoyé.
        </p>

        <div class="signature">
          En vous remerciant pour votre confiance,<br/>
          A très bientôt,<br/>
          Toute l’équipe ClassAppart
        </div>
      {% elseif status == "refuse" %}
        <h3>Problème avec votre paiement</h3>
        <p>
          Votre paiement a malheureusement échoué, mais ne vous inquiétez pas : aucun montant n'a été prélevé sur votre carte.
        </p>

        {% if transactionResponse %}
          <p>Le système bancaire a retourné l'information suivante :</p>
          <ul><li>{{ transactionResponse }}</li></ul>
        {% endif %}

        <h4>Raisons possibles de l'échec de votre carte de paiement :</h4>
        <p>
        <ol>
          <li>Vous avez saisi des données incorrectes, vérifiez que vos données sont correctes et réessayez.</li>
          <li>Votre carte n'est pas suffisamment approvisionnée. Vérifiez l’approvisionnement de votre carte et réessayez.</li>
          <li>ClassAppart n'a de cesse de vous protéger contre toute sorte de fraude, pouvant parfois occasionner le refus d’un achat parfaitement légitime.</li>
        </ol>
        </p>

        <h4>Que faire ?</h4>
        <p>
          Nous vous conseillons d’utiliser une autre carte bancaire ou de changer de mode de paiement.
        </p>

        <div class="signature">
          A très bientôt,<br/>
          Toute l’équipe ClassAppart
        </div>
      {% elseif status == "annule" %}
        <h3>Réservation CB annulée !</h3>
        <p>
          Votre paiement a été annulée. Peut-être rencontrez-vous des problèmes.
          <br/><br/>
          N’hésitez pas à <a href="{{ path('pat_front_formulaire_contact') }}">nous contacter</a> afin de pouvoir réaliser votre paiement.
        </p>

        <div class="signature">
          A très bientôt,<br/>
          Toute l’équipe ClassAppart
        </div>
      {% elseif status == "cheque" %}
        <h3>Votre demande de paiement a bien été prise en compte !</h3>
        <p>
          Nous attendons maintenant de réceptionner votre chèque bancaire afin de pouvoir confirmer votre paiement.
        </p>

        <div class="signature">
          A très bientôt,<br/>
          Toute l’équipe ClassAppart
        </div>
      {% elseif status == "virement" %}
        <h3>Votre demande de paiement a bien été prise en compte !</h3>
        <p>
          Nous attendons maintenant le versement par virement afin de pouvoir confirmer votre paiement.
        </p>

        <div class="signature">
          A très bientôt,<br/>
          Toute l’équipe ClassAppart
        </div>
      {% endif %}
    </div>
  </div><!-- /contenuCentrale -->

{% endblock %}
