{% block content %}

  <div id="contenuCentrale1">
    <h1>50 derniers biens ajoutés</h1>

    <div class="clear"></div>

    {% include "PatCompteBundle:AdminAppartement:listeAppart.html.twig" %}

  </div><!-- /contenuCentrale1 -->

{% endblock %}