{% block content %}
  <div id="contentDroit">
    <div id="contenuCentrale">
      <div id="titreAccueil">
        <h1><span>Visualisation du bien :<br/></span></h1>
      </div>
      {% if appartement %}

        <div id="ZoneContenu">
          <div id="ZoneContenuHaut"></div><!-- /ZoneContenuHaut -->
          <div id="ZoneContenuPixel">
            <div id="ZoneContenuPixel1">
              <div class="TitreBien2">
                <span class="BlocDetail">RÉF : {{appartement.reference}}</span><br/>
                {{appartement.type | upper}}&nbsp;{% if appartement.nbPieces%}T{{appartement.nbPieces}}{% endif %}&nbsp;{{appartement.surfaceSol}} m<sup>2</sup>&nbsp;{{appartement.ville}}<br/>
              </div><!-- /TitreBien -->




              {% if media %}
                <div class="Galerie">
                  <div class="pikachoose">
                    <ul id="pikame" >
                      {% set k = '0' %}
                      {% for medias in media  %}
                        <li><a href="#"><img src="{{ asset('images/photos/biens') }}/{{ appartement.reference }}/big/{{ media[k].fichier }}"/></a></li>
                            {% set k = k + 1 %}
                          {% endfor %}
                    </ul>
                  </div>
                  <div class="clear"></div>
                </div><!-- /Galerie -->
              {% endif %}


              <div class="clear"></div>
              <div class="sepDetail"></div>
              <div class="clear"></div>
              <div class="HeaderLoyer">
                <div class="LoyerBienDes">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="300">
                        <span class="BlocDetail">Référence : {{appartement.reference}}</span><br/>
                        {% if appartement.tarif is not null %}
                          <span class="LoyerBienDes1">A partir de {#{ get_lower_loyer(appartement.tarif)|number_format }#}{{ get_from_tarif(appartement) | number_format }} €/nuit </span>
                        {% endif %}
                      </td>
                      <td>
                        {% if appartement.isLabeliser == "1" %} <img src="{{ asset('bundles/patcompte/images/icone-Label.png') }}" border="0" alt="t"/> {% endif %}
                        {% if appartement.isReloger == "1" %} <img src="{{ asset('bundles/patcompte/images/icone-satisfaitReloge.png') }}" border="0" alt="d"/> {% endif %}
                      </td>
                    </tr>
                  </table>


                </div>
              </div><!-- /HeaderLoyer -->

              <div class="DescriptionBien">{{ appartement.descriptionFr|nl2br }}</div><!-- /DescriptionBien -->
              <div class="sepDetail"></div>



              <div class="BlocDetail">
                Type de biens :  <b>{{appartement.type|trans}}</b>  <br/>
                Surface :  <b>{{appartement.surfaceSol}}m<sup>2</sup></b><br/>
                Nombre de personne maximum : <b>{{appartement.nbPersonne}}</b></br>
                Heure d’arrivée : <b>{{ appartement.heureArrivee }}</b> heures<br/>
                Heure de sortie : <b>{{ appartement.heureDepart }}</b> heures au plus tard<br/>

              </div>
              <div class="sepDetail"></div>


              {%if appartement.distanceAeroport or appartement.distanceAutoroute or appartement.accesMetro or appartement.accesBus or appartement.accesTram or appartement.arretTram or appartement.arretTram2 or appartement.arretTram3 or appartement.distanceCommerce %}
                <div class="BlocDetail">
                  <span class="BlocDetailTitre">Localisation :</span><br/>
                  Distance aéroport :  <b>{% if appartement.distanceAeroport %} {{appartement.distanceAeroport}} km {% else %} NC {% endif %}</b><br/>
                  Distance autoroute :  <b>{% if appartement.distanceAutoroute %} {{appartement.distanceAutoroute}} km {% else %} NC {% endif %}</b><br/>
                  Distance commerces :  <b>{% if appartement.distanceCommerce %} {{appartement.distanceCommerce}} km {% else %} NC {% endif %}</b><br/><br/>
                  Accès tram :  <b>{% if appartement.accesTram %} {{appartement.accesTram}} min {% else %} NC {% endif %}</b><br/>
                  {% if appartement.arretTram %}Arrêt de tram à proximité : <b>{{appartement.arretTram}}</b><br/>{% endif %}
                  {% if appartement.arretTram2 %}Arrêt de tram à proximité (2) : <b>{{appartement.arretTram2}}</b><br/>{% endif %}
                  {% if appartement.arretTram3 %}Arrêt de tram à proximité (3) : <b>{{appartement.arretTram3}}</b><br/>{% endif %}
                  Accès bus :  <b>{% if appartement.accesBus %} {{appartement.accesBus}} min {% else %} NC {% endif %}</b><br/>

                </div>
                <div class="sepDetail"></div>
              {% endif %}


              <div class="BlocDetail"><span class="BlocDetailTitre">Prestations :</span><br/>
                <div class="blocDetailPrestaCol">
                  <div class="BlocDetailCol">
                    Etage : {% if appartement.etage == "0" %} RDC /{{appartement.nbEtage}} {% else %} {{appartement.etage}} {% endif %}<br/>
                    Cave(s) : {% if appartement.cave != "" %} oui {% else %} non {% endif %}<br/>
                    Vide ordure : {% if appartement.videOrdure != "" %} oui {% else %} non {% endif %}<br/>
                    Stationnement : {{appartement.stationnement|trans}}  <br/>
                    Digicode :   {% if appartement.digicode != "" %} oui {% else %} non {% endif %}<br/>
                    Climatisation :   {% if appartement.climatisation != "" %} oui {% else %} non {% endif %}<br/>
                    Animaux admis :   {% if appartement.animal != "" %} oui {% else %} non {% endif %}<br/>
                    Type chauffage : {{appartement.typeChauffage|trans}}  <br/>
                    Mode de chauffage : {{appartement.modeChauffage|trans}}<br/>
                    Ascenseur :   {% if appartement.ascenseur != "" %} oui {% else %} non {% endif %}<br/>
                  </div>
                  <div class="BlocDetailCol">
                    Grenier :   {% if appartement.grenier != "" %} oui {% else %} non {% endif %}<br/>
                    Jardin :   {% if appartement.jardin != "" %} oui {% else %} non {% endif %}<br/>
                    Interphone :   {% if appartement.interphone != "" %} oui {% else %} non {% endif %}<br/>
                    Accès handicapés :   {% if appartement.accesHandicapes != "" %} oui {% else %} non {% endif %}<br/>
                    Gardien :   {% if appartement.gardien != "" %} oui {% else %} non {% endif %}<br/>
                    Fumeur :   {% if appartement.fumeur != "" %} oui {% else %} non {% endif %}<br/>
                    Nombre de lits simples : {{ appartement.nbLitSimple|testValeur }}<br>
                    Nombre de lits doubles : {{ appartement.nbLitDouble|testValeur }}<br>
                    Nombre de canapés convertibles : {{ appartement.nbCanapeConvertible|testValeur }}<br>
                    Nombre de double lits simples / lit double : {{ appartement.nbLitSimpleDouble|testValeur }}<br>
                  </div>
                </div>

              </div>
              <div class="sepDetail"></div>


              <div class="BlocDetail"><br/>
                <div class="blocDetailNoteCol">
                  <div class="BlocDetailCol">



                    Clair :	&nbsp;&nbsp;
                    {% for i in 0..5 %}
                      {% if appartement.clair <= i %}
                        <img src="{{ asset('bundles/patcompte/images/etoile_vide.png') }}" alt=""/>
                      {% else %}
                        <img src="{{ asset('bundles/patcompte/images/etoile_pleine.png') }}" alt="*"/>
                      {% endif %}
                    {% endfor %}



                    <br/>
                    Calme :
                    {% for i in 0..5 %}
                      {% if appartement.calme <= i %}
                        <img src="{{ asset('bundles/patcompte/images/etoile_vide.png') }}" alt=""/>
                      {% else %}
                        <img src="{{ asset('bundles/patcompte/images/etoile_pleine.png') }}" alt="*"/>
                      {% endif %}
                    {% endfor %}

                  </div>


                  <div class="BlocDetailCol">
                    Standing :
                    {% if appartement.standingImmeuble %}
                      {{ appartement.standingImmeuble|trans }}
                    {% endif %}
                    <br/>
                    État intérieur :
                    {% if appartement.etatInterieur %}
                      {{ appartement.etatInterieur|trans }}
                    {% endif %}
                  </div>
                </div><br/>
              </div>
              <div class="sepDetail"></div>


              {% if pieces %}
                <div class="BlocDetail"><span class="BlocDetailTitre">Pièces :</span><br/><br/>
                  {% for piece in pieces %}
                    <span class="BlocDetailTitre2">{{piece.typepiece.type}}</span> :
                    {% for equipement in piece.equipement %}
                      {{ equipement.intitule }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    <br/>
                  {% endfor %}
                </div>
                <div class="sepDetail"></div>
              {% endif%}

              {% if appartement.consommationLettre or appartement.gazSerreLettre %}
                <div class="BlocDetail"><span class="BlocDetailTitre">Diagnostic Performance Energie :</span><br/>
                  {% if appartement.consommationLettre or appartement.consommationChiffre %}
                    Consommation énergétique : Classe {{ appartement.consommationLettre }} : {{ appartement.consommationChiffre }} kWh/m2/an<br/>
                  {% endif %}
                  {% if appartement.gazSerreLettre or appartement.gazSerreChiffre %}
                    Gaz à effet de serre : Classe {{ appartement.gazSerreLettre }} : {{ appartement.gazSerreChiffre }} kg/m2/an <br/>
                  {% endif %}
                </div>
                <div class="sepDetail"></div>
              {% endif %}


              <div class="BlocDetail"><span class="BlocDetailTitre">Disponibilités :</span><br/>

                {% if calendrier %}
                  <br/>

                  <div id="slider">
                    <ul>
                      <div id="DetailCalendrier">
                        {% autoescape false %}
                          {{ calendrier }}
                        {% endautoescape %}
                      </div>
                    </ul>
                  </div>

                  <table border="0" cellpadding="5" cellspacing="0">
                    <tr>
                      <td><div style="width:20px;height:20px;background-color:#DD2525;"></div></td>
                      <td>Réservé</td>
                      <td width="30"></td>
                      <td><div style="width:20px;height:20px;background-color:#5BD835;"></div></td>
                      <td>Disponible</td>
                    </tr>
                  </table>

                {% endif %}

                <br/><br/>
                <span class="BlocDetailTexte2">

                  <i>* Le prix indiqué comprend le loyer, les charges, les consommations (eau, électricité, gaz éventuel), les honoraires de Class Appart ®. <br/>

                    La connexion internet peuvent faire l’objet d’une facturation supplémentaire. Reportez-vous à la fiche de l’appartement<br/>
                    ** Si vous choisissez l’assurance incluse de classAppart®, ce montant constitue le montant de la franchise qui devra être laissé en caution. <br/>
                  </i>
                </span>
              </div>

            </div><!-- /ZoneContenuPixel1 -->
          </div><!-- /ZoneContenuPixel -->
          <div id="ZoneContenuBas"></div><!-- /ZoneContenuBas -->

        </div><!-- /ZoneContenu -->
      {% endif %}
    </div><!-- /contenuCentrale -->






  </div><!-- /contentDroit -->

{% endblock %}
