{% extends '::email_layout.html.twig' %}

{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
    Un nouveau bien est en attente de validation sur le site :

     - Type : {{appartement.type}}
     - Adresse : {{appartement.adresse}} {{appartement.codePostal}} {{appartement.ville}}

     - Propriétaire : {{ utilisateur.prenom }} {{ utilisateur.nom }}
     - Téléphone : {{ utilisateur.telephone }}
     - Email : {{ utilisateur.email }}


    Cordialement,
    L'équipe classAppart ®
    Contact@class-appart.fr
{% endblock %}