Bonjour,

Votre bien a été validé par class-appart.com.

Votre bien a été mis en ligne sur notre site internet.

Vous pouvez consulter le détail de vos biens en vous connectant dans la partie Mon compte sur {{ app.request.getSchemeAndHttpHost()~path('fos_user_security_login') }}
Bien validé
------------------------------------------------------------------------------------------------------------------------------------

Envoyé le {{ 'now' | date('d m Y') }}
Référence {{appartement.reference}}

Appartement
Référence : {{appartement.reference}}
Adresse : {{appartement.adresse}}
Ville : {{appartement.ville}}
Surface : {{appartement.surfaceSol}}

Propriétaire
Propriétaire : {{ utilisateur.prenom }} {{ utilisateur.nom }}
Identifiant : {{ utilisateur.username }}
Téléphone : {{ utilisateur.telephone }}
Email : {{ utilisateur.email }}
Adresse : {{ utilisateur.adresse }}
Code postal : {{ utilisateur.codePostal }}
Ville : {{ utilisateur.ville }}
Pays : {{ utilisateur.pays }}

------------------------------------------------------------------------------------------------------------------------------------
Si vous avez besoin d’aide supplémentaire, nous vous invitons à nous contacter sur contact@class-appart.com
À bientôt sur class-appart.com.
------------------------------------------------------------------------------------------------------------------------------------

Ce message vous a été envoyé d’une adresse qui ne peut recevoir d’e-mail, merci de ne pas y répondre.
