{% block content %}
  <div id="contenuCentrale1">
    <div id="titreAccueilAdmin">
      <h1><span class="spanH1">Importation via un fichier Excel :</span></h1>
      <img src="{{ asset('bundles/patcompte/images/image_excel.png') }}" alt="" title=""/>
    </div>
    <div class="clear"></div>
    {% if erreurs %}

      <div id="ZoneContenu">
        <h2> Messages du serveur : </h2>
        <div id="ZoneContenuHaut"></div><!-- /ZoneContenuHaut -->
        <div id="ZoneContenuPixel" style="max-height:400px; overflow:auto;">
          <div id="ZoneContenuPixel1">
            <p> Traitement du fichier {{ nom_fichier }}... </p>
            {% if debut == 1 %}
              <p> La ligne 1 ne sera pas traitée. </p>
            {% endif %}
            {% if nb_lignes < 1 %}
              <p> Ce fichier semble ne contenir aucune données !</p>
            {% elseif nb_lignes == 1 %}
              <p> Ce fichier comporte 1 ligne d'informations. </p>
            {% else %}
              <p> Ce fichier comporte {{ nb_lignes }} lignes d'informations. </p>
            {% endif %}
          </div>
          {% for erreur in erreurs %}
            {% if erreur['message']|length > 0 %}
              <div id="ZoneContenuPixel1">
                <strong>Ligne {{ erreur['ligne'] }}</strong>
                <div style="margin-left:15px;color:red;">
                  <ul>
                    {% for message in erreur['message'] %}
                      <li> {{ message }} </li>
                      {% endfor %}
                  </ul>
                </div>

              </div><!-- /ZoneContenuPixel1 -->
            {% endif %}
            <br/>

          {% endfor %}
        </div><!-- /ZoneContenuPixel -->
        <div id="ZoneContenuBas"></div><!-- /ZoneContenuBas -->
        <br/>

        <h2> Résultat : </h2>
        <div id="ZoneContenuHaut"></div><!-- /ZoneContenuHaut -->
        <div id="ZoneContenuPixel">
          <div id="ZoneContenuPixel1">
            Le fichier a été lu en entier. ({% if nb_ajouts > 1 %} {{nb_ajouts}} biens ajoutés ). {% elseif nb_ajouts == 1 %} 1 bien a été ajouté ). {% else %} Aucun bien n'a été ajouté ). {% endif %}
          </div>
        </div><!-- /ZoneContenuPixel -->
        <div id="ZoneContenuBas"></div><!-- /ZoneContenuBas -->
        <br />

      {% else %}

        <p> Un problème est survenu pendant le traitement du fichier. <br/> Votre fichier doit être au format Excel (xls) 1997/2003 et doit faire moins de 1000 lignes.</p>
        <br/>
      {% endif %}
      <a href="{{ path('pat_admin_liste_excel') }}" class="boutonJ">Retour</a>
    </div><!-- /ZoneContenu -->
    <div style="width:165px; height:600px; margin-left:10px;margin-top:11px; float:left;">
      <div id="blocAide" style="padding-left:12px;"><div class="blocAideTitre">Aide</div><br/>Le serveur analyse ligne par ligne le fichier excel. Si les données d'une ligne sont correctes il ajoute le bien à la base de donnée. Si il y a une erreur dans une ligne, elle sera affichée sur cette page en rouge. Les erreurs sont classées par ligne. Certaines erreurs peuvent bloquer l'ajout du bien à la base.</div><!-- /blocAide -->

    </div>

  </div><!-- /contenucentral -->


{% endblock %}