{% block content %}

  <div id="contenuCentrale1">
    <h1>Biens</h1>

    <div class="clear"></div>

    <div class="formRechercheAdmin">
      <form action="{{ path('pat_admin_appartement_index') }}" id="form" method="post" {{ form_enctype(formRechercheAvancee) }}>
        <div class="row-fluid">
          <div class="span6">
            {{ form_label(formRechercheAvancee.type) }}
            {{ form_widget(formRechercheAvancee.type) }}
          </div>
          <div class="span6">
            {{ form_label(formRechercheAvancee.nb_pieces) }}
            {{ form_widget(formRechercheAvancee.nb_pieces) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            {{ form_label(formRechercheAvancee.rue) }}
            {{ form_widget(formRechercheAvancee.rue) }}
          </div>
          <div class="span6">
            {{ form_label(formRechercheAvancee.ville) }}
            {{ form_widget(formRechercheAvancee.ville) }}
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            {{ form_label(formRechercheAvancee.reference) }}
            {{ form_widget(formRechercheAvancee.reference) }}
          </div>
          <div class="span6">
            {{ form_label(formRechercheAvancee.statut) }}
            {{ form_widget(formRechercheAvancee.statut) }}
          </div>
        </div>

        {{ form_rest(formRechercheAvancee) }}
      </form>

      <br/><br/>
      <div class="row-fluid center">
        <a href="#" onClick="document.forms['form'].submit();" class="btn btn-normal btn-primary">Rechercher</a>
      </div>
    </div>

    {% if message %}
      <div class="success">
        <p>{{ message }}</p>
      </div>
    {% endif %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
      <div class="alert alert-success">
        {{ flashMessage | trans }}
      </div>
    {% endfor %}

    {% if appartement %}
      <div class="navigation">
        {{ knp_pagination_render(appartement) }}
      </div>
    {% endif %}

    {% include "PatCompteBundle:AdminAppartement:listeAppart.html.twig" %}

    {% if appartement %}
      <div class="navigation">
        <br/>
        {{ knp_pagination_render(appartement) }}
      </div>
    {% endif %}

  </div><!-- /contenuCentrale1 -->

{% endblock %}