{% block content %}
  <div id="contenuCentrale1">
    <div id="titreAccueilAdmin">
      <h1><span class="spanH1">Importation via un fichier Excel :</span></h1>
      <img src="{{ asset('bundles/patcompte/images/image_excel.png') }}" alt="" title=""/>
    </div>
    <div class="clear"></div>


    <div id="ZoneContenu">
      {% if fichiers %}

        <div id="ZoneContenuHaut"></div><!-- /ZoneContenuHaut -->
        <div id="ZoneContenuPixel">
          <div id="ZoneContenuPixel1">
            <p style="font-weight:bold;"> Importer un fichier :</p>
            <table>
              {% for fichier in fichiers %}
                <tr>
                  <td>{{ fichier }}</td>
                  <td><a href="{{ path('pat_admin_import_excel',{ 'fichier_excel': fichier }) }}" onclick="return confirmAction()"><img src="{{ asset('bundles/patcompte/images/valid.png') }}" alt="" title=""/></a></td>
                  <td><a href="{{ path('pat_admin_supprime_excel',{ 'fichier_excel': fichier }) }}" onclick="return confirmAction()"><img src="{{ asset('bundles/patcompte/images/ico_supprimer.png') }}" alt="Supprimer" title="Supprimer"/></a></td>
                </tr>
                <br/>
              {% endfor %}
            </table>
          </div><!-- /ZoneContenuPixel1 -->
        </div><!-- /ZoneContenuPixel -->
        <div id="ZoneContenuBas"></div><!-- /ZoneContenuBas -->
        <br/>
      {% endif %}
      <!-- upload d'un nouveau fichier -->
      <p style="font-weight:bold;"> Ajouter un nouveau fichier :</p><br/>
      <form action="{{ path('pat_admin_liste_excel') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <input style="margin:10px;" type="submit" value="{{ 'Ajouter' | trans }}"/>
      </form>

    </div><!-- /ZoneContenu -->
    <div style="width:165px; height:600px; margin-left:10px;margin-top:-40px; float:left;">

      <div id="blocAide" style="padding-left:15px;"><div class="blocAideTitre">Aide</div><br/>Si vous ne voyez aucun fichier, utilisez le formulaire "Ajouter un nouveau fichier" pour insérer un fichier Excel. Ce fichier doit avoir l'extension XLS et doit correspondre aux versions 1997/2003. Il ne doit pas dépasser les 1000 lignes. <br/></div><!-- /blocAide -->

    </div>

  </div><!-- /contenuCentrale1 -->

{% endblock %}