{% for appart in appartement %}
  <div class="ListeAppart row-fluid">
    <div class="span8 ListeAppart1" style="min-height: 100px;">
      <div class="row-fluid">
        <div class="span2">
          {% set appartement_img = get_img(appart.id) %}
          {% set myimg = '/images/photos/biens/'~appart.reference~'/'~appartement_img %}
          {% if appartement_img %}
            <a href="{{ path('pat_front_appartement_detail', { 'url_bien': appart.urlFr} ) }}"><img src="{{ myimg | imagine_filter('appartement_mini') }}" border="0" /></a>
            {% endif %}
        </div>
        <div class="span10">
          <a href="{{ path('pat_admin_appartement_detail', { 'id': appart.id }) }}" target="_blank" class="appart_list_link">
            <div class="reference"> | Réf : {{ appart.reference }}</div>
            <div class="titreAppart">
              {{ appart.type }} {% if appart.nbPieces %}T{{ appart.nbPieces }}{% endif %} - {{ appart.surfaceSol }} m<sup>2</sup>
              <br/>
              situé à {{ appart.ville }}
            </div>

            {% if appart.tarif is not null %}
              <div class="tarifAppart">
                A partir de {#{ get_lower_loyer(appart.tarif)|number_format }#}{{ get_from_tarif(appart) | number_format }} €/nuit
              </div>
            {% endif %}
          </a>
        </div>
      </div>
    </div>
    <div class="span4 ListeAppart2">
      <div class="publieAppart">
        {% if appart.statut == 0 %}
          <img src="{{ asset('bundles/patcompte/images/1-Annonce-Redaction.png') }}" alt=""/>
        {% elseif appart.statut == 1 %}
          <img src="{{ asset('bundles/patcompte/images/2-Annonce-ValidationInitiale.png') }}" alt=""/>
        {% elseif appart.statut == 2 %}
          <img src="{{ asset('bundles/patcompte/images/3-Annonce-Regisseur.png') }}" alt=""/>
        {% elseif appart.statut == 3 %}
          <img src="{{ asset('bundles/patcompte/images/4-Annonce-ValidationFinale.png') }}" alt=""/>
        {% elseif appart.statut == 4 %}
          <img src="{{ asset('bundles/patcompte/images/5-Annonce-Valide.png') }}" alt=""/>
        {% elseif appart.statut == 8 %}
          <img src="{{ asset('bundles/patcompte/images/7-Annonce-Suspendu.png') }}" alt=""/>
        {% elseif appart.statut == 9 %}
          <img src="{{ asset('bundles/patcompte/images/6-Annonce-Supprime.png') }}" alt=""/>
        {% endif %}
      </div>
      <div class="row-fluid">
        <div class="span12">
          <div class="iconeAppart">
            {#<a href="{{ path('pat_admin_appartement_detail', { 'id': appart.id }) }}" target="_blank" ><img src="{{ asset('bundles/patcompte/images/ico-rechercher.png') }}" alt="Visualiser" title="Visualiser" width="33" height="32"/></a>#}
            <a href="{{ path('pat_admin_appartement_editer', { 'id': appart.id }) }}"><img src="{{ asset('bundles/patcompte/images/ico_edition.png') }}" alt="Modifier" title="Modifier"/></a>

            <a href="{{ path('pat_admin_appartement_dupliquer', { 'id': appart.id }) }}"  onclick="return confirmAction()"><img src="{{ asset('bundles/patcompte/images/ico_modifier.png') }}" alt="Dupliquer" title="Dupliquer"/></a>

            {% if appart.statut != 9 %}
              <a href="{{ path('pat_admin_appartement_supprimer', { 'id': appart.id }) }}"  onclick="return confirmAction()"><img src="{{ asset('bundles/patcompte/images/ico_supprimer.png') }}" alt="Supprimer" title="Supprimer"/></a>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="alert">
    Aucun bien correspondant n'a été trouvé.
  </div>
{% endfor %}