{% block content %}
  <div id="contenuCentrale1">
    <h1>Gestion des propriétaires <small>(Réf : {{appartement.reference}})</small></h1>
    <div class="clear"></div>

    <div class="etapesBien">
      <div class="linksEtapesBien">
        <ul>
          <li><a href="{{ path('pat_admin_appartement_editer',{ 'id': appartement.id }) }}">Description</a></li>
          <li><a class="active" href="{{ path('pat_admin_appartement_modif_proprietaire',{ 'id': appartement.id }) }}">Propriétaire</a></li>
          <li><a href="{{ path('pat_admin_tarif_ajouter',{ 'id_bien': appartement.id }) }}">Loyers</a></li>
          <li><a href="{{ path('pat_admin_promotion_index',{ 'id': appartement.id }) }}">Promotion / Majoration</a></li>
          <li><a href="{{ path('pat_admin_piece_index',{ 'id': appartement.id }) }}">Pièces</a></li>
          <li><a href="{{ path('pat_admin_media_ajouter',{ 'id': appartement.id }) }}">Images</a></li>
          <li><a href="{{ path('pat_admin_calendrier_index',{ 'id': appartement.id }) }}">Disponibilités</a></li>
        </ul>
      </div>
    </div>

    <br/><br/>

    {% for flashMessage in app.session.flashbag.get('notice') %}
      <div class="alert alert-success">
        {{ flashMessage | trans }}
      </div>
    {% endfor %}

    <div class="formBienAdministration">
      {% if appartement.utilisateur %}
        Propriétaire : {{ appartement.utilisateur.prenom | capitalize }} {{ appartement.utilisateur.Nom | upper }} ({{ appartement.utilisateur.username }})
      {% endif %}
    </div>

    <div class="blocForm">
      <div class="title">Modification Propriétaire</div>

      <div class="content">
        <em>Entrez au minimum un nom ou un numéro de compte.</em>
        <br/><br/>

        <div class="row-fluid">
          <div class="span4 right">
            Nom :
          </div>
          <div class="span8">
            <input type="text" id="proprio_nom"/>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Prénom :
          </div>
          <div class="span8">
            <input type="text" id="proprio_prenom"/>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Numéro de Compte :
          </div>
          <div class="span8">
            <input type="text" id="proprio_reference"/>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4 right">
            Affectation :
          </div>
          <div class="span8">
            <select id="proprio_type" size="1">
              <option value="proprietaire">Gestion directe</option>
              <option value="piedaterre">Gestion Class Appart ®</option>
            </select>
            <br/>
            <p class="text-info"><small><i class="icon-info-sign"></i> Si choix de l'affectation de gestion par Class Appart ®, le compte Class Appart choisi sera affecté en tant que propriétaire du bien.</small></p>
          </div>
        </div>

        <div class="row-fluid center">
          <a href="javascript:void" id="check_proprio" class="btn btn-primary">Rechercher un propriétaire</a>
        </div>

        <!-- Affiche une liste déroulante modifiée en Ajax contenant la liste des propriétaires sélectionnés -->
        <div id="resultats_proprietaire"></div>
      </div>
    </div>

    <br/><br/>
    <div class="row-fluid">
      <div class="span6">
        <a href="{{ path('pat_admin_appartement_editer',{ 'id': appartement.id }) }}" class="btn btn-large">Revenir</a>
      </div>
      <div class="span6 right">
        <a href="{{ path('pat_admin_tarif_ajouter',{ 'id_bien': appartement.id }) }}" class="btn btn-primary btn-large">Continuer</a>
      </div>
    </div>
  </div>

{% endblock content %}

<script type="text/javascript">
$(document).ready(function() {
  $("#check_proprio").click(function() {
    var proprionom = $("#proprio_nom").val();
    var proprioprenom = $("#proprio_prenom").val();
    var propriotype = $("#proprio_type").val();
    var proprioreference = $("#proprio_reference").val();
    var DATA = 'infosproprio=' + proprionom + '-' + proprioprenom + '-' + propriotype + '-' + proprioreference;

    $("#imgLoader").css("visibility", "visible");
    $.ajax({
      type: "POST",
      url: "{{ path('pat_admin_appartement_select_proprietaire') }}",
      data: DATA,
      cache: false,
      success: function(data) {
        $('#resultats_proprietaire').html(data);
        $("#resultats_proprietaire").show();
        $("#imgLoader").css("visibility", "hidden");
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert("error : " + xhr.status);
        $("#imgLoader").css("visibility", "hidden");
      }
    });
    return false;
  });
});
</script>
