<form action="{{ path('pat_admin_appartement_index') }}" method="post" {{ form_enctype(formRecherche) }}>
  {{ form_label(formRecherche.type) }} {{ form_widget(formRecherche.type, {'attr': {'placeholder': 'Type'} }) }}
  {{ form_label(formRecherche.nb_pieces) }} {{ form_widget(formRecherche.nb_pieces, {'attr': {'placeholder': 'Nombre de pièce'} }) }}


  {{ form_widget(formRecherche.reference, {'attr': {'placeholder': 'Référence'} }) }}
  {{ form_widget(formRecherche.rue, {'attr': {'placeholder': 'Rue'} }) }}
  {{ form_widget(formRecherche.ville, {'attr': {'placeholder': 'Ville'} }) }}


  <!-- affichage des résulatas des villes ajax -->
  <div id="resultats_recherche_villes_admin">
    <div id="resultats_recherche_villes_admin1"></div>
  </div>
  {{ form_label(formRecherche.statut) }} {{ form_widget(formRecherche.statut) }}
  <div class="homeSearchCenter">
    <input type="submit" class="btn btn-primary btn-large" value="{{ 'Rechercher' | trans }}"/>
    {{ form_rest(formRecherche) }}
    <a href="{{ path('pat_admin_appartement_index') }}" class="colorBlack btn btn-small">Afficher tout</a>
  </div>
</form>

<script type="text/javascript">
$(document).ready(function() {
  $("#appartementrecherche_ville").keyup(function() {
    var ville = $("#appartementrecherche_ville").val();
    var DATA = 'ville=' + ville + '&field_id=appartementrecherche_ville';

    if (ville.length >= 3) {
      $("#imgLoader").css("visibility", "visible");
      $.ajax({
        type: "POST",
        url: "{{ path('pat_admin_contenu_ville') }}",
        data: DATA,
        cache: false,
        success: function(data) {
          $('#resultats_recherche_villes_admin1').html(data);
          $("#resultats_recherche_villes_admin1").show();
          $("#imgLoader").css("visibility", "hidden");
        },
        error: function(xhr, ajaxOptions, thrownError) {
          $("#imgLoader").css("visibility", "hidden");
        }
      });
      return false;
    }
  });
});
</script>