<hr>
<br/>
{% if nb_result == 0 %}
  <div class="alert alert-block center">
    La recherche n'a retournée aucun résultat.
  </div>
{% else %}
  <form action="{{ path('pat_admin_appartement_association_proprietaire') }}" method="post" {{ form_enctype(formProprio) }}>
    <div class="row-fluid">
      <div class="span4 right">
        {{ form_label(formProprio.utilisateurs) }}
      </div>
      <div class="span8">
        {{ form_widget(formProprio.utilisateurs) }}
      </div>
    </div>

    <div class="row-fluid center">
      <input class="btn btn-primary" type="submit" value="Modifier"/>
    </div>
    {{ form_rest(formProprio) }}
  </form>
{% endif %}
